[2015-12-03 19:45] b9e45994-f1ab-4caa-ab67-04c71c9dbfb6 opened #4417 "[SR-14] Wrong python version selected when building swift-lldb"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14      |
   |Radar             | None         |
   |Original Reporter | @octoploid      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961

[2015-12-03 22:16] a0332500-857b-4d6a-874e-50b63b66b387 opened #4416 "[SR-18] OS X: provide error when 'swift/utils/build-script -l' uses unsupported configuration"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-18      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Won't Do    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2015-12-03 22:24] a0332500-857b-4d6a-874e-50b63b66b387 opened #4415 "[SR-19] OS X: support 'build-script -l -r'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-19      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Task    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2015-12-03 22:52] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4416
An alternative workaround is to use lldb/scripts/build-swift-cmake.py (use --help to see the options). But this only makes sense for Swift LLDB-focused developers. It is just a light wrapper around the Swift build-script, adding repository cloning/updating and other LLDB-centric options like including the system debugserver or including no debugserver on OS X builds.

[2015-12-03 23:24] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4416
<https://github.com/apple/swift/commit/b08610bc3e4acfc2842349e4e661a38b93d4dd27>

[2015-12-04 07:27] gribozavr commented on #4416
Todd reverted this: <https://github.com/apple/swift/commit/02a493b8380bbcb5c4bf2e123db0b6d79c95dc8f>

[2015-12-04 15:49] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4416
I'm going to reimplement this, checking in build-script-impl so it catches any options passed to build-script that are intended for direct consumption by build-script-impl. In the case of build presets, we hit an issue where direct control of the lldb build variant was missed because it was not using the build-script mechanism to control build variant; rather, it was specifying the build-script-im

[2015-12-04 18:27] swift-ci opened #4656 "[SR-54] Unable to launch REPL in restricted Docker container"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-54      |
   |Radar             | None         |
   |Original Reporter | kito (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Won't Do    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2015-12-04 19:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4417
Hi Markus,

Thanks for filing the bug!

Can you tell me a bit more about your setup?

Which OS exactly, which packages are installed, and how you installed them? I'd like to make sure I have a valid repro environment.

I think this could be a bad interaction with some work being done in llvm.org lldb to support Python 3.x for Windows. The code for Linux in that override readline Python module (the

[2015-12-04 19:54] b9e45994-f1ab-4caa-ab67-04c71c9dbfb6 commented on #4417
Trying to prevent Python 3.x from being chosen on Linux looks like the right fix.

I'm running Gentoo. The default Python version is 2.7.10. Python 3.4.3 is also installed.
I don't think that the specifics of the distro matter much for this issue.

Just running ":%s/python3.4/python2.7/g" on /var/tmp/build/Ninja-ReleaseAssert/lldb-linux-x86_64/build.ninja in vim fixed the issue for me...

[2015-12-04 20:01] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4417
The bug linked upstream is the place where this issue should be fixed. After resolving there, it can be cherry picked into swift.org swift-lldb.

[2015-12-04 20:04] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4417
Okay, thanks Markus. I had thought this was on an Ubuntu system, but thanks for clarifying it was Gentoo. Haven't been there for a while, but that's a nice and clean system! (I used to do Gentoo on PowerPC Macs back in early 2000s in addition to the x86 machines).

I'm glad you have a work-around. Let's keep this open until we have it really resolved for others, though. The llvm.org bug will track

[2015-12-05 00:15] swift-ci opened #4595 "[SR-61] REPL crash on tab completion"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-61      |
   |Radar             | None         |
   |Original Reporter | nitingupta (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Ubuntu 15.10

swift bui

[2015-12-05 00:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4415
Implemented here:
<https://github.com/apple/swift-lldb/commit/83cfe0cd02e0a1926e2dac8dc236613720640b4c>

[2015-12-05 00:34] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4416
SR-19 addresses the common RelWithDebInfoAsserts build variant that this issue here was meant to resolve.

I'll just make sure LLDB can build with the configurations that build-script can generate.

[2015-12-05 01:20] a0332500-857b-4d6a-874e-50b63b66b387 opened #4555 "[SR-63] build-script -l -r --no-assertions: several Swift-specific lldb tests fail"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-63      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

OS X 10.11.1 (15B42), Xcode 7.2 Beta 4.

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2015-12-05 01:22] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4555
Marking low as this is not as common a setup, and we're planning on thinning down the LLDB Xcode project to a much smaller set of configurations which will likely address this.

[2015-12-05 01:31] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4555
These test failures go away if a 'swift/utils/build-script -l -r' (i.e. without --no-assertions) happens to also be built.

[2015-12-05 05:48] swift-ci commented on #4656
**Comment by Stan Chang Khin Boon (JIRA)**

   I do have similar issue on ubuntu 14.04. This is intermittent. Some user reported having it working and some don't.

I had experience both working (on my MBP) and non working case (on digital ocean).

The following repository is the Dockerfile that can hopefully recreate the environment.

<https://github.com/lxcid/docker-swift>

Please use 2.2 as mast

[2015-12-05 13:27] swift-ci commented on #4656
**Comment by Stan Chang Khin Boon (JIRA)**

   If you are using Docker, run your container with `--privileged=true` will fix the issue. Not ideal but at least we know that its related to permissions.

[2015-12-05 13:41] swift-ci commented on #4656
**Comment by Stan Chang Khin Boon (JIRA)**

   The solution is discovered here: <https://github.com/swiftdocker/docker-swift/issues/9#issuecomment-162172540>

From docker's documentation at <https://docs.docker.com/engine/reference/commandline/run/#full-container-capabilities-privileged>

It seems that the REPL requires some kernel level capabilities. Is this something we can avoid?

[2015-12-05 18:13] swift-ci opened #4594 "[SR-77] In the repl, auto-indent overwrites text"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-77      |
   |Radar             | None         |
   |Original Reporter | stillinbeta (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

[code]

I tested in both URXVT (rx

[2015-12-05 18:39] swift-ci commented on #4656
**Comment by Kito (JIRA)**

   Thanks Stan. Confirmed that running privileged works around the issue.

I'm going to continue debugging to see if there is a more permanent solution.

[2015-12-07 04:05] swift-ci opened #4593 "[SR-100] Red-hat - Support - lldb build"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-100      |
   |Radar             | None         |
   |Original Reporter | thawkins (JIRA User)      |
   |Type              | New Feature    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961036-17e46455-a269-4544-ac06-a599b6d480ab.gz)

   <details>
  <summary

[2015-12-08 00:34] swift-ci opened #4554 "[SR-130] Problem with the switch control structure in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-130      |
   |Radar             | None         |
   |Original Reporter | RIanDeLaCruz (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Ubuntu 14.04 Linux Kernel 3

[2015-12-08 00:41] swift-ci commented on #4554
**Comment by Arthur Sabintsev (JIRA)**

   Hah, what an interesting bug.

When I try typing: \`case a:\` it shrunk to \`ca:\` when I pushed enter

[code]

[2015-12-08 13:10] swift-ci commented on #4417
**Comment by James Laver (JIRA)**

   Some new anecdata:

-   utils/build-script -R works on my machine

-   utils/build-script --preset=buildbot_linux_1510 does not work with this same error.

I'm running gentoo. Python 2.7 is selected by eselect. Curiously, if I export EPYTHON=python2.7 before building it doesn't cause this error. Don't know quite what's going on there.

[2015-12-08 14:42] swift-ci commented on #4417
**Comment by Elvis Stansvik (JIRA)**

   I'm hitting this on Arch. I attached my quick fix to the LLDB bug report. Hopefully this will get sorted soon.

[2015-12-08 20:31] swift-ci opened #4553 "[SR-143] lldb fails to install on Fedora 23"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-143      |
   |Radar             | None         |
   |Original Reporter | nitingupta (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vot

[2015-12-09 09:22] swift-ci opened #4552 "[SR-155] REPL: Summary string not being displayed for all struct names"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-155      |
   |Radar             | None         |
   |Original Reporter | MatiMax (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Linux 4.2.0-18-generic \#22-Ubuntu SMP

[2015-12-09 23:13] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4416
Not to be fixed. Rather, I'll be adding configurations we need.

[2015-12-09 23:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4593
Can you post more info related to this in the upstream llvm.org bugzilla tracker? I've done some work in the past to get llvm.org LLDB working on RHEL 7 and had solved some of the lib64/lib issues for Python on x86_64. It would be good to look at what is different with the configuration where you're seeing the issue.

Thanks!

[2015-12-10 10:05] swift-ci commented on #4552
**Comment by Matthias M. Schneider (JIRA)**

   If you rename `Point` to, for example, `Pnt` then the stuct will be evaluated correctly and printed without producing the error.

[2015-12-10 23:30] swift-ci commented on #4656
**Comment by Kate Stone (JIRA)**

   The REPL is actually a special case of the Swift debugger for reasons elaborated on [here](https://swift.org/lldb/#why-combine-the-repl-and-debugger), so kernel privileges associated with debugging processes are definitely required.

[2015-12-10 23:44] swift-ci commented on #4594
**Comment by Kate Stone (JIRA)**

   Similar issues in the past have been attributed to subtle issues with the editline implementation provided by libedit on different distributions. The supported distributions should come with compliant implementations by default.

If you'd like to dig further, what's happening here is that the REPL knows that : is one of the characters that might require changin

[2015-12-11 00:11] swift-ci commented on #4552
**Comment by Enrico Granata (JIRA)**

   Hi,
I am one of the engineers that work on the Swift REPL

I can reproduce the issue you're presenting and it is an issue with the LLDB data formatters subsystem

We have a set of builtin data formatters that help us pretty print different data types (for instance, the elements in a Swift array, or the contents of an NSString, ...)
One of those data formatt

[2015-12-11 05:39] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Noted, i will try and setup a vanila build of lldb on f23 and check if it fails in the same way, and document.

Do you know if the llvm/lldb project has a dockerfile for ubuntu i can hack to create a clean test setup for f23.

[2015-12-11 06:49] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   I have built a script to automate the f23 build, see below.

<https://github.com/thawkins/fedora-swift>

[2015-12-11 07:55] swift-ci commented on #4552
**Comment by Matthias M. Schneider (JIRA)**

   Hi Enrico,

thanks for looking into this and the workaround. I would never have thought along those lines given that a newly started REPL session explicitly tells me that `Point` is an "unresolved identifier" and as such I was happily playing along with the struct using this name. 😉

Your explanation is clear to me and I hope you and the team can fix

[2015-12-11 14:07] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   This bug has already been reported on lldb upstream (including somebody else hitting it on the swift build)

<https://llvm.org/bugs/show_bug.cgi?id=18957>

[2015-12-11 23:29] swift-ci commented on #4656
**Comment by Kate Stone (JIRA)**

   Works as expected. Debugging privileges are required for the REPL.

[2015-12-11 23:30] swift-ci commented on #4656
**Comment by Kate Stone (JIRA)**

   I've edited the title to better reflect the presumed nature of the issue and have resolved it per my comment above. Go ahead and re-open if this turns out not to be an accurate assessment.

[2015-12-11 23:32] swift-ci commented on #4594
**Comment by Kate Stone (JIRA)**

   After some thought, I've assigned the issue to me since I wrote the code originally and believe I have a reasonable strategy for making this code path less fragile in the presence of different editline implementations.

[2015-12-11 23:51] swift-ci commented on #4594
**Comment by Kate Stone (JIRA)**

   Proposed fix in <https://github.com/apple/swift-lldb/pull/1>

[2015-12-12 05:05] swift-ci opened #4551 "[SR-202] Swifty Wrappers and Swifty Methods Don't Make For Swifty Builds"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-202      |
   |Radar             | None         |
   |Original Reporter | mgage (JIRA User)      |
   |Type              | Improvement    |
   |Status            | Resolved        |
   |Resolution        | Invalid    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2015-12-12 21:48] #4416 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2015-12-13 22:41] swift-ci commented on #4551
**Comment by Kate Stone (JIRA)**

   While I appreciate that there are certainly workflows that could be improved, You can safely assume that we try to make things better in general every single day! So if there's something you've found awkward, we'd welcome more specific and actionable reports. Whenever possible, please include or link directly to relevant context.

[2015-12-13 22:41] #4551 closed, assigned to nobody

[2015-12-15 00:13] swift-ci commented on #4594
**Comment by Kate Stone (JIRA)**

   This change landed over in llvm.org and I've cherry-picked it to Github. It should land in the next stable binary drop, or it can be built from current sources – either way I'd appreciate confirmation that this change works as expected on the distribution where this was originally reported.

[2015-12-15 00:13] #4594 closed, assigned to nobody

[2015-12-15 03:44] swift-ci commented on #4554
**Comment by Yuriy (JIRA)**

   I can also repro this issue on Ubuntu, version:
Swift version 2.2-dev (LLVM 46be9ff861, Clang 4deb154edc, Swift 778f82939c)

[2015-12-15 03:44] #4554 closed, assigned to nobody

[2015-12-16 06:54] #4415 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2015-12-17 20:28] swift-ci opened #4550 "[SR-281] lldb crash using REPL :command history"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-281      |
   |Radar             | None         |
   |Original Reporter | cliffcoder (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/16496

[2015-12-22 17:02] swift-ci commented on #4550
**Comment by Cliff Helsel (JIRA)**

   Crash occurs in latest dev build

Welcome to Apple Swift version 2.2-dev (LLVM 3ebdbb2c7e, Clang f66c5bb67b, Swift 0ddf238ad7). Type :help for assistance.
1\> :command history
Segmentation fault: 11

[2015-12-29 07:56] norio-nomura opened #4549 "[SR-402] Assertion failed: (false && "GetMax64 unhandled case!"), function GetMaxU64, file /Users/buildnode/jenkins/workspace/oss-swift-package-osx/lldb/source/Core/DataExtractor.cpp, line 698."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-402      |
   |Radar             | None         |
   |Original Reporter | @norio-nomura      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649

[2016-01-05 19:29] swift-ci commented on #4549
**Comment by Najla Bulous (JIRA)**

   This is a Swift toolchain regression that seems to be simulator architecture specific and causes Xcode to crash. I can reproduce it with the iPhone 4s, iPad Retina, iPad 2, and iPhone 5 simulators with the following steps:

Xcode: 7C68
OS: OS X El Capitan 10.11.2
Toolchain: Any

1\. Launch Xcode with toolchain
2. Create an iOS app and set a break point in App

[2016-01-05 22:24] swift-ci commented on #4550
**Comment by Kate Stone (JIRA)**

   This is an unsigned underflow situation that can occur when dumping an empty command history. It isn't a problem from the (lldb) prompt since there's always at least one command in the history: "command history." It only occurs under the REPL because REPL commands aren't considered part of the LLDB command history. Whether that's desirable or not is certainly a

[2016-01-06 00:03] swift-ci commented on #4417
**Comment by Tom Gall (JIRA)**

   This all boils down to a couple of issues:

1\) lldb/scripts/Python/modules/readline/readline.cpp : It's just not python 3 ready. I module initialization at a glance looks like it needs to be rewritten.

2\) The cmake infrastructure in lldb isn't doing proper python detection anyway. Python 2.7 seems to be a hard dep based on the code right now, yet cmake and fri

[2016-01-06 18:34] swift-ci opened #12367 "[SR-481] Can not retrieve Optinals from [String:Any] Dictionary"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-481      |
   |Radar             | None         |
   |Original Reporter | deggert (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

% swift --version
Apple Swift version 2.2-dev (LLVM 3ebdbb2c7e, Clang f66c5bb67b, Swift 1f2908b4f7)
Target: x86_6

[2016-01-06 19:39] swift-ci commented on #4550
**Comment by Kate Stone (JIRA)**

   Resolved upstream by [this change](https://github.com/apple/swift-lldb/commit/53c124120b2bb284a6a38154014d2028bc2c46c1?diff=unified#diff-3d5692666f789297e11d606ab90c9ef5) to CommandHistory.cpp.

The change should make it into master by early next week.

[2016-01-06 19:39] #4550 closed, assigned to nobody

[2016-01-06 21:46] swift-ci commented on #4593
**Comment by Jeremy Fergason (JIRA)**

   thawkins (JIRA User) were you able to determine if the base lldb built successfully on fc23? I've put together a specfile and just currently patch lldb. There's a bugzilla ticket for inclusion of the swift RPM's in Fedora:

<https://bugzilla.redhat.com/show_bug.cgi?id=1295115>

[2016-01-08 00:13] swift-ci commented on #12367
**Comment by Alex Johnson (JIRA)**

   I see this as well using Swift 2.2 (Jan 6th snapshot). It looks like something has changed in the way that `nil` is stored. It seems to be converted to an instance of `Any`, which is confusing to me because that shouldn't be possible.

Compare the result of the dictionary creation in Swift 2.2:

[code]

... to the result in Swift 2.1:

[code]

And compare the

[2016-01-11 19:01] jckarter opened #4548 "[SR-517] lldb: Provide an easy way to print object at address in Swift mode, like 'po <integer>' in ObjC"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-517      |
   |Radar             | rdar://problem/48448415         |
   |Original Reporter | @jckarter      |
   |Type              | New Feature    |
   |Status            | Reopened        |
   |Resolution        |     |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2016-01-12 16:17] a0332500-857b-4d6a-874e-50b63b66b387 opened #4547 "[SR-527] OS X: TestGo{UserExpression,Language,ASTContext} failing"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-527      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

OS X 10.11.3 Beta (15D13b) \[public\]
Go: versio

[2016-01-12 16:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
\> FAIL: test_go_formatter_plugin (lang/go/formatters/TestGoFormatters.py)

This one is failing because SBFrame.FindVariable() is returning no type information on frame variables:

(lldb) b main.go:8
Breakpoint 2: where = a.out\`main.main + 122 at main.go:8, address = 0x00000000000020ba
(lldb) run
Process 7348 launched: '/Users/tfiala/work/lldb-github/lldb/packages/Python/lldbsuite/test/lang/go/fo

[2016-01-12 17:39] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
I figured out what's going on with the first one. We've added a few more functions to TypeSystem without default implementations. It looks like we stubbed in some type name overrides for Swift purposes, and expect each TypeSystem-derived class to plug in an implementation.

I'm fixing this up to provide a reasonable default implementation that should work for both ClangASTContext and GoASTContext.

[2016-01-12 18:37] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
\> FAIL: test_go_formatter_plugin (lang/go/formatters/TestGoFormatters.py)

The above test is fixed by:
\`\`\`
commit f288c47457e9c62440a23924f18542290e3eafaf (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Tue Jan 12 10:30:19 2016
\`\`\`

The remaining 3 tests still fail. Continuing to investigate those.

[2016-01-12 19:28] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
\> FAIL: test_with_dsym_and_python_api_dsym (lang/go/expressions/TestExpressions.py)
\> FAIL: test_with_dsym_and_python_api_dwarf (lang/go/expressions/TestExpressions.py)

Looking into these now.

I'm seeing some slightly unusual behavior w/r/t symbol lookups before getting too deep into this:

    # Set breakpoint by line, since breakpoint by source regex and
    # breakpoint by 'b main' doesn't

[2016-01-13 11:31] swift-ci commented on #4552
**Comment by Matthias M. Schneider (JIRA)**

   The issue seems to be solved in snapshot 2016-01-11-a on Ubuntu 15.10.

[2016-01-13 21:24] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
I've made a couple check-ins earlier to improve this situation.

First one:
<https://github.com/apple/swift-lldb/commit/4e870517b671e5ba633cfaaa31a58c3783548f2f>

The commit message has details, but essentially the change above enabled function name symbol lookups based on user input to work (for example, when setting a breakpoint by symbol name) if either (1) the language of the 'set breakpoint'

[2016-01-13 21:39] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4547
Fixed with merge:
<https://github.com/apple/swift-lldb/commit/4168b77e996ac3d1b02e129f88c7a0637e5de1c2>

via final change:
<https://github.com/apple/swift-lldb/commit/becec19a3588218bf7cf35fb7374b819ca39859e>

[2016-01-13 21:39] #4547 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-01-19 19:10] swift-ci commented on #4548
**Comment by Enrico Granata (JIRA)**

   That would actually be wrong. It is already quite of a hack in Objective-C, where it can lead to random results (e.g. care to guess what 0x1 or 0x5 mean when you pretend it's a pointer?), but at the very least you can somewhat defend it there on the grounds that every object in ObjC is going to have a pointer value

In Swift, not everything that is a Swift

[2016-01-19 19:13] swift-ci commented on #4548
**Comment by Kate Stone (JIRA)**

   While it's not entirely obvious that we should be special-casing "po" along these lines, I agree that it's unfortunate that we don't have a simple way to examine references from a raw address.

One possibility is indeed that any Int result that is also an apparently valid pointer for a reference type gets evaluated in this manner, perhaps as one of several repr

[2016-01-19 19:14] swift-ci commented on #4548
**Comment by Kate Stone (JIRA)**

   Think about this in the spirit of the request rather than the literal ask.

[2016-01-19 19:21] jckarter commented on #4548
Thanks Kate. I updated the title to be less prescriptive of the solution.

[2016-01-19 19:48] swift-ci commented on #4548
**Comment by Enrico Granata (JIRA)**

   We have had some discussion about how we might hack this (because I still maintain it is a hack)

One possible way would be for us to have the "po" command be a regular expression command (or, similarly, for the expression parser to recognize if the print-object-description mode is on) such that if the input is merely a number literal (and just a number lit

[2016-01-19 19:55] swift-ci commented on #4548
**Comment by Kate Stone (JIRA)**

   Again, ignore the literal request to use "po 0x\<address\>" as the syntax. If a user has an address and wants to examine the Swift instance the address points to, what is our solution? Arguably this is something a more raw command like 'frame var 0x\<address\>' could excel at, though it distorts the meaning of the command beyond recognition and it conflates the

[2016-02-06 00:25] drewcrawford commented on #4656
Could we get a better diagnostic here? The current error is

[code]

Maybe something about lacking privileges? The issue here is not clear at all from the error message.

[2016-02-15 10:05] swift-ci commented on #4552
**Comment by Matthias M. Schneider (JIRA)**

   The issue seems to be fixed in current builds of Swift 2.2 and Swift 3.0.

[2016-02-15 10:05] #4552 closed, assigned to nobody

[2016-02-17 01:58] drewcrawford opened #4546 "[SR-760] GetSwiftTypeInfo() on non-legal SIL type not special cased. Name: (Swift.String, () throws -> ()) - Kind: 12"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-760      |
   |Radar             | None         |
   |Original Reporter | @drewcrawford      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Linux x64
swift-DEVELOPMENT-SNA

[2016-02-20 17:39] a0332500-857b-4d6a-874e-50b63b66b387 opened #4545 "[SR-779] TestIncompleteModules.py asserting on OS X: Should not perform lookups into linkage specs!"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-779      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-02-20 17:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4545
I'm going to skip this Darwin-only test for now. I think the merge may address this one. If not, I'll assign over to Sean Callanan.

[2016-02-20 17:45] a0332500-857b-4d6a-874e-50b63b66b387 opened #4544 "[SR-780] TestUniversal.test_process_attach_with_wrong_arch() is failing during compilation on ci.swift.org"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-780      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-02-20 17:47] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
I'm going to skip this to get the build bot green before the merge. I'll re-evaluate after the merge gets in cleanly.

[2016-02-20 17:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4545
Skipped here:

commit 71b649461bb5636a18223f12496fcb22f91bb9bd
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sat Feb 20 09:46:59 2016 -0800

Skip TestIncompleteModules.py in preparation of the merge

This test has been crashing on OS X for a little while now.
Skip it and re-evaluate after the merge from upstream.

Tracked by:
<https://bugs.swift.org/browse/SR-779>

[2016-02-20 17:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
Skipped test_process_attach_with_wrong_arch() on Darwin here:
\`\`\`
commit ccc9823fb106939e21862996cb7fed80c90b29f4
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sat Feb 20 09:52:53 2016 -0800

Skip TestUniversal.test_process_attach_with_wrong_arch() on OS X

This is erroring out during the build step on ci.swift.org.

Tracking with:
<https://bugs.swift.org/browse/SR-780>
\`\`\`

[2016-02-20 18:30] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4545
This is also skipped upstream in lldb, tracked by:
llvm.org/pr26267

[2016-02-21 01:17] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4545
This goes to Sean Callanan.

[2016-02-21 01:18] a0332500-857b-4d6a-874e-50b63b66b387 opened #4543 "[SR-781] TestSwiftNSArrayCodeRunningFormatter test fails after (upcoming) merge"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-781      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-02-21 01:21] a0332500-857b-4d6a-874e-50b63b66b387 opened #4542 "[SR-782] TestNSError.py is failing"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-782      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-21 01:45] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4542
Assigning to me until I figure out who to put it on. Seems likely Enrico Granata.

[2016-02-21 01:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4543
Putting on me until I figure out where it goes. Likely Enrico Granata.

[2016-02-21 01:58] a0332500-857b-4d6a-874e-50b63b66b387 opened #4541 "[SR-783] TestREPLSubclassing.py is failing after (upcoming) merge from llvm.org"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-783      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2016-02-21 01:58] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4541
Putting on me until I figure out where it goes.

[2016-02-21 02:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4541
This test looks like it is just failing under load sometimes, but passing when it hits the re-run stage. I'll close this out if the PR test on OS X passes. I didn't end up disabling it since I saw it passing locally in re-run.

[2016-02-21 02:47] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
This is also failing on the swift-2.2-branch OS X build. I'm going to mark it skipped there as well.

[2016-02-21 07:34] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
Just cherry-picked the skip into swift-2.2-branch here:

commit c95527e842b450b23ba1978b7a70d59f6d419911
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sat Feb 20 09:52:53 2016 -0800

Skip TestUniversal.test_process_attach_with_wrong_arch() on OS X

This is erroring out during the build step on ci.swift.org.

Tracking with:
<https://bugs.swift.org/browse/SR-780>

[2016-02-23 05:47] a0332500-857b-4d6a-874e-50b63b66b387 opened #4540 "[SR-796] TestStepOverWatchpoint.py failing on VMWare Ubuntu Guests"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-796      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Ubuntu on VMWare VMs. (This works on real har

[2016-02-23 06:13] a0332500-857b-4d6a-874e-50b63b66b387 opened #4539 "[SR-798] TestSwiftExpressionsInClassFunctions.py is asserting"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-798      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

All (OS X, Ubuntu)

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-23 06:16] a0332500-857b-4d6a-874e-50b63b66b387 opened #4538 "[SR-799] TestSwiftPartiallyGenericFuncClass.py is asserting"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-799      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

All (OS X, Ubuntu)

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-23 06:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4540
Ah right, I think this is our old friend test that just fails on VMWare VMs (which is where I'm doing the fixup). This is working on real hardware.

I need to add a test decorator that can skip the test if it detects it is running under Linux as a VMWare guest. Once I add that, I can mark it XFAIL conditionally in that environment.

[2016-02-23 08:03] a0332500-857b-4d6a-874e-50b63b66b387 opened #4537 "[SR-800] LLDB test suite needs a "skipUnless"-style test decorator for skipping unless libc++ is available"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-800      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Ubuntu

</details>

   <details>
  <summary>A

[2016-02-23 08:15] a0332500-857b-4d6a-874e-50b63b66b387 opened #4536 "[SR-801] TestPOUnwrapping.py - PO for optional class members set to nil are showing up as if 0 or """
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-801      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 15.10 x86_64

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-23 08:16] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4536
This is currently in the merge branch.

[2016-02-23 08:26] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4537
This needs to happen upstream in llvm.org. I'll dupe it over to what I file there.

[2016-02-23 17:07] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4538
This is showing up on OS X as well. Marking them skipped on OS X until we investigate.

[2016-02-23 17:08] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4539
This is showing up on OS X as well now. Marking skipped while we track it down.

[2016-02-23 17:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
I need to see the real logs of this on one of the builders. All the tests in TestUniversal are passing for me on public OS X (10.11.3 15D21) and public Xcode 7.3 Beta 3 (7D141l).

[2016-02-24 17:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4541
This became a non-issue during merge fix-ups.

[2016-02-24 17:32] #4541 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-02-24 17:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4540
This falls in the category of low priority.

[2016-02-28 18:26] a0332500-857b-4d6a-874e-50b63b66b387 opened #4535 "[SR-841] TestSwiftReturns.py timing out on Ubuntu"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-841      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 15.10 x86_64

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-28 18:54] a0332500-857b-4d6a-874e-50b63b66b387 opened #4534 "[SR-843] TestREPLDictionary.py failing (pexpect error timeout) on Ubuntu"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-843      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 15.10 x86_64

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-28 19:04] a0332500-857b-4d6a-874e-50b63b66b387 opened #4533 "[SR-844] TestSwiftStdlibDictionary.py timing out on Unbuntu"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-844      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 15.10 x86_64

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-02-28 19:18] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4533
Skipped here:

commit 28f64ffb85700601473428c8e1adade78f71107a
Author: Todd Fiala \<tfiala@apple.com\>
Date: Sun Feb 28 12:14:38 2016 -0700

Skip TestSwiftStdlibDictionary on Ubuntu

This test is timing out on Ubuntu systems.

Tracked by:
<https://bugs.swift.org/browse/SR-844>

[2016-02-28 19:18] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4534
Marked XFAIL here:

commit b8dccd37dcddb831a14394164fc04c64edeaebad
Author: Todd Fiala \<tfiala@apple.com\>
Date: Sun Feb 28 11:58:04 2016 -0700

mark TestREPLDictionary.py as XFAIL on Linux

This is a pexpect timeout, which shows as a test error.
Only affecting Ubuntu.

Tracked by:
<https://bugs.swift.org/browse/SR-843>

[2016-02-28 19:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4535
Skipped here:

commit b35ea708910bdb940a99dcb47394407afb8abb63
Author: Todd Fiala \<tfiala@apple.com\>
Date: Sun Feb 28 11:48:26 2016 -0700

skip TestSwiftReturns.py on Linux

This test is timing out.

Tracked by:
<https://bugs.swift.org/browse/SR-841>

[2016-03-01 01:02] swift-ci commented on #4417
**Comment by Ryan Lovelett (JIRA)**

   I had been using the patch in the "upstream llvm.org lldb bug" link; however as of [45b60689698b8d66e0de5517d9cfe2396a6093c4](https://github.com/apple/swift-lldb/commit/45b60689698b8d66e0de5517d9cfe2396a6093c4) the patch no longer applies.

[code]

I've attached an updated patch that does.

[2016-03-21 20:11] swift-ci opened #4532 "[SR-1007] Unsigned integer types have incorrect max values"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1007      |
   |Radar             | None         |
   |Original Reporter | zge (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Swift version 2.2-dev (LLVM 846c513aa9,

[2016-03-21 22:33] belkadan commented on #4532
granataenrico (JIRA User), was this a presentation issue we already fixed?

[2016-03-21 22:34] swift-ci commented on #4532
**Comment by Enrico Granata (JIRA)**

   I believe so, yes. I remember an internal report of this, and it should be fixed in trunk.

[2016-03-25 01:51] swift-ci opened #4531 "[SR-1061] ImportError: No module named six"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1061      |
   |Radar             | None         |
   |Original Reporter | muhasturk (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

OSX 10.11.4 (15E65)
Ap

[2016-03-26 22:18] swift-ci opened #4530 "[SR-1074] Error displayed when using Swift -v"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1074      |
   |Radar             | None         |
   |Original Reporter | ejohnson (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

El Capitan , Xcode 7.2

</details>

[2016-03-29 05:24] swift-ci opened #4529 "[SR-1093] Cannot run swift REPL in 2016-03-24-a-ubuntu15.10 dev snapshot"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1093      |
   |Radar             | None         |
   |Original Reporter | s00p3rj03l (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

FROM ubuntu:15.10

RUN apt-get -y

[2016-03-29 16:55] belkadan commented on #4529
Did we accidentally post an ASan-enabled LLDB?

[2016-03-30 01:56] swift-ci commented on #4529
**Comment by Joel Saltzman (JIRA)**

   I'm not sure. How can I check for you?

[2016-03-30 03:16] belkadan commented on #4529
I, hm. I'm not sure either. @AnnaZaks, granataenrico (JIRA User)?

[2016-03-30 17:36] swift-ci opened #4528 "[SR-1109] Cannot run swift REPL in 2016-03-24-a on Ubuntu 15.10. Missing SwiftGlibc?"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1109      |
   |Radar             | None         |
   |Original Reporter | babt (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961272-

[2016-03-30 18:28] swift-ci commented on #4528
**Comment by Bill Abt (JIRA)**

   Note: Altho' the REPL is not working, everything else seems to be fine. Programs compile and run without problems. This problem just appears to be affecting the REPL.

[2016-03-30 18:33] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4529
Looks like the new warning we added in ASan.

Most likely a library that has been built with ASan is being dlopened. We can check if a library has been built with ASan by checking if it's been linked against the ASan runtime:
$ otool -L \~/tmp/a.out \| grep "libclang_rt.asan_osx_dynamic.dylib"
@rpath/libclang_rt.asan_osx_dynamic.dylib (compatibility version 0.0.0, current version 0.0.0)

[2016-04-03 18:54] swift-ci commented on #4530
**Comment by Mark Johnson (JIRA)**

   had many problems installing Xcode 7.3, after poking around fixed with

sudo install_name_tool -add_rpath /Library/Developer/CommandLineTools/Library/PrivateFrameworks /Library/Developer/Toolchains/swift-latest.xctoolchain/usr/bin/lldb

[2016-04-04 05:17] swift-ci opened #4527 "[SR-1138] Unsigned types display as signed in REPL (UInt8, UInt16, UInt32, UInt64)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1138      |
   |Radar             | None         |
   |Original Reporter | jd20 (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

OSX 10.11.4 (15E65), Swift 2.2

</

[2016-04-04 17:49] belkadan commented on #4527
Yep, should be fixed in master.

[2016-04-04 17:49] #4527 closed, assigned to nobody

[2016-04-04 22:58] swift-ci opened #4526 "[SR-1156] lldb-mi does not work"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1156      |
   |Radar             | None         |
   |Original Reporter | dunkelstern (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Won't Do    |

<details>
  <summary>Environment</summary>

OSX, Swift snapshot swift-DE

[2016-04-04 23:12] swift-ci commented on #4526
**Comment by Johannes Schriewer (JIRA)**

   If I link the Framework from the Xcode.app bundle to the swift toolchain it seems to work:

[code]

But that can't be the solution.

[2016-04-08 05:53] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
Started seeing this again on OS X with the latest merge from upstream LLVM.org.

This time it is XFAILed rather than skipped. As before, I need trace logs from the server to see what's happening. I cannot reproduce this with released Xcode.

[2016-04-08 18:12] a0332500-857b-4d6a-874e-50b63b66b387 opened #4414 "[SR-1192] LLDB swig static binding failure on non-Apple builds"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1192      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-08 18:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
I have temporarily made a manual edit to the static swig bindings until I can adjust the swig step to make sure the \#ifdef in the typemap passes through to the generated file.

That temporary change is here:
<https://github.com/apple/swift-lldb/commit/fbbacbd780eb113a04fb99296cc1f6bb98c6d9b9>

[2016-04-08 18:19] a0332500-857b-4d6a-874e-50b63b66b387 opened #4413 "[SR-1193] LLDB Ubuntu build error: python 'time' not defined"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1193      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-08 18:26] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4413
Looks like we don't see this normally since it only kicks in when a test is killed due to a timeout.

[2016-04-08 18:42] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
It looks like I can use the following swig syntax to support ensuring the \#ifdef carries through to the baked file:

From the Swig manual:
\`\`\`
%{
\#ifdef NEED_BLAH
int blah() {
...
}
\#endif
%}
\`\`\`

[2016-04-08 19:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4413
Root issue:
<http://reviews.llvm.org/D18789>

Addressing upstream now and will pull down.

[2016-04-08 19:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4413
PR for change is up here:
<https://github.com/apple/swift-lldb/pull/12>

Testing with CI now.

[2016-04-08 19:20] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
Testing a change for this locally. I'll send up in a PR if this generates the code I expect.

[2016-04-08 19:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
Oops no that's not the right syntax.

It looks like I really want:
%#ifdef ...

[2016-04-08 20:16] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
I've got the fix in upstream llvm.org svn trunk. I'm waiting on testing of SR-1193 to complete before I submit a PR for this in GitHub.

[2016-04-08 21:27] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4413
Merged in fix here:
<https://github.com/apple/swift-lldb/commit/b2902c2acd8a857969ef62d0ef3dcce6b4656c44>

[2016-04-08 21:28] #4413 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-08 21:33] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
Testing the PR for this now:
<https://github.com/apple/swift-lldb/pull/13>

[2016-04-08 22:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4414
Merged in here:
<https://github.com/apple/swift-lldb/commit/70cbf39e4d602de4b82b17dcbaf04349eee19c59>

[2016-04-08 22:40] #4414 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-09 20:21] swift-ci commented on #4529
**Comment by Joel Saltzman (JIRA)**

   Is there a certain path that I can check? Or should I wait for the next release?

[2016-04-10 11:52] swift-ci opened #4525 "[SR-1203] Swift interactive shell fail to load in Bash on Ubuntu on Windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1203      |
   |Radar             | None         |
   |Original Reporter | vista980622 (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

Attachment: [Download](https://user-images.githubusercontent.com/272777

[2016-04-10 18:23] #4530 closed, assigned to nobody

[2016-04-11 18:19] a0332500-857b-4d6a-874e-50b63b66b387 opened #4412 "[SR-1207] default LLDB to build test inferiors with just-built clang"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1207      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-12 02:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4412
Implemented here:
<https://github.com/apple/swift/commit/f5d88ce0bf60aee19fa22108da05f30408245867>

[2016-04-12 02:44] #4412 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-12 06:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4539
Test comment, please disregard. Testing clock skew issue on JIRA server.

[2016-04-13 16:38] a0332500-857b-4d6a-874e-50b63b66b387 opened #4411 "[SR-1220] LLDB test suite lost ability to pass test suite when reruns clear some issues"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1220      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-13 17:00] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I'm going to see if I can get some tests around the test infrastructure itself so we can guard against this feature breaking. Our CI depends heavily on it to avoid generating noise (i.e. false positives).

[2016-04-13 17:21] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
This is one example of it:
<https://ci.swift.org/job/oss-lldb-incremental-linux-ubuntu-14_04/2753/>

The symptom looks like this:

1\. the test log will show the original failure (usually a timeout or a load-sensitive test failing, like TestConcurrentEvents.py or the lldb-mi ones).
2. The test will rerun in the trailing rerun phase.
3. The rerun will clearly pass.
4. The final summarization will c

[2016-04-13 18:35] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I'm definitely getting unexpected behavior on a forced timeout test (packages/Python/lldbsuite/test/issue_verification/TestRerunTimeout.py).

When run with:
LLDB_TEST_TIMEOUT=5s test/dotest.py --executable=\`xcrun -find lldb\` --test-subdir issue_verification

I'm seeing it oscillate between passing and timing out, where the timeout case is not even generating a timeout event. Tracking that down n

[2016-04-13 18:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
This is looking like a race in test inferior status collection.

The test infrastructure sends events about what it is doing as the key means for communication as to what the test runner's many test queues are doing. When a test inferior completes, we do a wrap-up on the inferior's status to generate synthetic events like "timeout" and others that, for whatever reason, cannot be generated by the i

[2016-04-13 19:04] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I'm going to temporarily bump up the timeouts while we work this out, to avoid the timeouts in the first place. This will be a reasonable short-term work-around while I investigate and address the underlying issue **if** the timeouts are not instead deadlocks. If they're deadlocks, no amount of time is going to help them pass in the first round. We should look into adding a 'sample' (OS X) or the

[2016-04-13 22:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
This is most definitely not only affecting timeout results. It also affects FAIL/ERROR and other categories, as witnessed here:

<https://ci.swift.org/job/oss-lldb-incremental-linux-ubuntu-14_04/2765>
<https://ci.swift.org/job/oss-lldb-incremental-linux-ubuntu-15_10/3115>

I'm following a lead that has potential. The test inferiors and the test inferior worker threads send test events through a so

[2016-04-14 06:47] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I think I've got at least one of the races understood now.

When we're in the rerun phase, we only run one test at a time, intentionally. This is not specific to the rerun logic, but that is a place that is likely to show up.

The run loop will exit if there are no worker threads active and there are no receiving worker sockets (asyncore-based) or the listener running. i.e. we're done when we thin

[2016-04-14 06:55] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
If this is indeed the issue, having the socket-initiating side wait for an ack on the read side before it does anything else should be sufficient. That will ensure that the producer of the test events (the test inferior or the worker thread) is still alive (and therefore keeping the run loop guaranteed to be alive) and getting the listener dosep.py socket into the asyncore IO map to keep the run l

[2016-04-14 07:27] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
My ack mechanism appears to be working fine. I'm going to get it in a PR and test it on the Linux builders. The nature of the race is much more likely to occur on high-speed hardware. This will also need to go up to LLVM.org once I prove it out to be solving the issue.

It's conceivable there's something else there lurking, but I'm hopeful this is the primary issue.

[2016-04-14 08:11] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I put up this PR:
<https://github.com/apple/swift-lldb/pull/19>

Ubuntu 14.04 passed without any issues showing up. We need a rerun to really test it, though.

Ubuntu 15.10 is just wrapping up and... it is a fail. Build \#3130 on Ubuntu 15.10 (master) had a single ERROR, did the rerun, the rerun passed, but we still reported an ERROR for the summary and failed the test suite.

I'll need to repro t

[2016-04-14 08:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I'm able to repro a case of not all the failures clearing. It is with timeouts again, but it shows another error:

PYTHONUNBUFFERED=1 LLDB_TEST_TIMEOUT=3 /Users/tfiala/src/lldb-github/lldb/test/dotest.py --rerun-all-issues --executable=/Users/tfiala/src/lldb-github/lldb/build/Release/lldb --test-subdir lang/c

Rerunning the following files:
lang/c/anonymous/TestAnonymous.py
lang/c/step-target/Test

[2016-04-14 15:30] swift-ci commented on #4528
**Comment by Joe (JIRA)**

   @shahmishal, who owns the CI server that is building the Ubuntu 14.04 and 15.10 packages? I believe adding pexpect module to the server will expose that the packaging of Swift for both is breaking in importing Glibc into the REPL.

[2016-04-14 15:43] swift-ci commented on #4528
**Comment by Ryan Lovelett (JIRA)**

   joeiachievedit (JIRA User) that is my concern as well. There are tests that could have caught this regression. They either are not running or are not running properly.

Both the bug and the fact that the CI didn't catch this should probably be addressed in this fix.

[2016-04-14 16:13] swift-ci commented on #4528
**Comment by Joe (JIRA)**

   Reproduction of the issue separate from Ryan.

[2016-04-14 22:37] swift-ci commented on #4528
**Comment by Ryan Lovelett (JIRA)**

   Using k8stone (JIRA User)'s suggestion that the issue arose sometime between `swift-DEVELOPMENT-SNAPSHOT-2016-03-24-a` and `swift-DEVELOPMENT-SNAPSHOT-2016-03-16-a` and `git bisect`. It's my conclusion that this regressed with this commit.

[code]

Full log if anyone is interested:

[code]

[2016-04-17 21:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
Coming back to this now that I'm back.

[2016-04-17 22:15] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
Looks like I found the issue with timeouts. The timeout code is generating filenames with .py, the code for success is reporting .pyc. I **don't** think the old path used to report as .pyc, but rather .py. This is probably where this issue came from, something else changed that refactored how we get the filename for the current running test, and that broke the collation logic of test results.

Wor

[2016-04-17 23:10] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
I tracked this down and committed the fix here:
<https://github.com/apple/swift-lldb/pull/20>

[2016-04-17 23:12] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4411
Fixed here:
<https://github.com/apple/swift-lldb/commit/25c5f204d3c4809931988c29a318789a957ca958>

[2016-04-21 20:53] shahmishal commented on #4528
CI now has pexpect module installed, and now the test is failing.

[code]

[2016-04-21 22:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I think this is going to end up going to somebody on the Swift side, but I'm going to track it down far enough to figure out who needs to address it.

[2016-04-22 05:42] a0332500-857b-4d6a-874e-50b63b66b387 opened #4410 "[SR-1287] Ubuntu 15.10: lldb packaging setup fails to install on rebuild"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1287      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961332-bf9dc0f9-a8ea-45fb-8695-541deed4a626.gz)

<details>
  <summary>Environment</summary>

[2016-04-22 05:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I was able to repro this. Interestingly, I am finding that if something unrelated fails during the build (e.g. missing some packages), neither lldb nor llbuild seem to be able to install from a rebuild that is not a full build. That's a separate issue, though (see SR-1287 that I just filed).

In any event, I have it reproduced, so I can drill into it now.

[2016-04-22 05:49] swift-ci commented on #4410
**Comment by Joe (JIRA)**

   @trfiala: Confirmed that I can reproduce this on Ubuntu 14.04. Failure under SR-1109 will result in SR-1287 unless I do a "`distclean`".

[2016-04-22 05:49] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I just attached the build script I'm using to mimic what the Ubuntu 15.10 packaging CI is doing. These are identical to that builder except that I've added an additional cmake flag to LLDB to export all of its internal symbols so I can debug it when I get to that point.

[2016-04-22 14:00] swift-ci commented on #4528
**Comment by Ryan Lovelett (JIRA)**

   @trfiala I don't know if [you've seen this or not](https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20160411/001711.html).

I was able to track down the issue (and temporarily work around it) by sym linking `/usr/lib/swift/linux/x86_64/glibc.modulemap` -\> `/usr/lib/lldb/clang/linux/x86_64/glibc.modulemap`.

[I took the advice](https://lists.swift.org

[2016-04-22 16:44] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
HI Ryan!

Thanks for passing that along. Yes, Jim and I talked about it yesterday. It is likely the change listed above (c6121d56b) is going to be the root cause. The ClangImporter needs to be able to reconstruct some info, and the module map (which is just a text file) needs to be found to do that right. The paths used to find that look like they may be built from the variables that were changed

[2016-04-22 18:19] a0332500-857b-4d6a-874e-50b63b66b387 opened #4409 "[SR-1295] Investigate why SR-1109 wasn't caught in the LLDB test suite on Ubuntu"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1295      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Task    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-22 18:20] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
One note on the build script I attached. It uses the buildbot preset build settings, which currently does a release build with no debug symbols. This is not ideal for debugging a problem. I've locally flipped the build presets to do a debug build so I have debug symbols. (Debugging what I initially built and reproduced was useless).

Separately, failing to import Glibc (or Foundation, which will u

[2016-04-22 18:47] ddunbar commented on #4528
If this cannot be resolved by today, we should XFAIL the test. Bots shouldn't stay red, it impacts @swift-ci usability and can lead to cascading failures.

[2016-04-22 18:51] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Yes, I will figure out how to mark that test XFAIL if I can't resolve this today. I'm working on a debuggable build now.

[2016-04-22 19:36] swift-ci commented on #4529
**Comment by Jay Buffington (JIRA)**

   Still broken in swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a-ubuntu14.04.tar.gz

[2016-04-22 19:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I'm going to go ahead and make this XFAIL. Mishal is going to **not** publish any packages until we have this fixed. (I'm still working on it, but we can get build czars happy by making it green, and we'll continue to dig into the issue).

[2016-04-22 20:28] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
Thanks for reproducing that, Joe. Glad to see it is at least deterministic across machines.

[2016-04-22 22:10] swift-ci commented on #4525
**Comment by Kate Stone (JIRA)**

   The interactive REPL provides full debugging facilities, and as such it requires the associated privileges to attach to processes for debugging purposes. When running Linux distributions in any sandboxed environment (Docker et al) this is expected behavior.

[2016-04-22 22:14] #4525 closed, assigned to nobody

[2016-04-22 22:26] swift-ci commented on #4529
**Comment by Kate Stone (JIRA)**

   I have our swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a-ubuntu14.04.tar.gz snapshot installed on an ubuntu14.04 machine and the REPL works normally, so I suspect there's something else in play here.

[2016-04-22 22:33] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Updated the build script with one that doesn't do all the intermediate testing, and includes more debug info.

[2016-04-22 22:40] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Temporarily marked the packaging test for glibc as XFAIL with the following commit in github.com/apple/swift-integration-tests:
e9e7054cbdb3d386fb3763406d4a81dfaccde2f4

I'm still working on this, and we don't plan on doing another Linux packaging until it gets resolved.

[2016-04-22 23:11] swift-ci commented on #4529
**Comment by Kate Stone (JIRA)**

   Since this doesn't happen to everyone chances are one or more system libraries have been built using ASAN and are getting loaded by the REPL. You can debug the dynamic library loading process and hopefully get more insight into where the failure is occurring with the following from the snapshot's root directory:

LD_DEBUG=files usr/bin/lldb --repl

This will st

[2016-04-22 23:23] swift-ci commented on #4526
**Comment by Kate Stone (JIRA)**

   There's a missing search path in the lldb-mi executable provided in the snapshot, which I'll track as an issue on our end. In the meantime the more correct solution is the invoke the following to fix the search path for the lldb-mi executable:

sudo install_name_tool -add_rpath @loader_path/../../System/Library/PrivateFrameworks /Library/Developer/Toolchains/sw

[2016-04-23 00:16] swift-ci commented on #4526
**Comment by Kate Stone (JIRA)**

   \<rdar://problem/25888249\>

[2016-04-23 00:23] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Making progress. We've got suspicious behavior under the debugger. Jordan and I are looking into it.

[2016-04-23 00:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Okay, looks like we've got a fix for this. I'm just running the LLDB test suite against it and then I'll have the PR checker test it.

[2016-04-23 00:57] swift-ci commented on #4531
**Comment by Kate Stone (JIRA)**

   The module "six" is part of the Python 2.7 package installed by default on OS X which is a required dependency of LLDB and therefore the Swift REPL. I don't suppose you have a custom version of Python installed?

You can debug the attempt to find modules by starting the Python interpreter in verbose mode:

$ python -v
\<lots of output here\>
\>\>\> import six

[2016-04-23 00:58] swift-ci commented on #4531
**Comment by Kate Stone (JIRA)**

   Works correctly on a typical OS X installation which includes the six module as part of Python 2.7.

[2016-04-23 01:02] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
Testing this with:
<https://github.com/apple/swift/pull/2279>

[2016-04-23 03:42] a0332500-857b-4d6a-874e-50b63b66b387 opened #4408 "[SR-1300] LLDB REPL tests fail on Ubuntu when not run from install layout"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1300      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961334-d889a4cd-1

[2016-04-23 03:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
Included a build script that replicates but cuts out a lot of the intermediate time spent running some of the tests.

The script also enables debugging of LLDB.

[2016-04-23 03:44] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
The script assumes that all the github.com/apple/swift\* repositories are checked out before building.

[2016-04-23 04:55] bitjammer opened #4407 "[SR-1301] PR Linux bot always fails LLDB lots of REPL tests"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1301      |
   |Radar             | None         |
   |Original Reporter | @bitjammer      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-04-23 05:01] bitjammer commented on #4407
@shahmishal Does the bot do clean builds? Do you think it needs a clean?

[2016-04-23 05:22] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
This looks to be a potentially known issue with the Ninja generator on cmake. See this bug:
<https://cmake.org/Bug/print_bug_page.php?bug_id=13934>

[2016-04-23 05:24] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
That bug also mentions cross compiling as being an underlying cause. The first thing I'd want to do here is print out whether cmake thinks it is running in a cross-compiler mode, which it should not be in this case. (Building for Ubuntu on Ubuntu).

[2016-04-23 09:31] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I put up a Vagrant VM setup here that I'm using on a VMWare Fusion hypervisor:
<https://github.com/tfiala/swift-vagrant>

[2016-04-23 17:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
While the change in PR 2279 seems to address the issue, as is it triggers an assert in the LLDB test suite on Ubuntu. I need to resolve that before this can go further.

It appears as if the broken code path on Ubuntu that was incorrectly using the default clang resource path for Swift resource paths was masking that we have some SwiftASTContext instances that otherwise don't have a resource dir s

[2016-04-23 22:45] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
I have a change for the LLDB test failures that is working on Ubuntu 15.10. It ensures that a Swift resource path is set for all SwiftASTContext module instances if we had one previously set in a target.

I also think I figured out how to get the LLDB test suite running on Ubuntu in the package build layout. (This has an extra directory underneath the build dir, and this is throwing off some of ou

[2016-04-23 23:38] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4528
This should now be addressed with the following 3 commits:

-   swift: <https://github.com/apple/swift/commit/42d97ed7dc59ad7eea052cb5b55beb6588f3d8d0>

-   swift-lldb: <https://github.com/apple/swift-lldb/commit/ea2a5f26e5c8f2aae576b2a2a6178d7415cb13b8>

-   swift-integration-tests: <https://github.com/apple/swift-integration-tests/commit/98f6c6d992617a688a59750a7e1ce61e53c68806>

[2016-04-24 01:14] swift-ci commented on #4528
**Comment by Joe (JIRA)**

   Verified on Ubuntu 14.04:

[code]

Final packaging output:

[code]

Thanks @trfiala!

[2016-04-24 01:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
This showed up on the Ubuntu 15.10 LLDB CI (<https://ci.swift.org/job/oss-lldb-incremental-linux-ubuntu-15_10/3352)> when the fix for SR-1109 landed.

I'm temporarily going to disable the REPL tests on Linux while I sort out what needs to happen. We're hitting the assert for no glibc resource dir set. This doesn't seem to be happening on Ubuntu 14.04.

[2016-04-24 01:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
Skipped here:
commit a38bed58550273b7f02591a3a60900f2f4461b5d (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sun Apr 24 00:17:21 2016

skip repl tests on Linux

We're hitting the no-glibc-resource dir assert when using the REPL from the
build-tree LLDB. The same REPL works fine in the install layout. This
issue is only affecting Ubuntu 15.10. Ubuntu

[2016-04-24 06:35] swift-ci commented on #4528
**Comment by Joe (JIRA)**

   Verified on Ubuntu 15.10:

[code]

Final packaging output:

[code]

[2016-04-24 06:35] #4528 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-25 14:54] swift-ci commented on #4410
**Comment by Rob Allen (JIRA)**

   Same issue here. Ubuntu 15.10 in a VirtualBox VM (via vagrant), running this build command:

`$ swift/utils/build-script --preset=buildbot_linux_1510 installable_package=/home/rob/swift.tar.gz install_destdir=/home/rob/swift-install`

I can also confirm that `rm -rf build/buildbot_linux` and then rerunning the build command worked for me too.

[2016-04-25 18:26] #4411 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-25 18:37] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4529
Hi Joel,

I just straightened out some issues with importing modules in the REPL on Ubuntu 15.10 (and Ubuntu 14.04) this past weekend. Can you try this again with a clean build directory? (Those fixes were listed in SR-1109 - they would become problematic at some point when using the REPL on Ubuntu, even if they weren't what you were hitting directly).

If you continue to have trouble, please post

[2016-04-25 18:48] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4533
Assigning to me. I'll check if this is still an issue. If so, I'll get to the right person.

[2016-04-25 18:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4534
Assigned to me. I'll check if this is still happening, after SR-1300 gets resolved.

[2016-04-25 18:51] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4535
Assigned to me, I'll check if this is still happening. If so, I'll get it to the right person.

[2016-04-25 18:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4537
Filed:
<https://llvm.org/bugs/show_bug.cgi?id=27516>

to track this. Closing this one out as a duplicate of that.

[2016-04-25 18:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4537
Duplicate of now-filed:
<https://llvm.org/bugs/show_bug.cgi?id=27516>

That work should happen in LLVM.org LLDB svn trunk.

[2016-04-25 18:56] #4537 closed, assigned to nobody

[2016-04-25 19:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4540
Duplicate of now-filed:
<https://llvm.org/bugs/show_bug.cgi?id=27517>

[2016-04-25 19:03] #4540 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-04-25 19:13] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4555
Assigning to me to verify if this is still happening.

[2016-04-25 21:57] swift-ci commented on #4529
**Comment by Kate Stone (JIRA)**

   We've now seen the failure even without the REPL involved, just launching LLDB will trigger this problem on an affected machine so I don't think this experiment is needed. The current working theory is that installing the snapshot package to the root directory ✔ is what leads to this problem, though I'm still interested in the exact mechanism and will be invest

[2016-04-25 22:33] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4529
Yes, I'd be very skeptical of installing the package to Root. Before we went public, I had us pull out references to doing that in the "How to use on Ubuntu" instructions because (1) we haven't tested that heavily, (2) installing in root is inherently the kind of thing that should be done by somebody making official packages for the system, where it really gets tested against a live system, (3) it

[2016-04-26 00:36] shahmishal commented on #4407
This is related to <https://bugs.swift.org/browse/SR-1300>

[2016-04-26 01:42] swift-ci commented on #4529
**Comment by Kate Stone (JIRA)**

   Indeed this proved to be the root issue. When LLDB is installed in /usr/bin/lldb we also wind up with content under /usr/lib/lldb that are presumed to be plugins – even though they aren't. When an ASAN enabled library is loaded to initialize the plugin it notices LLDB isn't running with the ASAN runtime and immediately terminates it.

Workarounds: don't install

[2016-04-26 05:32] swift-ci commented on #4529
**Comment by Joel Saltzman (JIRA)**

   `mv /usr/lib/lldb /usr/lib/lldb-disabled`

This did indeed fix the problem. Thank you!

[2016-04-26 16:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
Looks like other projects have hit something like this as well:
<https://bugs.webkit.org/show_bug.cgi?id=144902>

[2016-04-27 18:13] gribozavr opened #4406 "[SR-1336] test/lang/swift/stepping/TestSwiftStepping.py fails"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1336      |
   |Radar             | None         |
   |Original Reporter | @gribozavr      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-04-27 18:59] swift-ci commented on #4529
**Comment by Kate Stone (JIRA)**

   Fixed upstream (Committed revision 267749.)

Cherry picked to master:
commit ec12d4930bf8a7d19c22da4ae2bea405b464a4a7 (HEAD -\> master, origin/master, origin/HEAD)
Author: Kate Stone \<katherine.stone@apple.com\>
Date: Wed Apr 27 10:49:51 2016

Renamed system plugin directory to address <https://bugs.swift.org/browse/SR-1093>

[2016-04-27 18:59] #4529 closed, assigned to nobody

[2016-04-28 17:56] swift-ci opened #4524 "[SR-1350] REPL doesn't correctly handle guard variable shadowing"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1350      |
   |Radar             | None         |
   |Original Reporter | jaybuff (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-04-29 17:40] belkadan commented on #4524
Per comments in SR-1353 it's not quite clear what the correct behavior is in the compiler, but the REPL has generally always allowed you to replace a binding.

[2016-05-03 15:28] swift-ci commented on #4410
**Comment by Joe (JIRA)**

   Reproducible as of 5/3:

[code]

I hate to have to {{rm ~~rf build}} as this is a native ARM compilation. :~~(

[2016-05-03 18:48] swift-ci commented on #4410
**Comment by Ryan Lovelett (JIRA)**

   I've also attempted all of the work arounds in <https://cmake.org/Bug/print_bug_page.php?bug_id=13934> and none of them are working for me. Perhaps this is confirmation that CMake does not think it is in cross compile mode.

[2016-05-04 09:26] 41412bb9-c79a-4f5a-8a7f-383cb40aa74b commented on #4410
It seems, the immediate cause is:
<https://cmake.org/Bug/view.php?id=14820>

But, the root cause is the fact I didn't know this bug 🙁
I deeply apologize for causing the inconvenience.

Posted a PR <https://github.com/apple/swift/pull/2393>
that reverts <https://github.com/apple/swift/pull/2226>

[2016-05-04 16:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
rlovelett (JIRA User) One way to tell if CMake is in cross-compiling mode is to print out the CMake CMAKE_CROSSCOMPILING flag, which will be set to TRUE when it is cross compiling. (The best concise reference I found for this was the Mastering CMake book, chapter 8, although all the bits are online).

But as I mentioned above, and Rintaro also looks like he discovered, is that there is something i

[2016-05-14 21:38] a0332500-857b-4d6a-874e-50b63b66b387 opened #4405 "[SR-1524] TestBitfields.BitfieldsTestCase.test_and_python_api failing on master branch"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1524      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-05-14 21:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4405
This looks like it is limited to Ubuntu.

Marked XFAIL here:

\`\`\`
commit 55693f06878da11680717986c51277974ea3b108 (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sat May 14 13:44:48 2016

mark TestBitfields as XFAIL

The TestBitfields.BitfieldsTestCase.test_and_python_api test started
failing on Linux after last night's update of swift-llvm and sw

[2016-05-14 22:08] a0332500-857b-4d6a-874e-50b63b66b387 opened #4404 "[SR-1525] TestSwiftCrossModuleExtension.py failing on OS X"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1525      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

OS X, swift-lldb/master

</details>

   <details>

[2016-05-14 22:11] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4404
Marked XFAIL here:

\`\`\`
commit 3258d95e3b862490e0b4e97157a4c37a3aa60d35 (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Sat May 14 14:10:43 2016

mark TestSwiftCrossModuleExtension as XFAIL

This started failing after last night's changes to Swift.

Tracked by:
<https://bugs.swift.org/browse/SR-1525>
\`\`\`

[2016-05-20 05:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4405
This looks to be a duplicate of:
[LLVM.org pr27510](https://llvm.org/bugs/show_bug.cgi?id=27510)

[2016-05-20 05:32] #4405 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-05-20 05:34] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4404
Also tracked by rdar://26018792

[2016-05-20 06:07] a0332500-857b-4d6a-874e-50b63b66b387 opened #4403 "[SR-1568] TestSwiftieFormatting.py failing on master and master-next"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1568      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-05-20 06:14] a0332500-857b-4d6a-874e-50b63b66b387 opened #4402 "[SR-1569] TestGetVariables.py failing on master-next"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1569      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

OS X

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |

[2016-05-20 19:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4403
This is also failing on master.

This started failing with this build and change:
<https://ci.swift.org/job/oss-lldb-incremental-osx/3226/>

Change:
\`\`\`
Pending QOI improvements, reinstate implicit bridging conversions. (details)
Commit 455aa0523dcc5f8b2e02f20a15aed084fc796a48 by jpamer
Pending QOI improvements, reinstate implicit bridging conversions.
The file was modified lib/Sema/CSSimplify.

[2016-05-20 19:34] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4403
Marked XFAIL here:
\`\`\`
commit 11c6dae1d4a070c5c7177757ff156f8f341a8e59 (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<tfiala@apple.com\>
Date: Fri May 20 11:31:38 2016

mark TestSwiftieFormatting.py as XFAIL

Tracked by:
rdar://26394885
swift.org/SR-1568
\`\`\`

[2016-05-25 21:21] swift-ci opened #4523 "[SR-1619] Importing C Modules in REPL fails"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1619      |
   |Radar             | None         |
   |Original Reporter | bhargavg (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

`swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a.xctoolchain` - Mac 10.11.4

</details>

   <details>
  <summary>Additi

[2016-05-26 01:24] belkadan commented on #4523
OS X uses DYLD_LIBRARY_PATH rather than LD_LIBRARY_PATH, but I think you'd still have the same issue.

[2016-05-26 01:25] belkadan commented on #4523
The proper extension for loadable libraries is also "dylib", not "so".

[2016-06-02 21:54] NachoSoto opened #4401 "[SR-1667] Erroneous behavior putting a breakpoint on a function that gets optimized out"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1667      |
   |Radar             | None         |
   |Original Reporter | @NachoSoto      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961402-cdfb81cf-5f76-44cf-90f4-d2af172b9ca6.gz)

<details>
  <summary>Environment</summar

[2016-06-02 22:07] belkadan commented on #4401
@adrian-prantl, any insights?

[2016-06-02 22:27] adrian-prantl commented on #4401
Couple of questions to further triage this:

-   How did you set the breakpoint? (By symbol name, by line+file, ...?)

-   What's the output of "b" in the LLDB console?

-   Do you have any instructions for reproducing the problem? If you could attach a sample project this would be most helpful. If this is not possible, maybe you can attach the .dSYM from the project?

-   Which version of compile

[2016-06-02 22:38] NachoSoto commented on #4401
\> How did you set the breakpoint? (By symbol name, by line+file, ...?)

Clicking on the line number.

\> Do you have any instructions for reproducing the problem? If you could attach a sample project this would be most helpful. If this is not possible, maybe you can attach the .dSYM from the project?

Probably this reproduces the problem:

[code]

\> Which version of compiler and LLDB are you usi

[2016-06-02 22:43] adrian-prantl commented on #4401
Yes, I can confirm that in this case swiftc doesn't generate code for bar and by extension also no debug info for it. This means that the debugger will move the breakpoint forward until the next line that does have code associated with it, which ends up being in a different function in this case.

At -Onone, the function does show up in SIL, but IRGen is dropping it.

[2016-06-02 22:47] NachoSoto commented on #4401
Cool that explains the bug then 🙂 Moving the breakpoint forward isn't expected behavior though, is it?

[2016-06-02 22:48] slavapestov commented on #4401
Can we generate a single unreachable instruction somewhere and stick all debug info for deleted functions there?

[2016-06-02 22:53] adrian-prantl commented on #4401
Short answer: no. At the very least you would need a symbol + at least one (unique) instruction per function for this to work.
(As a horrible hack it might be possible to fake a gigantic inline tree on that unreachable instruction that contains all dead functions, but that's not the right solution for the problem described in this bug.)

[2016-06-02 23:00] gwynne opened #4400 "[SR-1669] Not enough parameters for format string in lldb/source/Core/Mangled.cpp"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1669      |
   |Radar             | None         |
   |Original Reporter | @gwynne      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-06-02 23:07] swift-ci commented on #4401
**Comment by Jim Ingham (JIRA)**

   Moving the breakpoint to the nearest line that generates code is the expected behavior. gdb always did it that way, and so does lldb. People are pretty sloppy about where they put breakpoints, and expect a breakpoint in a comment, or anywhere in the function signature part of a function definition, to migrate to the nearest executable code.

However, lldb has b

[2016-06-02 23:14] swift-ci commented on #4401
**Comment by Kate Stone (JIRA)**

   As Jim points out, sliding breakpoints forward is very much a time-honored tradition. It's basically required since intuition about what lines actually generate code and what lines don't tends to lead people astray.

Eliminating functions entirely at -Onone is much more surprising. This might be a reasonable argument for -Odebug where behavior like this would b

[2016-06-03 01:32] swift-ci commented on #4401
**Comment by Russ Bishop (JIRA)**

   I would argue that the expectation is to slide the breakpoint within the same scope. It is always surprising when it slides to a different function (or to the initialization of a global).

Why can't LLDB ignore the breakpoint if the function itself doesn't exist?

[2016-06-03 02:21] swift-ci commented on #4401
**Comment by Jim Ingham (JIRA)**

   The debugger doesn't do source code analysis. In general, it has no idea how exactly you built this code - e.g. did you define that macro you are \#ifdef'ing this code block with? So doing source code analysis would be fragile. And anyway, the debugger really should live off the debug information since that represents the code as it was compiled.

That means ll

[2016-06-13 23:27] swift-ci opened #4522 "[SR-1743] REPL doesn't handle multiline comments"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1743      |
   |Radar             | None         |
   |Original Reporter | amasad (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Linux ubuntu 15
Swift version 3.0-dev (LLVM b361b0fc05, Clang 11493b0f62, Swift 24a0c3de75)

</details>

   <deta

[2016-06-13 23:28] swift-ci opened #4521 "[SR-1744] REPL doesn't handle readLine"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1744      |
   |Radar             | None         |
   |Original Reporter | amasad (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Linux ubuntu 15
Swift version 3.0-dev (LLVM b361b0fc05, Clang 11493b0f62, Swift 24a0c3de75)

</details>

   <deta

[2016-06-13 23:30] belkadan commented on #4522
Do you need to use the REPL, or can you just use the script interpreter?

    cat test.swift | swift -

[2016-06-13 23:49] swift-ci commented on #4522
**Comment by Amjad Masad (JIRA)**

   As briefly mentioned in the description: I'm using the REPL programmatically, I'm starting the process from my program and writing code through stdin to it and parsing the output. This is because I'm adding support for swift it on my online REPL website: <https://repl.it>

So I need this to be interactive and stateful. The script interpreter exits after it fin

[2016-06-14 18:21] swift-ci opened #4520 "[SR-1751] Debugger shows data not matching the type of a variable"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1751      |
   |Radar             | None         |
   |Original Reporter | nameghino (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/

[2016-06-15 01:48] gwynne commented on #4400
This issue was apparently fixed by Greg Clayton in commit `87089327d968ba247746a9e3f61881a217d17465`.

[2016-06-15 01:58] a0332500-857b-4d6a-874e-50b63b66b387 opened #4399 "[SR-1764] [master-next] TestObjCMethods2.test_NSError_po() gmodules variant fails after merge"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1764      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

macOS El Capitan, 10.11.5 (15F34)

</details>

[2016-06-15 02:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4399
This is using the in-tree clang with compiler-rt included. It's the typical master-next combo:
LLVM: stable-next
clang: stable-next
compiler-rt: stable-next
swift: master-next
LLDB: master-next

Note that at the moment I'm doing this, clang and LLVM haven't been updated in a long while (in merge terms), nor has swift (although more recent than clang/LLVM).

[2016-06-15 02:15] a0332500-857b-4d6a-874e-50b63b66b387 opened #4398 "[SR-1765] [master-next] TestWithModuleDebugging.py fails os macOS after merge"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1765      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

macOS El Capitan, 10.11.5 15F34, in-tree clang, master-next branch

</details>

   <details>
  <summary>Additional Detail f

[2016-06-15 02:15] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4398
This will appear when I commit the master-next merge that I'm wrapping up. I'm making the test xfail in a separate commit that will go up at the same time.

[2016-06-15 02:22] a0332500-857b-4d6a-874e-50b63b66b387 opened #4397 "[SR-1766] [master-next] TestObjCStructArgument.py test_with_python_api() gmodules variant fails after merge"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1766      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

macOS 10.11.5, in-tree clang, master-next branc

[2016-06-15 05:01] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4397
Marked xfail here:

commit ef7a77e91f8c1fd826c76bfef6c2c638f0d7851d (HEAD -\> master-next, origin/master-next, upstream-merge-r272635)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Tue Jun 14 18:23:25 2016

xfail TestObjCStructArgument.py, gmodule variant on macOS

Tracked by:
<https://bugs.swift.org/browse/SR-1766>

[2016-06-15 05:01] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4398
Marked xfail here:

commit 1ff2bdc93edb0606f208313049b7f386a3f72db0
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Tue Jun 14 18:16:18 2016

xfail TestWithModuleDebugging.py on macOS

Tracked by:
<https://bugs.swift.org/browse/SR-1765>

[2016-06-15 05:02] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4399
Marked xfail here:

commit a2d6bb612260bcceaa6e49b52096d193d4c8dd1e
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Tue Jun 14 17:59:28 2016

xfail TestObjCMethods2.test_NSError_po_gmodules() on macOS

Tracked by:
<https://bugs.swift.org/browse/SR-1764>

[2016-06-17 22:26] q-p commented on #4531
As a sort of addendum: This problem occurs when an Apple-provided lldb is launched with a custom python interpreter (e.g. one from homebrew) in the path ahead of the Apple provided system python. Unfortunately, lldb doesn't hard-code the path to the python it wants to use but instead takes the first one it happens to stumble upon in the path (which may be missing the required modules).

Also repor

[2016-06-17 22:26] #4531 closed, assigned to nobody

[2016-06-18 22:44] swift-ci opened #4519 "[SR-1821] REPL hangs when printing a dictionaries"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1821      |
   |Radar             | None         |
   |Original Reporter | amasad (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Ubuntu 15

</details>

[2016-06-20 18:32] belkadan commented on #4520
granataenrico (JIRA User), this is fixed in Swift 3, right?

[2016-06-20 19:06] belkadan commented on #4520
Ah, found it.

[2016-06-20 19:06] #4520 closed, assigned to nobody

[2016-06-20 19:06] #4532 closed, assigned to nobody

[2016-07-06 09:26] swift-ci opened #4518 "[SR-1995] Backspace can't clear the input character at linux REPL cmd line"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-1995      |
   |Radar             | None         |
   |Original Reporter | skyslee2005 (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Fedora 24
Linux localhost 4

[2016-07-08 04:06] benrimmington opened #4517 "[SR-2024] REPL doesn't show warning/error when `try` is redundant or required"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2024      |
   |Radar             | None         |
   |Original Reporter | @benrimmington      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Apple Swift version 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1)

</details>

   <details>
  <summary>Additional D

[2016-07-08 15:52] karwa opened #4516 "[SR-2029] LLDB cannot print anonymous arguments if it stops in a closure"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2029      |
   |Radar             | rdar://problem/20719448         |
   |Original Reporter | @karwa      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Swift 72802617d486ec272569d4ad

[2016-07-08 17:00] belkadan commented on #4516
I think this is a check in the compiler, so it might be as simple as allowing that name in debugger mode. But there might also be parts of the compiler that assume that any identifier of this form must be a closure parameter.

[2016-07-19 12:48] swift-ci opened #4592 "[SR-2111] Crash when using variable as a default value for method in class."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2111      |
   |Radar             | rdar://problem/26978985         |
   |Original Reporter | njuri (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 8.0 beta 3
OS X

[2016-07-20 23:20] swift-ci opened #4591 "[SR-2126] In REPL, cannot redefine type with self-referential static property type. Results in ambiguous type lookup."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2126      |
   |Radar             | None         |
   |Original Reporter | joshstaiger (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

XCode Version 8.0 beta 3 (8S174q

[2016-07-20 23:29] swift-ci opened #4590 "[SR-2127] In REPL, cannot redefine variable when using multi-line input."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2127      |
   |Radar             | None         |
   |Original Reporter | joshstaiger (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

XCode Version 8.0 beta 3 (8S174q)

OS X El Capitan 10.11.6 (15G31)

Apple Swift version 3.0 (swiftlang-800.0

[2016-07-21 14:02] a0332500-857b-4d6a-874e-50b63b66b387 opened #4515 "[SR-2136] LLDB asserting on missing glibc module: Ubuntu, master-next, build layout only"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2136      |
   |Radar             | rdar://problem/27459201         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

swift-lldb/master-next branch,

[2016-07-21 14:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
I'm going to grab this since the most likely candidate for addressing is out this week.

[2016-07-21 14:08] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
The backtrace for the assert looks like this when running one of the Python-driven LLDB tests against a Swift test subject:

(lldb) thread list
Process 18364 stopped
+ thread \#1: tid = 18364, 0x00007f29bbb06267 libc.so.6\`\_\_GI_raise(sig=6) + 55 at raise.c:55, name = 'python', stop reason = signal SIGABRT
(lldb) bt
+ thread \#1: tid = 18364, 0x00007f29bbb06267 libc.so.6\`\_\_GI_raise(sig=6) + 55

[2016-07-21 14:20] a0332500-857b-4d6a-874e-50b63b66b387 opened #4514 "[SR-2137] Poor startup and backtrace performance when debugging a core file on Ubuntu 16.04"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2137      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 16.04 x86_64, swift-lldb/master-next, 24-cores, 20 GB RAM

</details>

   <details>
  <summary>Additional Detail fro

[2016-07-21 14:21] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4514
What's all the more surprising with this one is that we, in general, attempt to do as little work as possible on startup and be as lazy as possible on all heavy-duty work. Thus, regardless of potential slow code paths on Linux, I would have expected the first time to '(lldb)' prompt to have been zippy.

[2016-07-21 14:59] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
The LLDB test suite uses LLDB and Swift out of the build dir configuration — i.e. not the final install layout. I'm checking with a full package build install layout to see if the behavior is different. This might end up being the same root cause that led to me turning off the in-tree REPL tests on Linux several weeks ago. If they are the same, it would be good to fix that.

[2016-07-21 15:52] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
\> The LLDB test suite uses LLDB and Swift out of the build dir configuration — i.e. not the final install layout. I'm checking with a full package build install layout to see if the behavior is different.

That hunch was correct. The LLDB Swift tests all pass when using the install-layout version of lldb. This seems to imply our resource dir lookup logic is not adequate on Linux when attempting t

[2016-07-21 15:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
This issue seems to have the same underlying cause as SR-1300.

[2016-07-21 16:00] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
The work-around here is to use an install-layout lldb and not try to use it directly out of the build dir.

Meanwhile, I'm going to see if I can get a real solution to this.

[2016-07-21 16:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
I'm going to attempt to address this with SR-2136, which looks like the same underlying issue, but covers a much wider range of cases in master-next.

[2016-07-21 16:12] a0332500-857b-4d6a-874e-50b63b66b387 opened #4513 "[SR-2140] TestRegisterVariables.py failing on master-next [Ubuntu]"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2140      |
   |Radar             | rdar://problem/27471527         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 16.04 x86_64, clang 3.6.2-1, swift-lldb/master-next branch.

</details>

   <details>
  <summary>

[2016-07-21 16:15] a0332500-857b-4d6a-874e-50b63b66b387 opened #4512 "[SR-2141] TestThreadExit.py failing on Ubuntu, master-next"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2141      |
   |Radar             | rdar://problem/27471504         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 16.04 x86_64, clang-3.6.2-1, swift-lldb/master-next

</details>

   <details>
  <summary>Addition

[2016-07-21 16:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4513
I xfailed the test here:

commit 04998abc89b484f79bc5390cc48eb66a4cbebcad
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Thu Jul 21 09:17:34 2016 -0600

xfailed TestRegisterVariables.py and TestThreadExit on Linux

bugs.swift.org/SR-2140
bugs.swift.org/SR-2141

[2016-07-21 16:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4512
I xfailed the test here:

commit 04998abc89b484f79bc5390cc48eb66a4cbebcad
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Thu Jul 21 09:17:34 2016 -0600

xfailed TestRegisterVariables.py and TestThreadExit on Linux

bugs.swift.org/SR-2140
bugs.swift.org/SR-2141

[2016-07-21 20:06] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
I managed to make a fix for this. I'm going to run it through a PR after I do a bit more local testing.

[2016-07-21 20:19] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
I have a PR testing this fix on swift-lldb/master-next now:
<https://github.com/apple/swift-lldb/pull/36>

Once I have that tested and submitted successfully, I'll pull this back into swift-lldb/master, and possibly further.

[2016-07-21 20:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
This is working in the swift-lldb/master-next branch, as witnessed in this Ubuntu 15.10 x86_64 build:
<https://ci.swift.org/view/swift-master-next/job/oss-lldb-incremental-linux-ubuntu-15_10-master-next/30/>

It was developed on Ubuntu 16.04 x86_64, so works there as well. I'm waiting on the Ubuntu 14.04 x86_64 builder to work through it. Once those are clear, I'll get this in swift-lldb/master.

[2016-07-21 20:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
I committed a fix for this in swift-lldb/master-next. I'll be pulling this back into the master branch later this afternoon.

[2016-07-21 20:55] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4407
I've got a fix for this in master-next, and will be bringing this into the master branch later today.

Also, closing since it is a duplicate.

[2016-07-21 20:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4407
Closing due to dupe (SR-1300).

[2016-07-21 20:56] #4407 closed, assigned to bitjammer

[2016-07-22 17:54] belkadan commented on #4514
This isn't really the appropriate place to report general bugs about LLDB; that would be <https://llvm.org/bugs.>

[2016-07-22 21:32] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4514
I filed it here because this is the version of LLDB where I saw it. As we do quite an extended set of symbolic lookup that only enters the LLDB codebase in GitHub, I want to first ensure the slowdown didn't come from here.

If it proves to be the case that this is the perf in LLVM.org, then I will of course move this into LLVM.org bugzilla.

[2016-07-23 02:05] rudkx commented on #4592
Fixed in commit ee6c0a737b69853f3053aff34e8d6c8e8206a2b6.

[2016-07-27 16:52] swift-ci opened #4589 "[SR-2192] Swift's LLDB cannot import system modules and prevents debugging"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2192      |
   |Radar             | None         |
   |Original Reporter | bryanpkc (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Swift version 3.0-dev
lldb-loc

[2016-08-31 16:47] swift-ci commented on #4553
**Comment by Pekka Enberg (JIRA)**

   I see the same issue on Fedora 24. I am not sure what the problem is but disabling LLDB Python module installation as follows fixes the problem:

\`\`\`
diff --git a/scripts/CMakeLists.txt b/scripts/CMakeLists.txt
index dd0073c..8492e4d 100644

-   -   -   a/scripts/CMakeLists.txt
            +++ b/scripts/CMakeLists.txt
            @@ -40,8 +40,8 @@ add_cust

[2016-09-14 17:12] swift-ci opened #4588 "[SR-2637] Issue with debugging programs that contain multiple Swift modules"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2637      |
   |Radar             | None         |
   |Original Reporter | dmishe (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961597-

[2016-09-14 17:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
Thanks for giving us more detail here, Dmitry!

I'll track down somebody to expand on options here.

[2016-09-14 18:27] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
HI Dmitry,

I've poked around with a few people over here. The first question is around manually calling clang to do the linking:

Q. Is the only reason that you're calling clang directly to link so that you can avoid getting a dsym built? If so, we have a few options here, which I discussed with @belkadan and @DougGregor:

1\. Modify swiftc linking to avoid calling dsymutil if linking without the

[2016-09-14 18:29] belkadan commented on #4588
To be clear, we already do (1); it's just that it would require two invocations of swiftc. But if you're using Clang to link you're effectively doing that anyway.

[2016-09-14 18:30] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
(Oops, thanks for correcting, Jordan!)

[2016-09-14 18:31] belkadan commented on #4588
Whether or not you can have multiple -add_ast_paths in one file is an LLDB-side issue. Static linking isn't really supported, so it hasn't come up.

[2016-09-14 19:21] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
Greg Clayton, @belkadan and I discussed this a bit. We know we're likely to support static linking anyway, so we're going to take a crack at handling this. We see that the linked file has the multiple ast paths in it. We need to loop over them and feed them to the ast context that we build up internally.

I'm going to have a look and see if I can get that working in the GitHub master-next branches

[2016-09-14 19:23] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
(Dmitry, if this gets quite involved, I may need to pass this off to you to try to implement).

[2016-09-14 19:29] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   That sounds great!

Could you clarify the state of the static linking support? It seems possible to link with the stdlib statically, and SPM links packages statically (not the runtime though), so what is really missing?

Using swiftc to link, with -g, it tries to merge the modules provided into "main" module, and fails:

    $ swiftc out/foo.o out/bar.o

[2016-09-14 19:37] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   Todd, and just to clarify, there's no work around we can try in the meantime, we should look into whether this works with dSYM?

[2016-09-14 19:49] belkadan commented on #4588
Static linking works in limited circumstances, including building a single command-line tool with no non-system dependencies. In other cases (including the package manager), I think we're squeaking by with regards to debugging, or possibly just leaving things on the floor. "It compiles but debugging is utterly broken" doesn't really count as supported. (cc @ddunbar)

I'm sorry, I forgot that swift

[2016-09-14 20:55] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   Oh I misunderstood, linking without -g does not allow me to even specify a swiftmodule input at all. It does not record anything in AST and predictably debugger fails to figure out types.

After more experimentation, I found out that to make this work well I need both dSYM generation and both AST records. After linking, the dSYM product contains a \_\_sw

[2016-09-15 03:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
\> Oh I misunderstood, linking without -g does not allow me to even specify a swiftmodule input at all.

Hmm, @belkadan, I thought we saw differently when we looked at the code this morning?

\> After more experimentation, I found out that to make this work well I need both dSYM generation and both AST records.

dmishe (JIRA User), I would expect that you would need both AST records. If you ran sw

[2016-09-15 04:03] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   When I have one module, yes, -add_ast_path shows up in swiftc link step when invoked with -g. But I can't really figure out how to make it link 2 modules into a binary without merging them. With -g it tries to merge swiftmodule inputs as I mentioned, and without -g it does not care about modules at all.

I can manually construct the link step using `clan

[2016-09-15 04:13] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
With the binaries you attached, Greg Clayton and I were able to see all the ast path info we needed I thought. So your initial usage scenario is what I'm hoping to get working on the LLDB side (with the caveat that it might incur a required change on the Swift side, we'll know soonish).

[2016-09-15 04:41] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   Just to clarify, this is what I mean by saying that swiftc won't accept swiftmodules without -g:

    $ swiftc out/foo.o out/bar.o out/main.o out/Foo.swiftmodule out/Bar.swiftmodule
    <unknown>:0: error: unexpected input file: out/Foo.swiftmodule
    <unknown>:0: error: unexpected input file: out/Bar.swiftmodule

[2016-09-15 06:43] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
dmishe (JIRA User), side comment: nice job putting together the repro zip file! I've put together a potential implementation to try tonight, and getting the setup for the failure is very simple with your scripts.

[2016-09-15 07:15] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
I'm working on the trial solution here:
<https://github.com/tfiala/swift-lldb/tree/SR-2637>

I've got at least one TODO left, and the code currently asserts in what may be fallout from the bit I glossed over. I'll get back to this in the morning, and I plan to enable a fair amount of additional logging.

[2016-09-15 16:12] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
I've attached <a href="build.sh" class="attachment">build.sh</a>, which I modified a bit, so that it explicitly calls out the just-built LLDB and Swift, and sets the SDK path properly. It would need to be tweaked for a different developer's build dir. With LLDB and Swift, it is essential that they both match (i.e. are built from the same point in time in the source trees), and since I'm testing ch

[2016-09-15 19:15] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
I have a fix that seems to work with the original reported bug.

I need to run the rest of the test suite, address any issues there, and bundle up this example as a test. Then I'll put up a PR with the fix.

[2016-09-15 23:57] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
Jordan Rose, Greg Clayton and I talked about this some more. Based on that, I cloned this ticket to represent some enhancements Jordan suggested for the driver to better support this scenario. Those changes are not necessary to get this issue here to work, though.

The changes I made in my branch are not quite what we want yet. I need to call \`\`\`CompilerInvocation.loadFromSerializedAST(...)\`\`

[2016-09-16 01:50] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
\> I'm looking into seeing if the -add_ast_path is stable

The -add_ast_path command-line arguments seem to be stable on the Xcode 8 linker and look to appear in the order specified on the command line. Given this, you'd want to have the most-representative .swiftmodule (i.e. the module that best represents the executable binary) as the first .swiftmodule on the command line. Essentially on macOS

[2016-09-16 01:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4555
Abandoning as I don't see this as being critical. Somebody else can feel free to pick this up if they want.

[2016-09-16 01:54] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4515
This was fixed a while back.

[2016-09-16 01:55] #4515 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-09-16 01:55] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4408
This was fixed a while back.

[2016-09-16 01:55] #4408 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-09-16 01:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4410
Abandoning as I don't really have insight into the cmake/ninja interactions occurring here. Somebody else can feel free to pick this up.

[2016-09-16 01:59] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4409
We tracked this down as being an issue where the lit test was incorrectly stating a requirement as "skip the test if the requirement isn't met" instead of "this mandatory test must be run, and if a requirement isn't there, this test will fail."

[2016-09-16 02:00] #4409 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-09-16 02:02] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4535
These tests are still skipped on Ubuntu.

[2016-09-16 02:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
These are still XFAILed and still failing on macOS.

[2016-09-16 02:04] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4533
These tests are still skipped on Ubuntu.

[2016-09-16 02:06] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4404
These are marked XFAIL but are passing on swift-lldb/master macOS CI. I'll take off the XFAIL here.

[2016-09-16 02:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4404
The test was fixed a while back.

I just removed the XFAIL marker here:

commit 80082a84bd833bbdda5ae73e43ee015bafaab8fb (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Thu Sep 15 18:10:52 2016

un-XFAIL TestSwiftCrossModuleExtension.py on macOS

This test is now passing on macOS.

Addresses:
rdar://26018792
<https://bugs.swift.org/browse/SR-1525>

[2016-09-16 02:14] #4404 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-09-16 03:49] swift-ci commented on #4588
**Comment by Dmitry Shevchenko (JIRA)**

   Thanks for your work!

It's great that this functionality will find its way into the driver. I am happy to help be it testing or providing more details about what our builds look like.

Luckily, our swiftmodules are all compiled with exactly the same flags, against the same SDK, so we'll just reference them all.

That said, while playing with this setup

[2016-09-16 06:27] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
I've got the code in a PR here:
<https://github.com/apple/swift-lldb/pull/53>

\> Luckily, our swiftmodules are all compiled with exactly the same flags, against the same SDK, so we'll just reference them all.

Yes, regardless you do need to specify all the .swiftmodule files. While only the first one is used to initialize some critical one-time information, all of them are used to scan for other

[2016-09-16 22:41] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
I've implemented the tests for macOS for this. I'm running them through CI via the PR now.

[2016-09-17 19:33] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4588
The support went into swift-lldb here:
<https://github.com/apple/swift-lldb/commit/88e778c6abf65dba49d0a028f2f9f794407d6d1a>

The original tests hit an issue with file paths on the CI. I had to revert out the tests, then put them back in here:
<https://github.com/apple/swift-lldb/commit/5d6a3ea8a7a5a153a7f3ea8a0b626f9fc6952b07>

[2016-09-17 19:34] #4588 closed, assigned to a0332500-857b-4d6a-874e-50b63b66b387

[2016-09-19 22:08] swift-ci commented on #4519
**Comment by Amjad Masad (JIRA)**

   Any updates on this? It's pretty bad that dictionaries can't be used in the repl

[2016-09-22 00:33] Jeehut opened #4511 "[SR-2725] LLVM ERROR: Broken function found, compilation aborted!"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2725      |
   |Radar             | rdar://problem/28565158         |
   |Original Reporter | @Jeehut      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 8, macOS Sierra, Swift

[2016-09-22 01:07] belkadan commented on #4511
cc @adrian-prantl

[2016-09-22 01:18] adrian-prantl commented on #4511
Potentially the same issue as rdar://problem/2823713 and rdar://problem/26955467.

[2016-09-22 18:18] adrian-prantl commented on #4511
No, this is new and different.

[2016-09-22 19:46] swift-ci opened #4587 "[SR-2731] REPL - invalid output when initializing an enumeration from a raw value"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2731      |
   |Radar             | None         |
   |Original Reporter | benjamin (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Swift build number: Apple Swift ver

[2016-09-24 22:58] rudkx commented on #4592
Can you confirm this is fixed, and close if so?

[2016-09-26 23:36] swift-ci opened #4586 "[SR-2764] LLDB fails to to import a Clang module imported into Swift"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2764      |
   |Radar             | None         |
   |Original Reporter | dmishe (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961633-

[2016-09-26 23:39] swift-ci commented on #4586
**Comment by Dmitry Shevchenko (JIRA)**

   @trfiala, this might be related to <https://bugs.swift.org/browse/SR-2637>

[2016-09-28 17:53] swift-ci opened #4585 "[SR-2783] REPL crashes due to bad permissions CoreFoundation header files (Ubuntu)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2783      |
   |Radar             | None         |
   |Original Reporter | qwerty (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/16496163

[2016-09-28 21:19] belkadan commented on #4585
'help' and ':help' are different but that shouldn't be the problem here.

[2016-09-29 03:28] swift-ci opened #4584 "[SR-2789] lldb-rpc-server crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2789      |
   |Radar             | None         |
   |Original Reporter | ewconnell (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961640-c12fb878-771d-4375-a5c9-3ff707e3d2d0.gz)

<details>
  <summary>Environm

[2016-09-29 03:50] belkadan commented on #4584
Can you attach the project, and if so are there steps that reliably reproduce the issue?

[2016-09-29 04:54] swift-ci commented on #4585
**Comment by Alex (JIRA)**

   Actually, it crashes no matter the input, 1 + 1 results in a crash as well. Anyway I can get a core dump?

Not sure if useful, but just in case
strace -o output.txt swift
Welcome to Swift version 3.0 (swift-3.0-RELEASE). Type :help for assistance.
1\> 1 + 1
Segmentation fault (core dumped)
attached, the strace output...

tail output.txt
......
clone(child_stack=0x7f2

[2016-09-29 05:00] swift-ci commented on #4585
**Comment by Alex (JIRA)**

   :help actually does work though... so are commands preceded by ':'...
code such as let d = "test" result in crash

[code]

[2016-09-29 06:49] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4586
dmishe (JIRA User), hmm not sure. Have you tried this with a macOS package that includes the fix that went in SR-2637? Do you get the same behavior? The swift-lldb master branch is now quite a bit ahead of the swift 3.0 release's corresponding LLDB, and includes the SR-2637 change, so there is certainly potential for lookups to be handled differently given all the changes that came in from LLVM.or

[2016-09-29 16:27] swift-ci commented on #4584
**Comment by Edward Connell (JIRA)**

   Hi Jordan, I'm sorry I can't attach the project.
I was trying to print the value of a class member variable whose type is an implicitly unwrapped protocol.
Over the past 6 months I have found in many cases that doing things with variables of a protocol type cause the debugger or compiler to crash. So most of the time I have had to substitute a concrete base

[2016-09-29 17:13] swift-ci commented on #4584
**Comment by Edward Connell (JIRA)**

   I added another crash log while trying to print the value of a different member variable, which was of a concrete class type.

[2016-09-29 20:33] swift-ci commented on #4586
**Comment by Dmitry Shevchenko (JIRA)**

   Reproduces on swift-DEVELOPMENT-SNAPSHOT-2016-09-27-a.xctoolchain. I suppose it's not that related.

[2016-09-30 05:17] swift-ci commented on #4585
**Comment by Alex (JIRA)**

   Hi Jordan,

I've tried on my own machine, seems to be working fine... but it's a 16.04. I know, it's not the right one, but can't really wait to get my stuff running on AWS Ubuntu 14.04.

I think I'm going to switch to the Swift-PREVIEW on 16.04 - and wait until it's released - so everything is clean.

I think there's a problem with 3.0 GA on AWS- ubuntu, not sure wh

[2016-09-30 10:08] Jeehut commented on #4511
Any idea when I can expect this one to be looked at? Quite some people are relying on the framework and I can't release a new version without this being fixed or at least finding a workaround...

Thank you for your help!

[2016-09-30 16:29] adrian-prantl commented on #4511
I'm still investigating this. The crash does no longer reproduce with the head of swift master (or the swift-3.0-branch) but I have no reason to believe that it is actually fixed. It looks more like the situation is less likely to occur.

[2016-10-02 00:24] NachoSoto opened #4510 "[SR-2818] "open" visibility ignored in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2818      |
   |Radar             | None         |
   |Original Reporter | @NachoSoto      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961648-30f630

[2016-10-03 18:25] belkadan commented on #4510
granataenrico (JIRA User), I seem to remember LLDB implicitly setting things to `public` in the past. Should that be `open` now, where applicable? (Unfortunately, we can't just splatter 'open' over everything.)

We could also consider cheating: make everything in LLDB files "compiled for testing" and then use testable imports for the previous-line modules.

[2016-10-03 19:49] swift-ci commented on #4589
**Comment by Matthew Burke (JIRA)**

   I've encountered the same issue in the following environment:

swift -v: Apple Swift version 3.0 (swiftlang-800.0.46.2 clang-800.0.38)
Target: x86_64-apple-macosx10.9
lldb -v: lldb-360.1.50
OS: El Capitan (10.11.6)

[2016-10-03 22:07] adrian-prantl commented on #4511
<https://github.com/apple/swift/pull/5106>

[2016-10-04 18:08] adrian-prantl commented on #4511
You should be able to work around the problem by turning the top-level closure in the CLI client into a standalone function.

[2016-10-04 18:09] adrian-prantl commented on #4511
<https://github.com/apple/swift/pull/5106>

[2016-10-04 20:11] Jeehut commented on #4511
Thank you @adrian-prantl both for fixing the bug and giving me a workaround. It worked like a charm! 🙂

[2016-10-07 18:58] swift-ci opened #4583 "[SR-2891] Cannot build desktop swift-lldb - unknown setting: cmark-cmake-options"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2891      |
   |Radar             | None         |
   |Original Reporter | rexmas (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Macbook Pro Retina, Mac OSX 10.11.6 (15G1004), Xcode 8

</details>

   <details>
  <summary>Additional Detail fro

[2016-10-10 20:31] swift-ci commented on #4586
**Comment by Dmitry Shevchenko (JIRA)**

   @trfiala what is the canonical way for LLDB to discover and load Clang modules? I would like to debug this issue some more and some pointers would be really helpful.

[2016-10-12 22:06] adrian-prantl commented on #4511
Also tracked as rdar://problem/28565158.

[2016-10-12 23:41] #4511 closed, assigned to adrian-prantl

[2016-10-15 13:17] swift-ci opened #4582 "[SR-2965] LLDB build script mistake"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2965      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649616

[2016-10-15 14:05] swift-ci commented on #4582
**Comment by Vladislav Dembskiy (JIRA)**

   Simple workaround is to temporary rename host llvm-config and to remove lldb-linux-x86_64 directory from ... build/buildbot_linux.
In this case the build script will use just build LLVM.
According to the build log the script still uses host clang which is outdated. I do not know yet is it acceptable?

[2016-10-19 16:46] swift-ci opened #4581 "[SR-2989] Multi-line function chains evaluated before breakpoint hits"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-2989      |
   |Radar             | rdar://28883410         |
   |Original Reporter | rosslebeau (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Won't Do    |

<details>
  <summary>Environment</summary>

Swift 3.0
macOS 10

[2016-10-21 02:01] belkadan commented on #4581
@adrian-prantl, granataenrico (JIRA User), what do you think?

[2016-10-21 02:58] adrian-prantl commented on #4581
From the description this definitely sounds like a compiler bug.

[2016-10-22 13:18] swift-ci commented on #4582
**Comment by Vladislav Dembskiy (JIRA)**

   I did clone everything today and repeated the build. The problem is disappeared so I close the issue. Thank you.

[2016-10-22 13:19] swift-ci commented on #4582
**Comment by Vladislav Dembskiy (JIRA)**

   I am not able to reproduce the issue using new repository cloned on 22nd of October 2016.

[2016-10-22 13:19] #4582 closed, assigned to nobody

[2016-10-22 16:48] swift-ci opened #4580 "[SR-3020] Build script errors with two Python versions on Gentoo"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3020      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Linux ved-hp-gentoo 4.4.

[2016-10-29 13:03] swift-ci opened #4579 "[SR-3080] Function parameter does not have correct values in the debugger"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3080      |
   |Radar             | None         |
   |Original Reporter | Burtan (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

XCode 8.1, Swift 3

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2016-10-31 17:29] belkadan commented on #4579
Can you attach your project?

[2016-11-01 19:22] shahmishal opened #4509 "[SR-3103] TestProcessAttach.py FAILED"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3103      |
   |Radar             | None         |
   |Original Reporter | @shahmishal      |
   |Type              | Bug    |
   |Status            | In Progress        |
   |Resolution        |     |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961726-f41b79

[2016-11-01 19:44] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4509
Strange, the failure was because there were two processes with the given name running, so the attach didn't know which one to use:

\`\`\`
os command: make clean
with pid: 30718
stdout: rm -f main.o main.d main.d.tmp main.dwo
rm -f "ProcessAttach"

stderr:
retcode: 0

os command: make MAKE_DSYM=NO ARCH=x86_64 CC=/home/buildnode/jenkins/workspace/oss-swift-3.0-package-linux-ubuntu-15_10/build/build

[2016-11-01 19:46] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4509
I also just attached the full set of logs from the builder before it gets blown away. (We need to adjust the CI to save the test results as artifacts...)

[2016-11-01 19:56] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4509
My best guess here is the following:

1\. The test is not marked as no-debug-info, so it runs 2+ times (serially), once for dwarf, once for dwo, anything else Linux uses.
2. The previous test has finished, but the ProcessAttach process has not yet entirely gone away, at least as far as 'ps' and the proc table are concerned.
3. Our attach in the second+ run see the ProcessAttach test inferior still

[2016-11-01 20:03] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4509
I put in a fix in LLVM.org LLDB svn trunk (r285726):
\`\`\`
commit 534469037734db8444ea3f7d7158430c55c94cbb (HEAD -\> master, origin/master, origin/HEAD)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Tue Nov 1 11:50:34 2016

change ProcessAttach test to no-debug-info

Fixes:
<https://bugs.swift.org/browse/SR-3103>

git-svn-id: <https://llvm.org/svn/llvm-project/lldb/trunk@285726> 91177308-0d34

[2016-11-06 17:45] swift-ci opened #4578 "[SR-3147] Trojan found in swift-lldb source"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3147      |
   |Radar             | None         |
   |Original Reporter | hexdreamer (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Invalid    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2016-11-07 23:52] belkadan commented on #4578
I'm pretty sure this is bogus. It's a test file. But just in case…jingham@apple.com (JIRA User)

[2016-11-08 00:07] swift-ci commented on #4578
**Comment by Jim Ingham (JIRA)**

   I forwarded this to lldb-dev where most of the Windows developers of lldb hang out. I'll relay back if I hear anything.

[2016-11-08 00:31] swift-ci commented on #4578
**Comment by Jim Ingham (JIRA)**

   Zachary says:

The source code is here:

<https://llvm.org/svn/llvm-project/lldb/branches/google/testing/unittests/SymbolFile/PDB/Inputs/test-pdb.cpp>

And it definitely does nothing. Most of these AV are heuristic, it's probably suspicious about the fact that it's linked with unusual settings (ie /nodefaultlib) which we did in order to minimize the binary size

[2016-11-08 00:34] swift-ci commented on #4578
**Comment by Jim Ingham (JIRA)**

   This is a slightly odd do nothing test program. It is fooling some AV program, but we don't want to have it do more than nothing to work around the AV identification or the file will get considerably bigger.

[2016-11-08 00:34] #4578 closed, assigned to nobody

[2016-11-09 19:39] swift-ci opened #4577 "[SR-3169] lldb stops working when C module includes a header outside of module's include/ dir"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3169      |
   |Radar             | None         |
   |Original Reporter | zmeyc (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Invalid    |

<details>
  <summary>Environment</summary>

OS X, Xcode 8.2 beta (8C23)

</detail

[2016-11-10 19:38] swift-ci commented on #4577
**Comment by Andrey Fidrya (JIRA)**

   UPDATE: debugging works if C module is in a separate repository. So, this problem is only present if there are two modules in Sources/ dir of the same repo.

[2016-11-10 23:58] NevinBR opened #4508 "[SR-3179] SourceKitService and lldb-rpc-server crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3179      |
   |Radar             | None         |
   |Original Reporter | @NevinBR      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Xcode 8.1 (8B62)
OS X 10.11.6
Apple Swift ve

[2016-11-11 00:03] NevinBR commented on #4508
Closed as duplicate

[2016-11-11 00:03] #4508 closed, assigned to nobody

[2016-11-11 04:28] a0332500-857b-4d6a-874e-50b63b66b387 opened #4507 "[SR-3181] [master-next] TestObjCNewSyntax.py failing for gmodules variant"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3181      |
   |Radar             | None         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961746-9ee476fd-9fad-4244-a16f-4ed5b56f2dbe.gz)

<details>
  <summary>Environment</summary>

[2016-11-11 04:29] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4507
@adrian-prantl, you might be interested in this. It happens in the gmodules variant of the test run.

[2016-11-11 04:35] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4507
xfailed the test here:

commit fda17b34fba72f5f4530444eb1e70fda68cebaff (HEAD -\> master-next, origin/master-next)
Author: Todd Fiala \<todd.fiala@gmail.com\>
Date: Thu Nov 10 20:31:44 2016

xfail TestObjCNewSyntax.py gmodules variant

Tracked by:
<https://bugs.swift.org/browse/SR-3181>

[2016-11-11 04:38] a0332500-857b-4d6a-874e-50b63b66b387 opened #4506 "[SR-3182] [master-next] macOS CI failure on most python tests"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3182      |
   |Radar             | rdar://problem/29230692         |
   |Original Reporter | @trfiala      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Invalid    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2016-11-11 04:41] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4506
I have tried building and running both the CI way (i.e. the Swift build-script-driven build) and with the Xcode-driven build. In both cases, I have not yet been able to reproduce these failures.

[2016-11-12 01:48] belkadan commented on #4577
Jim I and I looked into this a bit today and discovered that LLDB is (rightfully) refusing to import 'CLib' because it contains references to thirdpartylib.h, which is not part of any module. The compiler would reject this too, except for the module map stuck inside the Sources/CLib/ directory, which would normally be ignored if it weren't for an extra, possibly-mistaken search path to that direct

[2016-11-12 02:13] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4506
Greg and I tracked down what's going on. The CI is exposing a bug that doesn't happen on LLDB developer systems. The Swift CI is using the system's Xcode-provided, Apple-signed debugserver and copying it into the just-build LLDB.framework. Thus, the new lldb client just built by the CI uses a privileged debugserver that is slightly older. This is always supposed to work, as we are frequently in a

[2016-11-12 12:14] swift-ci opened #4576 "[SR-3192] LLDB can't access the value of an associated type variable"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3192      |
   |Radar             | rdar://problem/38536309         |
   |Original Reporter | adtrevor (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Xcod

[2016-11-12 17:16] swift-ci opened #4655 "[SR-3195] [UI/UX bug] REPL's "Print" phase turns pathological on non-trivial objects"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3195      |
   |Radar             | None         |
   |Original Reporter | hhas01 (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961751-77136e34-7900-40b9-a55a-8e68aa035839.gz)

<details>
  <summary>Environment

[2016-11-12 20:26] swift-ci opened #4654 "[SR-3197] Latest snapshot (11/11) fails to run on Ubuntu 16.04"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3197      |
   |Radar             | None         |
   |Original Reporter | babt (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Ubuntu 16.04

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2016-11-16 02:57] swift-ci opened #4653 "[SR-3217] REPL rejects most Unicode characters"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3217      |
   |Radar             | None         |
   |Original Reporter | collinhundley (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2016-11-18 15:31] swift-ci opened #4652 "[SR-3242] Dead link on https://swift.org/contributing/#llvm-and-swift"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3242      |
   |Radar             | None         |
   |Original Reporter | erica (JIRA User)      |
   |Type              | Task    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2016-11-18 16:46] belkadan commented on #4652
I imagine this is because the LLDB coding conventions are changing. Linking to an old version of the page isn't really the right answer.

[2016-11-23 16:17] swift-ci commented on #4589
**Comment by Shmuel Kallner (JIRA)**

   We ae experiencing this same issue with Kitura's sample Kitura-Sample.This happens with either Kitura-Sample 1.2, which uses Kitura 1.2 which has a dependency with C code in the same repositories as Swift code. However, this also happens with Kitura-Sample 1.1, which uses Kitura 1.1, which in turn has all C code in separate repositories.

My environment on

[2016-11-23 17:46] swift-ci commented on #4654
**Comment by Valeriy Kliuk (JIRA)**

   The same issue appears on Ubuntu 16.10:
\~$ swift
/home/demo/swift-DEVELOPMENT-SNAPSHOT-2016-11-15-a-ubuntu16.10/usr/bin/lldb: error while loading shared libraries: liblldb.so.4.0.0: cannot open shared object file: No such file or directory

[2016-11-26 15:11] swift-ci opened #4651 "[SR-3274] Failed to launch REPL process on LFS"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3274      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

uname -a
Linux hp-ved-lf

[2016-12-02 20:32] swift-ci commented on #4651
**Comment by Vladislav Dembskiy (JIRA)**

   I did reproduce the problem with more debug information. Today repository clone
All test passed except of one. I have already reported them in two bug reports about Gentoo and LFS: SR-3273 and SR-2966

Current version:
ved \[ \~ \]$ swift --version
Swift version 3.0-dev (LLVM 935a554dfe, Clang ef30802eb3, Swift 03e8394593)
Target: x86_64-unknown-linux-g

[2016-12-02 23:07] phausler opened #4396 "[SR-3320] LLDB does not properly inspect struct Data after refactoring"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3320      |
   |Radar             | rdar://problem/29491016         |
   |Original Reporter | @phausler      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2016-12-04 13:28] swift-ci commented on #4654
**Comment by Sidney Beekhoven (JIRA)**

   I fixed this on my system by adding a swift.conf file in /etc/ld.so.conf.d/ with the path to the usr/lib folder in the unpacked swift folder. So eg when you unpack the archive in /home/swift/swift-DEVELOPMENT-SNAPSHOT-2016-12-01-a-ubuntu16.10, you need to add a line in the conf file like this:

**/home/swift/swift-DEVELOPMENT-SNAPSHOT-2016-12-01-a-ubuntu1

[2016-12-08 10:32] swift-ci opened #4650 "[SR-3369] Swift's LLDB error: failed to get module 'My_App' from AST context"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3369      |
   |Radar             | None         |
   |Original Reporter | Dmitrue (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

macOS 10.12.1 (16B2555)
Apple Swift version 3.0.1 (swiftlang-800.0.58.6 clang-800.0.42.1)
Target: x86_64-apple-m

[2016-12-09 18:01] swift-ci opened #4649 "[SR-3380] Cannot attach to a local Swift process using lldb on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3380      |
   |Radar             | None         |
   |Original Reporter | rolivieri (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Invalid    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649

[2016-12-11 02:19] swift-ci opened #4648 "[SR-3392] Problem when using REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3392      |
   |Radar             | None         |
   |Original Reporter | pablolmiranda (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2016-12-11 04:26] swift-ci opened #4647 "[SR-3393] assertion failure during autocomplete"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3393      |
   |Radar             | None         |
   |Original Reporter | mgritter (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift version 3.0.1 (swift-3.0.1-RELEASE)
Target: x86_64-unknown-linux-gnu
Ubuntu 16.04.1

</details>

   <deta

[2016-12-13 00:50] belkadan commented on #4648
cc jingham@apple.com (JIRA User)

How are you invoking the REPL? Which Xcode do you have installed? Do you have command-line tools installed?

[2016-12-14 17:12] swift-ci opened #4646 "[SR-3420] lldb - "frame variable" does not return list of variables"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3420      |
   |Radar             | None         |
   |Original Reporter | rolivieri (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Invalid    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649

[2016-12-28 18:54] swift-ci commented on #4585
**Comment by Eric Sheppard (JIRA)**

   I got this crash in the REPL too, but with a stock Ubuntu 16.04 AWS EC2 instance. It basically would crash on any Swift code at all such as "1+1".

Then later after trying the 'swift build' command and getting an error about a header file in .../usr/lib/swift/CoreFoundation, i discovered the permissions of the header files in that directory were not readable

[2016-12-28 21:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4509
Pulling myself off of this - no longer with Apple.

[2016-12-28 21:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4533
Pulling myself off of this - no longer with Apple.

[2016-12-28 21:14] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4544
Pulling myself off of this - no longer with Apple.

[2016-12-28 21:15] a0332500-857b-4d6a-874e-50b63b66b387 commented on #4535
Pulling myself off of this - no longer with Apple.

[2017-01-03 16:09] swift-ci commented on #4651
**Comment by Vladislav Dembskiy (JIRA)**

   I close the issue because current I have build sucessfully Swift on current version of development versions of LFS and BLFS. Still one test failure but REPL is working.

[2017-01-05 23:06] swift-ci commented on #4586
**Comment by Dmitry Shevchenko (JIRA)**

   After some poking at this, it looks like I was missing debug info in .swiftmodule, adding

     -Xfrontend -serialize-debugging-options

Fixes the issue.

[2017-01-05 23:06] #4586 closed, assigned to nobody

[2017-01-06 11:35] swift-ci opened #4645 "[SR-3564] Cannot display String:"OK" when using REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3564      |
   |Radar             | None         |
   |Original Reporter | gomi_ningen (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-01-10 19:36] swift-ci opened #4644 "[SR-3596] Cannot launch process remotely - lldb"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3596      |
   |Radar             | rdar://problem/42734612         |
   |Original Reporter | rolivieri (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961827-c46a9734-119c-42e9-a079-48228b846d59.gz)

<details>

[2017-01-18 09:57] alblue commented on #4593
The ability to specify a suffix for lldb was added here:

<https://github.com/apple/swift-lldb/commit/35bb23f7d04f3db1015ac8ce718c2400aaed15c9>

Specifically, it added an LLVM_LIBDIR_SUFFIX flag that could be used to have /lib/ or /lib64/ as appropriate.

-    set(LLVM_LIBRARY_OUTPUT_INTDIR ${CMAKE_BINARY_DIR}/${CMAKE_CFG_INTDIR}/lib)
    + set(LLVM_LIBRARY_OUTPUT_INTDIR ${CMAKE_BINARY_DIR}/${CMAK

[2017-01-22 17:12] swift-ci commented on #4651
**Comment by Vladislav Dembskiy (JIRA)**

   With the current versions of LFS and Swift the problem appeared again.
The error message:
ved \[ \~ \]$ swift
error: failed to launch REPL process: process exited with status -1 (debugserver died with signal SIGSEGV)

ved \[ \~ \]$ uname -a
Linux hp-ved-lfs 4.9.5 \#1 SMP Sun Jan 22 18:46:36 MSK 2017 x86_64 GNU/Linux

ved \[ \~ \]$ lldb --version
lldb ve

[2017-01-28 01:45] swift-ci opened #4643 "[SR-3770] Swift REPL: Automatically printed description of indirect enum is incorrect and may cause infinite loop"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3770      |
   |Radar             | None         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

macOS 10.12.3 (16D32),
Swift 3.0.2 (sw

[2017-01-28 04:09] belkadan commented on #4643
Reproduces on master. @jckarter, is this a known runtime issue, or an issue with mirrors, or something that really is LLDB's fault?

[2017-01-28 17:01] jckarter commented on #4643
I think LLDB does its own handling of these. jingham@apple.com (JIRA User)?

[2017-01-30 19:04] swift-ci commented on #4643
**Comment by Jim Ingham (JIRA)**

   This is a data formatter issue, not specific to the REPL. I'm currently investigating this problem.

[2017-01-30 21:29] swift-ci opened #4642 "[SR-3794] import Glibc does not work from the swift 3.1-dev REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3794      |
   |Radar             | None         |
   |Original Reporter | Ronnquist (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Ubuntu 16.10
swift -v
Swift versio

[2017-01-30 21:52] belkadan commented on #4642
Does this also fail when trying to compile a file, or is it just the REPL?

[2017-01-30 21:53] belkadan commented on #4642
(This failure usually means the clang/ folder inside Swift's resource dir—usually lib/swift/—is missing.)

[2017-01-30 22:57] swift-ci commented on #4642
**Comment by Peter (JIRA)**

   For me it works when I compile a file, but fails in the REPL.

[2017-01-30 23:02] swift-ci commented on #4642
**Comment by Peter (JIRA)**

   This was actually reported by Chris Double in December 2016:

<https://lists.swift.org/pipermail/swift-users/Week-of-Mon-20161219/004206.html>

He wrote:

---------------~~~~8\<~~~~----------------

If I explicitly pass include paths to 'swift' it works in the REPL:

---------------~~~~8\<~~~~----------------
$ swift -I/home/user/swift-install/usr/lib/swift/clang/in

[2017-01-30 23:09] belkadan commented on #4642
Okay, retagging as LLDB.

[2017-01-31 07:07] gottesmm commented on #4642
@belkadan Whatever we should do, we should see why the integration tests did not catch this. The integration tests before we send out the package is supposed to run something in the repl. Maybe it is running it in the old repl?

[2017-02-02 11:14] swift-ci commented on #4510
**Comment by Jin Wang (JIRA)**

   Is this going to be fixed or is it an intended result?

[2017-02-03 02:07] swift-ci commented on #4585
**Comment by Mason Mark (JIRA)**

   I just noticed this same issue (with latest Swift 3.1 snapshot for Ubuntu 16.04), and verified that it is just the CoreFoundation headers in the tarball that cause the crashes. Once identified, it is easy to fix, but should be fixed in the tarball itself.

(Note that this issue probably manifests for many users, but not others, depending on how their UNIX users

[2017-02-03 02:22] belkadan commented on #4585
@shahmishal, any ideas why the permissions would get messed up like this?

[2017-02-04 14:11] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   @alex, this problem is still happening

Im not sure how to apply your fix,

Im setting up a new project on github to build swift on fedora25, it will support using a docker container.

But this is the only test that fails, and with a few workarounds by running the build-script with tests disabled, and then hacking the build result a bit, then running it

[2017-02-04 14:14] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

[code]

[2017-02-05 12:41] swift-ci opened #4641 "[SR-3864] Interpreter crashes when undeclared typealias is used (and errors), declared, then used again"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3864      |
   |Radar             | None         |
   |Original Reporter | C0deH4cker (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift REPL from Apple Swift version 3.0.2 (swiftlang-800.0.63 clang-800.0.42.1), running on macOS 10.12.2 (16

[2017-02-06 09:45] alblue commented on #4593
Will investigate further regarding this test. If you have an easy way of reproducing it with a docker container, that would be very helpful.

Fortunately it's testing a standalone tool that helps symbolicate crash references, rather than being part of the core Swift runtime, so if this is the only test that fails then you should be good to go.

[2017-02-06 14:37] swift-ci opened #4640 "[SR-3874] lldb-rpc-server crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3874      |
   |Radar             | None         |
   |Original Reporter | aaroncrespo (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164961889-83222f49-ec66-4171-b336-8ce6766a72ce.gz)

<details>
  <summary>Enviro

[2017-02-06 16:11] swift-ci commented on #4640
**Comment by aaron crespo (JIRA)**

   I can't include the projects but I can describe how they are setup.

Create Framework project, `SUPPORTED_PLATFORMS: [watchsimulator watchOS iphonesimulator phones appletvsimulator appletvos]`
Using carthage add some Library dependencies (that are swift) (for example RxSwift, Quick, Nimble)
Link them according to carthage Documentation
`$ carthage bootstrap`

[2017-02-06 23:57] belkadan commented on #4640
These are the usual "crashing in deserialization" bugs when we don't have sensible build settings, or where one of the frameworks appears to have changed.

[2017-02-07 01:26] belkadan commented on #4642
jingham@apple.com (JIRA User), who should be looking at this?

[2017-02-07 14:55] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   I tried to reproduce the Fedora 24 compilation & `symbolicate-linux-fatal` failure using <https://github.com/FedoraSwift/fedora-swift> and fedora:24 docker image. I hit number of missing packages not provisioned by `swiftbuild.sh setup`. So far I added the following:

[code]

That's still not enough, current failure is:

[code]

I'll try <htt

[2017-02-07 15:29] ZevEisenberg opened #4395 "[SR-3886] error: use of undeclared type '$__lldb_context' in NSAttributedString extension"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3886      |
   |Radar             | rdar://problem/35003001         |
   |Original Reporter | @ZevEisenberg      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-02-07 15:53] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   Tried building fedora-swift2 with the following `buildswift` config:

[code]

However, this fails rather quickly with:

[code]

Seems like the following comment is invalid:
<https://github.com/FedoraSwift/fedora-swift2/blame/1154b5e67fedc5db67cffb4d6ee54213c0680277/README.md#L76>

I'll do a bit more work to progress, but would appreciate bett

[2017-02-07 16:18] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   hmmm, i though i fixed this, i will test timorrow, i just build a cooy on fedora 25 of swift-3.1-branch which worked fine.

[2017-02-07 16:21] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Note, even getting past this problem, there are a bunch of issues in the module-import side of the compiler, where it makes a bunch of assumptiins about versiins and layout of gcc that are only true on ubuntu, fedora has gcc6 ubuntu is still running gcc5 . But at least we can get this one sorted.

[2017-02-07 17:04] belkadan commented on #4395
cc jingham@apple.com (JIRA User), nicely-reduced test case here.

[2017-02-07 17:09] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   I tried fedora-swift2 with the following `bulidswift`:

[code]

That progressed much further, but still failed. This time with:

[code]

Like before, thawkins (JIRA User), if you can provide me with a reliable repro of the symbolicate-linux-fatal, I'll try fixing that issue.

[2017-02-07 17:31] swift-ci commented on #4643
**Comment by Jim Ingham (JIRA)**

   Fixed by commit 4e15b79413073623fb0b52702773e5addda85814.

[2017-02-07 17:37] swift-ci commented on #4645
**Comment by Jim Ingham (JIRA)**

   That is quite odd. It seems specific to assigning the specific string "OK" to a variable. It doesn't matter whether it is initialized to "OK" or whether you assign it afterwards, we fail to print it.

[2017-02-07 20:08] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   use:

on Fc25

BRANCH="swift-3.1-branch"
TAG=""
That runs to completion. Refresh your scripts, as i just found an issue with detecting empty tags.

Im not sure what happened with

BRANCH="master"
TAG="swift-3.0.2-RELEASE"

It was working a few days ago,

I will investigate further

[2017-02-07 20:20] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User) Thanks, I pulled and kicked off another build.

I'm assuming this will not repro the `symbolicate-linux-fatal` error, thanks to the worked-around here:
<https://github.com/FedoraSwift/fedora-swift2/blob/1154b5e67fedc5db67cffb4d6ee54213c0680277/buildswift#L180-L197>

I had a quick look at the presets, and it seems like I s

[2017-02-07 20:27] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   I found this on:
<https://github.com/linux-on-ibm-z/docs/wiki/Building-Swift>

Additional Notes (For SLES 12-SP1 & RHEL 7.1):

Currently, the build will stop during the installation phase due to a known issue in LLDB's CMake files.

This is a LLDB bug (<https://llvm.org/bugs/show_bug.cgi?id=23785),> preventing the installation of REPL/LLDB on SLES and RH

[2017-02-07 20:32] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   @gregor, yes, the double build was my workaround, it runs the build without tests first and then hacks the image in build/directory to copy all in lldb/lib to lldb/lib64 and vice versa so that both /lib and /lib64 end up being the same, and contain both the contents of /lib and /lib64

I also had to add a link to liblldb.so.3 as an entrypoint in that fol

[2017-02-07 23:53] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   TAG=""
BRANCH="master"

builds ok too if you want to live on the edge.

[2017-02-08 03:07] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Hi Gregor

I have upgraded the build scripts again,

1\. Deal with the issue in the source/swift/lib/Basic/SourceLoc.cpp that stops 3.0.2 from building
2. Add --privilege=true to container invocation, so that REPL and lldb get the kernel privileges required to work inside the container
3. Set 3.0.2 on f25 as default as that is the current stable release.

[2017-02-08 15:59] swift-ci commented on #4645
**Comment by Giampaolo Papotti (JIRA)**

   Unbelievable![]( We got crazy before realising it's a swift bug)!!

[2017-02-08 18:58] swift-ci commented on #4645
**Comment by Jim Ingham (JIRA)**

   Not specific to the REPL, though I guess that's not surprising:

[2017-02-09 07:48] #4589 closed, assigned to nobody

[2017-02-09 11:41] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User) I have managed to build successfully, so I'm set up properly. I'll try look at fixing the symbolicate tool tests asap (unfortunately away for hols for a week starting tomorrow).

Separately, I wanted to build CentOS. Do you know if those scripts work OK?

[2017-02-09 12:24] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Im pretty certain, it wont work on centos7 as is, i was going to apply some effort to getting it to work, its going to need a different set of package installs etc. And the gcc version is different again, but iys a lot of demand, so it is worth the effort. If you can fix the lldb issue, i suspect it will also work on rhel/centos.

Im having to spend some

[2017-02-09 18:52] swift-ci commented on #4593
**Comment by Vladislav Dembskiy (JIRA)**

   On Linux From Scratch with fresh checkout I have got the same error as Gregor reported two days ago:

[2017-02-10 16:48] swift-ci commented on #4651
**Comment by Vladislav Dembskiy (JIRA)**

   REPL is working after yesterday's checkout.

[2017-02-10 16:48] #4651 closed, assigned to nobody

[2017-02-11 14:38] swift-ci opened #4639 "[SR-3939] REPL segmentation fault on Linux From Scratch"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3939      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Linux ved-hp-lfs6 4.9.9

[2017-02-11 14:40] swift-ci commented on #4580
**Comment by Vladislav Dembskiy (JIRA)**

   Gentoo has been changed and other issues appears. I reported them separately.

[2017-02-11 14:40] #4580 closed, assigned to nobody

[2017-02-13 11:29] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Vladislav

execute this in the build directory root, between update-checkout and build-script

[code]

[2017-02-13 18:55] swift-ci commented on #4593
**Comment by Vladislav Dembskiy (JIRA)**

   Thank you Timothy! It works but not everywhere. I did fresh checkout, applied your hint and got error at another place:

Probably we need more sed commands There is a workaround. Just create a symlink from compiler-rt/lib/BlocksRuntime/Block.h to /usr/Include but it is not good.

[2017-02-16 13:20] swift-ci opened #4638 "[SR-3972] Infinite recursion when defining indirect enums in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-3972      |
   |Radar             | None         |
   |Original Reporter | Alvae (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Apple Swift version 3.0.2 (swiftl

[2017-02-16 17:31] #4638 closed, assigned to nobody

[2017-02-16 17:31] #4643 closed, assigned to nobody

[2017-02-19 02:49] swift-ci commented on #4642
**Comment by Hugh Bellamy (JIRA)**

   I'n getting a similar error here: <https://github.com/apple/swift/pull/7490>

[2017-02-20 14:49] swift-ci commented on #4639
**Comment by Vladislav Dembskiy (JIRA)**

   With latest swift checkout REPL is working.
swift --version
Swift version 3.1-dev (LLVM 6aad022362, Clang 61cb7f096c, Swift f76790e498)
Target: x86_64-unknown-linux-gnu

[2017-02-20 14:49] #4639 closed, assigned to nobody

[2017-02-23 19:08] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   For those interested, I fixed the symbolicate tool failure in the following PR:
<https://github.com/apple/swift/pull/7685>

thawkins (JIRA User) However, I don't think this is going to be enough to complete the build without the lib/lib64 workaround. It looks like cmake install is misconfigured and looks at lib rather lib64 dir. I started loo

[2017-02-23 19:38] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   The install issue *may* be fixed by the following patch (applied in the lldb repo):

[code]

I'll run local tests first to see whether it doesn't explode + helps.

[2017-02-23 23:41] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   This is great gregor, is this something that can be commited back to tbe lldb repo, and potentialy back to upstream as they have the same problem I belive.

Thank you for your hard work, we are definatly gettIng closer to having swift "just build" on fedora/centos/redhat. This was one of the major hurdles.

With this fixed i will be able to dump the doub

[2017-02-24 00:01] alblue commented on #4593
Swift maintains its own fork of lldb which this will need to be reviewed for first of all, and then subsequently the change can be merged or cherry-picked back up to the master lldb repository. So it can be done but might take a few cycles to go through all of the processes to make it happen, as well as responding to reviews that may come up as a result of the suggested fix.

[2017-02-24 08:38] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User), yes, it really belongs in upstream lldb, not in Swift fork of lldb repo. However, it may be simpler for us to test it out in the Swift repo first. My aim is to have Fedora build without the lib64/lib unification workaround. I don't think we are there yet. The lldb stuff is one thing, there were also some sourcekitd issue

[2017-02-24 14:05] swift-ci commented on #4584
**Comment by PT (JIRA)**

   I have had this issue when I try to print any variable when running UI tests on iOS 9 simulators. iOS 10 displays the variable value correctly. Attached the crash log `lldb-rpc-server_2017-02-24-135005_OSTML0222474-2.crash`

`(lldb) po title`
`Message from debugger: The LLDB RPC server has crashed. The crash log is located in ~/Library/Logs/DiagnosticReports and has a

[2017-02-24 15:53] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   Fixed some new-line mistake in the patch attached below, and pushed it as a PR:
<https://github.com/apple/swift-lldb/pull/153/files>

Restarting the full build now to see what other issues crop up.

[2017-02-27 11:03] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User) I started looking at the Block.h issues. It looks to me like the patch you're making to corelibs-foundation is effectively a bug there. Would you mind submitting a PR for it (or I can, if you'd prefer).

[2017-02-27 15:21] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User) spamming you further. The build completes successfully for me with the following changes:

[code]

Could you apply the above to your repo pls?

The other one, in swift repo, disables sourcekitd (it fails on BlocksRuntime):

[code]

[2017-02-27 15:25] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   I will try and get this done tomorrow

[2017-02-27 16:15] swift-ci commented on #4593
**Comment by Vladislav Dembskiy (JIRA)**

   Sorry for interrupting you but would you be so kind to explain why building standalone libBlocksRuntime in unacceptable solution? libblocksruntime-dev is listed within requirements in swift README file. Unfortunately not every distribution has this library.
I have build the library on Linux From Scratch and on Gentoo. And sourcekit compiled without erro

[2017-02-27 17:40] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   Vladislav (JIRA User) the sourcekitd build disabling was/is a workaround. The ideal solution would be to get the relevant distros to package up libBlocksRuntime. Less ideal would be to build and distribute it with Swift (the canonical sources for blocks runtime is: <https://github.com/apple/swift-compiler-rt/tree/58b2838add7be5e265ea1f8c30beb

[2017-02-27 20:24] Bouke opened #4394 "[SR-4091] Incorrect result shown in REPL for 'UInt8?'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4091      |
   |Radar             | None         |
   |Original Reporter | @Bouke      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Feb 24, Swift 3.1 dev snapshot

</details>

   <d

[2017-02-28 02:37] CodaFi commented on #4394
This one is an LLDB formatter problem.

[2017-03-01 02:15] belkadan commented on #4394
We were definitely supposed to have fixed it, though. SR-1007

[2017-03-01 02:15] belkadan commented on #4394
Ah, the Optional is significant.

[2017-03-01 19:59] swift-ci commented on #4521
**Comment by Amjad Masad (JIRA)**

   Any updates here? We're using this for <https://repl.it> and there are thousands of students learning swift running into this problem

[2017-03-03 11:49] swift-ci commented on #4593
**Comment by Gregor Milos (Grzegorz Miłoś) (JIRA)**

   thawkins (JIRA User) hey, I haven't seen corelibs-foundation PR from you yet. Just a friendly reminder, I'm happy to push that in if you prefer.

[2017-03-03 12:04] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Im a bit tied up and overwelmed at the moment, please go ahead.

[2017-03-08 00:54] swift-ci commented on #4646
**Comment by Ricardo Olivieri (JIRA)**

   After getting more information, this is working as designed. Hence, closing this issue. As reference, here are some details we received from folks with more experienced using the lldb debugger:

"In Swift, top-level variables aren’t actually in a frame; they’re globals. Xcode knows about this and fakes the frame for appearance purposes. If you ask LLDB fo

[2017-03-08 00:54] swift-ci commented on #4646
**Comment by Ricardo Olivieri (JIRA)**

   See comment above.

[2017-03-08 00:54] #4646 closed, assigned to nobody

[2017-03-09 15:21] swift-ci opened #4637 "[SR-4204] LLDB fails printing variables when `self` refers to an empty struct"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4204      |
   |Radar             | rdar://problem/31041089         |
   |Original Reporter | marc (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 8.3 beta 4

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

[2017-03-09 17:21] belkadan commented on #4637
Hm. That often means the project is set to compile with optimizations on, but it sounds like that's not the case?

[2017-03-09 18:14] swift-ci commented on #4637
**Comment by Marc Knaup (JIRA)**

   @belkadan yep, the build using Debug configuration and both, the app target and the framework, use `-Onone`.

[2017-03-09 18:18] swift-ci commented on #4637
**Comment by Marc Knaup (JIRA)**

   @belkadan I've just found a simple repro: it happens in all methods of structs which have no stored properties.

[2017-03-09 19:09] belkadan commented on #4637
Oh, that makes a lot of sense. We of course don't bother representing such a struct with any memory at run time, but that makes LLDB think there's no `self` at all.

Tagging in jingham@apple.com (JIRA User).

[2017-03-13 04:42] swift-ci commented on #4593
**Comment by Timothy S Hawkins (JIRA)**

   Gregor

Have you managed to get the lldb fix commited, im still getting this test failure in my swift-3.1 builds.

[code]

[2017-03-13 12:23] alblue commented on #4593
LLVM 4.0 has been tagged, which meant it was closed for upstream contributions. I think that since the PR for the swift-llvm branch wasn't seen as Swift specific it should be punted upstream, but I don't know when this will happen.

[2017-03-14 18:53] belkadan commented on #4637
@swift-ci create

[2017-03-16 09:35] ahti commented on #4642
I'm experiencing a similar error with current master on Arch Linux. Importing Foundation or Dispatch fails unless I pass `-I /usr/lib/swift/clang/include/` to swift. However, I can successfully import Glibc, even though from what I can see in the headers, that too imports stddef.h, so I am unsure why importing Glibc does not fail as well.

[2017-03-16 16:48] swift-ci opened #4635 "[SR-4266] Compatibility header emits unknown type NSKeyValueChangeKey"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4266      |
   |Radar             | None         |
   |Original Reporter | marc (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Xcode 8.3 beta 4

</details>

[2017-03-16 17:23] belkadan commented on #4635
Hm. NSKeyValueChangeKey is a perfectly good typedef in Foundation, which should certainly be imported by the generated header. Are you using LLDB from the command line, or within Xcode? Do you have any custom build settings? Can you attach a project that reproduces this behavior?

[2017-03-16 18:01] swift-ci commented on #4635
**Comment by Marc Knaup (JIRA)**

   Nevermind, now the LLDB RPC crashed when printing that variable in the debugger so I've deleted DerivedData. Everything is back to normal again and this issue doesn't occur anymore…

We have multiple issues with LLDB, auto completion and syntax highlighting. If you have any tips on how we can better isolate and report such issues we would love to hear them!
It'

[2017-03-17 17:30] belkadan commented on #4635
Some things that would help us:

\- There should be crash logs for both SourceKit and LLDB (as lldb-rpc-server), which you can find in the Console. These are only minimally useful because they don't include *how* the crash happened, but they're better than nothing.

\- When completion or syntax highlighting goes out, *immediately* trying to compile will let you (and us) know if it's actually a com

[2017-03-17 22:23] swift-ci commented on #4635
**Comment by Marc Knaup (JIRA)**

   Great tips, thank you!
We keep two eyes open for bugs and will try to catch ’em all 🙂

[2017-03-17 22:24] swift-ci commented on #4635
**Comment by Marc Knaup (JIRA)**

   I'll re-open this issue should it occur more often.
The single occasion was fixed by a deletion of DerivedData, i.e. a full rebuild.

[2017-03-17 22:24] #4635 closed, assigned to nobody

[2017-03-23 21:35] phausler opened #4393 "[SR-4326] lldb prints strange numbers when interpreting optional unsigned values"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4326      |
   |Radar             | None         |
   |Original Reporter | @phausler      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-03-24 04:01] norio-nomura opened #4392 "[SR-4338] Swift REPL crashes on launch if `~/.lldb/lldb-repl-history` contains emoji"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4338      |
   |Radar             | None         |
   |Original Reporter | @norio-nomura      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

swift-DEVELOPMENT-SNAPSHOT-2017-03-23-a
swift-3.1-DEVELOPMENT-SNAPSHOT-2017-03-19-a
swift-3.0.2-RELEASE

</details>

[2017-03-24 16:46] belkadan commented on #4392
That's bizarre. jingham@apple.com (JIRA User), any idea why that might be a problem?

[2017-03-24 16:52] belkadan commented on #4393
I thought this was fixed with SR-1007, but apparently not. cc jingham@apple.com (JIRA User)

[2017-03-24 17:00] phausler commented on #4393
It is worth noting this only applies to optional values and I have reasonably proven to myself that it is a lldb issue and not actually a swift issue (which would be quite scary if it was).

[2017-03-24 19:27] swift-ci commented on #4392
**Comment by Jim Ingham (JIRA)**

   This is a bug in libedit when reading history files with some non-ascii characters. libedit is not a part of lldb, but is an OS component, so the fix will have to wait for an OS update.

[2017-03-24 19:29] belkadan commented on #4392
Is there any way to recover in the meantime? (For example, prescanning the history file before providing it to libedit.)

[2017-03-24 20:44] swift-ci commented on #4393
**Comment by Jim Ingham (JIRA)**

   I don't think this is related to SR-1007. That was the data formatter for UInt8 doing the wrong thing, this is the data formatter for optionals doing the wrong thing.

[2017-03-29 00:17] NachoSoto commented on #4510
This is still broken.... 🙁 I guess nobody cares about the CLI.

[2017-03-30 11:42] aciidgh opened #4391 "[SR-4433] lldb expression command can't handle structs with no elements"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4433      |
   |Radar             | None         |
   |Original Reporter | @aciidb0mb3r      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-03-30 17:02] belkadan commented on #4391
Reproduced. `frame variable` works, but `po` does not. jingham@apple.com (JIRA User)?

[2017-03-30 18:36] swift-ci commented on #4391
**Comment by Jim Ingham (JIRA)**

   This particular issue is a known bug where the expression parser doesn't figure out that it has to treat structs with no elements specially (it is trying to extract the value of the struct which isn't there.)

You can see this by just adding a var to Bar, and then po will work.

This is on my list of things to fix.

[2017-03-30 19:46] swift-ci commented on #4391
**Comment by Jim Ingham (JIRA)**

   This is actually a dup of

<https://bugs.swift.org/browse/SR-4204>

[2017-03-30 19:51] aciidgh commented on #4391
Hm, I was trying to reduce a big test case for the same error. Is it fine if I file debugger reports with entire project attached?

[2017-03-30 19:51] #4391 closed, assigned to nobody

[2017-03-31 08:06] swift-ci commented on #4642
**Comment by Peter (JIRA)**

   I tried the newly released swift 3.1 and the problem is still present.

[2017-03-31 23:10] swift-ci commented on #4393
**Comment by Jim Ingham (JIRA)**

   This is the same issue, printing an optional of an unsigned type.

[2017-03-31 23:10] #4393 closed, assigned to nobody

[2017-04-03 04:36] swift-ci commented on #4642
**Comment by Timothy S Hawkins (JIRA)**

   I am getting the same issue on Fedora 25, however i can move on by adding the symlink

cd /usr/include
sudo ln -s linux x86_64-linux-gnu

However when I do that I subsequently get the following, This worked fine on swift-3.0.2-RELEASE tag, it only fails on swift-3.1-RELEASE

\[thawkins@timdev05 bin\]$ ./swift
Welcome to Swift version 3.1 (swift-3.1-RELEA

[2017-04-03 05:59] swift-ci commented on #4642
**Comment by Hugh Bellamy (JIRA)**

   Feel like submitting a PR to add this to the CMake build?

[2017-04-04 03:55] swift-ci commented on #4642
**Comment by Ryan Lovelett (JIRA)**

   This is also effecting `ldb`. Is there an equivalent to send `-I/path/to/usr/lib/swift/clang/include` to `lldb`?

[2017-04-05 19:43] swift-ci commented on #4642
**Comment by Rick M (JIRA)**

   This was affecting me on Ubuntu 16.04, importing Glibc, in the swift repl. It does not seem to affect `switfc`

[2017-04-05 23:10] drewcrawford opened #4390 "[SR-4508] Can't debug an app when ObjC extensions are in frameworks"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4508      |
   |Radar             | None         |
   |Original Reporter | @drewcrawford      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962005-d31aba75-6e4e-45cb-ba78-af2e63c0fa58.gz)

<details>
  <summary>Environment</sum

[2017-04-12 16:14] #4592 closed, assigned to nobody

[2017-04-13 18:53] natecook1000 opened #4389 "[SR-4580] Tuple-swapping in REPL can segfault"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4580      |
   |Radar             | rdar://problem/31610342         |
   |Original Reporter | @natecook1000      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Apple Swift version 3.1

[2017-04-13 18:54] natecook1000 commented on #4389
@swift-ci Create

[2017-04-13 18:55] jckarter commented on #4389
@swift-ci create

[2017-04-14 13:56] swift-ci commented on #4584
**Comment by aaron crespo (JIRA)**

   Uploaded a few more stopped on a break point in my test target. Cannot attack project. Xcode 8.3 swift 3.1. This was working under Xcode 8.2

[2017-04-17 04:10] swift-ci commented on #4656
**Comment by Timothy S Hawkins (JIRA)**

   This is the same issue you get when trying to run Swift on the "Ubuntu on windows" subsystem on windows 10. However there is no opportunity to change the kernel permissions on this version.

[2017-04-19 23:34] drewcrawford commented on #4390
The following workaround is superior as it doesn't bork incremental rebuilds:

[code]

[2017-04-20 06:50] swift-ci opened #4634 "[SR-4638] Make file level variables "frame" variables when you aren't in an explicit function"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4638      |
   |Radar             | None         |
   |Original Reporter | Tof (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962042-74381e1a-bfd8-419e-b93c-6bce472e0556.gz)

<details>
  <summary>Environment</s

[2017-04-21 22:11] swift-ci commented on #4645
**Comment by Josh Lieberman (JIRA)**

   Same thing with the `-` character:

[2017-04-23 15:12] swift-ci commented on #4648
**Comment by Michael Camilleri (JIRA)**

   I have the same issue.

In my case, I am invoking the REPL by running `swift` with no arguments from the command line (the actual binary being called is `/usr/bin/swift`).

Output of `swift -version` is:

    Apple Swift version 3.1 (swiftlang-802.0.48 clang-802.0.38)
    Target: x86_64-apple-macosx10.9

The output of `lldb -v` is:

    lldb-370.0.37

[2017-04-24 18:14] belkadan commented on #4648
Aha, CommandLineTools-only might have something to do with it. Thanks, Michael.

[2017-04-29 22:11] #4577 closed, assigned to nobody

[2017-05-02 09:46] swift-ci opened #4633 "[SR-4776] For "po" command debugger doesn't shows errors in better case and falls down in worse case"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4776      |
   |Radar             | rdar://problem/31938892         |
   |Original Reporter | gerchicov.bp (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

OSX 10.12, xCode 8.3.2

</details>

   <details>
  <summary>Additional Detail from JIRA<

[2017-05-02 17:25] belkadan commented on #4633
@swift-ci create

[2017-05-02 22:48] swift-ci commented on #4633
**Comment by Jim Ingham (JIRA)**

   Dratini is a library. With Swift debugging, how a library is included into your application is often important, especially when you are having issues where "nothing is working". So I really need to see an example of how you are using this library that shows the problems you are reporting here. Also, if you could along with the example include some explicit step

[2017-05-03 00:14] swift-ci commented on #4634
**Comment by Jim Ingham (JIRA)**

   The variables you refer to are really file level variables, and as such will show up in the output of "target variable". And in normal debug sessions where you are in the context of some function in that file, you would NOT want frame variable to show these variables.

But because you are debugging a file that has no explicit function, your code is in some sens

[2017-05-03 00:18] swift-ci commented on #4389
**Comment by Jim Ingham (JIRA)**

   There seems to be some initialization of the standard library that happens differently depending on whether Foundation is or is not present. So if you are going to use Foundation or anything that brings it in, you need to do that first in your REPL session.

[2017-05-03 00:47] jckarter commented on #4389
Can lldb pre-load the Foundation overlay in that case to avoid that kind of issue?

[2017-05-03 01:11] swift-ci commented on #4389
**Comment by Jim Ingham (JIRA)**

   We could, provided it is a good assumption that everybody using the REPL wants Foundation?

[2017-05-03 01:17] jckarter commented on #4389
The other approach would be to fix the standard library to pick up when Foundation is dynamically loaded and adjust itself accordingly. It isn't totally out of the realm of possibility that someone would dlopen Foundation at runtime even outside the REPL. Jim, did you happen to see where exactly in the library we were making different initialization choices?

[2017-05-03 01:43] swift-ci commented on #4389
**Comment by Jim Ingham (JIRA)**

   I think Arnold fixed this with:

<https://github.com/apple/swift/pull/8868>

[2017-05-03 09:01] swift-ci commented on #4633
**Comment by Vyachaslav (JIRA)**

   It seems the problem is in Objective-C you can debug mutable and immutable variables and can't various constants. But in swift there is no difference between constant and just immutable variable defined with "let". So maybe debugger in swift treat all the "var" variables as mutable/immutable variables in Objective-C and all the "let" variables as constants (eve

[2017-05-03 18:18] swift-ci commented on #4633
**Comment by Jim Ingham (JIRA)**

   I actually don't see po failing for any of the variables as I step through the source above. I'm not sure what you mean "after the last line", however. If I step to the

test2\["1"\] = "one"

line above, I can print & po test2. If I step over that line then I end up out of the artificial function made to hold swift top-level statements, and back in the system "

[2017-05-04 09:21] swift-ci commented on #4633
**Comment by Vyachaslav (JIRA)**

   man do you troll me?
1)if you have no lines after test2\["1"\]="one" then you can always add something like print("") in the end to get a line you can set a breakpoint
2)And? I can po test2 from any place if it was previously defined too because it is defined with var. I meaned "po test"

[2017-05-04 22:55] swift-ci commented on #4584
**Comment by Daniel Bromberg (JIRA)**

   My app consistently crashes during startup **before** any breakpoint is reached, about 2 seconds into execution. The crash occurs regardless of

-   -   minimum iOS target, tried 8.0, 9.0, 10.3

    -   simulator or real hardware

    -   old simulated hardware (iPad 2) or newer (iPad Air 2)

    -   whether or not any breakpoints have been set before LLDB

[2017-05-04 23:10] belkadan commented on #4584
Crash logs really aren't sufficient here. They don't include what LLDB was trying to do at the time. There's a log you can enable, but that probably dumps too much information about a proprietary project.

If anyone's willing to submit their project to Apple even if they can't submit it publicly, please attach it to a bug at <https://bugreport.apple.com>

[2017-05-04 23:16] swift-ci commented on #4584
**Comment by Daniel Bromberg (JIRA)**

   It's a huge blocker for us – development is effectively stopped – and we already submit (bitcode, at least) to Apple during App Store submission process, so that's not a problem. I've added you to our GitHub repository and will follow up at the Apple bug report site. I hope that works.

[2017-05-05 01:02] swift-ci commented on #4584
**Comment by Daniel Bromberg (JIRA)**

   Solved, at least apparently for the first few re-runs, by deleting and re-installing Xcode from the App store. I originally installed it from Apple's .zip download, during which I had to override the non-verified warnings (a little ironic because it came straight from Apple, but .zips must be considered 2nd class citizens). Retroactively I'm suspicious tha

[2017-05-05 12:10] swift-ci opened #4632 "[SR-4808] lldb fails to examine a class static var upon EXC_BAD_ACCESS"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4808      |
   |Radar             | None         |
   |Original Reporter | sndive (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962083-5e04933d-937b-4e37-820b-8c2071f7ce86.gz)

   <details>
  <summary>Addition

[2017-05-09 16:20] swift-ci opened #4631 "[SR-4838] LLDB build failure on LFS"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4838      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

uname -a Linux lfs-sdb6 4.10.14 \#

[2017-05-09 19:04] jckarter commented on #4389
Nate, can you confirm this works for you now?

[2017-05-09 19:04] #4389 closed, assigned to natecook1000

[2017-05-09 21:46] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   No. I have downgraded gcc to 6.3.0 and have got the same error.

[2017-05-15 04:59] swift-ci commented on #4519
**Comment by Matt Rajca (JIRA)**

   This is fixed for me in Swift 3.1.1 on Ubuntu and it also doesn't reproduce in your online REPL running Swift 3.0.1.

[2017-05-15 04:59] #4519 closed, assigned to nobody

[2017-05-15 20:01] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   I have just did

and tried to repeat swift build:

Unfortunately I have got the same error:

Last time I build swift from source was on 7th of May and it was everything OK. What has been changed since?

[2017-05-20 11:03] hartbit opened #4388 "[SR-4954] p does not work when working on SwiftPM"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-4954      |
   |Radar             | rdar://problem/33256472         |
   |Original Reporter | @hartbit      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2017-05-24 20:43] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   After fresh checkout today I have got the same error:

[722/878] Building CXX object source/Utility/CMakeFiles/lldbUtility.dir/TaskPool.cpp.o
FAILED: source/Utility/CMakeFiles/lldbUtility.dir/TaskPool.cpp.o
/usr/bin/clang++  -DGTEST_HAS_RTTI=0 -DHAVE_PROCESS_VM_READV -DHAVE_ROUND -DLIBXML2_DEFINED -DLLDB_USE_BUILTIN_DEMANGLER -D_DEBUG -D__STDC_CONSTANT_

[2017-06-01 21:56] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   After fresh Swift checkout the error still exists.

[2017-06-08 09:34] CodaFi commented on #4641
This does not reproduce on master or on the Swift shipping with Xcode 9.0

[2017-06-09 17:54] swift-ci opened #4630 "[SR-5173] Documentation access from the Swift REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5173      |
   |Radar             | None         |
   |Original Reporter | roope (JIRA User)      |
   |Type              | Improvement    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962180-ea1184df-d6f5-4d53-add5-2b9f5e6eb354.gz)

   <details>
  <summary>A

[2017-06-10 02:58] ahti commented on #4631
This is due to a missing include in [TaskPool.h](https://github.com/apple/swift-lldb/blob/master/include/lldb/Utility/TaskPool.h). To use std::bind, one needs to \#include \<functional\>. This was already fixed in upstream lldb by [this commit](https://github.com/apple/swift-lldb/commit/3126937308a1c62e9feab7ce3675a9f15b631bdb), so fixing this would mean either manually including functional or mer

[2017-06-10 11:00] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   Yes, after manual including \<functional\> LLDB has been build successful. I hope that upstream comment will be merged into swift-lldb. I will keep the issue open till that.

[2017-06-15 01:09] swift-ci opened #4629 "[SR-5226] LLDBFrontend crash in getTypeLoweringForUncachedLoweredType"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5226      |
   |Radar             | rdar://problem/33296509         |
   |Original Reporter | ewconnell (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserconten

[2017-06-15 13:39] swift-ci commented on #4642
**Comment by Vivian Kong (JIRA)**

   I saw the same error in REPL on Linux on s390x (it used to work in 3.0.2). The workaround mentioned above allows me to import Glibc but I can't import Foundation/Dispatch etc. Any ideas on what might be the problem? Thanks.

$ ./swift -I/home/tester/swift31/install/usr/lib/swift/clang/include
Welcome to Swift version 3.1.1-dev (LLVM 9cb6a3ccee, Clang f38438fc0

[2017-06-15 17:23] belkadan commented on #4629
Can you attach your project?

[2017-06-15 21:44] swift-ci commented on #4629
**Comment by Edward Connell (JIRA)**

   UPDATE I attached a simple repro case.
1) build the project as HelloWorld (or whatever)
2) then from the LLDB CLI, set a breakpoint on line 5, then examine outputData

$ lldb HelloWorld
(lldb) target create "HelloWorld"
Current executable set to 'HelloWorld' (x86_64).
(lldb) br se --file main.swift --line 5
Breakpoint 1: where = HelloWorld\`HelloWorld.fetch

[2017-06-24 19:40] swift-ci opened #4628 "[SR-5302] Swift REPL rejects multiline string literal"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5302      |
   |Radar             | None         |
   |Original Reporter | gwk (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 9b1, OSX10.12.5.
Xcode 9.2, macOS 10.13.2

</details>

   <details>
  <summary>Additional Detail from JIRA</su