[2019-07-03 17:30] belkadan commented on #4562
jingham@apple.com (JIRA User), we were just talking about this, right?

[2019-07-03 18:14] swift-ci commented on #4562
**Comment by Jim Ingham (JIRA)**

   This could be the issue where promoting access control to public meant that some property wrapper accessors were expected but hadn't  been generated.   Davide fixed that in

281c55183302635e543aa646fcc72eb1a134ea00

[2019-07-03 18:53] belkadan commented on #4562
cc @dcci

[2019-07-03 18:55] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
I'm not entirely sure this is the same issue, but I'm going to investigate.

[2019-07-03 18:57] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
No, this is not the same issue. Reproduces with the REPL on ToT.

[code]

[2019-07-03 18:59] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
jingham@apple.com (JIRA User) it looks to me some symbol is missing. You fixed several issues in this area, can you take a look and reassign to me if you find it's not actually the case?
\[It could also be that lldb doesn't materialize something correctly as we found out with @compnerd in another bug\]

[2019-07-03 19:03] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
The integrated REPL instead crashes in the verifier.

[code]

\[looking at the same symbol it seems\]

[2019-07-03 19:04] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
I wonder if it's the same issue. I'll try enabling the verifier in lldb.

[2019-07-03 19:04] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
Taking this one for now, there might be something I can do here before handing it off to jingham@apple.com (JIRA User)

[2019-07-03 19:08] swift-ci commented on #4562
**Comment by Jim Ingham (JIRA)**

   @dcci: These aren't the symbols I was looking for...  I was working on the symbols that swift uses to mark intermodule dependencies for swift libraries (**swift_FORCE_LOAD*$*) which are not related to this issue.

[2019-07-05 23:50] swift-ci opened #4337 "[SR-11075] [propertyWrapper] LLDB RPC server has crashed when running a very simple propertyWrapper code in playground"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11075      |
   |Radar             | None         |
   |Original Reporter | Philip (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649633

[2019-07-06 01:11] belkadan commented on #4337
cc jingham@apple.com (JIRA User), @dcci

[2019-07-08 18:33] swift-ci opened #4336 "[SR-11086] Crash in REPL when redeclaring class with variable"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11086      |
   |Radar             | rdar://problem/52808651         |
   |Original Reporter | aasimk (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 11 beta 3

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

[2019-07-09 02:21] belkadan commented on #4336
@swift-ci create

[2019-07-11 20:39] swift-ci commented on #4336
**Comment by Andrew Litteken (JIRA)**

   I was thinking of trying to take a run at this bug as a first try at working with the compiler, would this be an ok starting bug?

[2019-07-11 23:43] belkadan commented on #4336
I don't think we really know what the problem is yet. You'd be better picking one with a "StarterBug" label.

[2019-07-12 17:38] swift-ci commented on #4336
**Comment by Andrew Litteken (JIRA)**

   Ok, I'l take a look, FWIW I did get a different error message when running from the lldb repository:

[code]

[2019-07-17 23:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4337
Doug fixed this by disabling propertyWrappers in top level code.
The current REPL doesn't crash.

[code]

[2019-07-17 23:54] #4337 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-07-18 19:25] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4562
[code]

This is invalid swift code. It crashed before because it wasn't checked.

[2019-07-18 19:25] #4562 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-07-19 15:11] 6d44b555-049a-4a81-86f1-5537312bcad6 opened #4335 "[SR-11163] Build should support LLVM_LIBDIR_SUFFIX"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11163      |
   |Radar             | None         |
   |Original Reporter | @kevints      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2019-07-22 20:16] mattneub opened #4334 "[SR-11185] can't call extension method with default value in lldb"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11185      |
   |Radar             | None         |
   |Original Reporter | @mattneub      |
   |Type              | Improvement    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-07-22 22:20] swift-ci opened #4333 "[SR-11186] DEL key does not work as expected in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11186      |
   |Radar             | None         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Apple Swift version 5.1 (swiftlang-11

[2019-07-23 02:32] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4492
TylerTheCompiler (JIRA User), Could you verify if the problem is fixed and if so move the JIRA to "Closed"?

Thanks!
Anna

[2019-07-23 02:43] swift-ci commented on #4492
**Comment by Tyler Prevost (JIRA)**

   Hi @AnnaZaks![]( Yep, I can't seem to reproduce this in Xcode 10.3 using any version of Swift, so I'll close this) Thanks!

[2019-07-23 02:44] #4492 closed, assigned to nobody

[2019-07-23 17:54] belkadan commented on #4333
cc jingham@apple.com (JIRA User). This does *not* happen with LLDB's normal command line, so I wonder what's different about the REPL?

[2019-07-23 17:54] belkadan commented on #4334
@dcci, I think there's a Radar for this too?

[2019-07-23 18:16] swift-ci commented on #4333
**Comment by Jim Ingham (JIRA)**

   The REPL plays a bunch of games to support multi-line editing and history recall.  It's not entirely surprising something in there changed this behavior.

[2019-07-23 18:32] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4334
@compnerd had a WIP patch to fix this.

[2019-07-23 18:35] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4334
And yes, I think there's a rdar (or at least a SR to duplicate this to). Let me find it.

[2019-07-23 19:15] mattneub commented on #4334
Thanks, I did look for a duplicate but feel free to close if I just missed it.

[2019-07-24 18:42] swift-ci commented on #4488
**Comment by Andrew Fernandes (JIRA)**

   Still present on swift-5.0.2-RELEASE on Ubuntu 18.04.2.

[2019-07-25 19:20] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4587
I did a lot to fix enum(s) since this bug was reported. Try with a new snapshot.

[code]

[2019-07-25 19:22] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4645
The formatter for string has been rewritten at least a couple of times since this was reported, and the bug doesn't reproduce anymore.

[2019-07-25 19:22] #4645 closed, assigned to nobody

[2019-07-25 19:23] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4334
Duplicate of <https://bugs.swift.org/browse/SR-10994>

[2019-07-25 19:23] #4334 closed, assigned to nobody

[2019-07-25 20:19] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4344
Doesn't reproduce on top-of-tree for the integrated REPL and the LLDB REPL.

[code]

[code]

[2019-07-25 20:19] #4344 closed, assigned to nobody

[2019-07-25 20:22] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4591
Fixed at some point.

[code]

[2019-07-25 20:22] #4591 closed, assigned to nobody

[2019-07-29 20:36] 05109ee7-7cd9-4cd4-92d0-698e676fc6af opened #4332 "[SR-11226] [Expression parser] Can't materialize a variable: can't get size of type"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11226      |
   |Radar             | None         |
   |Original Reporter | @an0      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963400-897f8938-6b69-45b7-955b-338c20fd572d.gz)

   <details>
  <summary>Additional Detail fro

[2019-07-29 20:58] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4332
Looking.

[2019-07-30 01:52] 05262b81-54a9-4fe1-bf6a-96f8042de10e commented on #4628
In Swift 5.0.1 the REPL seems to understand multiline string literals just fine, but raw multiline string literals are still broken.

[2019-07-30 14:15] swift-ci commented on #4563
**Comment by Sarvesh Tamba (JIRA)**

   @adrian-prantl
<https://ci-external.swift.org/job/oss-swift-5.1-RA-linux-test-ubuntu-16.04-ppc64le/4499/console>

[2019-07-30 18:51] swift-ci opened #4331 "[SR-11238] Swift REPL: Cannot use custom operators"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11238      |
   |Radar             | rdar://problem/53764712         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Won't Do    |

<details>
  <summary>Environment</summary>

Swift version

[2019-07-31 00:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4332
I have a local patch where \`po\` now does the right thing. Screenshot attached. <img src="Screenshot 2019-07-30 at 4.13.59 PM.png" class="thumbnail" />

[2019-07-31 00:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4332
\`p\` still needs some love, and it's more complicated to fix.

[2019-07-31 01:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4332
<https://github.com/apple/swift-lldb/pull/1839>

[2019-07-31 17:12] belkadan commented on #4331
Hm, operators don't go through normal name lookup, so maybe they need special handling?

@swift-ci create

[2019-08-05 14:15] swift-ci commented on #4587
**Comment by Benjamin Randazzo (JIRA)**

   I can confirm this is fixed with Swift version 5.1 (swiftlang-1100.0.266.1 clang-1100.0.32.1) on target: x86_64-apple-darwin19.0.0 — from Xcode 11.0 beta 5 (11M382q).

Thanks!

[2019-08-05 14:15] #4587 closed, assigned to nobody

[2019-08-09 06:59] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4610
Poliorcetics (JIRA User), Could you verify if the problem is fixed and if so move the JIRA to "Closed"?

Thanks!
Anna

[2019-08-09 13:26] swift-ci commented on #4564
**Comment by Alexis Bourget (JIRA)**

   Closing the issue, since it seems to be fixed.

[2019-08-09 13:26] #4564 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-08-09 17:27] swift-ci commented on #4610
**Comment by Alexis Bourget (JIRA)**

   Fixed.

[2019-08-09 17:27] #4610 closed, assigned to nobody

[2019-08-09 22:10] swift-ci opened #4330 "[SR-11281] Swift REPL: Cannot access command history"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11281      |
   |Radar             | None         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Apple Swift version 5.1 (swiftlang-1100.0.266.1 clang-1100.0.32.1)

</details>

   <details>
  <summary>Additiona

[2019-08-09 22:26] 83b09dda-53f5-4663-b44c-87fd2a9a8717 opened #4482 "[SR-11282] LLDB REPL code completion assertion failure"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11282      |
   |Radar             | rdar://problem/53519966         |
   |Original Reporter | @marcrasi      |
   |Type              | Bug    |
   |Status            | Reopened        |
   |Resolution        |     |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-08-14 00:52] swift-ci opened #4561 "[SR-11302] REPL: Triggering autocomplete on imported type leads to crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11302      |
   |Radar             | None         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Apple Swift version 5.1 (swiftla

[2019-08-14 16:52] swift-ci commented on #4488
**Comment by Andrew Andkjar (JIRA)**

   On Ubuntu 18.04.2 with swift-5.02-RELEASE as I don't currently need to debug glibc (fingers crossed it stays that way), this resolved the annoyance:

[code]

[2019-08-14 19:35] belkadan commented on #4482
Fixed in master, but did not make 5.1. :-( cc @dcci

[2019-08-14 19:35] #4561 closed, assigned to nobody

[2019-08-14 20:30] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4482
Looking.

[2019-08-14 21:07] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4482
Ugh, I can't reproduce on 5.1 at all :\|

[code]

In fact, the code that causes the crash which I fixed doesn't really exist on 5.1

[2019-08-19 09:31] swift-ci commented on #4584
**Comment by Reuben Morais (JIRA)**

   I can reliably reproduce this with Xcode 10.3 and Swift 5.0.1 while debugging this open source project: <https://github.com/ianyh/Amethyst>

I'm on commit b478a849f7d583996ce8593b6a81c0c580017051. Setting a breakpoint on FocusTransitionCoordinator::focusScreen, then triggering it with option+shift+w and stepping around a bit will cause that crash. Inspecting

[2019-08-19 18:53] belkadan commented on #4584
Is it the same crash backtrace as the logs in this bug? If not, please file a separate bug—it's very likely things have changed since this three-year-old report.

[2019-08-19 18:54] belkadan commented on #4584
(And thank you for finding a reproducer!)

[2019-08-19 19:11] swift-ci opened #4560 "[SR-11331] Crash in swift::Mangle::ASTMangler::appendAssociatedTypeName(swift::DependentMemberType*)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11331      |
   |Radar             | None         |
   |Original Reporter | reuben (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963421

[2019-08-19 19:15] swift-ci commented on #4584
**Comment by Reuben Morais (JIRA)**

   Done: <https://bugs.swift.org/browse/SR-11331>

[2019-08-19 19:28] belkadan commented on #4560
cc @dcci

[2019-08-20 02:25] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4560
I'm confident this was fixed in 11. Can you please try with Xcode 11 Beta, reuben (JIRA User) ?

[2019-08-20 08:29] swift-ci commented on #4560
**Comment by Reuben Morais (JIRA)**

   I can't reproduce this any more on Xcode 11 Beta 6. Nice!

[2019-08-20 15:37] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4560
Happy to help and glad it works for you now!

[2019-08-20 15:37] #4560 closed, assigned to nobody

[2019-08-23 16:06] swift-ci opened #4559 "[SR-11364] enum formatter with optionSet doesn't show the right value"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11364      |
   |Radar             | None         |
   |Original Reporter | fstaine (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

version 5.0.1 (swiftlang-1001.0.82.

[2019-08-23 17:02] belkadan commented on #4559
Looks like the runtime gets this right if you call `print`, so it's something wrong with how LLDB is interpreting the value. cc @dcci

[2019-08-23 17:05] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4559
I'll look in an hour or such.

[2019-08-23 18:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4559
@adrian-prantl friss (JIRA User) and I discussed this in the past several times. Unfortunately modifying values for swift types is something that didn't really get a lot of attention, so if it works, it's not really by design. We're receiving more reports about this, so we might reconsider whether we want to spend some time to modify the compiler (and lldb) to do the right thing, but I'm afraid th

[2019-08-23 18:47] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4559
We could prevent reassignment to happen in swift \[and just emit an error\], as they only work in few cases today. Investigating how to fix the problem in the compiler is a major undertaking and probably involves many changes to code generation (IRGen et similia).

[2019-08-23 19:27] belkadan commented on #4559
Wait, what do you mean by "modifying values for swift types"? This is a plain old var getting a new value; it's not shadowing an existing value.

[2019-08-23 20:20] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4559
I need more coffee, sorry. Let me look at this again. I changed the enum code so there are chances this got fixed in 5.1, but I need to double check.

[2019-08-23 20:27] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4559
Yes, this is fixed in ToT. Please re-try with a nightly snapshot. It was a bug in computing the enum layout.

[code]

[2019-08-23 20:28] #4559 closed, assigned to nobody

[2019-08-29 23:39] 83b09dda-53f5-4663-b44c-87fd2a9a8717 commented on #4482
Do you happen to know which commit(s) fixed this? We have a branch with this problem and we might want to cherry-pick the fix onto it if possible.

[2019-08-29 23:41] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4482
Sure, let me find them.

[2019-08-29 23:43] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4482
These two, I think:
<https://github.com/apple/swift-lldb/pull/1830>
<https://github.com/apple/swift-lldb/pull/1882>

Please let me know if you still have issues and I'll try looking at them.

[2019-09-17 07:19] swift-ci commented on #4563
**Comment by Sarvesh Tamba (JIRA)**

   Hi @adrian-prantl ,

The above issues are still in the recent build - <https://ci-external.swift.org/view/swift-5.1-branch/job/oss-swift-5.1-RA-linux-test-ubuntu-16.04-ppc64le/4587/>

Any help here would be greatly appreciated. Hoping to resolve this one soon.

[2019-09-17 16:16] adrian-prantl commented on #4563
Without access to a machine that reproduces the issue this is difficult to say from afar.

What I would do is:

1\. Try to reproduce the failure from the LLDB command line (by executing actions in the lldb console that reflect what the .py in the test directory is file is doing).
2. Turn this into a standalone command line like \`lldb -o "cmd1" -o "cmd2" ... .../a.out\`
3. Do the same thing on an

[2019-09-17 22:21] kastiglione opened #4481 "[SR-11485] Disabling -serialize-debugging-options breaks lldb Swift type loading"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11485      |
   |Radar             | rdar://problem/55479258         |
   |Original Reporter | @kastiglione      |
   |Type              | Bug    |
   |Status            | Reopened        |
   |Resolution        |     |

Attachment: [Download](https://user-images.githubusercontent.com/272777

[2019-09-21 20:02] swift-ci commented on #4488
**Comment by Steven Van Impe (JIRA)**

   I'm still seeing this with the 5.1 release on Ubuntu 18.04.

I would like to kindly ask that you consider making this a high priority bug. The REPL is for Linux what Playgrounds are for macOS. I use it to teach Swift on Linux, and these errors make for a really bad first impression. Literally, the first word a new Swift user sees is "error" 🙁

[2019-09-22 12:49] weissi commented on #4488
@swift-ci create

[2019-09-22 12:50] weissi commented on #4488
@swift-ci create

[2019-09-28 13:14] weissi opened #4480 "[SR-11543] lldb doesn't work in tests: error: warning: failed to get module "NIO" from AST context"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11543      |
   |Radar             | rdar://problem/55807178         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-09-28 13:15] weissi commented on #4480
@swift-ci create

[2019-09-28 13:15] weissi commented on #4480
CC @adrian-prantl

[2019-09-29 16:30] mattneub opened #4479 "[SR-11546] LLDB gets Swift Foundation overlay optionals wrong"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11546      |
   |Radar             | None         |
   |Original Reporter | @mattneub      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963473-8

[2019-09-29 21:24] swift-ci commented on #4479
**Comment by Dylan Kohler (JIRA)**

   Also reported here: [https://stackoverflow.com/questions/58108824/instantiated-optional-variable-shows-as-nil-in-xcode-debugger/58156592](https://stackoverflow.com/questions/58108824/instantiated-optional-variable-shows-as-nil-in-xcode-debugger/58156592#58156592)

It appears the types need not be optional, just overlays.  Either Date? or Date variables within

[2019-09-30 17:19] belkadan commented on #4480
I think this was a SwiftPM problem that just just got fixed. cc @aciidb0mb3r

[2019-09-30 19:37] jpsim opened #4478 "[SR-11550] Building toolchain fails when running test-lldb-with-swiftpm"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11550      |
   |Radar             | rdar://problem/56054057         |
   |Original Reporter | @jpsim      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift @ master: 40e40103a83f39fd7a4d36a5e9263f99201a1f8f

</details>

   <details>
  <summary>Additional

[2019-09-30 21:13] adrian-prantl commented on #4480
@weissi did you use Swiftpm to build?

-\> \[SR-3280\]: Package manager should link main swiftmodule in executables

[2019-10-01 11:23] weissi commented on #4480
@adrian-prantl yes, see the one-line repro that works from macOS and Linux:

    cd /tmp && git clone https://github.com/apple/swift-nio && cd swift-nio && git reset --hard f548a29a27d7e533f1714d2d282ca0d79f6086dd && docker run -it --rm -v "$PWD:$PWD" -w "$PWD" swift:5.1 swift build --build-tests && docker run -it --rm -v "$PWD:$PWD" -w "$PWD" --privileged swift:5.1 lldb .build/debug/swift-nioPack

[2019-10-01 16:19] adrian-prantl commented on #4480
Great! That's a dupe of the swiftpm bug then.

[2019-10-03 20:06] swift-ci commented on #4488
**Comment by Mücahit Şenol (JIRA)**

   NYX (JIRA User) Thanks a lot. This also solves the issue with Swift 5.1 Ubuntu 18.04

[code]

[2019-10-04 23:45] swift-ci commented on #4384
**Comment by Leonid Kokhnovych (JIRA)**

   This one impacts us daily. It would be great to see a resolution.

[2019-10-05 14:39] swift-ci commented on #4640
**Comment by stephen (JIRA)**

   @belkadan could you expand on your sensible build settings comment? I'm getting the same issue here with a large project with a number of carthage dependencies. You also mention in similar issue thread that it's possible to enable logging for lldb. Can you point me at anything that explains how to do this?

[2019-10-06 13:33] swift-ci commented on #4640
**Comment by stephen (JIRA)**

   I've found the issue that was causing this for me. The pods subproject debug-information-format had got changed to "DWARF with dSYM" when the main project was on "DWARF". Changing both to DWARF fixed it.

[2019-10-07 19:11] belkadan commented on #4640
Sorry for being unclear. The build settings comment was a reference to a vague collection of problems that are sometimes the developer's fault and sometimes the compiler's fault, usually where certain framework headers are found both in the built framework and in the source directory, or where the user is writing custom module maps to access non-modular content but LLDB fails to pick up those cust

[2019-10-09 16:53] mattneub opened #4477 "[SR-11593] REPL incorrectly reports URL as nil"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11593      |
   |Radar             | None         |
   |Original Reporter | @mattneub      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2019-10-09 17:58] belkadan commented on #4477
Indeed, very possibly the same.

[2019-10-10 00:42] adrian-prantl commented on #4478
@aciidb0mb3r is this the test you added recently?

[2019-10-10 00:52] adrian-prantl commented on #4417
Please reopen if this is still an issue.

[2019-10-10 00:52] #4417 closed, assigned to nobody

[2019-10-10 00:53] adrian-prantl commented on #4595
Please reopen if this is still an issue.

[2019-10-10 00:53] #4595 closed, assigned to nobody

[2019-10-10 00:59] aciidgh commented on #4478
Yes. This was [disabled](https://github.com/apple/swift-integration-tests/pull/68) recently but I am not sure what regressed. I suspect it's not SwiftPM since we haven't changed it all that much recently.

[2019-10-10 01:16] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4479
Dupe of SR-11593

[2019-10-10 01:17] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4394
I'm going to take a look at this one tomorrow. Thanks

[2019-10-14 18:14] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4394
Tomorrow ended up being 4 days later.

[2019-10-14 20:37] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4394
This is what I see in the latest snapshot.

[code]

[2019-10-14 20:39] CodaFi commented on #4394
@dcci This seems resolved. Do you know what would have changed to fix this?

[2019-10-14 20:43] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4394
This is also \<rdar://problem/37835998\> and it was fixed by <https://github.com/apple/swift-lldb/pull/1793>

[2019-10-14 20:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4394
@CodaFi I guess I just replied to you, Robert 🙂

[2019-10-14 20:44] #4394 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-10-16 09:04] swift-ci commented on #4501
**Comment by Andrey Yakushev (JIRA)**

   Same problem in Xcode 11.1, during XCTests (sorry, can't show code - NDA). But looks very close (but with Foundation classes instead of UIKit)

[2019-10-23 23:14] swift-ci opened #4558 "[SR-11661] Source path remapping to find source code in LLDB debugging fails when using a UUID property list in a dSYM to specify a source path mapping"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11661      |
   |Radar             | rdar://56671013         |
   |Original Reporter | dylansturg (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/27

[2019-10-24 18:27] belkadan commented on #4558
I'm not sure if this is Swift-specific at all, in which case it may be better to report at <https://bugs.llvm.org> (or Apple Feedback Assistant).

[2019-10-24 19:20] swift-ci commented on #4558
**Comment by Dylan Sturgeon (JIRA)**

   I was able to repro this issue in an Objective-C only iOS app as well, so you're right that this isn't Swift-specific. Although it does represent a significant blocker to debugging Swift for me.

[2019-10-29 03:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4526
lldb-mi is not shipped anymore as part of \`lldb\`.
Bugs against \`lldb-mi\` should be filed at
<https://github.com/lldb-tools/lldb-mi>

Thanks!

[2019-10-29 03:44] #4526 closed, assigned to nobody

[2019-10-29 03:45] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4574
This still reproduces:

[code]

@slavapestov I agree with you, this seems to me a compiler bug.

[2019-10-29 04:06] #4574 closed, assigned to nobody

[2019-10-29 04:46] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4516
This was fixed here:
<https://github.com/apple/swift-lldb/pull/964>

[2019-10-29 04:46] #4516 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-10-29 04:58] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4341
We fixed several instances of this so we encourage you to try with a new snapshot. FWIW, this bug is not actionable as is so I'm going to close it. Please reopen it if you have additional informations.

[2019-10-29 04:58] #4341 closed, assigned to nobody

[2019-10-29 05:00] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4642
This seems to work with a recent lldb

[code]

Please try again and let us know!

[2019-10-29 05:01] #4642 closed, assigned to nobody

[2019-10-29 05:04] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4506
This is ancient history.

[2019-10-29 05:04] #4506 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-10-29 05:06] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4546
This doesn't seem to reproduce anymore.
Feel free to reopen if you have away of reproducing this.

[2019-10-29 05:07] #4546 closed, assigned to nobody

[2019-11-01 08:41] Bouke commented on #4624
It happens for me, on Raspbian Stretch with the current Swift 5.1 arm release:

[code]

[2019-11-01 19:26] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4624
I think it's a different issue \[arm vs x86-64\].

[2019-11-01 19:26] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4624
also, arm is not really officially supported on swift/Linux

[2019-11-02 02:36] belkadan commented on #4611
@swift-ci create

[2019-11-07 22:11] swift-ci opened #4557 "[SR-11732] LLDB crashes when debugging a Swift + Objc app with static libraries, using -no-serialize-debugging-options"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11732      |
   |Radar             | rdar://problem/57087698         |
   |Original Reporter | dylansturg (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercont

[2019-11-08 16:36] swift-ci commented on #4557
**Comment by Dylan Sturgeon (JIRA)**

   I should note that this crash no longer occurs if I set \`target.swift-extra-clang-flags\` in the .lldinit file, which is probably the correct solution. But I think it would be better if LLDB didn't **crash** even when the correct clang flags are unavailable. Interestingly, I also discovered that the crash is prevented if I pass any clang flags that start w

[2019-11-09 01:41] adrian-prantl commented on #4558
This is hopefully the same bug I fixed in https://reviews.llvm.org/D70037.

[2019-11-09 17:29] weissi opened #4436 "[SR-11745] lldb for Linux on Swift 5.1.2: warning: Swift error in fallback scratch context: error: missing required module 'CNIOAtomics'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11745      |
   |Radar             | rdar://problem/57049271         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2019-11-09 17:29] weissi commented on #4436
@swift-ci create

[2019-11-09 17:30] weissi opened #4435 "[SR-11746] lldb on Linux (Swift 5.1.2): lldb crash with {{e ev}}"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11746      |
   |Radar             | rdar://problem/57049272         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-11-09 17:31] weissi commented on #4435
@swift-ci create

[2019-11-09 17:32] weissi commented on #4436
CC @dcci / @adrian-prantl / friss (JIRA User)

[2019-11-09 17:32] weissi commented on #4435
CC @dcci / @adrian-prantl / friss (JIRA User)

[2019-11-09 17:33] weissi commented on #4480
I can confirm this works *much* better on 5.1.2, thank you! Whilst playing with it, I filed SR-11746 and SR-11745 as follow ups.

[2019-11-10 21:07] swift-ci commented on #4488
**Comment by Steven Van Impe (JIRA)**

   Unfortunately, this still exists in 5.1.2.

I believe this is installed by default, no? I certainly didn't install it knowingly, so either it comes with the base system, or as a dependency of one of Swift's dependencies.

[code]

Unfortunately, this also removes valgrind for me, so this isn't really a feasible workaround.

[2019-11-11 19:57] beccadax commented on #4557
@swift-ci create

[2019-11-12 00:17] adrian-prantl commented on #4558
Can you try this again with a snapshot that has <https://github.com/apple/llvm-project/pull/272> in it? It's hard to predict exactly, but presumable 2019-11-13 or later should have it?

[2019-11-12 09:50] weissi commented on #4495
CC @dcci this still reproduces on 5.1.2. Here's a one-liner to compile & install everything from a Mac:

    cd /tmp && if [[ ! -d AvahiClient ]]; then git clone https://github.com/TaborKelly/AvahiClient.git; fi && cd AvahiClient && docker run -it --privileged --rm -v "$PWD:$PWD" -w "$PWD" swift:5.1.2 bash -c 'apt-get update && apt-get -yy install libavahi-client-dev && swift build --build-tests &

[2019-11-12 09:50] weissi commented on #4495
@swift-ci create

[2019-11-13 00:32] adrian-prantl commented on #4488
I had a chance to briefly look at this. From comparing the llvm-dwarfdump output with lldb's error messages it looks like LLDB's dwarf parser may be confused and accidentally reading range list entries from an offset that is 336 bytes too low in that DIE.

So from that it looks like it is indeed a bug in LLDB's DWARF parser, not in GCC. LLDB is currently transitioning to use LLVM's libDebugInfo fo

[2019-11-13 01:02] swift-ci commented on #4488
**Comment by Andrew Fernandes (JIRA)**

   Thank you, @adrian-prantl![]( That is awesome and much-appreciated sleuthing)

For what it’s worth, one of my fears about this but was realized just this week.

I’ve been working with Swift on Linux for an upcoming tensor flow demo and one of the managers saw that error on my screen, scoffed and said dismissively “looks like it’s still a toy” and walked o

[2019-11-13 14:56] swift-ci opened #4556 "[SR-11776] Cyclic Metadata Dependency in Swift 5"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11776      |
   |Radar             | rdar://problem/57176799         |
   |Original Reporter | ermik (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963538-c009ef2e-b1fa-4087-996a-63a0c903220e.gz)

<details>
  <

[2019-11-14 02:16] beccadax commented on #4556
@swift-ci create

[2019-11-14 17:43] swift-ci commented on #4558
**Comment by Dylan Sturgeon (JIRA)**

   I tried it with the dev snapshot from 2019-11-13 and it is working. Thanks for the quick fix!

[2019-11-14 17:45] adrian-prantl commented on #4558
Great!

[2019-11-14 17:45] #4558 closed, assigned to adrian-prantl

[2019-11-20 17:04] swift-ci commented on #4556
**Comment by Ermolay Romanov (JIRA)**

   brentdax (JIRA User) I see that there is some triage here, but what would you say the status of this is?

Thanks!

[2019-11-23 01:59] poya commented on #4505
Fixed with https://github.com/apple/llvm-project/pull/378

[2019-11-23 01:59] #4505 closed, assigned to poya

[2019-11-25 16:50] dabrahams opened #4434 "[SR-11855] https://lldb.llvm.org not up-to-date for Swift"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11855      |
   |Radar             | rdar://problem/57549483         |
   |Original Reporter | @dabrahams      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------

[2019-11-28 18:26] AliSoftware opened #4433 "[SR-11870] LLDB fails to materialize a variable when po in closure"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11870      |
   |Radar             | rdar://problem/57549595         |
   |Original Reporter | @AliSoftware      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Version 11.1 (11A1027)

[code]

</details>

   <details>
  <summary>Additional Detail from JIRA</su

[2019-11-28 18:27] gottesmm commented on #4433
@dcci Any thoughts?

[2019-12-02 04:45] beccadax commented on #4434
@swift-ci create

[2019-12-02 04:48] beccadax commented on #4433
@swift-ci create

[2019-12-02 17:20] adrian-prantl commented on #4434
That is intentional, because the version on llvm.org really doesn't support Swift. All the Swift support is in the swift-lldb fork on Github. Now that swift-lldb and LLVM share the same license we could discuss upstreaming the Swift support to llvm.org but that is also a tough sell because you cannot even build it without also patching LLVM because not all Swift support there has been upstreamed e

[2019-12-02 17:26] dabrahams commented on #4434
Yeah, if I am looking to find out how to use LLDB from the command-line with Swift, LLVM.org is the most obvious place to look. That’s how I got here. So a pointer back to instructions for use from a terminal with Swift would be very helpful.

[2019-12-04 16:41] glbrntt opened #4432 "[SR-11897] LLDB can't load type information"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11897      |
   |Radar             | rdar://problem/57625175         |
   |Original Reporter | @glbrntt      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

-   Ubuntu 16.04

-

[2019-12-04 16:44] weissi commented on #4432
@swift-ci create

[2019-12-04 18:40] weissi commented on #4432
CC @dcci

[2019-12-04 18:41] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4432
@vedantk is looking at this very one

[2019-12-04 18:47] swift-ci opened #4476 "[SR-11898] Per module version of `target.swift-extra-clang-flags` setting"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11898      |
   |Radar             | rdar://problem/57711772         |
   |Original Reporter | dylansturg (JIRA User)      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |----------------

[2019-12-04 22:47] adrian-prantl commented on #4495
<https://github.com/apple/swift/pull/28574>

[2019-12-04 22:55] adrian-prantl commented on #4432
I'm pretty sure this is a dupe of SR-7932.

[2019-12-04 22:55] #4432 closed, assigned to adrian-prantl

[2019-12-05 18:56] #4495 closed, assigned to nobody

[2019-12-06 21:43] beccadax commented on #4476
@swift-ci create

[2019-12-11 01:21] adrian-prantl commented on #4476
more context:
-serialize-debugging-options is an AST serialization option and not part of the debug info. That means it is not affected by -fdebug-prefix-map. This makes it unsuitable for distributable or reproducible builds.

You would still need to ensure that all the per-module clang flags don't conflict. Is the goal here to allow a library author to ship prefix-map'able clang flags with each s

[2019-12-11 01:34] swift-ci commented on #4476
**Comment by Dylan Sturgeon (JIRA)**

   <span color="#172b4d">I agree it's still possible to have per-module conflicts, but much less likely (at least for the Bazel based builds that I'm working with). I'm definitely open to alternatives that remove the chance of conflicts; this proposal seemed like a decent compromise. You're correct that the goal is to allow libraries to specify/ship their own

[2019-12-11 18:06] adrian-prantl commented on #4476
When you said "per module" are referring to what LLDB calls a module (= a dylib) or to a Swift module?

I would like to figure out what the imagined workflow is and then design a feature to support this. LLDB doesn't have a mechanism to tie settings to individual lldb::Modules let alone Swift modules. But if we work backwards from what the intended workflow is, I'm sure we can design something use

[2019-12-12 00:26] swift-ci commented on #4476
**Comment by Dylan Sturgeon (JIRA)**

   I was originally referring to a Swift module, but a different granularity might make more sense. We don't generally create dylibs from libraries, instead everything is statically linked.

Your example is something we could do, but there are some concerns that the conglomerate of Clang flags might lead to inconsistencies between the Swift compiler invocation

[2019-12-12 17:44] adrian-prantl commented on #4476
\> One example that came up was potentially for finding the wrong header due to order/presence of different include dirs used by LLDB versus the Swift compiler when building originally.

I would expect this problem to get *worse* if you have per-module Swift flags. You may not be aware that even for something like printing the value of a variable LLDB has to perform most operations in the global e

[2019-12-12 18:18] swift-ci commented on #4476
**Comment by Dylan Sturgeon (JIRA)**

   You're correct that the concern is about cross-pollution, not a distribution mechanism.

It sounds like rather than try to invest more in improving usage of Clang flags with LLDB, it would be better to invest in the existing DWARFImporter so that we can use DWARF debug information. Removing the Clang module import step from LLDB would be helpful, because I

[2019-12-19 22:13] swift-ci opened #4475 "[SR-11971] simulator environment is missing from the triple for SwiftASTContextForExpressions"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11971      |
   |Radar             | rdar://problem/58438125         |
   |Original Reporter | dylansturg (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercont

[2019-12-19 22:25] swift-ci commented on #4475
**Comment by Dylan Sturgeon (JIRA)**

   Just to clarify - debugging *seems* to work correctly and I'm able to evaluate expressions in the debug session. I'm unsure what internal info/data structures could be corrupted and whether it has some subtle or hard to see impact on debugging.

[2019-12-20 00:07] adrian-prantl commented on #4475
@swift-ci create

[2019-12-20 00:08] adrian-prantl commented on #4475
LLDB is super sensitive to triples in many places, so this really valuable. Thanks!

[2020-01-04 06:46] swift-ci opened #4474 "[SR-11990] No error in REPL when importing non-existent module"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11990      |
   |Radar             | rdar://problem/58455466         |
   |Original Reporter | rahulbhalley (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercont

[2020-01-09 20:00] swift-ci commented on #4488
**Comment by Joaquin Alori (JIRA)**

   Just got started with S4TF and got hit with this same error. Also just signed up to this tracker too, so not sure if comments like the one I'm writing are useful or just noise, sorry if thats the case!

[2020-01-09 20:26] adrian-prantl commented on #4488
It doesn't help but it also doesn't hurt.

This is a bug in LLDB's internal DWARF parser that is not present in LLVM's DWARF parser but I'm not going to invest time in fixing it, since there is work underway (over the next couple of months) to switch LLDB over to use the LLVM DWARF parser. If anyone is motivated to fix the bug in the LLDB DWARF parser in the mean time I'm happy to review the patch

[2020-01-09 21:26] beccadax commented on #4474
@swift-ci create

[2020-01-11 14:58] swift-ci commented on #4482
**Comment by Yaroslav (JIRA)**

   I'm still facing this issue.

Issue appears on macOS 10.15.2, not on Linux.

The issue appears when I'm trying to import any module, like:

[code]

follows this:

[code]

Issue also appears within imported methods completions within --repl.

[code]

[code]

[2020-01-30 19:36] swift-ci commented on #4624
**Comment by Cebtenzzre (JIRA)**

   I'm getting this error too. I built Swift from commit e3409e4 on the tensorflow branch.

[code]

[2020-01-31 22:16] swift-ci commented on #4624
**Comment by Cebtenzzre (JIRA)**

   Well, I figured it out.
I ran the following command to get some diagnostic info:

[code]

So, the issue here (which I figured out mostly using GDB) is that LLDB can't find the clang resource directory (/usr/lib/clang/9.0.1).
The solution, in my case, is to symlink /usr/lib/lldb/clang to /usr/lib/clang/9.0.1.

This error message is unhelpful and the resource dir

[2020-01-31 22:16] #4624 closed, assigned to nobody

[2020-02-10 19:25] sharplet opened #4431 "[SR-12172] Description of Date? expression is printed as nil even when non-nil"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12172      |
   |Radar             | rdar://problem/59496019         |
   |Original Reporter | @sharplet      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2020-02-10 19:39] AliSoftware commented on #4431
Observed the same behaviour in the REPL here too, not only with `Date` but also with `Calendar`. But this does not happen with some other types like `String` or `Int` though.

Personally I tested it with:

    Apple Swift version 5.1 (swiftlang-1100.0.270.13 clang-1100.0.33.7)
    Target: x86_64-apple-darwin19.3.0

[2020-02-11 00:37] swift-ci commented on #4333
**Comment by Palle Klewitz (JIRA)**

   Looks like this is fixed in Swift 5.2

[2020-02-11 00:37] #4333 closed, assigned to nobody

[2020-02-12 05:04] poya commented on #4431
Looks like duplicate of SR-11593

[2020-02-13 21:34] jepers commented on #4330
Pressing tab for code completion is not working anymore either.

[2020-02-16 20:58] beccadax commented on #4431
@swift-ci create

[2020-02-17 08:22] belkadan opened #4430 "[SR-12220] Swift.Substring doesn't have a built-in formatter"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12220      |
   |Radar             | rdar://problem/31977859         |
   |Original Reporter | @belkadan      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|----------

[2020-02-18 23:53] poya commented on #4493
Fixed with https://github.com/apple/llvm-project/pull/771

[2020-02-21 03:14] hborla commented on #4430
@swift-ci create

[2020-02-23 18:31] swift-ci opened #4473 "[SR-12258] Segfault in LLDB"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12258      |
   |Radar             | rdar://problem/59736922         |
   |Original Reporter | MrLotU (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift Master nightly toolchain (Feb 21)
Swift version 5.2-dev (LLVM 4cd92ac2f9, Swift 79716ef

[2020-02-24 19:21] weissi commented on #4473
CC @dcci

[2020-02-24 21:01] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4473
@swift-ci create

[2020-02-25 22:33] adrian-prantl commented on #4473
Unfortunately there is a bug in LLDB's reproducer support that makes this reproducer not replay itself 🙁

Would you mind giving me step-by-step instructions for reproducing the crash?

[2020-03-04 22:19] adrian-prantl commented on #4433
I've had trouble building the project. I assume this still happens with Swift 5.2 (Latest Xcode 11.4 beta)?

[2020-03-05 17:56] adrian-prantl commented on #4475
First patch: <https://reviews.llvm.org/D75696>

[2020-03-16 07:50] swift-ci commented on #4488
**Comment by Rex Fenley (JIRA)**

   I also just ran into this, and like others, I find it very jarring and I don't think this bug will give colleagues confidence.

How close is the parser switch to complete? Is parser change shipping with Swift 5.2?

If not, I'd like to evaluate the difficulty of fixing this.

\>"accidentally reading range list entries from an offset that is 336 bytes too low in

[2020-03-16 16:10] adrian-prantl commented on #4488
\> How close is the parser switch to complete? Is parser change shipping with Swift 5.2?

No. You can follow upstream LLDB development on the lldb-dev and lldb-commits mailings on <https://lldb.llvm.org/.>

\> However, I'm not sure what "DIE" is

A DIE is a Debug Information Entry (cf. <http://www.dwarfstd.org/Download.php).>

[2020-03-17 02:43] adrian-prantl commented on #4475
And that is also the last patch, because the final verdict on whether something is ios-simulator or not can only be made once we have a process, so it "behaves correctly" that we misidentify it in the per-module SwiftASTContext.

Thanks!

[2020-03-17 02:43] adrian-prantl commented on #4475
[( https://github.com/apple/llvm-project/pull/915](https://github.com/apple/llvm-project/pull/915) )

[2020-03-17 02:43] #4475 closed, assigned to adrian-prantl

[2020-03-25 15:58] zntfdr opened #4429 "[SR-12406] [SwiftPM?] lldb <uninitialized> object?"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12406      |
   |Radar             | https://feedbackassistant.apple.com/feedback/7639388         |
   |Original Reporter | @zntfdr      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail f

[2020-03-25 17:52] adrian-prantl commented on #4474
Fixed by [Augusto Noronha](https://forums.swift.org/u/augusto2112) in <https://github.com/apple/llvm-project/pull/958.>

[2020-03-25 17:53] #4474 closed, assigned to augusto2112

[2020-03-26 22:52] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4435
@augusto2112 if you want another bug to look at – this might be a good one.

[2020-03-26 23:05] augusto2112 commented on #4435
I'll take a look!

[2020-03-29 07:39] benrimmington commented on #4330
REPL history (up/down arrows) and code completion (tab key) appear to be fixed in the Swift 5.2 REPL (after installing Xcode 11.4).

LLDB history (i.e. `:help command history`) doesn't work in REPL mode. For example, `:command history` prints nothing, and `:-2 in history`.

[2020-03-29 19:40] 5778bec9-260f-40de-90e8-1508077e5ee5 opened #4428 "[SR-12444] Xcode Debugger and lldb fail to display Foundation Types"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12444      |
   |Radar             | rdar://problem/62201026         |
   |Original Reporter | @phoney      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963718-5a5a3a7a-408f-45fe-bfff-32fa7178c46e.gz)

<details>
  <summary>En

[2020-04-02 01:23] augusto2112 commented on #4435
Bug fixed [here](https://github.com/apple/llvm-project/pull/994)

[2020-04-02 12:55] weissi commented on #4435
Awesome, thanks @augusto2112. Just tried with the latest master snapshot where it still crashes but I reckon this will take another day to hit the swift master snapshot.

Here's the one-line to repro it with latest master:

    docker pull swiftlang/swift:nightly-master && cd /tmp && rm -rf swift-nio && git clone https://github.com/apple/swift-nio && cd swift-nio && git reset --hard f548a29a27d7e5

[2020-04-03 14:49] weissi commented on #4435
@augusto2112 should it be working with the latest master snapshot of today or do I need to wait for tomorrow? Just tested it and right now it still fails. I'm running

    $ docker run -it --rm -v "$PWD:$PWD" -w "$PWD" --privileged swiftlang/swift:nightly-master swift -version
    Swift version 5.3-dev (LLVM 06099c05ae, Swift 1d423e43c0)
    Target: x86_64-unknown-linux-gnu
    johannes:/tmp/swift

[2020-04-03 15:05] augusto2112 commented on #4435
Hi @weissi,

Hmm, yeah, I wasn't recompiling swift-nio, so running the newest lldb on the already compiled code works as expected, but if I re-clone and re-compile with the latest swift version the debugger goes back to crashing, weird...

I'll take a second look on why this is still happening, sorry for the mistake.

[2020-04-03 16:04] weissi commented on #4435
Thanks so much @augusto2112!

[2020-04-03 17:17] augusto2112 commented on #4435
@weissi so what I think  happened is changes in the compiler code exposed a second crash that wasn't happening before. Since I didn't recompile swift-nio with the latest compiler I wasn't getting the crash. The crash itself is a null pointer exception which I opened a PR to fix [here.](https://github.com/apple/llvm-project/pull/1021)

[2020-04-03 17:34] weissi commented on #4435
@augusto2112 how cool and thanks so much, will monitor that PR and retest with the snapshot once that's in too 🙂

[2020-04-05 15:11] swift-ci opened #4472 "[SR-12518] Couldn't lookup symbols error when using default function argument in REPL."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12518      |
   |Radar             | rdar://problem/62201694         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Swift version 5.2

[2020-04-06 21:26] swift-ci opened #4471 "[SR-12532] swift run --repl crashes with C/C++ dependencies"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12532      |
   |Radar             | https://feedbackassistant.apple.com/feedback/7654249         |
   |Original Reporter | yaroslav_ya (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2020-04-08 13:03] swift-ci opened #4470 "[SR-12549] lldb crashes when Vapor server hits an exception"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12549      |
   |Radar             | rdar://problem/62201641         |
   |Original Reporter | WWessels (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963745-8fc1233d-050b-4502-b4bb-e30d1341a1ca.gz)

   <detail

[2020-04-17 22:03] beccadax commented on #4428
@swift-ci create

[2020-04-17 22:07] beccadax commented on #4472
@swift-ci create

[2020-04-17 22:11] beccadax commented on #4470
@swift-ci create

[2020-04-20 12:06] augusto2112 commented on #4435
Hi @weissi. The bug is (finally!) fixed. I've tested with the latest snapshot just to make sure everything is working correctly 🙂

[2020-04-20 13:03] weissi commented on #4435
@augusto2112 You're a star! Thank you. I can confirm it works on master. Proof:

    (lldb) e ev
    (NIO.SelectorEvent<NIO.NIORegistration>) $R0 = {
      registration = socketChannel {
        socketChannel = {
          0 = 0x400055555643a2b0 {
            NIO.BaseSocketChannel = {
              parent = nil
              socket = 0x000055555643a220 {
                NIO.BaseSocket = {

[2020-04-20 13:03] #4435 closed, assigned to augusto2112

[2020-04-21 21:54] dabrahams commented on #4649
morlovich (JIRA User) So <https://reviews.llvm.org/D47879> is nonsense?

[2020-04-23 20:27] swift-ci commented on #4649
**Comment by Ryan Lovelett (JIRA)**

   @dabrahams I think this bug and what D47879 are referencing, while similar, are two different things.

The lldb-dev thread, [LLDB Process Attach Failed When Waiting](https://www.mail-archive.com/lldb-dev@lists.llvm.org/msg05739.html), is the genesis the D47879 patch. The thing that the D47879 patch enables is for lldb to wait for a process to start, by polli

[2020-04-23 20:27] #4649 closed, assigned to nobody

[2020-05-03 03:11] swift-ci opened #4469 "[SR-12724] LLDB can falsely report that a variable holds nil"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12724      |
   |Radar             | rdar://problem/62895094         |
   |Original Reporter | ThatsJustCheesy (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963776-ed1d944a-a63a-4279-9f36-53a70241703e.gz)

<de

[2020-05-05 19:01] beccadax commented on #4469
@swift-ci create

[2020-05-10 11:04] swift-ci opened #4468 "[SR-12769] lldb expression command prints wrong result for characters in the range 0x80-0x9f"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12769      |
   |Radar             | None         |
   |Original Reporter | nsc (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2020-05-11 12:42] swift-ci opened #4467 "[SR-12783] Couldn't IRGen expression, no additional error"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12783      |
   |Radar             | rdar://problem/63089113         |
   |Original Reporter | arturgrigor (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercon

[2020-05-11 15:55] typesanitizer commented on #4467
@swift-ci create

[2020-05-11 19:27] adrian-prantl commented on #4467
++Can you post steps to reproduce the failure?

[2020-05-11 19:45] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   @adrian-prantl I will try to compile a demo project tomorrow with that framework included if that helps.

[2020-05-12 10:27] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   @adrian-prantl I couldn't upload the demo project here because it exceeds the 10MB limit so I uploaded it to iCloud Drive. Here's the link to it: <https://www.icloud.com/iclouddrive/0xJEW8Tco_3VoTVHqzxZ0d7Rg#LLDB_Crash>

Look for the \`ViewController.swift\` file, put a breakpoint on line 17 and run \`po self.someVariable\` to see the problem.

[2020-05-12 12:31] augusto2112 opened #4427 "[SR-12794] Repl emitting warning: "adding which has a base that is less than the function's low PC""
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12794      |
   |Radar             | None         |
   |Original Reporter | @augusto2112      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2020-05-12 16:46] vedantk commented on #4427
This might be a bug in whichever compiler built ld.so. Can you get lldb to dump out the pretty-printed DIE and tag for the function it’s complaining about, so we can be sure?

[2020-05-12 16:53] swift-ci commented on #4427
**Comment by Owen Voorhees (JIRA)**

   I think this may be a duplicate of SR-8690, which has some additional info

[2020-05-12 17:46] #4427 closed, assigned to nobody

[2020-05-12 17:52] adrian-prantl commented on #4467
Awesome, I can reproduce it.

[2020-05-12 18:09] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   Perfect! ✌️

[2020-05-13 02:54] adrian-prantl commented on #4467
LLDB could clearly do a better job of surfacing the error — I had to dig it out of the types log:

`SwiftASTContext("Instabug")::GetASTContext() – failed to initialize ClangImporter: error: virtual filesystem overlay file '/Users/khaledElMorabea/Library/Developer/Xcode/DerivedData/Instabug-ccnahiryvffhsohhjpovgyeazflu/Build/Intermediates.noindex/ArchiveIntermediates/Instabug/IntermediateBuildFiles

[2020-05-13 04:41] poya commented on #4468
Duplicate of SR-8111

[2020-05-13 04:41] #4468 closed, assigned to nobody

[2020-05-13 08:35] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   Excellent! I will inform them.

Also, I noticed that you've closed this issue. Shouldn't this ticket be open because developers still get this problem and by looking at the answers with solutions from this [Stack Overflow link](https://stackoverflow.com/questions/43977271/lldb-couldnt-irgen-expression) it looks like this problem can have multiple causes.

We

[2020-05-13 12:52] swift-ci commented on #4467
**Comment by Khaled El Morabea (JIRA)**

   arturgrigor (JIRA User) Thanks a lot for sharing this answer but could you share what this flag does?  `-no-serialize-debugging-options`

[2020-05-13 13:09] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   khaled.elmorabea (JIRA User) I can't find much information about this compiler flag except that it's defined in the Swift codebase (<https://github.com/apple/swift)> and there are some references to it in the Swift Forums (<https://forums.swift.org/search?q=no-serialize-debugging-options),> but maybe @adrian-prantl can help you with that.

[2020-05-13 16:22] adrian-prantl commented on #4467
\> Thanks a lot for sharing this answer but could you share what this flag does? -no-serialize-debugging-options

Sure! LLDB has an embedded Swift compiler that will attempt to load the .swiftmodule for each Swift module in your program. The binary .swiftmodule is embedded in the .dSYM bundle for LLDB to find. When `-serialize-debugging-options` is enabled the Swift compiler will serialize all Cla

[2020-05-13 16:30] adrian-prantl commented on #4467
\> Also, I noticed that you've closed this issue. Shouldn't this ticket be open because developers still get this problem and by looking at the answers with solutions from this [Stack Overflow link](https://stackoverflow.com/questions/43977271/lldb-couldnt-irgen-expression) it looks like this problem can have multiple causes.

That's exactly the problem. I want to avoid developers googling a sympt

[2020-05-13 17:01] swift-ci commented on #4467
**Comment by Artur Grigor (JIRA)**

   Ok, it makes sense.

Thank you for all your help!

[2020-05-13 21:46] adrian-prantl commented on #4467
<https://github.com/apple/llvm-project/pull/1220>

[2020-05-18 23:27] benrimmington commented on #4517
Tested with Swift 5.3-dev REPL (master branch). Still no warnings or errors.

[2020-05-19 23:53] 5778bec9-260f-40de-90e8-1508077e5ee5 commented on #4428
See also <https://bugs.swift.org/browse/SR-12724>

[2020-05-20 00:16] 5778bec9-260f-40de-90e8-1508077e5ee5 commented on #4469
See also <https://bugs.swift.org/browse/SR-12444>

[2020-05-20 02:07] poya commented on #4428
Looks like duplicate of SR-11593

[2020-05-23 22:12] swift-ci opened #4466 "[SR-12867] REPL: Autocomplete for debugger commands leaves out characters"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12867      |
   |Radar             | None         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Swift version 5.2.4 (swiftlang-1103.0

[2020-06-03 19:25] swift-ci opened #4465 "[SR-12932] Custom toolchain picks up wrong target based on iOS deployment target"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12932      |
   |Radar             | rdar://problem/63943132         |
   |Original Reporter | steipete (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserconten

[2020-06-03 21:47] weissi commented on #4465
@swift-ci create

[2020-06-04 00:08] swift-ci opened #4464 "[SR-12933] lldb: Couldn't IRGen expression; with -no-serialize-debugging-options"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12933      |
   |Radar             | rdar://problem/63760482         |
   |Original Reporter | steipete (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Version 11.5 (1

[2020-06-04 17:54] adrian-prantl commented on #4464
Based on the description, you are running intro the issue discussed in <https://bugs.swift.org/browse/SR-12783.> The short answer is, if you are planning to ship a dSYM to another machine, you need to make sure to compiler with `-no-serialize-debugging-options`. This will avoid hardcoding any search paths into the serialized Swift modules that are stored in the .dSYM bundle.

[2020-06-04 17:56] adrian-prantl commented on #4464
Looks like I hit reply too early. You already tried that.

[2020-06-04 18:05] adrian-prantl commented on #4464
I just double-checked the compiler sources and `-no-serialize-debugging-options` is the right option:

It gets lowered to `SerializeOptionsForDebugging` here:
<https://github.com/apple/swift/blob/4e0fad869c440489053753d059c57a4ea9dd66e6/lib/Frontend/ArgsToFrontendOptionsConverter.cpp#L175>

and that option controls whether the Clang search paths are serialized in the .swiftmodule or not here:

<ht

[2020-06-04 18:45] swift-ci commented on #4464
**Comment by Peter Steinberger (JIRA)**

   Thanks for looking into this, Adrian! I did verify that my xcconfig settings work, if I add a typo to the flag, I get compile errors. Can I send you anything else to help?

[2020-06-04 19:00] adrian-prantl commented on #4464
\> Should it work like that? Is the dSYM bound to the machine it was built?

With `-no-serialize-debugging-options` it is supposed to work, however, since no Clang search paths are serialized, you may need to tell LLDB where to find the Clang header dependencies on the other machine manually. This can be done by setting the `target.swift-extra-clang-flags` option. Starting with Swift 5.2, LLDB is

[2020-06-04 21:28] adrian-prantl commented on #4464
Thank you so much for filing this report! I was able to identify a bug in dsymutil that would misdirect LLDB to the .swiftmodule files on disk (the ones on the machine the .dSYM was built with), and disregard the ones included in the .dSYM itself. That could explain part of what we're seeing.

\> Can I send you anything else to help?

Yes. I was unable to reproduce your report that `-no-serialize-

[2020-06-05 13:17] swift-ci commented on #4464
**Comment by Franz Busch (JIRA)**

   @adrian-prantl I was just trying to debug this in our application as well since we are running into this problem constantly. We use Carthage and share the artefacts with ROME. That means one dev is building all the artefacts and then uploading them to an S3 bucket where everybody pulls them from. As far as I understood from the above we should be using  -no-se

[2020-06-05 17:00] adrian-prantl commented on #4464
Peter, I'm sorry. I just realized that you had the answer to my second question already in your fantastic blog post:

`warning: Swift error in fallback scratch context: error: module 'Swift' was created for incompatible target x86_64-apple-ios13.0-simulator: /Users/steipete/Library/Developer/Xcode/DerivedData/ModuleCache.noindex/Swift-3K8REJ00QGV2U.swiftmodule`

That is very valuable information.

[2020-06-05 20:50] adrian-prantl commented on #4464
The dsymutil issue I mentioned is fixed here: <https://reviews.llvm.org/D81205>

[2020-06-05 22:16] adrian-prantl commented on #4464
One more thing I noticed in <https://gist.github.com/steipete/515646a9840c91a61b73d1ab9f255bb3>:

`SwiftASTContext("PSPDFKit")::DeserializeAllCompilerFlags() – Found 1 AST file data entries.`
`Unable to load Swift AST for module "PSPDFKit" from library "/Users/steipete/Library/Developer/Xcode/DerivedData/SwiftExample-gkpyxmqpselkitgjpzrvuzwcnruj/Build/Products/Debug-iphonesimulator/SwiftExample.ap

[2020-06-10 21:34] vedantk commented on #4494
Addressed in <https://github.com/apple/swift/pull/32282.>

[2020-06-10 21:34] #4494 closed, assigned to vedantk

[2020-06-11 16:36] adrian-prantl commented on #4464
There is one more thing that could play into this: Does the problem also reproduce when you bump the deployment target to iOS 13?

[2020-06-12 15:03] swift-ci commented on #4464
**Comment by Peter Steinberger (JIRA)**

   Adrian: Thanks so much for debugging this and for fixing the issue in dsymutil!

Apologies for the late reply. I've been running into a bunch of issues ([https://twitter.com/steipete/status/1270756342295334914](https://twitter.com/steipete/status/1270756342295334914?s=21)) trying to build our project with the Swift Trunk toolchain, but Slava Pestov \[men

[2020-06-12 17:23] adrian-prantl commented on #4464
That's great, by then I may actually have found the time to fix the issue I'm suspecting regarding the deployment target. I'll ping the Jira ticket once that fix has landed.

[2020-06-16 18:14] swift-ci commented on #4488
**Comment by Steven Van Impe (JIRA)**

   I'm no longer seeing this with Swift 5.2.4 on Ubuntu 20.04.

[2020-06-18 18:32] weissi opened #4426 "[SR-13043] Don't know how to break on specific Swift function in LLDB"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13043      |
   |Radar             | rdar://problem/64517056         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2020-06-18 18:34] weissi opened #4425 "[SR-13044] LLDB function completion for breakpoints doesn't work"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13044      |
   |Radar             | rdar://problem/64517057         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2020-06-18 18:40] weissi commented on #4425
@swift-ci create

[2020-06-18 18:41] weissi commented on #4426
@swift-ci create

[2020-06-18 20:08] swift-ci commented on #4426
**Comment by Jim Ingham (JIRA)**

   There are two separate issues here.  The first is that lldb doesn't have a fuzzy matcher against the full demangled name.  Once you start providing arguments lldb just matches against the demangled name in toto.  We need to add a fuzzy argument name matcher.  Note, that's a problem for C++ as well as for Swift.  Parts of this job are easy (removing extra spaces

[2020-06-18 20:23] swift-ci commented on #4425
**Comment by Jim Ingham (JIRA)**

   Note that Johannes actually called his function:

some2.Foo.otherFunction(x: T, string: Swift.String) -\> ()

But the completer typed it:

some2.Foo.otherFunction(x: A, string: Swift.String) -\> ()

Note T-\>A.  The problem here is that the demangled name just knows this is generic slot 1, and in the absence of more information calls that "A".  Then later on, w

[2020-06-18 22:11] weissi commented on #4425
@swift-ci create

[2020-06-24 00:34] swift-ci opened #4463 "[SR-13066] LLDB does not descend into system libraries when debugging"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13066      |
   |Radar             | None         |
   |Original Reporter | ryanw (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Won't Do    |

<details>
  <summary>Environment</summary>

Fedora 32 with master build:
Swift

[2020-06-27 02:58] thii commented on #4481
This doesn't seem to reproduce anymore with Xcode 11.5 and 12 beta. Is it fixed now?

[2020-06-27 23:51] LucianoPAlmeida opened #4424 "[SR-13103] lldb cannot evaluate optional date objects"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13103      |
   |Radar             | rdar://problem/64947443         |
   |Original Reporter | @LucianoPAlmeida      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

Attachment: [Download](https://user-images.githubusercontent

[2020-06-27 23:53] LucianoPAlmeida commented on #4424
cc theindigamer (JIRA User) 🙂

[2020-06-28 04:57] typesanitizer commented on #4424
@swift-ci create

[2020-06-29 20:56] adrian-prantl commented on #4481
It is true that in Xcode 12, LLDB no longer reads the SDK out of the binary Swift modules, so if removing the paths from the Swift modules is what caused LLDB to no longer find the SDK, then that could be considered fixed.

[2020-06-30 19:55] kastiglione commented on #4481
@thii thanks for the comment! In my testing with our project, we no longer need the work around for Xcode 11.5.

[2020-07-02 01:58] poya commented on #4466
<https://reviews.llvm.org/D82835>

[2020-07-02 02:06] poya commented on #4424
Looks like duplicate of SR-11593

[2020-07-03 01:01] LucianoPAlmeida commented on #4424
Seems like it indeed a dupe, theindigamer (JIRA User) should we close this as dupe?

[2020-07-03 01:45] typesanitizer commented on #4424
Done!

[2020-07-03 01:45] #4424 closed, assigned to nobody

[2020-07-07 12:34] swift-ci opened #4462 "[SR-13162] [LLDB] LLDB disconnects from process: 'Cannot load 'CurrentModule'' when debugging external project in workspace"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13162      |
   |Radar             | None         |
   |Original Reporter | minuscorp (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963884-d64fa424-91a5-48b5-bd12-1cabf1b13c47.gz)

<details>
  <summary>Environ

[2020-07-09 02:25] poya commented on #4466
Fixed in swift/master with <https://github.com/apple/llvm-project/pull/1428>

Test in https://github.com/apple/llvm-project/pull/1421

[2020-07-09 02:25] #4466 closed, assigned to poya

[2020-07-09 17:04] adrian-prantl commented on #4465
This is addressed by <https://reviews.llvm.org/D82616,> which has been cherry-picked to swift/release/5.3.

[2020-07-09 17:06] adrian-prantl commented on #4465
<https://github.com/apple/llvm-project/pull/1400>

[2020-07-09 17:19] adrian-prantl commented on #4465
Please note that this may still not work completely in Xcode 12 beta 2, because of <https://github.com/apple/llvm-project/pull/1350>

[2020-07-09 17:29] adrian-prantl commented on #4464
The deployment target issues are fixed (see SR-12932). Does this still reproduce with the bugfixes from SR-12932?

(Unfortunately Xcode 12 beta 2 shipped before the last fix went in. You may see a "cannot load Swift stdlib" error there).

[2020-07-09 17:33] adrian-prantl commented on #4338
This should be addressed by the simulator triple fixes in SR-12932. If it still doesn't work, please let me know!

[2020-07-09 17:33] #4338 closed, assigned to adrian-prantl

[2020-07-09 17:34] adrian-prantl commented on #4397
This is no longer applicable.

[2020-07-09 17:34] #4397 closed, assigned to adrian-prantl

[2020-07-09 17:34] adrian-prantl commented on #4399
This is no longer applicable.

[2020-07-09 17:34] #4399 closed, assigned to adrian-prantl

[2020-07-13 17:29] augusto2112 opened #4423 "[SR-13208] LLDB fails to evaluate expressions inside class-bound protocol extensions"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13208      |
   |Radar             | None         |
   |Original Reporter | @augusto2112      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2020-07-13 17:29] augusto2112 commented on #4423
@vedantk @adrian-prantl I stumbled into this problem when working on another bug. The problem happens because of the logic that decides what the function's decorator should be.

[code]

[2020-07-15 18:57] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   Can someone @slavapestov take a brief look at this?
Sorry for pinging

[2020-07-20 19:43] swift-ci commented on #4464
**Comment by keith siilats (JIRA)**

   I ran into this when trying to attach the Firebase binaries with carthage in Xcode 11.5 and 11.6. I think its only the performance one that does this. I tried the lldb log file but don't see anything obvious there. I also read your blog post but I dont see and Firebase related dsym files in the Carthage Build IOS folder, although there are some facebook ones

[2020-07-24 07:10] thii opened #4422 "[SR-13275] Clang module breadcrumbs remaining in binaries even with '-no-clang-module-breadcrumbs'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13275      |
   |Radar             | rdar://problem/66058061         |
   |Original Reporter | @thii      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963901-7708b001-f754-4f0b-b014-3b8d3b04c282.gz)

   <details>
  <summary>A

[2020-07-24 17:31] adrian-prantl commented on #4422
@swift-ci create

[2020-07-26 16:31] swift-ci commented on #4464
**Comment by Peter Steinberger (JIRA)**

   We're still working on getting everything built with Xcode 12b3; there's another lldb bug where it doesn’t work when the iOS deployment target is set to anything below iOS 13. FB8128033, also reported on <https://developer.apple.com/forums/thread/651375.>

There's also a crasher in Apple's security helper on the DTK that currently breaks our build script

[2020-07-26 16:42] swift-ci commented on #4465
**Comment by Peter Steinberger (JIRA)**

   As of Xcode 12b3, this isn't working yet. But looks like it's just a matter of time until this fix lands in a release. Thanks for fixing this!

[2020-07-27 17:40] adrian-prantl commented on #4464
Unfortunately there is very little information in FB8128033 that would help diagnose what the root cause is. Based on the symptoms, it could be the bug that was fixed in <https://github.com/apple/llvm-project/pull/1548> (not yet in beta 3) but it's difficult to tell with neither a log nor a reproducer. \[It is that bug if the types log under SwiftASTContextForExpressions::LogConfiguration shows an

[2020-07-27 17:43] adrian-prantl commented on #4465
This could be <https://github.com/apple/llvm-project/pull/1548.>

[2020-07-27 17:43] #4465 closed, assigned to adrian-prantl

[2020-08-03 11:35] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   Happens in Xcode 11.6 too and in Xcode 12.0 beta 3. Wasn't it a change in the directories in the DWARF files?

[2020-08-10 18:28] adrian-prantl commented on #4464
All the issues I'm aware of in this area should be resolved in beta 4.

[2020-08-16 10:41] #4493 closed, assigned to poya

[2020-08-19 21:48] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   Still not able to debug projects imported as submodules when trying to use lldb commands on breakpoints. Sometimes the lldb process crashes just when the debugger stops, other times when the we evaluate a variable with po. Using gdb commands like v seems to work.
AST logs attached have relevant information about how the crash is produced.
Can this g

[2020-08-20 11:44] swift-ci commented on #4464
**Comment by Peter Steinberger (JIRA)**

   Many thanks for looking into this issue!

I can no longer reproduce the issues here as of Xcode 12b4 - debugging works as expected, no matter if the dSYM is available or not.

[2020-08-20 16:35] adrian-prantl commented on #4464
I'm happy to hear that we finally got to the bottom of this. Thanks a lot for you patience and the excellent bug reports!

[2020-08-20 16:35] #4464 closed, assigned to adrian-prantl

[2020-08-26 07:22] swift-ci opened #4461 "[SR-13452] LLDB: Couldn't IRGen expression"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13452      |
   |Radar             | None         |
   |Original Reporter | lutluthfi (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963941-419e5cf3-888f-4fe7-812a-2cb52d7598e7.gz)

<details>
  <summary>Environ

[2020-08-31 00:53] johnno1962 opened #4421 "[SR-13477] Cannot build toolchain with Xcode 12 beta 3 or later."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13477      |
   |Radar             | rdar://problem/68115900         |
   |Original Reporter | @johnno1962      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Catalina 10.15.4, Xcode 12 beta 2

</details>

   <details>
  <summary>Additional Detail from JIRA</

[2020-08-31 01:00] LucianoPAlmeida commented on #4421
@johnno1962 I had the same issue moving from beta 1 to beta 6, to build successfully you have to pass the --swift-darwin-supported-archs 'x86_64' flag on the build-script.
Perhaps this should have to be be in the docs somewhere

[2020-08-31 01:06] johnno1962 commented on #4421
Thanks! I guess it should be.

[2020-09-01 04:12] typesanitizer commented on #4421
@swift-ci create

[2020-09-03 21:55] keith opened #4420 "[SR-13493] Improve lldb warning about invalid ASTs"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13493      |
   |Radar             | None         |
   |Original Reporter | @keith      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2020-09-03 22:17] adrian-prantl commented on #4501
The radar linked with this issue is marked as fixed — Is this accurate?

[2020-09-04 10:01] johnno1962 opened #4419 "[SR-13499] LLDB does not cope well with breakpoints in dynamically loaded code."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13499      |
   |Radar             | rdar://problem/68376686         |
   |Original Reporter | @johnno1962      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 12 betas up to 6, Catalina 10.15.6

</details>

   <details>
  <summary>Additional Detail from

[2020-09-04 10:18] johnno1962 commented on #4419
To replicate the problem, download [this test project](https://github.com/johnno1962/InjectionIII/files/5062801/TestInjection.zip) and [the injection App](https://itunes.apple.com/app/injectioniii/id1380446739?mt=12) and set a breakpoint in the ViewController.swift code and save the file to inject it. When the breakpoint triggers you won't be able to print or view self.

[2020-09-05 02:39] typesanitizer commented on #4419
@swift-ci create

[2020-09-05 06:40] swift-ci opened #4460 "[SR-13512] Swift REPL Fails to Launch"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13512      |
   |Radar             | rdar://problem/85180676         |
   |Original Reporter | reuschj (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Mac OS 10.15.6

XCode 11.7

</details>

   <details>
  <summary>Additional Detail from JIRA<

[2020-09-05 06:44] swift-ci commented on #4460
**Comment by Justin Reusch (JIRA)**

   Possibly related: https://forums.swift.org/t/rfc-removing-the-integrated-repl/35441/13

[2020-09-06 21:43] johnno1962 commented on #4419
Thanks for syncing this. On reflection, a better example project to use is [this one](http://johnholdsworth.com/GettingStarted.zip).

[2020-09-18 20:12] swift-ci opened #4459 "[SR-13567] `po String.Index` should print something human readable in lldb"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13567      |
   |Radar             | rdar://problem/69168795         |
   |Original Reporter | benpious (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 11.6

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2020-09-18 20:31] typesanitizer commented on #4459
@swift-ci create

[2020-09-21 23:56] kastiglione commented on #4462
Using `v` and `vo` are good workarounds in the meantime.

Question 1: When you use `po`, does it fail for every variable/expression, or only specific types. I'm wondering if the type of the variable is from the nested workspace.

Question 2: How is the build setup? Does the outer workspace build the nested workspace from source every time? Or are there precompiled binaries involved?

[2020-09-22 08:14] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   Thank you for giving this attention:
Question 1: it usually fails always, no matter if the code is from the parent project or the child one; but there are more chances to fail when resolving child's variables even though the message tells that it fails to load the parent module.
Question 2: the framework is not added as a binary neither precompiled,

[2020-09-22 21:00] kastiglione commented on #4462
Thanks for the answers. I'd like to try to rule out the project structure, can you provide a sample project that mirrors the structure? Doesn't have to have the code, just the structure. I will create some dummy code and observe its build and lldb's loading.

It appears some of the precompiled binaries are Swift and use `.swiftmodule` files. Are those they built with the same Swift compiler (ie sa

[2020-09-22 21:33] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   I'll drop an example app ASAP but in the meanwhile:

\> Reachability.swift appears to have been built by another user ("poufah") which is likely another computer – this could mean it was compiled with a different version of the compiler (different Xcode version), but also means that its swiftmodule can contain file system paths that exist only on th

[2020-09-23 16:46] kastiglione commented on #4462
\> (because we filter the binaries by Swift version) so even if it was compiled with 11.5 it could be used in 11.6 because the underlying Swift version is the same (is this a correct assumption?)

Do you use Rome's cache-prefix to ensure different compiler outputs are isolated? Rome's readme has a section for \[Supporting multiple Swift Versions\| <https://github.com/tmspzz/Rome/tree/4c68baf1c235f

[2020-09-23 17:13] swift-ci commented on #4462
**Comment by Jorge Revuelta Herrero (JIRA)**

   We use the raw Swift -v output, so it has been 5.2.4 IIRC for the latest Xcode versions as a cache key, just as you linked.
dSYM's generated in derived data are not used above downloaded ones so there would be no conflict (because you generated that dSYM locally) which might be the case in the logs, anyway the main app is Sports and the framework ad

[2020-09-24 16:31] compnerd opened #4418 "[SR-13596] The swift repl does not start on Windows 5.3 release"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13596      |
   |Radar             | None         |
   |Original Reporter | @compnerd      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2020-09-24 16:37] compnerd commented on #4418
<https://github.com/apple/llvm-project/pull/1832> should fix the issue (at least locally, that is sufficient to launch and use the REPL).

[2020-09-24 17:18] #4418 closed, assigned to compnerd

[2020-09-24 23:56] kastiglione commented on #4462
In addition to a sample project, it might be helpful to produce an lldb types log from a build that has local Carthage builds, instead of from cache.

[2020-09-25 12:20] swift-ci commented on #4463
**Comment by Ryan (JIRA)**

   Turns out this is due to Fedora's use of DWZ compression for it's debug symbols, which is not supported by LLDB.

It looks like there is a proposal to drop this in favour of -fdebug-types-section for Fedora 34 (<https://fedoraproject.org/wiki/Changes/DebugInfoStandardization)> so I doubt the existing DWZ patches for LLDB will be upstreamed. Closing this.

[2020-09-25 12:20] #4463 closed, assigned to nobody

[2020-09-28 23:41] swift-ci opened #4458 "[SR-13625] LLDB on Linux cannot automatically find system headers linked via SwiftPM with pkg-config"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13625      |
   |Radar             | rdar://problem/69728225         |
   |Original Reporter | ryanw (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Fedora 33 Beta

Swift version 5.3-dev (LLVM 6c69ba3a5c62805, Swift af7ca0f3470a466)
Target: x8

[2020-09-29 03:03] typesanitizer commented on #4458
@swift-ci create

[2020-09-29 18:39] adrian-prantl commented on #4458
Is there a way you could share a project that reproduces the issue either here or via Apple Feedback?

[2020-10-03 09:13] swift-ci commented on #4458
**Comment by Ryan (JIRA)**

   @adrian-prantl sure - https://github.com/tokyovigilante/SR13625Example

Sorry, this took a wee while. It's a stripped version of my project. interestingly optimising the Pipewire module any further (reducing the complexity to a single PipewireOutput class in this example) resulted in the bug not being reduced.

Tested on Fedora 33 Beta with pipewire-devel installed,

[2020-10-03 09:16] swift-ci commented on #4458
**Comment by Ryan (JIRA)**

   Steps to reproduce:

1.  swift build

2.  lldb ./.build/debug/Tsunami

3.  Set a breakpoint in main.swift (will produce relevant debug output

4.  Run executable

5.  At breakpoint enter fr v, no frame variables printed.

[2020-10-09 23:55] swift-ci opened #4457 "[SR-13719] Regression in breakpoint resolution time without dSYMs (dwarf debug map)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13719      |
   |Radar             | rdar://problem/70298065         |
   |Original Reporter | Davidee (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|--------

[2020-10-13 23:10] typesanitizer commented on #4457
@swift-ci create

[2020-10-14 21:03] keith commented on #4384
The original specific example here has been fixed for a while. If anyone else has a new repro case please file a new ticket!

[2020-10-14 21:03] #4384 closed, assigned to slavapestov

[2020-10-20 03:34] benrimmington opened #4329 "[SR-13754] Failure in SwiftREPL/RedirectInput.test on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13754      |
   |Radar             | rdar://problem/70531607         |
   |Original Reporter | @benrimmington      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/

[2020-10-21 17:12] typesanitizer commented on #4329
@swift-ci create

[2020-10-22 19:21] adrian-prantl commented on #4329
<https://github.com/apple/llvm-project/pull/2023>

[2020-10-23 00:41] #4329 closed, assigned to nobody

[2020-11-02 09:41] swift-ci opened #4328 "[SR-13804] REPL crashes on Windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13804      |
   |Radar             | None         |
   |Original Reporter | svanimpe (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

29/10 snapshot on Windows.

<

[2020-11-02 17:21] compnerd commented on #4328
+@JDevlieghere @kastiglione

Perhaps either Jonas or Dave have ideas off the top of their heads why the REPL environment is loosing the \`Path\` environment variable, which prevents dependent libraries from being found when \`LoadLibraryW\` is being invoked to map in libraries.

[2020-11-06 01:00] swift-ci opened #4327 "[SR-13834] Resolve invalid `SwiftShims` refs in lldb tests"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13834      |
   |Radar             | None         |
   |Original Reporter | michellecasbon (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2020-11-07 00:07] typesanitizer commented on #4327
Could you please file this as a bug in the 'Swift' component instead of 'Swift for Tensorflow'? I don't see anything specific to Swift for Tensorflow in this bug report.

[2020-11-09 15:44] swift-ci commented on #4477
**Comment by Dave (JIRA)**

   Is there any plan to fix this? It renders the debugger practically useless.

[2020-11-09 22:16] kastiglione commented on #4477
MacDavePro (JIRA User) for the debugger, a workaround is to use \`po\`

[2020-11-11 00:27] swift-ci commented on #4477
**Comment by Dave (JIRA)**

   @kastiglione - Thanks Dave, thats what I have been doing. But it is excruciatingly tedious to step into the depths of an object graph, one field at a time, again for each line of code as you step through a stack of calls searching for the cause of a bug. Additionally, many other IDEs rely on LLDB for their own debug variable displays - eg AppCode and CLion. Using po

[2020-11-11 00:31] swift-ci commented on #4479
**Comment by Dave (JIRA)**

   @dcci - maybe, but this is the more general case so the duplicate flagging should be the other way around lest the generality of this issue be missed.

[2020-11-11 00:31] #4479 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2020-11-11 00:39] swift-ci commented on #4428
**Comment by Dave (JIRA)**

   @poya - despite the chronology I would say SR-11593 is a specific case of this root cause issue. If you want to close one as a duplicate, I would closed SR-11593 so focus stays on the root cause.

[2020-11-11 07:29] swift-ci commented on #4477
**Comment by Anthony Wharton (JIRA)**

   I’ll echo Dave’s frustrations. My code base is affected by this as some of our core model objects include fields which break the debugger, and it seems to have the knock on effect of breaking any further objects that include these core components within them.

This renders the debugger entirely unreliable for testing many elements in our codebase, as it’s

[2020-11-12 02:41] swift-ci commented on #4477
**Comment by Jim Ingham (JIRA)**

   Note, there were two bugs here.  One was that lldb didn't understand enum's that had a "resilient" type as one of the variants.  The other is that the data formatter for Optional - which is an enum under the covers - wasn't doing correct error checking and mistook "error getting value" for "value is nil".

I fixed the latter bug.  With those changes you'll get

[2020-11-20 09:00] idrougge opened #4326 "[SR-13882] oldValue in didSet is reported as nil by debugger"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13882      |
   |Radar             | rdar://problem/71677710         |
   |Original Reporter | @idrougge      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 12, Xcode 12.1

</de

[2020-11-23 08:22] typesanitizer commented on #4326
@swift-ci create

[2020-12-01 06:26] #4480 closed, assigned to adrian-prantl

[2020-12-18 01:17] keith commented on #4481
I filed FB8943879 which I believe is this same issue but we only hit it when debugging XCTest bundles, not apps

[2020-12-29 16:02] augusto2112 commented on #4423
Fixed by <https://github.com/apple/swift/pull/34835>

[2020-12-29 16:02] #4423 closed, assigned to augusto2112

[2021-01-15 07:13] robinkunde opened #4325 "[SR-14048] LLDB crashes when parsing certain .h files"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14048      |
   |Radar             | rdar://73385622         |
   |Original Reporter | @robinkunde      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164964051-2d2462d2-61fe-4c2f-9d1d-306adce915c3.gz)

   <details>
  <summary>Add

[2021-01-15 16:23] kastiglione commented on #4325
Robin, can you add the following to your `~/.lldbinit` file, and then launch your app/target. You can use any log path, the tmp path is one example.

    log enable -f /tmp/lldb.types.log lldb types

Also, can you share your linker invocation from your build log?

[2021-01-15 21:26] robinkunde commented on #4325
I've added my lldb.types.log. I can see that it's finding an iOS 9.0 triple. The build log mentions 9.0 in one of the env variables:

[code]

And also in compiler and linker invocation for some of my SwiftPM dependencies. I've attached one of those. I checked the package.swift file for those dependencies and it lists iOS 9.0 as the platform (<https://github.com/devicekit/DeviceKit/blob/dbddb0296e3

[2021-01-16 00:20] kastiglione commented on #4325
From the log:

What is the value of the `-target` flag used to compile "AppName"? From these logs, it seems the swiftmodule was compiled with `-target arm64-apple-ios9.0`.

[2021-01-16 03:04] robinkunde commented on #4325
It's "arm64-apple-ios13.1" for AppName.

[2021-01-16 03:19] robinkunde commented on #4325
I could email you the whole build log. I just don't want to upload it here where it's public.

[2021-01-19 17:36] typesanitizer commented on #4325
If you would like to share a file privately, please attach it to a bug report submitted through feedbackassistant.apple.com. You can mention the Jira number in the Feedback to avoid duplicating all the information.

[2021-01-19 23:17] kastiglione commented on #4325
Thanks Varun, yes please file a feedback, a link to this and the build log works for me. When you do, please comment here with the radar number for fastest routing to me.

[2021-01-20 03:34] robinkunde commented on #4325
FB8975895

[2021-01-25 07:38] swift-ci opened #4324 "[SR-14098] Unable to launch REPL (Not allowed to attach to debugserver)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14098      |
   |Radar             | rdar://problem/73573688         |
   |Original Reporter | dwaite (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

macOS Big Sur (11.2 (20D53)) on Intel MBPR15 (2018)

System XCode: Version 12.3 (12C33)

Swif

[2021-01-25 17:14] typesanitizer commented on #4324
@swift-ci create

[2021-01-28 22:40] kastiglione commented on #4325
A reply was sent via the FB.

[2021-01-29 02:51] robinkunde commented on #4325
Thank you, I'll try to get to it tonight. I wanted to see if I can finally put together a minimal repro case with the information you provided.

[2021-01-29 03:39] robinkunde commented on #4325
Looks like I was (mostly) successful. I created an empty iOS app project, set minimum iOS version to 13.0, and added two SwiftPM dependencies.

1.  Intercom v9.1.0 has the offending \#if statement in its Intercom.h header (<https://github.com/intercom/intercom-ios/blob/9.1.0/Intercom.xcframework/ios-arm64_armv7/Intercom.framework/Headers/Intercom.h)> but doesn't define a minimum iOS version in its

[2021-01-29 06:05] kastiglione commented on #4325
Thanks for the updated examples. Here's what I know now.

For lldb evaluate to evaluate expressions, such as \`po application\`, it creates an in memory Swift compiler. And just like when compiles apps, this swift compiler needs a target.

Each swiftmodule can contain compiler flags, including a target triple aka deployment target. Alamofire doesn't specify a deployment target, and when this Xcode

[2021-01-29 06:26] kastiglione commented on #4325
I just noticed four Alamofire warnings when building the example project, and they look like this:

    Alamofire/Source/ResponseSerialization.swift:125:30: warning: conformance of 'DefaultDataResponse' to 'Response' is only available in iOS 10.0 or newer

So it looks like Alamofire should be specifying iOS 10 as its deployment target.

[2021-01-29 20:00] robinkunde commented on #4325
Thank you for the explanation.

I don't get any warnings when I compile the project with Xcode 12.4 or 12.3. Which version are you using? The way this conformance was implemented looks fine to me though (all codepaths behind \`available\` checks, and the property is a type-erased optional).

I'll be taking some steps to protect myself against these issues going forward, including auditing all my d

[2021-01-29 20:12] kastiglione commented on #4325
The reasoning for not inheriting the project's deployment target is: The deployment target is really a property of how the code in the package is written – compiling it with a newer deployment target would for example cause warnings and possibly errors depending on the availability annotations.

Requesting accurate deployment targets in swift packages sounds like a time saving contribution.

[2021-01-29 20:41] robinkunde commented on #4325
Got it. One more thing: Can you tell why Intercom by itself does not trigger this issue? Does it have to do with LLDB picking the last target and removing Alamofire jumbles the order in such a way that the last one isn't Intercom either?

[2021-01-29 22:51] kastiglione commented on #4325
Right, without Alamofire and its ios9 deployment target, lldb uses the higher deployment target of the main app.

[2021-01-31 22:14] robinkunde commented on #4325
What would you like me to do with the radar?

[2021-02-11 22:09] kastiglione commented on #4325
I think we can close it as is.

[2021-02-17 09:08] swift-ci opened #4323 "[SR-14243] Swift LLDB on Windows - not possible to set a breakpoint"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14243      |
   |Radar             | None         |
   |Original Reporter | stanislav.dombrovsky (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Windows 10, January, 27 toolchain from [snapshots](https://swift.org/download/#snapshots)

</detai

[2021-02-23 01:35] zntfdr commented on #4429
Resolved via FB7639388. It works on Xcode 12.4+

[2021-02-23 01:35] #4429 closed, assigned to nobody

[2021-02-25 18:19] augusto2112 commented on #4326
@adrian-prantl this bug occurs on lldb shipped with macOS, but is already fixed on the main branch. Can we close it?

[2021-02-25 19:19] adrian-prantl commented on #4326
According Augusto's comment this is already fixed!

[2021-02-25 19:19] #4326 closed, assigned to adrian-prantl

[2021-03-02 01:58] keith commented on #4481
So at this point in test bundles I actually get:

[code]

when trying to \`po self\` when stopped in a XCTestCase. vo results in:

[code]

[2021-03-05 14:26] hassila opened #4322 "[SR-14303] Assertion failed in TypeSystemSwiftTypeRef.cpp when running 'thread list'/'fr v' crashing lldb on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14303      |
   |Radar             | rdar://problem/75097856         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift version 5.4-dev (LLVM d28e4b973b2abd9, Swift d378e707988c0ef)
swiftdev 5.8.0-44-generic \#50\~20.

[2021-03-05 17:16] typesanitizer commented on #4322
@swift-ci create

[2021-03-08 17:33] hassila commented on #4322
I reproduced the same assertion failure with a simple breakpoint and a "fr v" on an optimised build. This seems reproducible for me. I did clean the whole .build directory and did a clean build due to warnings.

Aware debugging optimised builds may not be optimal experience, but runtime for the performance test I want to debug is just prohibitive otherwise and we shouldn't have a crash of the debu

[2021-03-09 16:44] hassila commented on #4322
Added a third link for another similar reproducer:

------------------------------------------------------------------------

TypeSystemSwiftTypeRef diverges from SwiftASTContext:

l = 75497473 \| eTypeHasChildren \| eTypeIsSwift \| eTypeIsTuple

r = 8390658 \| eTypeHasValue \| eTypeIsPointer \| eTypeIsSwift

failing type was $syyXED

lldb: /home/build-user/llvm-project/lldb/source/Plugins/TypeSys

[2021-03-11 09:10] weissi commented on #4322
CC @dcci/jingham@apple.com (JIRA User)/@adrian-prantl

[2021-03-11 16:50] adrian-prantl commented on #4322
Joakim, I appreciate all the reports, but it would be best to file separate bugs. All three assertion failures posted here are distinct and have nothing to do with each other. (The first is a flag, the second is validating two types, and the third one is a bitfield). We don't get that many bug reports for LLDB on Linux, and it's cheap to mark two reports as duplicates, but if you pile on to anothe

[2021-03-11 18:32] hassila opened #4321 "[SR-14335] Assertion `equivalent && "TypeSystemSwiftTypeRef diverges from SwiftASTContext"' failed"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14335      |
   |Radar             | rdar://problem/75323642         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift version 5.4-dev (LLVM d28e4b973b2abd9, Swift d378e707988c0ef)
swiftdev 5.8.0-44-generic \#50\~20.

[2021-03-11 18:36] hassila opened #4320 "[SR-14336] equivalent && "TypeSystemSwiftTypeRef diverges from SwiftASTContext part 2"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14336      |
   |Radar             | rdar://problem/75323647         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift version 5.4-dev (LLVM d28e4b973b2abd9, Swift d378e707988c0ef)
swiftdev 5.8.0-44-generic \#50\~20.

[2021-03-11 18:39] hassila commented on #4322
Thanks Adrian, I have split out case 2 and 3 to SR-14335 and SR-14336 respectively. I will field separate Jira issues going forward if they aren't exact duplicates.

[2021-03-11 18:52] weissi commented on #4321
@swift-ci create

[2021-03-11 18:52] weissi commented on #4320
@swift-ci create

[2021-03-11 19:06] adrian-prantl commented on #4322
Thanks, and thanks for reporting the issue in the first place! This will make it much easier to keep track.

[2021-03-11 19:59] hassila opened #4319 "[SR-14338] lldb crash: /home/build-user/llvm-project/clang/lib/AST/ASTImporter.cpp:2738: clang::ExpectedDecl clang::ASTNodeImporter::VisitRecordDecl(clang::RecordDecl *): Assertion `FoundCXX && "Record type mismatch"' failed"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14338      |
   |Radar             | rdar://problem/75327826         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

jocke@swift511 \~/s/swiftnio511 (jh-liburing-refactor-selector) \[SIGILL\]\> uname -a

Linux swift511 5

[2021-03-11 20:01] hassila commented on #4319
Linked reproducer.

[2021-03-11 20:16] weissi commented on #4319
@swift-ci create

[2021-03-11 20:16] weissi commented on #4319
@swift-ci create

[2021-03-12 11:12] hassila opened #4318 "[SR-14341] crash in lldb: TypeSystemSwiftTypeRef.cpp:448: virtual bool lldb_private::TypeSystemSwiftTypeRef::IsFunctionType(lldb::opaque_compiler_type_t, bool *)...."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14341      |
   |Radar             | rdar://problem/75356739         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

jocke@swift511 \~/s/swiftnio511 (jh-liburing-refactor-selector) \[SIGABRT\]\> uname -a

Linux swift511

[2021-03-12 11:24] weissi commented on #4318
@swift-ci create

[2021-03-12 11:25] weissi commented on #4318
@adrian-prantl just to be sure that these reports have all the info you need. If not, is there anything else you’d need apart from the reproducer?

[2021-03-12 20:07] kastiglione commented on #4319
Thanks for the report. Do either of \`p err\` or \`v err\` work?

[2021-03-12 21:19] hassila commented on #4319
Good question, I unfortunately don't have the code in the exact state to trigger that specific bug anymore (I fixed the issue with gdb/swift demangle...) but will see if I can make it happen again. I basically run into tons of asserts currently (read: every single time I run lddb currently) with both 5.3.3 and 5.4 dev snapshot on Linux, I'd be happy to capture additional information (or providing

[2021-03-15 18:54] swift-ci opened #4317 "[SR-14357] LLDB search path de-duplication can cause Swift debugging to fail"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14357      |
   |Radar             | rdar://problem/75451184         |
   |Original Reporter | richardh (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-------

[2021-03-15 23:31] typesanitizer commented on #4317
@swift-ci create

[2021-03-17 04:12] swift-ci opened #4316 "[SR-14368] Cannot find type '$__lldb_context' in scope"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14368      |
   |Radar             | rdar://problem/75536973         |
   |Original Reporter | huyenvd (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

   <details>
  <summary>Additional Detail from JIR

[2021-03-17 04:14] swift-ci commented on #4316
**Comment by Vu Dang Huyen (JIRA)**

   expression produced error: error: /var/folders/tf/xhfwlzf90fzfmxbnn5pyzm540000gn/T/expr16-c3b384..swift:1:11: error: cannot find type '$\_\_lldb_context' in scope

extension $\_\_lldb_context {

          ^\~\~\~\~\~\~\~\~\~\~\~\~\~\~

error: /var/folders/tf/xhfwlzf90fzfmxbnn5pyzm540000gn/T/expr15-3b6d40..swift:14:5: error: cannot find '$\_\_lldb_injected_se

[2021-03-17 19:48] typesanitizer commented on #4316
Are you able to share the source code with reproduction instructions? (You can also do so privately through feedbackassistant.apple.com if you can't share the source code publicly.)

@swift-ci create

[2021-03-18 02:35] swift-ci commented on #4316
**Comment by Vu Dang Huyen (JIRA)**

   Because the privacy of our company, I can not share this source. I have restarted xcode and clean build, then this issuse have fixed

[2021-03-18 03:26] adrian-prantl commented on #4316
If I understand you correctly, you can't reproduce this issue any more?

Generally, if you get any compiler errors in the expression evaluator (like the header import failure shown above) the expression evaluator most likely will not work, because it failed to import modules from your project.

[2021-03-18 03:27] adrian-prantl commented on #4316
If you want us to investigate the issue, we need some way of reproducing the problem.

[2021-03-18 17:51] #4316 closed, assigned to nobody

[2021-03-19 10:00] weissi commented on #4433
friendly ping @AliSoftware

[2021-03-19 16:23] weissi opened #4315 "[SR-14373] lldb on Linux from main branch always crashes immediately with Assertion `Val && "isa<> used on a null pointer"' failed."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14373      |
   |Radar             | rdar://problem/75621715         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

    Swift version 5.4-dev (LLVM 5f17b63a89d10af, Swift bdacb68b83b67b8)
    Target: x86_64-unknown-linux

[2021-03-19 16:25] weissi commented on #4315
@swift-ci create

[2021-03-19 16:25] weissi commented on #4315
will attach the reproducer to the radar, too big for here (30 mb)

[2021-03-30 18:36] adrian-prantl commented on #4557
teemperor (JIRA User) fixed this upstream. This crash should no longer be possible in the current development branch.

[2021-03-30 18:36] #4557 closed, assigned to nobody

[2021-04-03 00:26] xedin commented on #4331
Unfortunately REPL is no longer supported by swift executable.

[2021-04-03 00:26] #4331 closed, assigned to nobody

[2021-04-30 14:58] hassila opened #4314 "[SR-14556] Release version of Swift/LLDB is built with asserts"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14556      |
   |Radar             | rdar://problem/77383305         |
   |Original Reporter | @hassila      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

    lldb version 10.0.0
    S

[2021-04-30 14:59] hassila commented on #4314
The packaged used was <https://swift.org/builds/swift-5.4-release/ubuntu2004/swift-5.4-RELEASE/swift-5.4-RELEASE-ubuntu20.04.tar.gz> from swift.org.

[2021-04-30 16:23] adrian-prantl commented on #4314
@swift-ci create

[2021-04-30 16:25] adrian-prantl commented on #4314
@swift-ci create

[2021-04-30 16:28] adrian-prantl commented on #4314
As a side note, for completeness, this particular assertion looks like it would just result in a crash if removed.

[2021-04-30 16:37] hassila commented on #4314
Ouch :-/

Thanks for clarification. Unfortunately it didn't give me a reproducer, but basically it seems easy to break lldb by simply stopping arbitrary Swift programs and try to inspect structs/objects/... in this case it was the NIOPerformanceTester from SwiftNIO I used. (basically I wanted to validate if I could move from my 5.3.3 custom built toolchain without asserts to the official 5.4 relea

[2021-04-30 17:29] hassila commented on #4314
Ok, played a bit more and now got a reproducer with the same assert AFAICT.

Here you go:
<https://www.icloud.com/iclouddrive/0uI1CN25RxFGiGfN3SaqAJKOw#reproducer-d2a1e9>

[2021-04-30 17:31] hassila commented on #4314
Short version:

    (lldb) f 4
    frame #&#8203;4: 0x0000555555683170 NIOPerformanceTester`measure(fn=0x0000555555685670 NIOPerformanceTester`closure #&#8203;4 () -> Swift.Int in NIOPerformanceTester at main.swift:205) at main.swift:42 [opt]
       39       _ = try measureOne(fn) /* pre-heat and throw away */
       40       var measurements = Array(repeating: 0.0, count: 10)
       41       for

[2021-04-30 19:09] adrian-prantl commented on #4314
Thanks Joakim! Do you happen to have instructions for how to build NIOPerformanceTester? Unfortunately LLDB reproducers involving Swift are not quite as reliable yet.

[2021-04-30 19:59] hassila commented on #4314
Sure!

Just clone <https://github.com/apple/swift-nio> and build with e.g.:

    swift run -c release NIOPerformanceTester

break with ctrl-c or let it run through, then run it in lldb:

     lldb .build/x86_64-unknown-linux-gnu/release/NIOPerformanceTester

after it has run for a few seconds, just ctrl-c to break into debugger, use "f xxx" to pick a frame with symbols and try to use "p" on some r

[2021-05-01 20:04] weissi commented on #4314
@hassila FYI, I created `lldb-smoker` which is an LLDB smoke test for SwiftNIO (or any other Swift package with good test coverage): <https://github.com/apple/swift-nio/pull/1840/files>

It just creates 2000 totally random breakpoints, and when hit runs `frame variable` , then continues. No user interaction required. On 5.4 it hits crashes.

Instructions how to use:

    # Step 1: Get yourself a N

[2021-05-03 07:11] hassila commented on #4314
Thanks @weissi - I just tried that on Linux - crashed both times I tried it within a few seconds in different places - very nice smoker, would be awesome if it was part of the qualification of lldb in the future!

Samples from 5.4-release on Ubuntu 20.04:

    First run:
    ....
    0 != 1
    failing type was $s3NIO12NIOBSDSocketO6HandleaD
    lldb: /home/build-user/llvm-project/lldb/source/Plug

[2021-05-06 11:10] weissi opened #4313 "[SR-14602] lldb (5.4): const: Assertion `false && "Unhandled node kind"' failed"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14602      |
   |Radar             | rdar://problem/77673454         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770

[2021-05-06 11:11] weissi commented on #4313
@swift-ci create

[2021-05-06 12:58] weissi opened #4312 "[SR-14603] Linux: lldb (5.4) gets stuck forever, consuming 100% CPU"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14603      |
   |Radar             | rdar://problem/77673440         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

5.4 release (no asserts)

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

[2021-05-06 13:00] weissi commented on #4312
@swift-ci create

[2021-05-06 13:50] weissi commented on #4313
CC @adrian-prantl this is the no asserts build. Is this assert still expected?

[2021-05-06 18:44] adrian-prantl commented on #4313
@swift-ci create

[2021-05-06 19:16] weissi commented on #4313
edited the binary to not have the assertions which now makes it work

    root@c339bfad00cb:/tmp/swift-nio# lldb --batch -o 'log enable lldb types -f /tmp/types.log' -o 'break set -f ByteBuffer-core.swift -l 85' -o run -o 'frame variable' -o cont -- .build/debug/swift-nioPackageTests.xctest
    (lldb) target create ".build/debug/swift-nioPackageTests.xctest"
    Current executable set to '/tmp/swi

[2021-05-06 19:21] adrian-prantl commented on #4313
@swift-ci Create

[2021-05-07 10:27] weissi commented on #4312
@swift-ci create

[2021-05-07 10:30] weissi commented on #4313
@adrian-prantl don't know if that helps the debugging, but those two are wrong:

      free = 0x0000000000000000
      memcpy = {}

They're always set.

[2021-05-07 10:30] weissi commented on #4313
@swift-ci create

[2021-05-07 16:15] swift-ci opened #4311 "[SR-14609] Could not access self inside generic class functions"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14609      |
   |Radar             | rdar://problem/77673453         |
   |Original Reporter | iqqator (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Apple MacBook Pro M1

macOS BigSur 11.3.1 (20E241)

Xcode 12.5 (12E262) non Rosetta mode

</

[2021-05-07 20:38] typesanitizer commented on #4311
@swift-ci create

[2021-05-07 20:45] adrian-prantl commented on #4313
najacque (JIRA User) The sync system seems to not work.

[2021-05-07 20:45] adrian-prantl commented on #4313
I manually cloned this to rdar://77668160.

[2021-05-14 10:47] swift-ci commented on #4467
**Comment by Rolland Arthur (JIRA)**

   Hi, sorry to comment on such an old issue, but i'm currently facing the same (-ish) issue, and i'm a bit stuck...

In my case, i'm developing a framework and  that issue have been send up to me by one of my user encontering the same issue.

I think i understood that i should use the -no-serialize-debugging-options flag when building my framework (an xcframe

[2021-05-14 16:15] swift-ci commented on #4467
**Comment by Rolland Arthur (JIRA)**

   Ok, don't mind me, i found the answer myself after all.

For reference, if someone face the same issue, here is how to add the -no-serialize-debugging-options flag:

In your framework xcode project, select the project scheme (the blue thingy in the file explorer) \> select your framework under target \> Build Settings \> Search for Other Swift Flags \> add

[2021-05-14 16:15] #4467 closed, assigned to adrian-prantl

[2021-06-02 20:24] stevapple commented on #4488
This problem still exists on Ubuntu 18.04, with the latest Swift 5.4.1.

[2021-06-02 23:36] swift-ci opened #4310 "[SR-14713] [Swift 5.4] lldb fails to print values inside generic types if compiled with `-disable-reflection-metadata`"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14713      |
   |Radar             | None         |
   |Original Reporter | qyang (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 12.5, Swift 5.4

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-06-03 16:34] adrian-prantl commented on #4310
This basically behaves as expected — LLDB needs reflection metadata to do pretty much anything useful — but the error message lacks greatness.

[2021-06-12 02:59] compnerd commented on #4323
Quality of debug info is still an issue.  The proper thing to do is to improve CodeView emission and get that fully covered.

[2021-06-17 17:44] augusto2112 commented on #4314
PR: <https://github.com/apple/llvm-project/pull/3048>

[2021-06-17 17:52] augusto2112 commented on #4313
Solved in PR: <https://github.com/apple/llvm-project/pull/3017>

[2021-06-17 17:53] #4313 closed, assigned to augusto2112

[2021-06-28 15:21] swift-ci opened #4309 "[SR-14843] Cannot declare protocol conformance in REPL following invalid declaration, types become inconsistent"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14843      |
   |Radar             | rdar://problem/79922194         |
   |Original Reporter | palle (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

swift-driver version: 1.26 Apple Swift version 5.5 (swiftlang-1300.0.20.104 clang-1300.0.21.1)

[2021-06-28 15:28] #4472 closed, assigned to nobody

[2021-06-28 23:35] beccadax opened #4308 "[SR-14845] REPL does not support "-debug-diagnostic-names""
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14845      |
   |Radar             | rdar://problem/79920539         |
   |Original Reporter | @beccadax      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-06-29 17:53] typesanitizer commented on #4308
@swift-ci create

[2021-06-29 18:21] typesanitizer commented on #4309
@swift-ci create

[2021-07-07 19:04] #4314 closed, assigned to augusto2112

[2021-08-03 08:13] saagarjha opened #4307 "[SR-15014] Large Decimals do not print correctly in the Swift REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15014      |
   |Radar             | rdar://problem/81467525         |
   |Original Reporter | @saagarjha      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode Version 13.0 beta 4 (13A5201i)/macOS Monterey 12.0 Beta (21A5294g)

</details>

   <details>

[2021-08-03 17:55] typesanitizer commented on #4307
@swift-ci create

[2021-08-27 23:06] BradLarson opened #4306 "[SR-15127] LLDB's TypeSystemSwiftTypeRef::GetEncoding() assertion fails on many common types"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15127      |
   |Radar             | rdar://problem/82537719         |
   |Original Reporter | @BradLarson      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-08-28 15:57] swift-ci opened #4305 "[SR-15128] LLDB Crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15128      |
   |Radar             | rdar://problem/82543261         |
   |Original Reporter | dalk (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

xcode 12.5.0

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-08-30 17:27] swift-ci commented on #4422
**Comment by Richard (JIRA)**

   This should have been resolved by https://github.com/apple/swift/pull/37839

[2021-08-30 17:49] keith commented on #4422
richardh (JIRA User) related to the comment on the PR about limiting debug-ability, did you notice any specific downsides in that fix?

[2021-08-30 19:16] typesanitizer commented on #4306
cc @kastiglione

@swift-ci create

[2021-08-30 21:09] typesanitizer commented on #4305
@swift-ci create

[2021-08-30 21:13] typesanitizer commented on #4305
Could you clarify what exactly is crashing? You said "reproducible crash when compiling this piece of code" – but the title says "LLDB crash". Can you attach a stack trace?

[2021-08-31 04:33] swift-ci commented on #4422
**Comment by Richard (JIRA)**

   It was only an improvement on our end as otherwise you would end up with lots of debugger errors about missing clang modules and types.

[2021-08-31 04:45] keith commented on #4422
@adrian-prantl are there some specifics to look out for here?

[2021-09-01 02:36] poya commented on #4308
Support added in <https://github.com/apple/llvm-project/pull/3210>

[2021-09-09 22:21] adrian-prantl commented on #4306
doesn't reproduce on rebranch.

[2021-09-09 23:37] adrian-prantl commented on #4306
I can't reproduce this on release/5.5 either:

\`\`\`

(lldb) v

(a.MyEnum) test = good

\`\`\`

[2021-09-09 23:40] adrian-prantl commented on #4306
Maybe it's about a specific query Xcode makes. I'll try a downloadable toolchain.

[2021-09-09 23:57] adrian-prantl commented on #4306
GetEncoding: Unhandled node kind for type $s9asynctest6MyEnumOD

[2021-09-10 00:27] adrian-prantl commented on #4306
<https://github.com/apple/llvm-project/pull/3241>

[2021-09-10 00:27] adrian-prantl commented on #4306
Thanks for reporting this and particularly thanks for the test case!

[2021-09-10 00:38] adrian-prantl commented on #4305
Yeah, this *compiles* fine. Can you attach a crash log and/or more instructions?

[2021-09-10 16:25] BradLarson commented on #4306
@adrian-prantl - Thanks for the quick fix, that'll greatly improve the development experience for folks on our end. Sorry about not specifying that we only observed this in Xcode.

[2021-09-10 16:25] #4306 closed, assigned to adrian-prantl

[2021-09-23 14:31] swift-ci opened #4304 "[SR-15236] Intermittent behavior while debugging swift application with LLDB"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15236      |
   |Radar             | rdar://problem/83455926         |
   |Original Reporter | lcsmarcal (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 13 \| Apple Swift version 5.5 (swiftlang-1300.0.31.1 clang-1300.0.29.1)

macOS BigSu

[2021-09-23 18:46] typesanitizer commented on #4304
cc @kastiglione

@swift-ci create

[2021-09-25 00:24] #4308 closed, assigned to poya

[2021-10-21 20:21] weissi opened #4303 "[SR-15369] REPL: After `import Something`, colons don't show anymore"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15369      |
   |Radar             | rdar://problem/84518632         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-10-21 20:23] weissi opened #4302 "[SR-15370] REPL: messed up readline support even without resizing windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15370      |
   |Radar             | rdar://problem/84518637         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2021-10-21 20:23] weissi commented on #4303
@swift-ci create

[2021-10-21 20:23] weissi commented on #4302
@swift-ci create

[2021-10-21 20:25] weissi commented on #4303
CC @adrian-prantl

[2021-10-21 20:25] weissi commented on #4302
CC @adrian-prantl

[2021-10-22 16:25] weissi opened #4301 "[SR-15375] lldb: --batch -k doesn't always trigger on crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15375      |
   |Radar             | rdar://problem/84550421         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

swift-5.5 release on the `swift:5.5-focal` docker image.

</details>

   <details>
  <summary>Additional

[2021-10-22 16:25] weissi commented on #4301
@swift-ci create

[2021-10-22 16:25] weissi commented on #4301
CC jingham@apple.com (JIRA User)

[2021-10-29 15:27] swift-ci commented on #4460
**Comment by Fan Jiang (JIRA)**

   reuschj (JIRA User) I think this is the **temporary** solution to this problem.

<https://forums.swift.org/t/nightly-toolchain-has-broken-lldb-support-on-macos/53151/3>

The official distribution has wrong entitlements.

[2021-10-30 05:30] swift-ci commented on #4460
**Comment by Justin Reusch (JIRA)**

   Thanks!

[2021-10-31 13:28] swift-ci commented on #4303
**Comment by Steven Van Impe (JIRA)**

   Is this the same issue as <https://bugs.swift.org/browse/SR-13029> and <https://bugs.swift.org/browse/SR-13885?>

[2021-11-01 14:09] swift-ci commented on #4323
**Comment by Steven Van Impe (JIRA)**

   I ran into the same issue after trying to use CodeLLDB in Visual Studio Code on Windows (<https://github.com/vadimcn/vscode-lldb/issues/566)>

[2021-11-09 01:09] adrian-prantl commented on #4460
@swift-ci create

[2021-11-17 10:13] mickeyl commented on #4302
Which platform is this on? Might be related to <https://bugs.swift.org/browse/SR-15485>

[2021-11-17 10:40] weissi commented on #4302
@mickeyl This is Linux too

[2021-11-29 18:10] #4328 closed, assigned to compnerd

[2021-12-05 23:31] tonyarnold opened #4300 "[SR-15560] LLDB error: cannot find type in async contexts"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15560      |
   |Radar             | None         |
   |Original Reporter | @tonyarnold      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

macOS 12.0.1 (21A559)

swift-driver version: 1.26.21 Apple Swift version 5.5.2 (swiftlang-1300.0.47.2 clang-1300.0.29.3

[2021-12-19 10:44] swift-ci commented on #4323
**Comment by Steven Van Impe (JIRA)**

   I've noticed that when compiling in release mode, I can set breakpoints. However, without the Swift-specific LLDB, the variable names are mangled.

[2021-12-22 17:26] augusto2112 commented on #4303
svanimpe (JIRA User) this is indeed the same issue. It has been fixed on main for a while, but unfortunately i missed the window to cherry-pick it into 5.5. Steven or @weissi could you download the main snapshot on <https://www.swift.org/download/> and verify if it's working for you?

[2021-12-22 17:31] augusto2112 commented on #4302
Duplicate of <https://bugs.swift.org/browse/SR-15369.>

I'm marking these as dups so we can concentrate the discussion on a single issue. It has been fixed on main for a while, but unfortunately i missed the window to cherry-pick it into 5.5. If you're able to, please download the main snapshot on [https://www.swift.org/download/,](https://www.swift.org/download/) verify if it's working for you an

[2021-12-22 17:32] augusto2112 commented on #4518
Duplicate of <https://bugs.swift.org/browse/SR-15369.>

I'm marking these as dups so we can concentrate the discussion on a single issue. It has been fixed on main for a while, but unfortunately i missed the window to cherry-pick it into 5.5. If you're able to, please download the main snapshot on [https://www.swift.org/download/,](https://www.swift.org/download/) verify if it's working for you an

[2021-12-22 17:32] #4518 closed, assigned to augusto2112

[2021-12-22 17:47] xwu commented on #4303
What’s the link to the PR?

[2021-12-22 19:38] augusto2112 commented on #4303
@xwu this was fixed here: https://reviews.llvm.org/D95230

[2022-01-03 11:30] adam-fowler opened #4299 "[SR-15677] LLDB crashes when viewing frame in SwiftNIO code"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15677      |
   |Radar             | rdar://problem/87333593         |
   |Original Reporter | @adam-fowler      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Ubuntu 20_04.3 LTS

Swift

[2022-01-04 10:56] weissi commented on #4303
@augusto2112 Thank you, I can confirm this is fixed

    Welcome to Swift version 5.6-dev (LLVM c8e0f2fe28693ea, Swift 68eb340a2b7690f).
    Type :help for assistance.
      1> :::::
    error: '::::' is not a valid command.
      1> import Dispatch
      2> :::::

[2022-01-04 10:58] weissi commented on #4302
Yes, this is fixed. Thank you!

[2022-01-04 10:58] weissi commented on #4302
`Swift version 5.6-dev (LLVM c8e0f2fe28693ea, Swift 68eb340a2b7690f).` works

[2022-01-04 10:58] #4302 closed, assigned to nobody

[2022-01-07 00:16] swift-ci opened #4298 "[SR-15698] Published sink Abort 6"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15698      |
   |Radar             | None         |
   |Original Reporter | Narumi.Inada (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164964415-63a44845-0fb5-42f1-9e42-177adba16576.gz)

<details>
  <summary>Envi

[2022-01-07 03:53] swift-ci commented on #4298
**Comment by Narumi Inada (JIRA)**

   I had misunderstood that is caused by calling sink.
It was by capturing value in block in sink.

So I prepared generic placeholder class for workaround. This could compile it.

But still I'm not sure why it is available only in playground.

[code]

[2022-01-10 11:53] weissi commented on #4299
@swift-ci create

[2022-01-10 12:01] weissi commented on #4299
I reproduce this with 5.5

    * thread #&#8203;3, name = 'NIO-ELT-0-#1', stop reason = breakpoint 1.1
        frame #&#8203;0: 0x000055555572afe6 NIOHTTP1Server`HTTPHandler.channelRead(context=0x00007fffe80406c0, data=NIOCore.NIOAny @ 0x00007ffff4ba80e0, self=0x00007ffff003fcb0) at main.swift:403:28
       400      }
       401
       402      func channelRead(context: ChannelHandlerContext, data

[2022-01-10 14:40] adam-fowler commented on #4299
This appears to be fixed in the latest nightly, but is still unresolved in the 5.5 nightly. Is there a chance the fix can be brought across to the 5.5 branch?

[2022-01-11 08:14] swift-ci commented on #4303
**Comment by Steven Van Impe (JIRA)**

   Will this be in 5.5.3?

[2022-01-11 21:40] adrian-prantl commented on #4299
Unfortunately the amount of changes between 5.5 and 5.6 branch are quite large, so backporting a fix is likely too risky. Can you attach lldb to lldb to capture a backtrace so we can identify what the crash was? (It's probably faster for you to do this than me building 5.5 and getting SwiftNIO to build)

[2022-01-12 14:42] adam-fowler commented on #4299
Shame I was hoping maybe someone might recognise what change fixed this. I'll see if I can find some time to do the lldb attaching to lldb. Not sure I'd be much faster than you though as my experience of lldb is minimal.

[2022-01-12 14:57] weissi commented on #4299
@adam-fowler attaching `lldb` to `lldb` should be straightforward:

in LLDB 1 do (copying your steps)

-   It is possible to replicate this using a swift-nio example

-   Build swift-nio (swift build)

-   Debug NIOHTTP1Server example (lldb .build/debug/NIOHTTP1Server)

-   Add breakpoint (b HTTPHandler.channelRead)

then get a new terminal and run another LLDB (LLDB 2)

    lldb -p $(pgrep lldb)

[2022-01-12 15:00] weissi commented on #4299
Actually, I repro too. I can attach that.

[2022-01-12 15:04] weissi commented on #4299
@adrian-prantl there you go

    $ docker exec -it pensive_feistel /bin/bash
    root@2428f10b5cb4:/Users/johannes/devel/swift-nio# lldb -p $(pgrep lldb)
    (lldb) process attach --pid 1530
    Process 1530 stopped
    * thread #&#8203;1, name = 'lldb', stop reason = signal SIGSTOP
        frame #&#8203;0: 0x00007fbccf41c12b libc.so.6`__select + 107
    libc.so.6`__select:
    ->  0x7fbccf41c12b

[2022-01-12 15:32] adam-fowler commented on #4299
Thanks @weissi

[2022-01-12 16:04] augusto2112 commented on #4303
Unfortunately, only on 5.6. There are already 5.6 snapshots available on <https://www.swift.org/download/> if you'd like to get the fix now.

[2022-01-12 16:04] #4303 closed, assigned to augusto2112

[2022-01-12 16:47] adrian-prantl commented on #4299
Thanks Johannes! Since this is just the \`assert(false && "Unhandled node kind");\` I can create a patch to remove this assertion. There's no risk in taking that.

[2022-01-12 17:00] adrian-prantl commented on #4299
<https://github.com/apple/llvm-project/pull/3785>

[2022-02-06 12:16] MaxDesiatov commented on #4434
When looking at <https://github.com/apple/swift-lldb,> apparently Swift fork of LLDB has been archived. Can we assume that changes have been upstreamed and this issue can be marked as resolved?

[2022-02-15 16:52] adam-fowler commented on #4299
Verified as working in 5.5.3

[2022-02-15 16:52] #4299 closed, assigned to nobody

[2022-02-24 17:23] Lukasa opened #4297 "[SR-15913] Latest nightly snapshots have a broken lldb on focal"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15913      |
   |Radar             | rdar://problem/89641524         |
   |Original Reporter | @Lukasa      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift version 5.7-dev (LLVM f255403e4661ee9, Swift 496da9dda967e76)
Ubuntu 20.04.4 LTS

</details>

   <

[2022-02-24 17:23] Lukasa commented on #4297
@swift-ci create

[2022-03-08 15:02] swift-ci opened #4296 "[SR-15953] "po xxx" error in lldb"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15953      |
   |Radar             | None         |
   |Original Reporter | yanniwang (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164964477-c4297797-842a-405e-b733-1a745cfed6fd.gz)

<details>
  <summary>Environ

[2022-03-10 08:24] stevapple opened #4295 "[SR-15958] Python version shouldn't be fixed"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15958      |
   |Radar             | None         |
   |Original Reporter | @stevapple      |
   |Type              | Improvement    |
   |Status            | Reopened        |
   |Resolution        |     |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2022-03-16 00:41] compnerd commented on #4295
The official builds use Python3.9 at this point (or should be using 3.9 as that is what the current version is in VS).

[2022-03-16 01:03] stevapple commented on #4295
I don’t think the problem has really been solved.

We should not fix Python to any specific version. Instead, moving to use stable interface and setting a minimal required version.

LLVM people have already taken the initiative to fix this on their side.

[2022-03-16 10:30] adam-fowler opened #4294 "[SR-15997] Swift 5.6 LLDB breaks Visual Studio Code swift extension"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-15997      |
   |Radar             | rdar://problem/90360204         |
   |Original Reporter | @adam-fowler      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

swift-driver version: 1

[2022-03-16 10:49] Lukasa commented on #4294
@swift-ci create

[2022-03-16 12:04] adam-fowler commented on #4294
I also tried to set the default-arch in lldb and that still produced an error

[code]

[2022-03-17 23:29] adrian-prantl commented on #4294
How exactly is the CodeLLDB plugin launching LLDB? Is it using the API directly or invoking lldb on the command line? In either case it would be important to understand what the plugin is doing exactly to diagnose the problem.

[2022-03-17 23:30] adrian-prantl commented on #4294
Is this always/only happening with the xctest binary? (That one is little special because it works for multiple architectures at the same time).

[2022-03-18 06:19] ixsander opened #4293 "[SR-16021] LLDB crash with breakpoint in task group (async/await)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-16021      |
   |Radar             | None         |
   |Original Reporter | @ixsander      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164964489-c78569df-7040-4fa5-bf10-a1bbbf9c882c.gz)

<details>
  <summary>Environment</summar

[2022-03-18 09:06] adam-fowler commented on #4294
CodeLLDB uses the API to launch debug sessions.

It is a general issue with universal applications (multi-arch) as I tested it with my own universal application.

In Swift 5.5 you could run these through lldb (via CLI or API) without being required to specify the architecture. I'm guessing it choose the correct architecture based on the system it was running on . With Swift 5.6 it requires you to

[2022-03-23 15:11] swift-ci commented on #4294
**Comment by Hristo Hristov (JIRA)**

   `I have the same issue but also in C++ projects. I work on projects some of which are C++ based with Objective-C and Swift and some are Swift. I use Visual Studio Code with the C++ Tools, CMake Tools and C++ Test Mate extensions to build, run and debug the application and unit tests on various macOS and Linux flavors. My C++ project is CMake and Conan based

[2022-04-06 05:15] JDevlieghere commented on #4294
I worked around the issue on the 5.6 branch by disabling the remote-macosx platform: <https://github.com/apple/llvm-project/pull/4144>

For the stable/20211026 and 5.7 branch I modified the platform selection logic upstream (<https://reviews.llvm.org/D122684)> to give priority to the select and host platform: https://github.com/apple/llvm-project/pull/4147

[2022-04-11 00:47] compnerd commented on #4295
@stevapple this sounds *really* interesting.  Do you have any pointers on this? It would be far better to avoid the specific version dependency.  Do you think that you would have the time to help get us there?

[2022-04-18 18:00] swift-ci commented on #4294
**Comment by Hristo Hristov (JIRA)**

   @JDevlieghere When is this fix going to be released eventually?

[2022-04-18 18:00] #4294 closed, assigned to JDevlieghere

[2022-04-28 21:12] ixsander commented on #4293
Any update on this issue? Thanks!

[2022-05-05 14:31] keith commented on #4434
I think this is still the case and it's just that everything has moved into apple/llvm-project as part of moving to the llvm monorepo.

[2022-05-05 14:32] keith commented on #4422
I think everything is resolved here, except knowing specifics of the downsides of this flag. @adrian-prantl Are there other issues you know about?

[2022-05-05 14:37] keith commented on #4410
We can probably close this as this Ubuntu version is no longer supported (I don't have access to)

[2022-05-05 14:38] keith commented on #4356
Can be closed, it's done

[2022-05-05 15:04] #4356 closed, assigned to nobody

[2022-05-06 23:51] adrian-prantl commented on #4422
Sounds good, thanks!

[2022-05-06 23:51] #4422 closed, assigned to adrian-prantl

[2022-05-17 03:02] Montana opened #4685 "Replacing RHS of an instruction with an instruction in LLVM"
Lets say suppose, I have the following instruction:

[code]

I would like at first, create a Binary instruction something like below:

[code]

And then somehow replace %add's instruction with an assignment to T1 as below:

[code]

Need some suggestions on how to implement `"%add = %T1"`.

I'm aware there is no assignment operator in LLVM IR so I can't write that as-is, so in theory, `%name = add i

[2022-05-24 21:44] hyp commented on #4685
Hi @Montana . The issues in this repository are only related to the downstream changes in Apple's fork of llvm-project (clang/LLDB). It looks like this issue should go to the upstream GitHub.com/llvm/llvm-project repository.

[2022-05-24 21:44] #4685 closed, assigned to nobody

[2022-05-29 10:39] adam-fowler opened #4770 "Running Python scripts inside LLDB on Ubuntu 20.04 is broken"
When I try to run a simple python script in LLDB it fails in both Swift 5.6.1 and the latest nightly

Steps
1) Open terminal and enter `lldb`
2) Enter `script print(lldb.SBHostOS.GetLLDBPath(lldb.ePathTypeLLDBShlibDir).fullpath)`

Using Swift 5.5 I get the library path for lldb
Using Swift 5.6 I get the following output
[code]
Using the latest nightly
After step 1 I get this output
[code]
And afte

[2022-06-05 10:35] rayx opened #4802 "po shows incorrect value of Enum associated value"
See code below. `po date` gives incorrect value (Jan 1, 2001). In contrast, `po self` works fine.

    enum Foo {
        case b(date: Date)

        func test() {
            switch self {
            case .b(let date):
                print("date: \(date)") // Try doing "po date" and "po self" here.
            }
        }
    }

    var x = Foo.b(date: Date())
    x.test()

The original thread

[2022-06-10 19:56] liuliu opened #4810 "Crash on parsing an ordinary C++ header"
Mirroring: https://github.com/llvm/llvm-project/issues/55980 Please feel free to close if the original llvm/llvm-project is the culprit.

---

Encountered during `swift build`, my understanding is that they ship their own clang, not sure if I should report to them or here. But I attached reprod source / script (these are from open-source MuJoCo, so we are good):

[code]
[user_composite-c931bc.tar.

[2022-06-10 20:53] liuliu commented on #4810
Validated this exists in upstream. Close.

[2022-06-10 20:53] #4810 closed, assigned to nobody

[2022-06-10 21:11] liuliu commented on #4810
It seems related to the combination of `-std=c++17` and `-fmodules`

[2022-06-10 23:59] keith commented on #4481
So I figured out the issue in the XCTestCase reproduction case, really the issue was just a case of confusing errors, the error I posted above and the types log didn't really have any useful info, but in Swift 5.7 with `swift-healthcheck` I got this error:

[code]

Which immediately made me realize we were missing including the XCTest.framework path in the lldbinit. We're now setting:

[code]

Whi

[2022-06-15 17:33] JDevlieghere commented on #4770
What's the output of `lldb -P`?

[2022-06-15 21:10] adam-fowler commented on #4770
[code]

[2022-06-16 12:03] 0xtyls opened #4837 "clang-scan-deps performance regression"
Last year, we used commit 41083841abfe51591ee5238013b77491bc7b1aaf to build a clang-scan-deps binary. We test this binary on our benchmark, which contains about 9000 build commands from our production env.  With 12 worker threads, it takes 35s to finish all the dep scanning.

Today, I build a new binary using latest commit from next branch and run the same benchmark. It takes 85s this time. To be

[2022-06-22 14:54] AnthonyLatsis commented on #12367
The coercion in the original example is diagnosed correctly—you cannot coerce from `Any` to a concrete type. Even though the output differs, nothing seems to suggest that there was an issue with downcasting the value instead.

The output is back to normal now, but I wonder: was it a mirroring issue or something else, and how do we test for the expected output? @lorentey Would be most appreciative

[2022-06-22 18:56] tbkka commented on #12367
Use `as?` or `as!` for runtime dynamic type checking.

[2022-06-25 16:26] AnthonyLatsis commented on #12367
@tbkka Sorry, I should have expressed myself more clearly. I am willing to add a regression test before closing this and was asking where to look at (which 'print' or 'dump' function does the REPL call?).

[2022-06-27 16:28] tbkka commented on #12367
Unfortunately, I'm not that familiar with how REPL testing works.   @gottesmm , can you give any pointers?

[2022-06-28 14:45] weissi opened #4895 "Swift LLDB hangs for over an hour with 100% for a single `frame variable --show-all-children` [macOS & Linux]"
# Repro

[code]

# Expected

Print all variables

# Actual

[code]

# Versions

[code]

[2022-06-28 14:51] weissi commented on #4895
This affects macOS as well.

[2022-06-28 14:55] weissi commented on #4895
rdar://96061041

[2022-07-05 13:58] #12367 closed, assigned to nobody

[2022-07-22 22:20] adrian-prantl commented on #12367
It looks like that would have been an LLDB data formatting bug.

[2022-07-22 22:21] adrian-prantl commented on #12367
REPL tests are here: https://github.com/apple/llvm-project/tree/next/lldb/test/Shell/SwiftREPL

[2022-08-23 08:25] adam-fowler commented on #4770
Is there any update on this? It appears this is still not resolved in the latest nightly.

[2022-08-26 08:48] StoneSpb opened #5203 "LICENSE.TXT causes error while checking out repo on case-insensitive file system"
After merging https://github.com/apple/llvm-project/commit/991cfd1379f7d5184a3f6306ac10cabec742bbd2 there are two license files in the repo: LICENSE.TXT and LICENSE.txt

When updating dependencies for swift development using `utils/update-checkout` script, first step seems to be cloning the `llvm-project` repo on default branch (`next`), then checking out desired branch/tag.
After cloning on case-

[2022-08-30 09:44] cynicer opened #5225 "[LLDB] (Big) Memory leak in Swift demangle name cache"
When using LLDBs APIs to get symbols or function names of some attached binary (e.g. `SBSymbol::GetDisplayName()` ) there is a memory leak in the internal demangling code. On each access the result of the demangled name is supposed to be stored in a `ThreadSafeDenseMap` (https://github.com/apple/llvm-project/blob/next/lldb/source/Core/Mangled.cpp#L57), but it's not marked static properly, so this

[2022-08-31 23:10] benlangmuir commented on #5203
Fixed by ecddb8ca13088814332e6714da7de5eab45ace27

[2022-08-31 23:10] #5203 closed, assigned to nobody

[2022-09-19 16:15] olologin opened #5326 "AppleClang 14.0.0 segfaults at the preprocessing step"
Tested with Xcode 14 and Xcode 14.0.1 RC (On M1 and x86 cpu).

Command to reproduce:
`c++ -x c++ -O3 -ftrapping-math -arch x86_64 -std=c++17 -c basis.cpp`

basis.cpp file:
[code]
Result:
[code]

Could you please fix this annoying crash? I can't reproduce it on vanilla clang.

[2022-09-25 08:35] olologin opened #5356 "forward declaration + typedef change class attributes?"
Hi everyone,
I am compiling this code in AppleClang 14.0.0, using command:

    clang++ -O2 -g -fvisibility=hidden -std=c++17 -Wpedantic -c sharedlib.cpp

and I am checking list of symbols in object file via:

    nm -om sharedlib.o | c++filt | grep "typeinfo for"

Code (sharedlib.cpp):

    namespace Foo
    {
    template <class T>
    class BarHidden;

    class BarExported;
    }

    typedef

[2022-10-06 16:18] schafdog opened #5408 "Bug in optimisation in apple clang 13.0.0 on linux"
I build the swift compiler on a debian linux and installed the package with clang in /usr/local/bin

When compiling https://github.com/schafdog/csync2/ now using Apple Clang version 13.0.0 (git@github.com:apple/llvm-project.git c205842748e1789f02ea04814fcfc608c8c31aa1), the program fails to work. I have since then installed Debian clang version 13.0.1-6~deb11u1, and with this the programs works as

[2022-11-01 15:17] stefanottili opened #5534 "Clang Xcode 14.0.1 segmentation faults compiling OpenRoad abc C-code"
What was the error?
clang: error: unable to execute command: Segmentation fault: 11 clang: error: clang frontend command failed due to signal (use -v to see invocation) Apple clang version 14.0.0 (clang-1400.0.29.102) Target: arm64-apple-darwin21.6.0

What time did the issue occur?
11/11/2022

What devices were you using when the issue occurred?
MacBook Air M1

Please describe the issue:
https://g

[2022-11-23 03:43] Shawnblake commented on #5408
B