[2017-06-28 16:49] ZevEisenberg commented on #4395
I just tested this in Xcode 9 beta 2, and the bug is still there, but there is slightly different output now. It mentions that `mutating` isn't valid on methods or in classes or class-bound protocols, but I'm not using `mutating` in my sample code:

[code]

[2017-07-04 21:29] swift-ci commented on #4629
**Comment by Edward Connell (JIRA)**

   This still crashes LLDB with the Ubuntu 16.04 Swift 4.0 June 29th build. This is a blocking bug. Please please raise the priority on this. Thank you!

[2017-07-11 16:45] ddunbar commented on #4388
@belkadan can you tell us how to debug this? I do not remember the lldb commands to investigate.

[2017-07-11 20:24] hartbit commented on #4388
This issue looks similar: <https://bugs.swift.org/browse/SR-3369>

[2017-07-12 06:24] aciidgh commented on #4388
@swift-ci create

[2017-07-13 19:30] slavapestov commented on #4629
@swift-ci create

[2017-07-17 22:22] swift-ci opened #4627 "[SR-5484] Unknown Console Debugger Error"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5484      |
   |Radar             | None         |
   |Original Reporter | eliwhittle (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Invalid    |

<details>
  <summary>Environment</summary>

Swift 4

</details>

   <detai

[2017-07-18 00:12] belkadan commented on #4627
This is an error with an Apple API, not with Swift or LLDB. Please file any bug reports at <https://bugreport.apple.com/.>

[2017-07-18 00:12] #4627 closed, assigned to nobody

[2017-07-18 13:42] swift-ci commented on #4631
**Comment by Leif Hedstrom (JIRA)**

   Just adding on my +1, but yes, needs the proper include

[code]

[2017-07-20 23:35] slavapestov commented on #4629
<https://github.com/apple/swift-lldb/pull/241>

[2017-07-20 23:35] #4629 closed, assigned to slavapestov

[2017-07-21 14:59] swift-ci opened #4626 "[SR-5524] Importing a modulemapped C library in REPL throws an error"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5524      |
   |Radar             | None         |
   |Original Reporter | MatiMax (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962256-064800fe-813a-4ab6-89f8-0f0c67e28fd1.gz)

<details>
  <summary>Environmen

[2017-07-24 15:11] swift-ci commented on #4626
**Comment by Matthias M. Schneider (JIRA)**

   ## Temporary fixes

#### Missing read permissions for include files

Check the permissions of all include files in your Swift installation directory. They must have the read-flag set for *group* and *other* access. You can set the permissions using this command:

[code]

where `/opt/swift/` might be your Swift installation directory.

#### Location o

[2017-07-24 15:13] swift-ci commented on #4642
**Comment by Matthias M. Schneider (JIRA)**

   Please see the comment on issue SR-5524 for a possible temporary fix.

[2017-07-24 16:12] swift-ci opened #4625 "[SR-5545] Indicate that the values behind unowned references are inaccessible when their deinitializer is running"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5545      |
   |Radar             | None         |
   |Original Reporter | Reitzig (JIRA User)      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2017-07-24 17:14] belkadan commented on #4625
It's possible that you're trying to *debug* the deinitializer, though, or something it calls. Maybe just printing a warning before showing the contents would be good enough.

[2017-07-24 22:06] keith commented on #4395
I came here to file this with the exact same test case. I assume this wouldn't be a beginner bug, but if there's a place I could start looking at this I'd be up for it!

[2017-07-27 08:17] swift-ci commented on #4625
**Comment by Raphael (JIRA)**

   That is true if I debug the context of the deinitializer. I was, however, debugging totally different code running on another thread – and from there, you "see" `nil`, basically.

A warning or other indication that the shown value is not really accessible due to currently being deallocated/deinitialized would be fine, too, and arguably even more helpful since it g

[2017-07-28 17:14] davezarzycki opened #4387 "[SR-5572] Interactive CLI REPL not working?"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5572      |
   |Radar             | rdar://problem/29039602         |
   |Original Reporter | @davezarzycki      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-07-29 00:00] belkadan commented on #4387
@slavapestov just fixed this! Got the bug number?

[2017-07-29 05:16] slavapestov commented on #4387
Here is the fix: <https://github.com/apple/swift-lldb/pull/244>

[2017-07-29 05:16] #4387 closed, assigned to nobody

[2017-08-01 03:55] norio-nomura commented on #4626
That workaround works only on REPL an lldb.
Setting `C_INCLUDE_PATH` and `CPLUS_INCLUDE_PATH` causes `error: redefinition of module '_Builtin_intrinsics'` on building Package that includes Clang modules.
e.g.

    ➜  11:40:12 git:(nn-SE-0166) docker run --privileged -it -v `pwd`:`pwd` -w `pwd` --name sourcekit --rm norionomura/swift:swift-4.0-branch
    root@74b1b10a6bcb:/Users/norio/github/swift-

[2017-08-02 12:47] swift-ci commented on #4626
**Comment by Matthias M. Schneider (JIRA)**

   @norio-nomura: Thanks for the feedback. In this case of symbol redefinitions in module maps one could suggest that you specify the `-fno-implicit-modules` parameter, and then include the relevant module maps with the `-fmodule-file=<file>` parameter which might be very cumbersome for a large number of module maps needed for the build.

Again, this is

[2017-08-03 21:10] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   Up to date the patch has not been included into Swift LLDB repository.
The same error exists.

[2017-08-04 20:09] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   Interesting, what I do not have this error on Gentoo. It looks like that some LFS packages are too new for Swift. I will rename the issue from Linux to LFS.

[2017-08-04 20:11] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   I have renamed the error report because it does not reproducible on Gentoo,

[2017-08-04 20:57] swift-ci opened #4624 "[SR-5632] Swift REPL does not start on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5632      |
   |Radar             | None         |
   |Original Reporter | Vladislav (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Linux ved-hp-gentoo 4.

[2017-08-07 20:13] swift-ci commented on #4631
**Comment by Vladislav Dembskiy (JIRA)**

   Today I did fresh checkout and was not able to reproduce the problem. It looks like it has been resolved.

[2017-08-07 20:13] #4631 closed, assigned to nobody

[2017-08-07 20:16] swift-ci commented on #4624
**Comment by Vladislav Dembskiy (JIRA)**

   Today I did fresh checkout and got the same error on LFS. My LFS systems has another tools then Gentoo but the error is the same.

[2017-08-07 20:17] swift-ci commented on #4624
**Comment by Vladislav Dembskiy (JIRA)**

   I have renamed the issue because I have got the same eroor on Gentoo and LFS.

[2017-08-16 02:04] NachoSoto commented on #4510
Still broken in Swift 4.0.

[2017-08-16 09:17] slavapestov commented on #4510
<https://github.com/apple/swift-lldb/pull/244>

[2017-08-16 09:17] #4510 closed, assigned to nobody

[2017-08-16 16:56] belkadan commented on #4516
@swift-ci create

[2017-08-25 19:42] swift-ci commented on #4624
**Comment by Vladislav Dembskiy (JIRA)**

   On updated Gentoo I have go the same error:

vedg@ved-hp-gentoo /mnt/swift/swift-source/swift $ swift
error: Could not construct an expression context for the REPL.

[2017-09-18 15:45] b9e45994-f1ab-4caa-ab67-04c71c9dbfb6 opened #4386 "[SR-5920] error: ld-linux-x86-64.so.2 0x0005d151: adding range [0x158ea-0x15969) which has a base that is less than the function's low PC 0x160e0"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5920      |
   |Radar             | None         |
   |Original Reporter | @octoploid      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-09-18 17:02] belkadan commented on #4386
@jckarter, is this our negative offset thing?

[2017-09-18 17:11] jckarter commented on #4386
No idea, sorry. @lhames is this coming from MCJIT?

[2017-09-18 22:19] lhames commented on #4386
Is this the LLDB-based REPL or the one in libImmediate? Both are using MCJIT, but this error looks like it's coming from <https://github.com/apple/swift-lldb/blob/stable/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp> , so I suspect this is an LLDB/REPL issue rather than an MCJIT specific one.

[2017-09-19 01:10] belkadan commented on #4386
Yes, it's LLDB. The integrated REPL has a different banner that says it's the integrated REPL.

[2017-09-19 03:58] b9e45994-f1ab-4caa-ab67-04c71c9dbfb6 commented on #4386
Yes, it's LLDB. The issue only happens for print(), other output is fine.

[code]

The internal REPL is fine:

[code]

[2017-09-21 00:38] jckarter opened #4385 "[SR-5947] lldb tries to form a 'mutating' extension method on a class"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5947      |
   |Radar             | rdar://problem/34561240         |
   |Original Reporter | @jckarter      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2017-09-21 00:38] jckarter commented on #4385
@swift-ci create

[2017-09-26 14:50] swift-ci opened #4505 "[SR-5994] Off by one error in URL description (swift REPL only)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-5994      |
   |Radar             | rdar://problem/29795062         |
   |Original Reporter | gwk (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

 $ uname -v

Darwin K

[2017-09-26 17:28] belkadan commented on #4505
@swift-ci create

[2017-09-29 22:49] swift-ci opened #4504 "[SR-6033] llvm-dsymutil does not include swiftmodule files in macho debug map"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6033      |
   |Radar             | rdar://problem/34768588         |
   |Original Reporter | fjricci (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

macOS 10.12

</de

[2017-10-02 17:38] belkadan commented on #4504
cc @adrian-prantl

[2017-10-02 17:40] adrian-prantl commented on #4504
@swift-ci create

[2017-10-02 18:33] swift-ci commented on #4504
**Comment by Francis Ricci (JIRA)**

   Looks to me like the swiftmodule just needs to be dumped into the DWARF \_\_swift_ast section (a hexdump of my test swiftmodule exactly matches the contents of that section as created by xcode's dsymutil). Working on that currently.

[2017-10-02 21:21] swift-ci commented on #4504
**Comment by Francis Ricci (JIRA)**

   Probably belongs in a separate bug, but I also noticed several apple\_\* sections are missing with llvm_dsymutil as well:

[code]

[2017-10-02 23:43] swift-ci commented on #4504
**Comment by Francis Ricci (JIRA)**

   <https://github.com/apple/swift-llvm/pull/61>

[2017-10-03 15:54] swift-ci commented on #4504
**Comment by Francis Ricci (JIRA)**

   Migrated this to upstream llvm - https://reviews.llvm.org/D38504

[2017-10-03 16:05] swift-ci opened #4503 "[SR-6046] DWARF generated by llvm-dsymutil missing AT_location for swift variables"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6046      |
   |Radar             | None         |
   |Original Reporter | fjricci (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

macOS 10.12, Xcode 9.0.0

</details>

[2017-10-03 16:30] swift-ci commented on #4503
**Comment by Francis Ricci (JIRA)**

   Looks like the issue is an incorrect binAddr, from dsymutil -verbose:

llvm-dsymutil:

-   { sym: \_\_Tv14test1xSi, objAddr: 0x0000000000000B10, binAddr: 0x0000000000000000, size: 0x00000000 }

xcode dsymutil:

-   { sym: \_\_Tv14test1xSi, objAddr: 0x0000000000000B10, binAddr: 0x0000000100004628, size: 0x00000000 }

[2017-10-03 16:45] swift-ci commented on #4503
**Comment by Francis Ricci (JIRA)**

   `0x0000000100004628 looks like the start of _DATA,_common:`

[code]

[2017-10-03 19:59] swift-ci commented on #4503
**Comment by Francis Ricci (JIRA)**

   Appears to be because MachOObjectFile::symbols().getFlags() is returning SymbolRef::SF_None for all of the global symbols, which means they don't end up in the global symbol mapping.

[2017-10-05 15:56] swift-ci commented on #4503
**Comment by Francis Ricci (JIRA)**

   <https://reviews.llvm.org/D38587>

[2017-10-06 18:44] swift-ci commented on #4504
**Comment by Francis Ricci (JIRA)**

   Committed llvm revision as r315066.

[2017-10-06 18:44] #4504 closed, assigned to nobody

[2017-10-06 19:09] swift-ci commented on #4503
**Comment by Francis Ricci (JIRA)**

   Committed as llvm revision r315082

[2017-10-06 19:09] #4503 closed, assigned to nobody

[2017-10-16 08:16] keith opened #4384 "[SR-6156] LLDB: warning: initialization of variable '$__lldb_error_result'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6156      |
   |Radar             | rdar://problem/35002947         |
   |Original Reporter | @keith      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2017-10-16 08:17] keith commented on #4395
Filed a super similar bug here: https://bugs.swift.org/browse/SR-6156

[2017-10-16 09:06] slavapestov commented on #4384
@swift-ci create

[2017-10-16 09:06] slavapestov commented on #4395
@swift-ci create

[2017-10-16 18:30] NachoSoto commented on #4384
FWIW I think I've been seeing this since Swift 1.0.

[2017-10-16 21:58] slavapestov commented on #4384
So it's not a regression? Sorry, management won't let us fix it 😉

[2017-10-19 23:35] twostraws opened #4383 "[SR-6189] Strange values being printed when using protocols"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6189      |
   |Radar             | None         |
   |Original Reporter | @twostraws      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Apple Swift version 4.0.1 (swiftlang-900.0.66 clang-900.0.37)

</details>

   <details>
  <summary>Additional Detail from

[2017-10-20 23:33] belkadan commented on #4383
jingham@apple.com (JIRA User), sound familiar?

[2017-11-03 05:39] swift-ci opened #4502 "[SR-6290] Bad Int values shown in Xcode variable view when viewing Dictionary with enum keys"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6290      |
   |Radar             | rdar://problem/35337096         |
   |Original Reporter | igz (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/27

[2017-11-03 17:36] belkadan commented on #4502
@swift-ci create

[2017-11-22 19:34] keith commented on #4502
The root of this issue appears to be that the byte offsets that are calculated here <https://github.com/apple/swift-lldb/blob/stable/source/Symbol/SwiftASTContext.cpp#L501-L521> are wrong. In this repro case where we have an enum for the dictionary keys, and an int for the values, the tuple created by SwiftHashedContainer has 9 bytes, the first 1 for the enum, and the other 8 for the int. Yet the

[2017-11-22 22:16] keith commented on #4502
Ok so this appears to be the case because the bytes for the key of the tuple are padded in the case of defining a tuple by itself, but they're not padded in the case they're in a dictionary. This results in the expected size of the tuple type generated by lldb to be 16 bytes, yet the data given to it is only 9 bytes. It actually seems like the solution here should be padding the key, instead of ge

[2017-11-22 23:21] keith commented on #4502
I've submitted a fix for this and would love feedback on it! <https://github.com/apple/swift-lldb/pull/259>

[2017-12-05 17:00] 0acf245c-f0fa-406f-afb9-4746d10f0359 opened #4382 "[SR-6535] In-tree LLDB tests are failing as a dependency is missing"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6535      |
   |Radar             | None         |
   |Original Reporter | @dcci      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes             |

[2017-12-05 17:12] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4382
cc: @jasonmolenda/jingham@apple.com (JIRA User)

[2017-12-05 17:22] belkadan commented on #4382
This seems like it isn't specific to Swift, except for build-script trying to detect the scenario.

[2017-12-05 17:31] swift-ci commented on #4382
**Comment by Jim Ingham (JIRA)**

   This was discussed in the thread:

<http://lists.llvm.org/pipermail/lldb-dev/2017-November/012945.html>

on the lldb-dev mailing list.  IIUC the problem comes about if you installed the Xcode CommandLine Tools at some point on your machine.

Pavel said he got it working by explicitly specifying the SDKRoot to macosx.

[2017-12-06 06:41] keith commented on #4502
I'm still trying to debug the test failure that seems to be caused by my fix. In the meantime I've submitted a separate PR to add some tests around this use case. Currently this specific bug's test is disabled (until a fix is merged), but some related cases have been added. <https://github.com/apple/swift-lldb/pull/262>

[2017-12-14 23:56] keith commented on #4502
Fixed in https://github.com/apple/swift-lldb/pull/259

[2017-12-14 23:56] #4502 closed, assigned to keith

[2017-12-22 00:39] swift-ci opened #4501 "[SR-6657] Couldn't load 'self' because its value couldn't be evaluated"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6657      |
   |Radar             | rdar://problem/36256619         |
   |Original Reporter | robdashnash (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962486-7a6961ab-61e3-4003-b0f4-db86c38c500c.gz)

<details

[2017-12-22 00:42] swift-ci commented on #4501
**Comment by Rob Nash (JIRA)**

   FYI

The protocol 'CardableScene' currently shows 'redundant layout constraint" warning, as explained here

<https://bugs.swift.org/browse/SR-6265?focusedCommentId=31224&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-31224>

However, it has been suggested in the comments that this issue is not related.

[2017-12-22 19:33] keith commented on #4384
I've made some progress on this. So the problem for *this specific case* is that when lldb attempts to find \`self\` [here](https://github.com/apple/swift-lldb/blob/3c3bd53f6862ec52ab89134b89532bc731a89d45/source/Plugins/ExpressionParser/Swift/SwiftUserExpression.cpp#L159), it finds the optional one, and ends up adding the [extension to Optional](https://github.com/apple/swift-lldb/blob/3c3bd53f68

[2017-12-23 01:51] keith commented on #4395
I dug into this a bit, so unlike SR-6156, this specific error seems to only affect when the protocol extension is conformed to by an Objective-C class. In this case the \`self_type\` [here](https://github.com/apple/swift-lldb/blob/stable/source/Plugins/ExpressionParser/Swift/SwiftUserExpression.cpp#L268) is \`Self\`, so after that I think everything is pretty much borked. Similar to SR-6156, you c

[2017-12-23 03:40] keith commented on #4384
Upon more investigation, the problem isn't the multiple \`self\` variables, it's that where lldb is fetching the variables from, SymbolContext-\>GetFunctionBlock-\>GetBlockVariableList, only includes the optional self, and not the non-optional one. You can see this using the python API to access the same variables:

[code]

In this case you end up with just the optional \`self\`. If you instead ac

[2017-12-27 19:16] swift-ci commented on #4585
**Comment by Søren Mortensen (JIRA)**

   mason (JIRA User), I had the same problem on 16.04 (Swift version 4.0.3) and this workaround fixed it for me.

[2017-12-30 00:35] keith commented on #4505
You can also see this in lldb with just \`p URL(fileURLWithPath: "a")\`

[2017-12-30 01:22] keith commented on #4385
Related <https://bugs.swift.org/browse/SR-3886>

[2018-01-02 17:59] belkadan commented on #4501
@swift-ci create

[2018-01-02 18:00] belkadan commented on #4501
Do you have a complete project where this reproduces? That'll make it easier to be sure we're looking at the same thing.

[2018-01-03 14:41] swift-ci commented on #4501
**Comment by Rob Nash (JIRA)**

   Ye sure @belkadan project attached. Run the workspace on an iPhone simulator of your choice and take a look at DanceClassViewController.swift

[code]

[2018-01-03 23:29] belkadan commented on #4501
It looks like that one isn't the problem one, but breaking at Card.swift:17 lets me try the "p scene.showsNavigationBar" that causes the problem. Accessing plain Objective-C methods like "p scene.view" also produces this error.

[2018-01-03 23:30] belkadan commented on #4501
(Thanks!)

[2018-01-16 22:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 opened #4381 "[SR-6775] [Debugger] Expression parser segfaults when executing expression"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6775      |
   |Radar             | rdar://problem/36559621         |
   |Original Reporter | @dcci      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-01-16 22:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4381
@swift-ci create

[2018-01-16 22:49] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4381
FWIW, this happens both on \`upstream-with-swift\` and on \`stable\`, so I think it's something important.

[2018-01-18 15:34] pitiphong-p opened #4380 "[SR-6784] LLDB shows that a dictionary variable has 4,912,930,248 values in Xcode Variable View when using Swift 4.1 Development Snapshot toolchain"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6784      |
   |Radar             | rdar://36619561         |
   |Original Reporter | @pitiphong-p      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/16496

[2018-01-18 23:30] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4381
It's intermittent.
@vedantk is currently doing the plumbing for asan/ubsan in swift-lldb so we can flesh out all the issues and see if the problem is still there. I'm keeping this open in the meanwhile.

[2018-01-18 23:33] 0acf245c-f0fa-406f-afb9-4746d10f0359 opened #4379 "[SR-6791] [Debugger] `po` prints the wrong value for class field"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6791      |
   |Radar             | None         |
   |Original Reporter | @dcci      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2018-01-19 18:05] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4379
Adrian suggested I should've tried also \`frame var a\`, so I did, and the result is still wrong.

[code]

[2018-01-19 22:43] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4379
This is a bug in the compiler. I'll follow up with details soon.

[2018-01-24 20:08] swift-ci opened #4500 "[SR-6831] LLDB get wrong variable in an enum"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6831      |
   |Radar             | rdar://problem/36835797         |
   |Original Reporter | TheSnowFox (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserconte

[2018-01-24 20:49] swift-ci commented on #4500
**Comment by Jim Ingham (JIRA)**

   @swift-ci create

[2018-01-25 01:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4379
<https://github.com/apple/swift/pull/14130>

[2018-01-25 02:38] #4379 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-01-25 19:27] swift-ci commented on #4500
**Comment by Jim Ingham (JIRA)**

   I see this in the swift-4.0 branch of lldb, but I don't see the same behavior when using tools from the swift-4.1 development branch.

[2018-01-25 19:35] swift-ci commented on #4500
**Comment by Thomas Dougnac-Galant (JIRA)**

   Ah. I'm currently developing and debugging my app only with Xcode release.

Could this bug change the behaviour of accessing the data (inside item struct) ?

[2018-01-25 19:46] swift-ci commented on #4500
**Comment by Jim Ingham (JIRA)**

   BTW, it looks like the bug is when you have a let variable with a struct within a struct.  Changing myStruct to a var fixes the problem.  Also, if you copying myStruct.item to a local var, the original still prints incorrectly but the copy prints correctly.

[2018-01-25 19:49] swift-ci commented on #4500
**Comment by Thomas Dougnac-Galant (JIRA)**

   ok thanks

[2018-01-25 22:04] swift-ci commented on #4500
**Comment by Jim Ingham (JIRA)**

   I don't think so.  I suspect this is an artifact of some special magic the compiler does to make let variables be visible to the debugger after the compiler would have discarded them.  It makes a "shadow copy" at -Onone and points the debugger at that.  That doesn't affect the actual code behavior, however, since "real code" doesn't use this shadow copy.

Also,

[2018-01-29 02:13] TellowKrinkle opened #4378 "[SR-6861] When editing previous statements in the repl, enter runs the code instead of inserting a newline"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6861      |
   |Radar             | rdar://problem/36989793         |
   |Original Reporter | @tellowkrinkle      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|--------------

[2018-01-29 17:35] belkadan commented on #4378
@swift-ci create

[2018-01-30 03:19] swift-ci commented on #4378
**Comment by Jim Ingham (JIRA)**

   I agree with this, we need some way to insert a line into multi-line entry text.  It's equally annoying that you can't add a line above you in the function you are currently entering.

We should only do this in multi-line mode, since otherwise when you went to fix a single typo on an line you would always have to ^E then return to submit it.  Or really, to hit

[2018-02-08 13:12] swift-ci opened #4499 "[SR-6954] Interactive lldb debugging does not work on Linux (regression in Swift 4.1)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-6954      |
   |Radar             | rdar://problem/37354542         |
   |Original Reporter | mason (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.co

[2018-02-08 17:12] belkadan commented on #4499
@swift-ci create

[2018-02-16 19:06] adrian-prantl commented on #4499
While I'm investigating the root cause, as a workaround you can pass \`-Xcc -isystem -Xcc $PATH_TO/lib/swift/clang/include\` to swiftc during compilation.

[2018-02-19 06:54] swift-ci commented on #4499
**Comment by Mason Mark (JIRA)**

   Thank you @adrian-prantl, that is helpful, and allowed me to get lldb working in the simple test program referenced above.

However, the real project from which that was extracted builds with `swift build` and depends on other modules in its Swift package. I poked around trying to use `-Xswiftc` in various permutations, but couldn't come up with the correct inc

[2018-02-19 15:57] adrian-prantl commented on #4499
The "real" fix for this is going to be a change in the install location of the clang resource directory, see my WIP here: <https://github.com/adrian-prantl/swift-lldb/commits/37354542>

Can you confirm that this patch fixes the issue for you?

[2018-02-19 19:53] adrian-prantl commented on #4499
<https://github.com/apple/swift-lldb/pull/331>

[2018-02-22 15:55] adrian-prantl commented on #4499
This should be fixed on master and swift-4.1-branch now.

[2018-02-22 15:55] adrian-prantl commented on #4499
<https://github.com/apple/swift-lldb/pull/337>

[2018-02-22 15:56] adrian-prantl commented on #4499
<https://github.com/apple/swift-lldb/pull/337>

<https://github.com/apple/swift-lldb/pull/331>

[2018-02-23 04:49] swift-ci opened #4498 "[SR-7065] REPL broken on Linux (cannot import anything) as of 2018-02-22 Swift 4.1 snapshot"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7065      |
   |Radar             | rdar://problem/37828364         |
   |Original Reporter | mason (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

-   Ubuntu Server 1

[2018-02-23 05:04] swift-ci commented on #4499
**Comment by Mason Mark (JIRA)**

   Thank you @adrian-prantl! I verified that the issue is indeed fixed as of the 2018-02-22 developer snapshot, as the transcript below shows.

However, I just filed a separate bug, SR-7065, because the REPL stopped working on Linux in this snapshot, and it fails in a very similar way as lldb was failing before this fix. The similarity of the errors and the timing

[2018-02-23 16:53] belkadan commented on #4498
\*sigh\* @adrian-prantl?

(this sigh is not aimed at you, just at complexity)

[2018-02-23 17:11] adrian-prantl commented on #4498
This is very serious, but since it is no regression, I would like to not attempt to fix this in swift-4.1-branch any more. We clearly need more testing for Linux to catch these problems.

What is happening here is a conflict between the Clang resource directory that is included in LLDB and the one that is included in the Swift compiler. We need to make sure LLDB picks one and only one, and perhaps

[2018-02-23 17:12] adrian-prantl commented on #4498
@swift-ci create

[2018-02-23 18:03] belkadan commented on #4498
Can you revert the previous commit, then? Right now it *is* a regression because there was a workaround and now there isn't.

[2018-02-23 18:09] adrian-prantl commented on #4498
I'll think about it. Note that the only thing my previous commit did was move the clang resource directory from /usr/share/lldb/clang to  /usr/share/lldb/clang/${CLANG_VERSION} which can also easily be undone as part of the workaround.

[2018-02-23 18:12] belkadan commented on #4498
The previous workaround didn't require moving anything in the toolchain, only setting environment variables.

Additionally, in 4.0, you couldn't import Foundation. Now you can't import *anything.* That's definitely a regression.

[2018-02-24 05:06] swift-ci commented on #4498
**Comment by Mason Mark (JIRA)**

   Just to make sure I've communicated things clearly and we are all on the same page, let me sum up the timeline:

1.) **Swift 4.0.2 RELEASE**: Both swift REPL and basic debugging with lldb work fine on Linux, subject to the caveats that you install any missing dependencies (e.g. `libcurl3` etc), fix UNIX permissions so that all headers are world readable (CoreFo

[2018-03-04 05:35] xwu opened #4377 "[SR-7114] REPL hangs for no apparent reason"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7114      |
   |Radar             | rdar://problem/38142243         |
   |Original Reporter | @xwu      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

Apple Swift version 4.1 (sw

[2018-03-05 03:07] benrimmington opened #4376 "[SR-7118] REPL :type lookup of entire Swift module aborts (due to assertion failure)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7118      |
   |Radar             | rdar://problem/38142245         |
   |Original Reporter | @benrimmington      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

-   macOS 10.13.3 (17D10

[2018-03-05 17:07] belkadan commented on #4376
Crashing in the compiler part.

@swift-ci create

[2018-03-05 17:09] belkadan commented on #4377
@swift-ci create

[2018-03-05 22:03] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4500
TheSnowFox (JIRA User) Hello, I was able to reproduce this with a release version of Xcode, but not with a nightly toolchain.
You might consider getting a snapshot from here <https://swift.org/download/#releases>
and verify this works as you expect. Thanks for your report.

[2018-03-05 22:03] #4500 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-03-14 01:27] adrian-prantl commented on #4498
I can't actually get this to reproduce when building the toolchain from source.

Can you reproduce this using the following instructions? (This basically re-applies the fix from <https://bugs.swift.org/browse/SR-6954)>

If it does reproduce for you: What do you have in your environment?

[code]

[2018-03-14 10:16] swift-ci opened #4497 "[SR-7193] Segfaults after using KeyPath on array in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7193      |
   |Radar             | rdar://problem/38461035         |
   |Original Reporter | dwaite (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Tested against Xcode

[2018-03-14 17:24] belkadan commented on #4497
Doesn't seem to happen with a normal compiler -\> over to LLDB.

@swift-ci create

[2018-03-16 07:23] swift-ci commented on #4498
**Comment by Mason Mark (JIRA)**

   Thanks, @adrian-prantl. I tried your instructions with `DEVELOPMENT-SNAPSHOT-2018-03-13` and the REPL can successfully `import Foundation` in either case. It works before I move the `include` dir, and it works after I move it.

So, I also cannot reproduce this issue with this snapshot.

I also note that lldb does not work before the directory is moved (the same

[2018-03-16 09:00] slavapestov commented on #4576
@swift-ci create

[2018-03-16 16:59] adrian-prantl commented on #4498
I can't reproduce the lldb failure.

[code]

or with the snapshot:

[code]

[2018-03-16 17:02] adrian-prantl commented on #4498
I *think* that you saw the original symptoms because you still had the C_INCLUDE_PATH workarounds in your environment.

[2018-03-16 17:02] adrian-prantl commented on #4498
Ah. I managed to reproduce what you saw now by adding an \`import Foundation\` declaration to the source code.

[2018-03-16 17:04] adrian-prantl commented on #4498
However, I can only reproduce that with the snapshot and not with a slightly older swift built from source.

[2018-03-16 17:12] swift-ci commented on #4576
**Comment by Fred Riss (JIRA)**

   Trevor, we'd love to investigate this issue, but there's not enough information in your report. Ideally we'd need a small reproducing test case.

[2018-03-16 17:53] adrian-prantl commented on #4498
I have yet to find the combination of LangOptions and configuration macros that reproduces this exact error message when compiling the overlay module with clang alone. I'm rebuilding today's toolchain from source now.

[2018-03-27 07:21] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4381
We fixed this a while ago.

[2018-03-27 07:21] #4381 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-03-28 00:39] swift-ci commented on #4498
**Comment by Mason Mark (JIRA)**

   Update: I tried again today, following @adrian-prantl's instructions above for moving the "include" directory, but with the Swift 4.1 March 26, 2018 snapshot. With that snapshot, before moving the directory, the REPL worked (this issue SR-7065 seems fixed), but lldb debugging did not work (SR-6954 is back). However, after moving the directory per those instruct

[2018-03-28 23:38] keith commented on #4384
Since <https://github.com/apple/swift/pull/15306> you can now do this without the backticks, but lldb still has this issue (unsurprisingly)

[2018-03-29 03:37] ed4ae5fb-5ade-43c3-bf64-26e47fc0876d opened #4375 "[SR-7302] LLDB repl takes over 10 seconds to start up"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7302      |
   |Radar             | None         |
   |Original Reporter | @lattner      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-03-29 03:37] ed4ae5fb-5ade-43c3-bf64-26e47fc0876d commented on #4375
friss (JIRA User) fyi

[2018-03-29 17:03] belkadan commented on #4375
We're going to need a lot more information here. What version of LLDB/Swift? If hand-built, what configuration? What host OS, and if macOS, what Xcode version do you have installed?

[2018-03-30 05:00] swift-ci commented on #4499
**Comment by Mason Mark (JIRA)**

   This issue has recurred in the Swift 4.1 release.

However, the workaround of moving `/usr/lib/lldb/clang/include` as described in [this comment](https://bugs.swift.org/browse/SR-7065?focusedCommentId=33479&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-33479) on SR-7065 does work (tested on Ubuntu Server 16.04 with the final Swif

[2018-03-30 05:16] swift-ci commented on #4499
**Comment by Mason Mark (JIRA)**

   @adrian-prantl @belkadan I think this issue should be re-opened and SR-7065 should be closed, so that the JIRA issue state matches the actual experience of Linux users who might be searching for a solution here. Namely, after installing Swift 4.1 final on Linux, the REPL does work (so SR-7065 is resolved), but lldb does not work for debugging a program that imp

[2018-03-30 15:17] allenhumphreys commented on #4637
marc (JIRA User) I seem to be experiencing this issue in Xcode 9.3. I'm getting a slightly different error though:

    Couldn't apply expression side effects : couldn't get the data for variable self

I'm using a static struct with all static functions and a single static let property.

[2018-03-30 16:29] adrian-prantl commented on #4499
mason (JIRA User): The workaround you are mentioning is part of the current master branch. Can you confirm that this works as expected using the latest snapshot ([Ubuntu 16.04](https://swift.org/builds/development/ubuntu1604/swift-DEVELOPMENT-SNAPSHOT-2018-03-28-a/swift-DEVELOPMENT-SNAPSHOT-2018-03-28-a-ubuntu16.04.tar.gz))?

[2018-03-30 16:31] adrian-prantl commented on #4498
mason (JIRA User): The workaround you are mentioning is part of the current master branch. Can you confirm that this works as expected using the latest snapshot ([Ubuntu 16.04](https://swift.org/builds/development/ubuntu1604/swift-DEVELOPMENT-SNAPSHOT-2018-03-28-a/swift-DEVELOPMENT-SNAPSHOT-2018-03-28-a-ubuntu16.04.tar.gz))?

[2018-03-30 16:31] adrian-prantl commented on #4499
To clarify: I'm referring to the development snapshot, not to the swift-4.1 snapshot.

[2018-03-30 16:32] adrian-prantl commented on #4498
To clarify: I'm referring to the development snapshot, not to the swift-4.1 snapshot.

[2018-03-30 20:43] swift-ci commented on #4499
**Comment by Mason Mark (JIRA)**

   @adrian-prantl I tried it with the snapshot you referenced. It looks like it works, but I couldn't 100% confirm that because lldb still fails, with what seems like could be an unrelated issue (transcript below, the problem is "could not build C module '\_SwiftDispatchOverlayShims'").

[code]

[2018-03-30 20:45] swift-ci commented on #4498
**Comment by Mason Mark (JIRA)**

   Above comments answered [here](https://bugs.swift.org/browse/SR-6954?focusedCommentId=34083&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-34083)

[2018-04-02 21:03] swift-ci commented on #4637
**Comment by Michael Helmbrecht (JIRA)**

   Getting the same error as @allenhumphreys; using an empty enum with all static methods in Xcode 9.3.

[2018-04-09 12:17] weissi opened #4374 "[SR-7388] lldb on Linux broken further with Swift 4.1 (error: could not build C module 'SwiftGlibc')"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7388      |
   |Radar             | rdar://problem/39277133         |
   |Original Reporter | @weissi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/

[2018-04-09 12:23] weissi commented on #4374
@swift-ci create

[2018-04-09 12:25] weissi commented on #4374
please also note that this is a really bad bug and I don't currently have a workaround: This stops you from working with LLDB for *any module* that (transitively) depends on `Glibc` which is pretty much anything.

[2018-04-09 17:35] belkadan commented on #4374
@adrian-prantl, @compnerd, I thought we backed out the change that caused this?

[2018-04-09 21:26] adrian-prantl commented on #4374
Yeah I thought that this would be fixed by shipping the correct clang headers with LLDB, but we don't have a testcase that imports glibc in the Swift LLDB Linux testsuite at the moment. I'll add one and see if I can reproduce this.

[2018-04-09 21:26] adrian-prantl commented on #4374
@swift-ci create

[2018-04-13 00:29] adrian-prantl commented on #4374
Does this also reproduce for with a recent **trunk** development snapshot ([https://swift.org/download/#snapshots)](https://swift.org/download/#snapshots),) and **without** setting any additional environment variables the alter the Clang include path?

If it doesn't reproduce, then this bug is a duplicate of <https://bugs.swift.org/browse/SR-6954.> The workaround then is to move the clang headers

[2018-04-13 00:30] adrian-prantl commented on #4498
This is fixed on trunk / swift-4.2 branch.

[2018-04-13 00:30] #4498 closed, assigned to nobody

[2018-04-16 19:54] swift-ci commented on #4637
**Comment by Worth Baker (JIRA)**

   Also getting this error on Xcode 9.3 when attempting lldb operations (po) on a struct with no properties and only static methods: "Couldn't apply expression side effects : couldn't get the data for variable self". Swapping the item from struct to class seems to fix the issue.

[2018-04-18 00:53] vedantk commented on #4581
I looked into this recently and found that there isn't a good way to address this problem.

Any fix that enables stepping on the line "ages = message" prior to a call to map would result in inconsistent stepping behavior between Swift and C-based languages. Further, it might result in spurious extra stepping onto lines which just contain a reference to a decl.

[2018-04-18 00:53] #4581 closed, assigned to vedantk

[2018-04-18 23:49] belkadan opened #4373 "[SR-7474] LLDB should run the AST verifier after doing any AST manipulations"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7474      |
   |Radar             | rdar://problem/39544116         |
   |Original Reporter | @belkadan      |
   |Type              | Improvement    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

[2018-04-18 23:51] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4373
@swift-ci create

[2018-04-19 14:54] weissi commented on #4374
@adrian-prantl, sorry for the late response. This is the state with the the latest snapshot (`swift-DEVELOPMENT-SNAPSHOT-2018-04-18-a-ubuntu16.04`):

    $ /usr/local/swift/swift-DEVELOPMENT-SNAPSHOT-2018-04-18-a-ubuntu16.04/usr/bin/lldb  ./.build/x86_64-unknown-linux/debug/test
    (lldb) target create "./.build/x86_64-unknown-linux/debug/test"
    Current executable set to './.build/x86_64-unkno

[2018-04-19 14:58] weissi commented on #4374
@adrian-prantl and just to prove that with 4.0.3 and the same code it works just fine

    $ /usr/local/swift/swift-4.0.3-RELEASE-ubuntu16.04/usr/bin/swift build
    Compile CNIOSHA1 c_nio_sha1.c
    Compile CNIOZlib empty.c
    Compile CNIOLinux shim.c
    Compile CNIOHTTPParser c_nio_http_parser.c
    Compile CNIODarwin shim.c
    Compile CNIOAtomics src/c-atomics.c
    Compile Swift Module 'NIO

[2018-04-19 15:06] weissi commented on #4374
@adrian-prantl sorry for the spam, I couldn't do the `mv` command you suggested as that directory doesn't exist

    $ ls  /usr//local/swift/swift-DEVELOPMENT-SNAPSHOT-2018-04-18-a-ubuntu16.04/usr/lib/lldb/clang/include
    ls: cannot access '/usr//local/swift/swift-DEVELOPMENT-SNAPSHOT-2018-04-18-a-ubuntu16.04/usr/lib/lldb/clang/include': No such file or directory
    $ find /usr/local/swift/swif

[2018-04-20 14:29] alblue opened #4372 "[SR-7487] Segfault in interpreter when printing NSRegularExpression"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7487      |
   |Radar             | None         |
   |Original Reporter | @alblue      |
   |Type              | Bug    |
   |Status            | Reopened        |
   |Resolution        |     |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2018-04-20 17:03] belkadan commented on #4372
jingham@apple.com (JIRA User), any ideas?

[2018-04-21 00:16] swift-ci commented on #4372
**Comment by Jim Ingham (JIRA)**

   Would it be possible to get a crash dump?  Maybe attach to lldb with lldb, and when it crashes do "bt all"...

[2018-04-21 12:25] #4656 closed, assigned to nobody

[2018-04-23 07:43] alblue commented on #4372
I tried to get a crash dump, but running lldb(swift repl) from within an lldb kept stopping at the 'exec', presumably due to launching an inferior inferior process. In any case, it's fairly trivial to reproduce if you know the magic incantations necessary from lldb.

[2018-04-23 19:33] adrian-prantl commented on #4374
This should be fixed in swift-4.2-branch f7c80dd or later. Please let me know if you run into further problems!

[2018-04-24 19:12] weissi commented on #4374
thanks very much @adrian-prantl, now fixed with `swift-DEVELOPMENT-SNAPSHOT-2018-04-23-a-ubuntu16.04`

    $ /usr/local/swift/swift-DEVELOPMENT-SNAPSHOT-2018-04-23-a-ubuntu16.04/usr/bin/lldb ./.build/x86_64-unknown-linux/debug/NIOHTTP1Server
    (lldb) target create "./.build/x86_64-unknown-linux/debug/NIOHTTP1Server"
    Current executable set to './.build/x86_64-unknown-linux/debug/NIOHTTP1Serve

[2018-04-24 20:41] adrian-prantl commented on #4374
Awesome. Please do let me know if you find any other issues!

[2018-04-26 01:13] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4373
Fixed <https://github.com/apple/swift-lldb/pull/570>

[2018-04-26 01:13] #4373 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-04-26 02:39] gottesmm commented on #4374
@weissi is it possible to add this as an integration test to the integration test repo? Seems like something small we could put there. I am surprised that it was not caught earlier.

[2018-04-26 16:33] adrian-prantl commented on #4374
Just for completeness: I did add a end-to-end test to LLDB that imports libdispatch, when I fixed this.

[2018-04-29 01:41] zwaldowski opened #4371 "[SR-7565] LLDB print fails to unmask extra inhabitants in enums"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7565      |
   |Radar             | rdar://39869332         |
   |Original Reporter | @zwaldowski      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/1649

[2018-05-01 17:36] belkadan commented on #4371
jingham@apple.com (JIRA User), @dcci, is there a dup of this?

[2018-05-01 18:05] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
Looking!

[2018-05-01 18:05] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
@swift-ci create

[2018-05-01 19:18] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
This reproduces on top-of-tree lldb.

[code]

It's not \`expr\` being broken (only), as this also shows up in the \`frame var\` path. I'll investigate further. Thanks for your report!

[2018-05-01 19:24] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
[code]

And \`log types\`:

[code]

[2018-05-01 21:38] weissi commented on #4374
thanks @adrian-prantl, that's great to hear!

[2018-05-02 00:21] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
This is going to be tricky to fix for the general case, I had a discussion with Slava about it.

Possible solutions:
1) if you can run code in the target, there are value witness functiosn for each enum type to proejct the tag number and project a payload
2) if you can't run code, you'd have to simulate what those functions are doing, which is hard, but it will be easier once we store a declarativ

[2018-05-04 16:23] swift-ci commented on #4653
**Comment by Ivan Khlystov (JIRA)**

   still not fixed🙁

[2018-05-05 00:21] swift-ci commented on #4374
**Comment by Tabor Kelly (JIRA)**

   I would appear that this is still broken in the Ubuntu 16.04 Swift 4.1.1 release. Would it be possible to get this into a stable release?

[2018-05-05 00:27] adrian-prantl commented on #4374
Yes, the fix is only on the swift-4.2 branch. I'll investigate whether it can be backported to 4.1.

[2018-05-07 17:10] adrian-prantl commented on #4374
I created a pull request here: <https://github.com/apple/swift-lldb/pull/614>

[2018-05-08 16:14] swift-ci commented on #4650
**Comment by Michael MacCallum (JIRA)**

   This is a really big problem for me as well. I'm unable to debug my production application with anything more than print statements.

[2018-05-08 18:37] adrian-prantl commented on #4374
The pull request has been merged onto swift-4.1-branch.

[2018-05-08 18:37] #4374 closed, assigned to adrian-prantl

[2018-05-12 17:06] adrian-prantl commented on #4499
I cherry-picked all the related bugfixes to the swift-4.1 branch now, too. Could you try this again with the lates swift-4.1 snapshot?

[2018-05-12 17:06] #4499 closed, assigned to adrian-prantl

[2018-05-14 14:02] jepers opened #4370 "[SR-7686] Swift REPL hangs (only after using SIMD functions?)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7686      |
   |Radar             | rdar://problem/40227912         |
   |Original Reporter | @jepers      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-05-14 17:01] belkadan commented on #4370
@swift-ci create

[2018-05-15 21:41] swift-ci commented on #4501
**Comment by Alex Reilly (JIRA)**

   Any updates on this? Still experiencing it on the current Xcode (9.3)

Full error that I'm experiencing:

[code]

[2018-05-16 00:23] belkadan commented on #4501
That's probably a different issue, Alex. Can you file that separately with your own reproducer?

[2018-05-18 07:25] shahmishal commented on #4585
This issue should be resolved with latest development toolchain.

<https://swift.org/builds/development/ubuntu1604/swift-DEVELOPMENT-SNAPSHOT-2018-05-17-a/swift-DEVELOPMENT-SNAPSHOT-2018-05-17-a-ubuntu16.04.tar.gz>

[2018-05-19 20:47] 05262b81-54a9-4fe1-bf6a-96f8042de10e opened #4369 "[SR-7728] `:type lookup Swift` aborts the REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7728      |
   |Radar             | rdar://40417941         |
   |Original Reporter | @lilyball      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Apple Swift version 4.1 (swiftlang-

[2018-05-21 17:12] belkadan commented on #4369
I'm not sure what ObjC has to do with anything, but yes, this should work.

@swift-ci create

[2018-05-21 19:00] 05262b81-54a9-4fe1-bf6a-96f8042de10e commented on #4369
I'm not sure why I said Obj-C (I blame sleep deprivation). I meant some declaration that doesn't serialize back into Swift properly.

[2018-05-22 00:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4369
<https://github.com/apple/swift-lldb/pull/647>

[2018-05-22 00:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4369
Fixed, thanks for your report, Kevin.

[2018-05-22 00:15] #4369 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-05-30 02:37] martinr448 opened #4368 "[SR-7801] Ubuntu developer snapshot requires Foundation for standard library symbols"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7801      |
   |Radar             | rdar://problem/40650604         |
   |Original Reporter | @martinr448      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Ubuntu 16.04, running under

[2018-05-30 02:50] gottesmm commented on #4368
When this is resolved, it is important that an integration test is added to the swift-integration-testsuite:

<https://github.com/apple/swift-integration-tests>

Whoever fixes this, just follow the example of the import glibc test.

[2018-05-30 16:18] jckarter commented on #4368
@swift-ci create

[2018-05-30 17:14] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4368
Reduced (broken also on MacOS):

[code]

[2018-05-30 22:11] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4368
That's a different issue. In fact, this works on ToT:

[code]

[code]

[2018-05-30 22:12] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4368
Can you please try building a ToT version of swift and letting me know whether it's fixed?

Thanks!

(you can use. a cmdline like

[2018-05-31 00:37] swift-ci opened #4496 "[SR-7808] LLDB can't find identifiers from breakpoints within closures that were passed into an enclosing function"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7808      |
   |Radar             | rdar://problem/30948792         |
   |Original Reporter | twof (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 9.4. Also observed in Xcode 9.3 and earlier

</details>

   <details>
  <summary>Additiona

[2018-05-31 15:47] belkadan commented on #4496
@swift-ci create

[2018-05-31 17:24] swift-ci commented on #4496
**Comment by Fred Riss (JIRA)**

   This works if "source" is captured by the closure. When the closure is invoked synchronously, what you ask for makes sense, but what if the closure is invoked on a different thread? The local you want to access might not exist anymore. I don't see a good way for the debugger to solve this.

[2018-05-31 18:23] swift-ci commented on #4496
**Comment by Jim Ingham (JIRA)**

   In current TOT and swift-4.2 the behavior is a little worse.  Now the debug information mentions source, but if you don't actually use the variable, the value doesn't seem to be set up properly.  The value is wrong and the attempt to "po" it fails.

(lldb) run

Process 67938 launched: '/tmp/sf7808' (x86_64)

Process 67938 stopped

-   thread \#1, queue = 'com.a

[2018-05-31 18:26] swift-ci commented on #4496
**Comment by Fred Riss (JIRA)**

   I think what happens here is that the "let source" global that comes later in the code has been displayed, but has not yet been initialized. I doubt it's the local 'source' variable

[2018-05-31 18:55] swift-ci commented on #4496
**Comment by Jim Ingham (JIRA)**

   Yup, I forgot that "frame var source" will look more widely (including file globals) for variables than "frame var" which only looks in the current frame locals.  So I thought this must be a local, but it isn't.

[2018-05-31 19:07] belkadan commented on #4496
Personally I don't object to it not finding the variable, but we should try to give a better error message.

[2018-05-31 19:17] swift-ci commented on #4496
**Comment by Jim Ingham (JIRA)**

Jordan, that's the error message we get from the swift compiler.  What would you propose as a better error message?

[2018-05-31 20:02] swift-ci commented on #4496
**Comment by Alex Reilly (JIRA)**

   I noticed something like that in Swift 4.1 too but I opted not to reported since it seemed like a different issue and I couldn't pin it down jingham@apple.com (JIRA User)

The above code all together

[code]

The above code seperate

[code]

[code]

[2018-05-31 20:58] swift-ci commented on #4496
**Comment by Jim Ingham (JIRA)**

   I'm pretty sure that oddness is just because swift lazily initializes file static data.  So when you do the "po source" in bar, source hasn't been initialized yet.  I don't know if we could get the expression parser to force initialization to happen when it refers to a variable, and even if we could, I'm not sure that that would actually be desirable, since it

[2018-05-31 21:48] swift-ci commented on #4496
**Comment by Alex Reilly (JIRA)**

[code]

Maybe I'm misunderstanding how the debugger is meant to work, but if \`let source = "anything"\` hasn't been executed yet, and compilation fails if I put \`print(source)\` within \`foo\`'s closure, I shouldn't be able to execute code that wouldn't compile if it was on the same line as the breakpoint right?

[2018-05-31 22:26] swift-ci commented on #4496
**Comment by Jim Ingham (JIRA)**

   First off, more generally that last statement is not correct.  The expression parser lets you access variables that aren't in scope (or even in the same module.)  It violates protections, and it will allow you to see globals and use types that aren't visible in the scope of the current frame.  It's pretty common to want the debugger to show you some variable or

[2018-06-01 02:26] swift-ci commented on #4496
**Comment by Alex Reilly (JIRA)**

   Oh I see! Thanks a bunch for the explanation 🙂

I didn't know Swift acts a bit differently at the global scope, so while your snippet compiles, this won't

[code]

[2018-06-01 22:22] martinr448 commented on #4368
Confirmed:

    $ ./build/Ninja-ReleaseAssert/lldb-linux-x86_64/bin/lldb --repl
     Welcome to Swift version 4.2-dev (LLVM 58850e66ae, Clang 8c059b98e4, Swift cd5acad1b5). Type :help for assistance.
     1> print(5)
     5
     2> let a = min(1.0, 2.0)
     a: Double = 1
     3> print(a)
     1.0

[2018-06-06 09:19] pitiphong-p commented on #4380
It works correctly in Swift 4.2 that comes with Xcode 10 beta 1

[2018-06-06 09:19] #4380 closed, assigned to nobody

[2018-06-06 20:10] mayoff opened #4367 "[SR-7901] swift REPL doesn't print deprecation warnings"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7901      |
   |Radar             | rdar://40905898         |
   |Original Reporter | @mayoff      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-06-06 20:11] mayoff commented on #4367
cc @moiseev

[2018-06-07 00:08] martinr448 commented on #4368
Is the fix contained in the latest snapshot? I downloaded and extracted swift-DEVELOPMENT-SNAPSHOT-2018-06-05-a-ubuntu16.04, and still get the same error message as reported above.

[2018-06-07 13:40] bobergj commented on #4637
Getting the same error (couldn't get the data for variable self) in Xcode 9.4, when trying to print out a variable in static method in a non-empty struct (has let properties).

[2018-06-07 20:26] ee21ea02-9d7a-4385-8c3c-ad21e8e490a8 commented on #4367
@swift-ci create

[2018-06-07 22:34] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4368
If this works on ToT, but it doesn't work on a snapshot generated from ToT, then the bug is probably in the way the snapshot is generated (I Think). @shahmishal, as you're responsible for these ,can you please take a look?

[2018-06-08 15:48] swift-ci opened #4495 "[SR-7932] Cannot load Swift type information; AST validation error: The serialized module is corrupted. / Swift expressions require OS X 10.10 / iOS 8 SDKs or later"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7932      |
   |Radar             | rdar://problem/57110020         |
   |Original Reporter | rlovelett (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserconten

[2018-06-09 01:16] belkadan commented on #4495
cc jingham@apple.com (JIRA User)

[2018-06-09 01:45] swift-ci commented on #4495
**Comment by Ryan Lovelett (JIRA)**

   This is a blocker for my work porting my Swift language server to Linux. [I've already hit a few other snags trying to get a working debugger on Linux](https://reviews.llvm.org/D47879). I'm ready and willing to roll up my proverbial sleeves to help solve this. It just might take a mentor (or two) to help me; like on [my last LLDB adventure](http://lists.llvm

[2018-06-11 23:43] swift-ci opened #4494 "[SR-7973] LLDB can't find enum's associated values within switch"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-7973      |
   |Radar             | rdar://problem/41048339         |
   |Original Reporter | twof (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 9.4

</details

[2018-06-12 00:40] swift-ci commented on #4495
**Comment by Jim Ingham (JIRA)**

   That error message is pretty bogus.  The error is because we couldn't make a ClangImporter to reconstruct the types of any bridged objects in your swift module.  You can get some better debugging for this in a couple of ways.  Turn on the types log by putting this in your .lldbinit:

[code]

then generating the error and see if there are any interesting errors

[2018-06-12 03:17] swift-ci commented on #4495
**Comment by Ryan Lovelett (JIRA)**

   Okay that definitely gives a little bit more information.

Now in lldb I consistently get messages like this `<unknown>:0: error: missing required module 'SourceKit'` or `error in SwiftASTContext::GetModule(SourceKitter): 'error: missing required module 'SourceKit'`. Though what is odd, that the `/tmp/lldbtypes-log.txt` file never gets created even though I'

[2018-06-12 16:41] belkadan commented on #4494
cc @adrian-prantl

[2018-06-12 17:19] adrian-prantl commented on #4494
@swift-ci create

[2018-06-26 19:00] swift-ci opened #4493 "[SR-8111] Weird issue when printing String with unicode character"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8111      |
   |Radar             | rdar://problem/41527107         |
   |Original Reporter | Tainnor (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

[2018-06-26 19:26] ee21ea02-9d7a-4385-8c3c-ad21e8e490a8 commented on #4493
/cc @milseman

[2018-06-26 20:27] belkadan commented on #4493
This is part of LLDB's printed representation, so cc jingham@apple.com (JIRA User)

[2018-06-27 06:54] swift-ci opened #4492 "[SR-8120] Bridging an Objective-C protocol named "Optional" breaks the 'po' LLDB command when execution is paused inside a closure."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8120      |
   |Radar             | rdar://problem/41525749         |
   |Original Reporter | TylerTheCompiler (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserc

[2018-06-27 16:50] belkadan commented on #4492
LLDB, I guess the safest thing to do here would always be to write "Swift.Optional"?

@swift-ci create

[2018-06-27 16:51] belkadan commented on #4493
@swift-ci create

[2018-06-27 18:03] belkadan commented on #4492
Ah, that was a comment to the LLDB developers, not to you!

[2018-07-06 02:25] swift-ci commented on #4492
**Comment by Jim Ingham (JIRA)**

   Jordan's suggestion seems reasonable.  I'll give that a try.

[2018-07-06 18:34] adellibovi commented on #4395
Same thing happening for me, also with the latest beta 10b3. Anything we could do? It's bit of a pain when debugging project with both Obj-c and Swift. Maybe there is a way to force the type of \`self\` of lldb?

[2018-07-07 01:50] swift-ci commented on #4492
**Comment by Jim Ingham (JIRA)**

   Should be resolved by https://github.com/apple/swift-lldb/pull/750

[2018-07-12 02:11] belkadan commented on #4497
This should be fixed in <https://github.com/apple/swift-lldb/pull/635.>

[2018-07-12 02:18] belkadan commented on #4377
Whoops, turns out this was the same as SR-7193.

[2018-07-12 02:18] #4377 closed, assigned to nobody

[2018-07-13 01:47] belkadan opened #4366 "[SR-8245] TestSwiftStepping.py and two other tests are flaky on Linux, resulting in failed PR testing"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8245      |
   |Radar             | rdar://problem/42145676         |
   |Original Reporter | @belkadan      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2018-07-13 01:47] belkadan commented on #4366
@swift-ci create

[2018-07-15 01:47] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4366
<https://github.com/apple/swift-lldb/pull/769>

[2018-07-15 20:15] swift-ci commented on #4649
**Comment by Maksim Orlovich (JIRA)**

   This is not a bug, but a feature. By default Linux does not allow attaching to a process which wasn't launched by the debugger see - <https://www.kernel.org/doc/Documentation/security/Yama.txt>

You can either do this:

$\> echo 0 \| sudo tee /proc/sys/kernel/yama/ptrace_scope

Or run $\> sudo lldb and attach.

This is not Swift specific but happens for an

[2018-07-16 15:39] swift-ci commented on #4644
**Comment by Maksim Orlovich (JIRA)**

   I'm also seeing a similar issue on Ubuntu 16.04.4 both local + remote system, however, I'm not getting an error, but just silent failure. I can see the swift app running on remote system doing

%\> ps -U \<my user\>

So local machine is definitely launching it, but nothing works, no breakpoints, I cannot see any spew.

[2018-07-17 19:49] davezarzycki opened #4365 "[SR-8285] REPL doesn't like nil with optional unowned/unowned(unsafe)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8285      |
   |Radar             | rdar://problem/42301922         |
   |Original Reporter | @davezarzycki      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Invalid    |

<details>
  <summary>Environment</summary>

Red Hat Fedora 28 with

[2018-07-17 21:50] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4365
Yes, this is clearly a bug. @davezarzycki are you going to work on this or you want us to take a look?
@swift-ci create

[2018-07-17 22:22] swift-ci commented on #4365
**Comment by Jim Ingham (JIRA)**

   I think this is a general problem with the TOT swift REPL on Linux.  OTOH, I have another report of a similar (but not identical) failure in the current TOT linux REPL, OTOH this construct works fine on both the lldb:stable/swift:master branches of lldb and the lldb:upstream-with-swift/swift:master-next branches of lldb.

[2018-07-17 22:31] davezarzycki commented on #4365
For clarity: it seems like there are two bugs here. First, the "Couldn't lookup symbols" noise. And second, the SIGSEGV bug while creating an object with an optional unowned. I'd prefer that this bug be about the latter. Thanks!

As to task assignment, the REPL isn't on my critical path and therefore I don't foresee working on this in the short to medium term. Sorry. :-(

[2018-07-17 22:44] swift-ci commented on #4365
**Comment by Jim Ingham (JIRA)**

   But again, neither of these bugs occur on the current TOT swift REPL on macOS.  Both expressions run without error and give the expected results.  My guess is this is more general (though recently introduced) badness in the Linux Swift REPL.

[2018-07-17 22:57] davezarzycki commented on #4365
Interesting. I rarely test the Linux REPL, but anecdotally speaking, I think it has been broken for a long time. Then again, I never install the built product, and I build/test Swift with the ToT llvm+clang compiler, so maybe I've wandered deep in the weeds. I don't know if this information helps.

[2018-07-17 23:59] swift-ci commented on #4365
**Comment by Jim Ingham (JIRA)**

   There are tests that test basic REPL behavior in the testsuite.  We should make sure they are still running on Linux.

[2018-07-18 00:55] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4365
I'm afraid I really can't reproduce this on my Linux machine, David.

[code]

[2018-07-18 00:57] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4365
FWIW, this is my configuration:

uname:

[code]

[code]

To the best of my understanding, you're building with Red hat, which isn't quite a supported (officially) system. Might I ask you to try with Ubuntu?

[2018-07-18 12:01] davezarzycki commented on #4365
I don't have access to an Ubuntu machine. At this point, I'd wager that the issue is not the OS but that I prefer unified builds over the slow "build-script". Let's just close this. Does that work for you?

[2018-07-18 12:25] davezarzycki commented on #4365
Confirmed. The LLDB test suite fails spectacularly with unified builds, but when I try a \`build-script\` build, only two LLDB tests fail (pull request pending). Let's close this.

[2018-07-18 12:25] #4365 closed, assigned to davezarzycki

[2018-07-26 04:47] keith opened #4364 "[SR-8374] Swift 4.2 lldb po failures"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8374      |
   |Radar             | rdar://problem/42626690         |
   |Original Reporter | @keith      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

Xcode 10 beta 4

</d

[2018-07-26 06:44] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4497
dwaite (JIRA User), Could you verify if the problem is fixed and if so move the JIRA to "Closed"?
Thanks!
Anna

[2018-07-26 07:17] swift-ci commented on #4497
**Comment by David Waite (JIRA)**

   Appears fixed (\`Apple Swift version 4.2 (swiftlang-1000.0.29 clang-1000.0.39)\`)

[2018-07-26 07:17] #4497 closed, assigned to nobody

[2018-07-26 17:29] belkadan commented on #4364
@swift-ci create

[2018-07-26 18:09] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4364
Looking at this.

[2018-07-26 19:35] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4364
Cannot reproduce on ToT on Mojave.

[code]

Can you try updating your source? I think this might be a mismatch between lldb and swift, but I'm not sure.

[2018-07-26 19:37] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4364
Just to make sure, this is where I'm at:

[code]

(swift -\> master branch / lldb -\> stable branch)

[2018-07-26 19:50] keith commented on #4364
Sorry I must have built / tested with different versions, I didn't think that was the case, but I can't reproduce anymore with Xcode 10b4's Swift and lldb

[2018-07-26 20:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4364
Also tried within Xcode beta 4 and I get the same.

[2018-07-26 20:16] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4364
yay. Thanks.

[2018-07-26 20:17] keith commented on #4364
Sorry about that!

[2018-07-26 20:17] #4364 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-07-30 16:22] adrian-prantl commented on #4644
@swift-ci create

[2018-07-31 16:29] Dante-Broggi commented on #4549
Has this been resolved and is it no longer relevant? If either, it should be closed.

[2018-08-01 00:52] norio-nomura commented on #4549
closing this since I do not have an environment that can be reproduced anymore.

[2018-08-01 00:52] #4549 closed, assigned to nobody

[2018-08-08 19:15] swift-ci opened #4491 "[SR-8491] In a method from an extension conforming to NSObjectProtocol (or another protocol that conforms to it) lldb can't reconstruct the objc ivar part of self"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8491      |
   |Radar             | rdar://problem/43057063         |
   |Original Reporter | Milenkovic (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserconte

[2018-08-08 19:29] belkadan commented on #4491
@swift-ci create

[2018-08-08 20:42] swift-ci commented on #4491
**Comment by Jim Ingham (JIRA)**

   The problem seems to be conforming to NSObjectProtocol (which UIViewControllerTransitioningDelegate conforms to).  You can repro the bug using just NSObjectProtocol.

Not everything is broken, "po self" works and if you add locals expression evaluation with them in the extension function works.  But it looks like when you make an NSObject derived class (which a

[2018-08-08 20:57] swift-ci commented on #4491
**Comment by Jovan (JIRA)**

   jingham@apple.com (JIRA User) sorry I meant everything regarding the protocol itself. So maybe you could adjust the bug to be more precise, but the issue is that the debugger is rendered pretty much completely useless since you can't use p/po {any var that protocol guarantees is there} nor e { any method that protocol guarantees is there }. The variables view is als

[2018-08-08 20:57] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4491
OK, this looks like a type reconstruction bug (thanks to Jim for triaging!), so it's something I'll look at.

[2018-08-08 23:08] swift-ci commented on #4491
**Comment by Jim Ingham (JIRA)**

   Milenkovic (JIRA User) I wasn't criticizing the bug, your reproducer was easy to use, so you did you job correctly.   I wasn't trying to minimize the effects, just trying to be precise about what they were.  Sorry if I gave the wrong impression.

For context: since self in this extension method is only known as "an entity conforming to a protocol", it doesn't h

[2018-08-08 23:32] swift-ci commented on #4491
**Comment by Jovan (JIRA)**

   jingham@apple.com (JIRA User) no no I didn't get that impression, my intention was simply to point out that you should feel free to adjust the bug to be better with the info you got from your debugging to make the job easier for the assignee. I basically knew right away that I didn't provide the minimal bug because I don't know about the debugger and objc runtime so

[2018-08-09 19:37] swift-ci opened #4490 "[SR-8502] Dictionary with Float key types not printed correctly"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8502      |
   |Radar             | None         |
   |Original Reporter | ellis (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Tested on Swift 4.1.2

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-08-10 16:36] belkadan commented on #4490
cc jingham@apple.com (JIRA User)

[2018-08-11 20:52] Dante-Broggi commented on #4595
Has this been resolved? If so, it should be marked as such.

[2018-08-13 02:05] #4400 closed, assigned to nobody

[2018-08-13 09:32] martinr448 commented on #4368
It does now work correctly with swift-DEVELOPMENT-SNAPSHOT-2018-08-10-a-ubuntu16.04, but the above problem still occurs with swift-4.2-DEVELOPMENT-SNAPSHOT-2018-08-10-a-ubuntu16.04.

[2018-08-13 20:27] gottesmm commented on #4368
@martinr448 I am not sure if the fix can be cherry-picked into 4.2. friss (JIRA User). Your thoughts?

[2018-08-15 17:46] gottesmm commented on #4368
This was cherry-picked into 4.2:

<https://github.com/apple/swift-lldb/pull/822>

[2018-08-15 17:46] gottesmm commented on #4368
@martinr448 can you check when another snapshot comes around that it works for you?

[2018-08-16 12:32] martinr448 commented on #4368
Works now, tested on Ubuntu 16.04 with

-   swift-DEVELOPMENT-SNAPSHOT-2018-08-15-a-ubuntu16.04

-   swift-4.2-DEVELOPMENT-SNAPSHOT-2018-08-15-a-ubuntu16.04

Thanks!

[2018-08-27 21:15] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4542
Karoy fixed this, closing.

[2018-08-27 21:15] #4542 closed, assigned to lorentey

[2018-08-29 18:52] swift-ci opened #4489 "[SR-8661] LLDB: PO produces error for variables"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8661      |
   |Radar             | None         |
   |Original Reporter | randyhill (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962907-2c8dc8b9-d767-41bc-b1a6-b57b44788ee9.gz)

<details>
  <summary>Environm

[2018-08-30 08:19] jepers opened #4363 "[SR-8665] Implementation detail _value manifest in user code"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8665      |
   |Radar             | None         |
   |Original Reporter | @jepers      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 10 beta 6

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2018-08-30 17:02] jckarter commented on #4363
Maybe LLDB doesn't look through type sugar when picking a data formatter? It looks like in the \`(Int)\` case it's using the default struct data formatter.

[2018-08-31 00:56] Dante-Broggi commented on #4538
Has this been resolved? If so, it should be closed.

[2018-09-01 23:13] jepers opened #4362 "[SR-8681] lldb should use the better algorithm for float printing (like Swift)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8681      |
   |Radar             | None         |
   |Original Reporter | @jepers      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-09-04 16:52] belkadan commented on #4362
Arguably useful for LLDB in non-Swift modes too. cc jingham@apple.com (JIRA User)

[2018-09-04 20:12] swift-ci commented on #4362
**Comment by Jim Ingham (JIRA)**

   lldb uses APFloat API's to print doubles and floats.  Does the swift printing use that or something layered on top of that?  If the former it should be pretty easy to include whatever flags you use to get this behavior out of APFloat.  If the latter, we should move this code somewhere in llvm so lldb doesn't have to reimplement it.

[2018-09-04 21:07] belkadan commented on #4362
@stephentyrone, is the Swift logic implemented in Swift or C++?

[2018-09-04 21:13] stephentyrone commented on #4362
It's actually in C, compiled as C++, with some very lightweight Swift wrappers. We should move APFloat to use it for better performance anyway.

Semi-tangential, what would need to happen for LLDB to use debugDescription? Isn't this what it's for?

[2018-09-04 21:32] swift-ci opened #4488 "[SR-8690] swift REPL error: adding range [0x1464a-0x146ba) which has a base that is less than the function's low PC"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8690      |
   |Radar             | rdar://problem/55600696         |
   |Original Reporter | grant (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962913-915a3a2d-0f88-4617-a01a-4c5b7b4c3866.gz)

<details>
  <s

[2018-09-04 21:57] belkadan commented on #4362
`debugDescription` is used for 'print-object', but normal LLDB printing must not run any code in-process.

[2018-09-15 14:43] swift-ci commented on #4628
**Comment by Weicheng Tao (JIRA)**

   Yes, if you press return right after the """, you will get exactly the same error message. But Swift REPL allows you to press down arrow when you enter the code. This code below should work for you.

[code]

[2018-09-17 21:55] benrimmington commented on #4376
Fixed in Xcode 10.0 (10A255) with Swift 4.2 REPL.

[2018-09-17 21:56] #4376 closed, assigned to nobody

[2018-09-18 21:20] swift-ci opened #4487 "[SR-8793] Access to file data and functions in REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8793      |
   |Radar             | rdar://problem/42831983         |
   |Original Reporter | jkleiser (JIRA User)      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|

[2018-09-19 02:21] belkadan commented on #4487
Tagging as LLDB since I think we'd implement this by having the existing REPL run a script rather than by having the existing JIT drop you into the REPL. cc jingham@apple.com (JIRA User)

[2018-09-19 18:32] swift-ci commented on #4487
**Comment by Jim Ingham (JIRA)**

   We also had a request for individual commands, something like:

[code]

Both approaches would be useful, and neither would be hard to implement in lldb.

[2018-09-19 18:37] belkadan commented on #4487
We may want that to also match the syntax for SR-5860, even if the implementation is different.

[2018-09-20 19:42] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4501
This bug is an unfortunate series of events. I plan to work on this 🙂

[2018-09-20 19:42] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4501
(I have ideas on how to fix this, it's just not trivial).

[2018-09-20 20:57] Dante-Broggi commented on #4417
Is this resolved? If so, this should be closed.

[2018-09-20 21:05] Dante-Broggi commented on #4555
Is this resolved, or no longer valid? If either, this should be closed.

[2018-09-20 21:19] Dante-Broggi commented on #12367
Is this resolved, or no longer valid? If either, this should be closed.

[2018-09-20 21:52] Dante-Broggi commented on #4536
Is this resolved, or no longer valid? If either, this should be closed.

[2018-09-20 22:07] Dante-Broggi commented on #4517
Is this resolved, or no longer valid? If either, this should be closed.

[2018-09-21 21:53] Dante-Broggi commented on #4543
Is this resolved, or no longer valid? If either, this should be closed.

[2018-10-03 08:23] omochi commented on #4384
I recorded video about same issue.
<https://twitter.com/omochimetaru/status/1047384921180758016>

[2018-10-05 14:00] 6d44b555-049a-4a81-86f1-5537312bcad6 opened #4361 "[SR-8922] repl trap when printing Foundation.DateFormatter"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8922      |
   |Radar             | None         |
   |Original Reporter | @kevints      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift 4.2-RELEASE
Ubuntu 14.04

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-10-07 21:00] swift-ci opened #4486 "[SR-8938] Protocol extension with a generic parameter cannot be debugged"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8938      |
   |Radar             | rdar://problem/45216847         |
   |Original Reporter | Milenkovic (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent

[2018-10-09 13:25] swift-ci opened #4623 "[SR-8949] Static library swiftmodule is not linked properly causing debugger to not work"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8949      |
   |Radar             | radar://45123817         |
   |Original Reporter | BalestraPatrick (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962973-23c496e6-5bd6-42af-855c-b696f50d658d.gz)

<details>

[2018-10-09 21:08] pvieito opened #4360 "[SR-8954] REPL does not inherit shell environment"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8954      |
   |Radar             | None         |
   |Original Reporter | @pvieito      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-10-09 22:57] Dante-Broggi commented on #4534
@trfiala Have you checked this? If you have and it is resolved, please mark this as such.

Also, you have several other reports around that probably need updating.

[2018-10-10 08:44] swift-ci opened #4622 "[SR-8957] The latest swift (4.2) not response on ubuntu 18.04"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8957      |
   |Radar             | https://bugs.swift.org/browse/SR-2744         |
   |Original Reporter | liudonghua123 (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962976-c0ff3cd8-5834-4fe2-8c89-a4a2e91311

[2018-10-10 08:52] swift-ci commented on #4622
**Comment by liudonghua123 (JIRA)**

   I tried execute or compile a script, it worked.
<img src="screenshot-1.png" class="thumbnail" />

[2018-10-11 09:36] #4368 closed, assigned to shahmishal

[2018-10-11 10:49] jepers commented on #4370
Seems like this issue has been fixed in Xcode 10. Should I close it?

[2018-10-11 19:21] pvieito opened #4359 "[SR-8971] Expose the REPL/SwiftREPL LLDB classes through the SB Python API"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8971      |
   |Radar             | rdar://problem/45217698         |
   |Original Reporter | @pvieito      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|------------

[2018-10-11 19:23] pvieito opened #4358 "[SR-8972] Expose the Host/Target current triple through the LLDB SB Python API"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8972      |
   |Radar             | rdar://problem/45217944         |
   |Original Reporter | @pvieito      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|------------

[2018-10-12 05:58] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4486
CC friss (JIRA User)@dcci

[2018-10-12 06:01] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4486
@swift-ci create

[2018-10-12 06:21] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4360
cc friss (JIRA User)

[2018-10-12 07:02] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4359
@swift-ci create

[2018-10-12 07:03] bc7072e8-7d37-4a38-8fee-cab463d443b7 commented on #4358
@swift-ci create

[2018-10-12 16:24] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
I'll take a look at this.

[2018-10-12 22:22] jasonmolenda commented on #4358
Are you looking for the HOST triple?  Or the target triple?  e.g. lldb is running on a mac, debugging a process on a Linux system. I can see a usefulness to getting the triple for the Linux system.  This would be similar to Target::GetArchitecture() and naturally live in SBTarget.

SBDebugger::{Get,Set}DefaultArchitecture exists but it's only useful in specialized circumstances.

[2018-10-12 23:11] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
OK, there are several bugs here. Thanks for the excellent report, I'll fix them one by one!

[2018-10-12 23:23] swift-ci commented on #4486
**Comment by Jovan (JIRA)**

   Cool, if needed feel free to alter name and description since this one is limited by my knowledge and time. It could improve searches/known issues and possibly your work tracking as an assignee.

[2018-10-12 23:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
Your bug report is perfectly fine, as it describes the situation accurately. It's just an unfortunate series of events I'll fix on my side.

[2018-10-13 01:50] jasonmolenda commented on #4358
Ah, I missed SBTarget::GetTriple() which will give you the target triple.  I'd like to better understand the workflow that wants to know the host triple from lldb.

[2018-10-13 04:58] mayoff opened #4357 "[SR-8989] SBData incorrect for a Decimal from a Dictionary<String, Decimal>"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8989      |
   |Radar             | rdar://problem/45555091         |
   |Original Reporter | @mayoff      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 10.0 (10A255) on macOS 10

[2018-10-13 04:58] mayoff commented on #4357
cc jingham@apple.com (JIRA User)

[2018-10-14 18:02] pvieito commented on #4358
Hi! You can read a little bit of the underling motivations in the Swift Forums: <https://forums.swift.org/t/jupyter-kernel-launch-the-debugger-with-the-current-triple-in-repl-mode/16795>

The main problem is that currently there is no way to get the host and/or target current triple and architecture through the SB API. This would be useful for creating a REPL, for example.

[2018-10-15 01:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
Milenkovic (JIRA User) I submitted a pull request that should hopefully fix the first half
<https://github.com/apple/swift-lldb/pull/973>

About the lack of visibility of the variables on line 23 and 42, I do suspect we kinda emit wrong debug info here (it's just a wild guess at this point, I need to verify and I'll do it later tonight).

[2018-10-15 03:37] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
I think the second problem you report might be a general problem (or design choice, if you will, with closures). you don't need the full generality of your example to show this.
A simpler test case looks like:

[code]

[code]

I think closures are basically a new context, hence if you don't capture bindings explicitly, they're not visible in the closure (and so, the debugger can't see them).

[2018-10-15 03:40] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
If you use \`x\` explicitly in the closure, then it's visible to the debugger.

[code]

[2018-10-15 03:43] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
@adrian-prantl ^ is a design choice that, inside a closure, we don't make variables of the surrouding function visible unless explicitly used or captured? If so, this rdar can be closed, otherwise we might need to play with DI scopes to get this right.

[2018-10-15 16:34] adrian-prantl commented on #4486
I'm probably misunderstanding something here: If the variable isn't explicitly captured, it physically doesn't exist in the closure.

[2018-10-15 16:56] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
Nah, you're correct, that's my understanding as well. We can close this now.

[2018-10-15 16:56] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
Fixed.

[2018-10-15 16:57] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
Link to the commit for future archeologists:
<https://github.com/apple/swift-lldb/commit/4fe7fec900234e87923e49f991cd224432e96844>

[2018-10-15 17:40] jasonmolenda commented on #4358
Thanks for the link.  You can get the current target triple if you have an SBTarget – SBTarget::GetTriple().  You're correct that lldb doesn't have any API to get the host triple right now.

[2018-10-15 18:18] swift-ci commented on #4486
**Comment by Jovan (JIRA)**

   Nice! About the visibility of surrounding function/class... Very often closures are used and are referring to something outside of their local scope. Adding all of them to the capture list would greatly impact the code for the worse. I'm under the impression that implementing this visibility would bring great value to the debugging of all async code (i'm not sure ho

[2018-10-15 18:30] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
The real issue here is that as also @adrian-prantl pointed out the variables don't exist inside the closure unless you reference to them (they don't get to SILGen, or IRGen). So, if you use a variable in the closure, it will be visible to the debugger.
Otherwise, it won't. This is the main difference between nested functions and closure (from a debuggability perspective). Closure are de-facto diff

[2018-10-15 18:31] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4486
That said, if you have a case where lldb doesn't find a variable in the closure that's explicitly referenced (although defined in the outer function), you might want to consider reporting a bug.

[2018-10-15 18:49] swift-ci commented on #4486
**Comment by Jovan (JIRA)**

   Oh I see, you just need to reference them in the closure, not actually put them in the capture list. This helps a lot in knowing exactly where to put the breakpoints and why there so I can access the variables. Well that pretty much also solves the second use case since I was under the impression it randomly does or does not work. Thanks for the great info. Cheers!

[2018-10-15 18:49] #4486 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-10-15 21:17] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4395
Looking at this. So, the first bug here is that lldb doesn't resolve the dynamic type correctly in the second case.
This is because lldb doesn't really know about \`MetadataKind::ObjCClassWrapper\` in the dynamic type resolution code, and needs to be taught about it.

I have a local patch were I taught swift-lldb about it, but now we fail in the compiler trying to create the ObjC type for the clas

[2018-10-16 09:18] mayoff commented on #4357
I can reproduce the problem if I change the key type from `String` to `Int` or to `Int64`.

However, if I change the key type to `Int32`, the problem disappears.

Let's consider the `Int64` case.

`NativeHashedStorageHandler` has a few instance variables of interest:

-   `m_key_stride` is set to the byte stride of the key type: in this case, 8 for `Int64`.

-   `m_value_stride` is set to the byte

[2018-10-16 09:23] mayoff commented on #4357
cc @lorentey

[2018-10-16 16:56] lorentey commented on #4357
Thanks for tracking this down! I agree, NativeHashedStorageContainer should go through the Swift runtime for tuple layout.

[2018-10-20 07:11] swift-ci opened #4621 "[SR-9049] Swift syntax with undesirable behavior make Xcode sometime crash."
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9049      |
   |Radar             | rdar://problem/45511833         |
   |Original Reporter | nhatlee89 (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164962993-999c5edb-61c6-4fed-9baa-f4458a3623da.gz)

   <detail

[2018-10-22 17:42] belkadan commented on #4621
This line

[code]

doesn't do what you think: it's saying "convert (3, 1) to (x: 3, y: 1), then unpack that into two variables named 'Int' and 'Double'". We have other bugs about warning when that happens, but whether or not it's desired behavior it shouldn't result in a crash.

@swift-ci create

[2018-10-23 19:45] belkadan commented on #4370
Yep, sorry. Looks like this was fixed in <https://github.com/apple/swift-lldb/pull/635.>

[2018-10-24 16:20] swift-ci commented on #4621
**Comment by Fred Riss (JIRA)**

   About the crash: It looks like you're using the Playground in "Automatically run" mode. Can you confirm whether the crash happens when using "Manually Run" mode too? You can change this with a long press on the run triangle at the bottom of the playground

[2018-10-25 07:50] swift-ci commented on #4621
**Comment by Nhat Le Tien (JIRA)**

   friss (JIRA User): Cannot reproduce crash with \`Manually Run\` mode. I just get the result like the picture bellow:
![](Screen Shot 2018-10-25 at 1.48.56 PM.png)

[2018-10-25 17:03] lorentey commented on #4357
@swift-ci create

[2018-10-29 18:50] swift-ci opened #4620 "[SR-9107] Swift-LLDB fails to build with clang-cl on Windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9107      |
   |Radar             | None         |
   |Original Reporter | jmittertreiner (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

OS: Windows 10, building from

[2018-10-29 19:21] swift-ci commented on #4620
**Comment by Jason Mittertreiner (JIRA)**

   I also created <https://github.com/apple/swift-lldb/pull/1008.> Maybe that's the easiest way?

[2018-10-29 22:41] pvieito opened #4356 "[SR-9115] Add support for Python 3 to the LLDB SB module"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9115      |
   |Radar             | None         |
   |Original Reporter | @pvieito      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-10-29 23:36] swift-ci commented on #4620
**Comment by Jason Mittertreiner (JIRA)**

   Merged : <https://github.com/apple/swift-lldb/pull/1008>

[2018-10-29 23:36] #4620 closed, assigned to nobody

[2018-10-29 23:43] compnerd opened #4355 "[SR-9130] swift-reflection-test needs to be adapted for Windows APIs"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9130      |
   |Radar             | None         |
   |Original Reporter | @compnerd      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-10-29 23:43] compnerd opened #4354 "[SR-9131] enable the unified builds to enable building lldb for windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9131      |
   |Radar             | None         |
   |Original Reporter | @compnerd      |
   |Type              | Sub-task    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-10-30 06:15] compnerd opened #4353 "[SR-9141] lldb builds fail for Windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9141      |
   |Radar             | None         |
   |Original Reporter | @compnerd      |
   |Type              | Sub-task    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-10-30 07:24] compnerd opened #4352 "[SR-9142] lldbTarget does not use the right reflection library for Windows"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9142      |
   |Radar             | None         |
   |Original Reporter | @compnerd      |
   |Type              | Sub-task    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2018-10-30 07:38] compnerd commented on #4352
apple/swift-lldb#1012

[2018-10-30 17:11] #4352 closed, assigned to compnerd

[2018-10-30 17:36] swift-ci commented on #4585
**Comment by Dmitriy Borovikov (JIRA)**

   The same problem exist on 16.04 (Swift version 4.2).

[2018-10-30 17:36] #4585 closed, assigned to nobody

[2018-10-30 22:25] compnerd commented on #4353
This is fixed, no idea if the generated compiler is ready for use or not.

[2018-10-30 22:26] compnerd commented on #4353
Oops, apple/swift-lldb#1015 is still needed

[2018-11-02 02:38] compnerd commented on #4353
All merged

[2018-11-02 02:38] #4353 closed, assigned to compnerd

[2018-11-04 18:35] swift-ci opened #4619 "[SR-9179] Linux lldb-mi debug build liblldb.so.7.0.0: undefined reference"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9179      |
   |Radar             | None         |
   |Original Reporter | joekiller (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963010-7fe9c714-5d5b-4110-a6ad-bb28c06dc686.gz)

   <details>
  <summary>Addit

[2018-11-05 02:42] swift-ci opened #4618 "[SR-9180] LLDB / Python 3.7 build issues (Fedora 29)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9180      |
   |Radar             | None         |
   |Original Reporter | zwoop (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963011

[2018-11-05 02:45] swift-ci commented on #4618
**Comment by Leif Hedstrom (JIRA)**

   Another, cleaner option, would be to move the declaration of c into the \#ifdef, and make it a const char\* for Python 3.x.

[2018-11-05 17:37] belkadan commented on #4618
cc jingham@apple.com (JIRA User)

Since this problem isn't related to Swift, it's also probably best to submit the patch upstream to the "lldb-commits" list at llvm.org. You can see more details at <https://lldb.llvm.org.>

[2018-11-05 17:38] belkadan commented on #4619
cc jingham@apple.com (JIRA User)

[2018-11-05 20:25] swift-ci commented on #4619
**Comment by Jim Ingham (JIRA)**

   The missing symbols are from the swift compiler - from GenObjC.cpp - they are from:

[code]

Those shouldn't be exported symbols, however.  Not sure why the linker thinks it needs to resolve those.

[2018-11-05 20:33] swift-ci commented on #4618
**Comment by Leif Hedstrom (JIRA)**

   Looks like it was fixed upstream in LLVM already, sorry for the noise:

[2018-11-05 21:00] belkadan commented on #4619
Ah, this might be what we ran into with Swift: a copy constructor takes a value by reference by default, which makes it look like accessing these things needs a stable address.

[2018-11-05 21:01] belkadan commented on #4618
Feel free to open a PR cherry-picking the fix from upstream-with-swift to the swift-5.0-branch, then.

[2018-11-05 22:04] gottesmm opened #4351 "[SR-9193] Re-enable lang/swift/foundation/TestSwiftFoundation.py on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9193      |
   |Radar             | None         |
   |Original Reporter | @gottesmm      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-11-05 22:14] kastiglione opened #4350 "[SR-9194] expression evaluation permanently retains objects"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9194      |
   |Radar             | rdar://problem/23342985         |
   |Original Reporter | @kastiglione      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|----------------

[2018-11-06 02:49] belkadan commented on #4618
I ended up getting this: <https://github.com/apple/swift-lldb/pull/1037>

[2018-11-06 16:45] belkadan commented on #4350
jingham@apple.com (JIRA User), you have a dup of this, right? Or is it just a Radar?

[2018-11-06 18:35] swift-ci commented on #4350
**Comment by Jim Ingham (JIRA)**

   I just have a Radar, I linked it to this JIRA.

[2018-11-06 20:54] swift-ci commented on #4350
**Comment by Jim Ingham (JIRA)**

   This isn't terribly important, but SetSuppressPersistentResult doesn't cause a result for the expression not to be produced, all it means is that the name isn't added to the list of known result names for use in future expressions.  We still produce the result, and in the case of "po" we need too since we call description on the result as a second step.

The na

[2018-11-06 21:54] kastiglione commented on #4350
Thanks for the helpful clarifications!

[2018-11-07 19:13] compnerd commented on #4355
<https://github.com/apple/swift/pull/16914> gets it to at least allow us to build all the targets for the tests

[2018-11-08 06:41] swift-ci opened #4617 "[SR-9209] Unfriendly and possibly incorrect output when getting the type of nested associated types"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9209      |
   |Radar             | rdar://problem/45961640         |
   |Original Reporter | twof (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 10.0
Swift 4.2
macOS 10.13.6

</details>

   <details>
  <summary>Additional Detail from J

[2018-11-08 07:25] TellowKrinkle opened #4349 "[SR-9210] REPL doesn't work properly with fullwidth characters"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9210      |
   |Radar             | None         |
   |Original Reporter | @tellowkrinkle      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2018-11-08 17:28] belkadan commented on #4349
This is probably a problem with LLDB in general, not just in the REPL, which means it might deserve a report at bugs.llvm.org. jingham@apple.com (JIRA User)?

[2018-11-08 17:29] belkadan commented on #4617
@swift-ci create

[2018-11-08 18:22] swift-ci commented on #4349
**Comment by Jim Ingham (JIRA)**

   Yes, though I suspect it is editline not lldb; that doesn't seem to be very good with wide characters.

[2018-11-09 22:49] #4618 closed, assigned to belkadan

[2018-11-20 23:09] swift-ci opened #4616 "[SR-9310] LLDB detaches automatically for Swift static function breakpoints"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9310      |
   |Radar             | https://bugreport.apple.com/web/?problemID=46202527         |
   |Original Reporter | dbeard (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

macOS 10.14

Xcode 10.0

Swift 4.2

New build system

</details>

[2018-11-24 11:24] spevans commented on #4351
I think my fix for <https://bugs.swift.org/browse/SR-9251> may have broken this again but I am having trouble working out what the underlying error is for this test as the only thing I can see is the python backtrace. Does anyone have any insight into what it is trying to do?

[2018-11-24 17:52] spevans commented on #4351
Looks like removing libdisaptch from the RUNPATH for Foundation was a little premature as its causing this to break again, <https://github.com/apple/swift-corelibs-foundation/pull/1784> should fix it

[2018-12-03 23:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4357
Please consider trying on top-of-tree, where this is fixed. I fixed this recently.
Thank you a lot for your report and your detailed analysis!

[code]

[2018-12-03 23:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4357
Fixed.

[2018-12-05 17:21] mayoff commented on #4357
verified in swift-DEVELOPMENT-SNAPSHOT-2018-12-04-a.xctoolchain

Thanks Davide!

[2018-12-05 17:21] #4357 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-12-09 05:49] #4370 closed, assigned to nobody

[2018-12-13 22:58] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4491
Fixed on master.

[2018-12-13 23:01] belkadan commented on #4491
Issues should go to "Resolved" when they're fixed; only the originator should close them!

[2018-12-13 23:01] #4491 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-12-14 17:43] belkadan opened #4348 "[SR-9517] LLDB test timeout: test_dsym (lang/swift/foundation/TestSwiftFoundation.py)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9517      |
   |Radar             | rdar://problem/52194055         |
   |Original Reporter | @belkadan      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2018-12-14 17:43] belkadan commented on #4348
cc friss (JIRA User)

[2018-12-14 17:52] swift-ci commented on #4348
**Comment by Fred Riss (JIRA)**

   I don't actually know what the timeout is, but on an unloaded machine, this test takes 30s to run. @adrian-prantl do you happen to know what the timeout is?

[2018-12-14 17:58] adrian-prantl commented on #4348
Depending on how the tests are run, there are multiple levels of timeouts. dotest.py has a timeout (shown in the log above) and lit.py also does, and Jenkins jobs usually also have a global timeout. Finally, the few remaining pexpect tests have their own individual timeouts.

The dotest.py timeout is controlled by LLDB_TEST_TIMEOUT. I couldn't immediately find if/where we set it.

[2018-12-14 17:59] adrian-prantl commented on #4348
@swift-ci create

[2018-12-18 13:35] swift-ci opened #4615 "[SR-9534] LLDB test failures while building Swift 5.0 toolchain"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9534      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963076-c5a015ac-6f02-4297-92f3-68d684d93d45.gz)

<details>
  <summary>Environment

[2018-12-19 15:24] martinr448 commented on #4488
Same problem here, with development snapshot from December 18, 2018 (also on Ubuntu 18.04).

[2018-12-19 20:36] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4371
Fixed in: <https://github.com/apple/swift-lldb/pull/1165>

[2018-12-19 20:36] #4371 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2018-12-20 12:16] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   @belkadan does this look familiar to you? Any inputs or suggestions on this?

[2018-12-20 17:10] belkadan commented on #4615
I don't work on LLDB, so I don't see LLDB test failures that often. In this case I see that the backtrace mentions "swig", so maybe your version of SWIG isn't new enough, or there's something else wrong with the LLDB Python bindings.

[2018-12-21 10:25] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   Hi,

I have installed all the development dependencies as mentioned in <https://github.com/apple/swift:->

sudo apt-get install git cmake ninja-build clang python uuid-dev libicu-dev icu-devtools libbsd-dev libedit-dev libxml2-dev libsqlite3-dev swig libpython-dev libncurses5-dev pkg-config libblocksruntime-dev libcurl4-openssl-dev systemtap-sdt-dev tzdata r

[2018-12-31 19:36] swift-ci opened #4614 "[SR-9587] Debug local stack frame variables fails - Failed to get module ‘Builtin’ from AST context"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9587      |
   |Radar             | None         |
   |Original Reporter | DavidYangLiu (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Invalid    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-01-04 00:36] swift-ci commented on #4614
**Comment by David Liu (JIRA)**

   Working as intended, it was user error.

Detailed form discussion [here](https://forums.swift.org/t/debug-local-stack-frame-variables-fails-failed-to-get-module-builtin-from-ast-context/19171/18)

[2019-01-04 00:36] #4614 closed, assigned to nobody

[2019-01-04 08:29] swift-ci opened #4613 "[SR-9601] Unable to build project dependent on multiple frameworks"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9601      |
   |Radar             | None         |
   |Original Reporter | ayush (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-01-04 14:24] swift-ci commented on #4613
**Comment by Ayush Goel (JIRA)**

   Updated to Xcode 10.1, Swift 4.2 and this problem doesn't happen anymore.

[2019-01-04 14:25] #4613 closed, assigned to nobody

[2019-01-08 18:11] swift-ci commented on #4576
**Comment by Fred Riss (JIRA)**

   Please reopen if you can provide the requested info

[2019-01-08 18:11] #4576 closed, assigned to nobody

[2019-01-09 18:15] swift-ci opened #4612 "[SR-9628] For loop with optional output variable causes infinite loop"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9628      |
   |Radar             | None         |
   |Original Reporter | spamsencer (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

macOS 10.14.2 (18C54)

Xcode

[2019-01-09 20:56] ahti commented on #4645
This seems to have been fixed at some point. I can't reproduce it using 4.2.1 at least.

Can anyone still come up with a way to reproduce this?

[2019-01-10 15:24] lorentey commented on #4612
This is the same issue as SR-8688.

[2019-01-10 15:24] #4612 closed, assigned to nobody

[2019-01-10 21:34] millenomi opened #4347 "[SR-9635] 'stable' branch in swift-lldb doesn't build: member access into incomplete type 'swift::TypeAliasType'"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9635      |
   |Radar             | rdar://problem/47188829         |
   |Original Reporter | @millenomi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Invalid    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-01-11 00:29] millenomi commented on #4347
cc @dcci

[2019-01-11 00:46] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4347
Looking.

[2019-01-11 00:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4347
Builds locally and on the bots, is there anything special about the package-manager PR configuration?

<https://ci.swift.org/job/oss-lldb-incremental-linux-ubuntu-16_04/6543/>

[2019-01-11 17:00] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4347
@millenomi Is this still broken?

[2019-01-11 21:06] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4347
I have reasons to believe this is because swift and lldb are out of sync. Closing. If you still have problems, feel free to reopen.

[2019-01-11 21:24] millenomi commented on #4347
Looks like rebasing the relevant patches fixes it locally.

[2019-01-11 21:24] #4347 closed, assigned to nobody

[2019-01-13 02:12] compnerd commented on #4354
Going to mark this as closed, as I think that the only thing that remains is more the installation components.

[2019-01-13 02:12] #4354 closed, assigned to compnerd

[2019-01-18 09:35] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   Set the python path environment variable **PYTHONPATH** to what \*lldb ~~P\* evaluated to:~~

root@877e1c79bb05:\~# /root/swift-source/build/buildbot_linux/lldb-linux-powerpc64le/bin/lldb -P
/root/swift-source/build/buildbot_linux/lldb-linux-powerpc64le/lib/python2.7/site-packages

root@877e1c79bb05:\~# export PYTHONPATH="/root/swift-source/build/buildbot_li

[2019-01-18 09:35] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   @belkadan, Do you know anyone who can help me resolving with these lldb test suite failures?

[2019-01-18 09:40] martinr448 opened #4346 "[SR-9697] REPL displays wrong boolean dictionary values"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9697      |
   |Radar             | None         |
   |Original Reporter | @martinr448      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-01-18 14:48] swift-ci commented on #4346
**Comment by Robert Collins (JIRA)**

   this is my puppy: <https://stackoverflow.com/questions/54239569/dict-value-in-struct-is-ignored-for-bool?noredirect=1>

🙂 I'm just attaching a comment here so I can keep track of progress

[2019-01-18 15:53] benrimmington commented on #4346
This appears to be fixed in a recent Swift 5.0 snapshot.

Although I don't know how or when it was fixed.

e.g. `Bool_SummaryProvider` in [SwiftFormatters.cpp](https://github.com/apple/swift-lldb/blob/master/source/Plugins/Language/Swift/SwiftFormatters.cpp) hasn't changed.

[2019-01-18 17:04] belkadan commented on #4346
I remember it being fixed but I can't find the bug for it. It was a problem with Dictionary, not Bool. jingham@apple.com (JIRA User)?

[2019-01-18 19:22] swift-ci commented on #4346
**Comment by Jim Ingham (JIRA)**

   IIRC this was just a Radar, and @dcci fixed it.  I looked briefly for the radar but couldn't find it, maybe Davide remembers better.

[2019-01-18 20:17] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4346
Dictionary formatters changed quite a bit, and I also fixed a bug to take in account the padding (which might have fixed this).
Please try with top of tree. Thanks!

[2019-01-18 21:21] benrimmington opened #4345 "[SR-9703] REPL has incorrect summaries of optional unsigned integers"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9703      |
   |Radar             | None         |
   |Original Reporter | @benrimmington      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

macOS 10.13.6 and Swift 5.0 snapshot

[2019-01-18 21:34] martinr448 commented on #4346
Works correctly with development snapshot from January 16, 2019.

[2019-01-18 21:34] #4346 closed, assigned to nobody

[2019-01-22 18:29] karwa opened #4344 "[SR-9726] Coercion using invalid conformance crashes REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9726      |
   |Radar             | None         |
   |Original Reporter | @karwa      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-01-23 04:37] #4345 closed, assigned to nobody

[2019-01-23 04:52] belkadan commented on #4344
Lousy, but not a priority. The integrated REPL is just for compiler engineers testing things.

[2019-01-24 16:56] karwa commented on #4344
Also happens in LLDB REPL.

Tested on Apple Swift version 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1) and master.

[2019-01-25 22:03] 05262b81-54a9-4fe1-bf6a-96f8042de10e opened #4343 "[SR-9764] swift REPL ignores TERM environment var"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9764      |
   |Radar             | None         |
   |Original Reporter | @lilyball      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Apple Swift version 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)
Target: x86_64-apple-darwin18.2.0

</details>

   <det

[2019-01-26 21:27] swift-ci opened #4611 "[SR-9770] Singleton Initializer can enter Infinite Loop"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9770      |
   |Radar             | https://bugreport.apple.com/web/?problemID=47576365         |
   |Original Reporter | spamsencer (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Swift 4.2

Xcode 10.1 (10B61)

macOS 10.14.2 (18C54)

</detail

[2019-01-28 17:51] belkadan commented on #4611
I don't think there's a *fix* for this, but maybe we could at least detect the infinite loop in debug builds or something, so we get a more reliable error?

[2019-01-28 17:52] belkadan commented on #4343
cc jingham@apple.com (JIRA User)

[2019-01-29 04:33] swift-ci commented on #4611
**Comment by Samuel Spencer (JIRA)**

   Agreed – seems like something that could potentially be caught / warned against at build time. Any suggestions on where I might go looking around to make a contribution for this?

[2019-02-01 01:22] 83b09dda-53f5-4663-b44c-87fd2a9a8717 commented on #4359
I have started looking closer at this, and I now think that the REPL / SwiftREPL is not the right abstraction to expose through the SBAPI. The REPL / SwiftREPL handles a bunch of commandline UI stuff that is not relevant for a consumer like Jupyter that implements its own UI.

For example, \`SwiftREPL::CompleteCode\` returns completions in a way that is very specific to how the commandline works (

[2019-02-04 17:53] swift-ci commented on #4495
**Comment by Tabor Kelly (JIRA)**

   I ran into this problem on my own and posted a full write-up here:
<https://github.com/TaborKelly/AvahiClient>

It would appear that the symbols are there (look for `.pcm` files in `.build/x86_64-unknown-linux/debug/ModuleCache/`)? However, I still don't know how to work around or fix this problem.

[2019-02-05 02:18] swift-ci commented on #4384
**Comment by Erica Ehrhardt (JIRA)**

   We keep running into this one at Thumbtack. One way it manifests in Xcode is that tracepoints showing the value of locals in a closure that uses `self` like this don't print anything. Another is that the ℹ button results in the same `initialization of variable '$__lldb_error_result' was never used` message as in the issue description. The workaround in is t

[2019-02-05 07:22] swift-ci commented on #4386
**Comment by Michael Kofler (JIRA)**

   still unresolved, swift 5 current beta (Feb. 5th 2019) + ubuntu 18.04

swift -version
Swift version 5.0-dev (LLVM 3207a50965, Clang a113643bc4, Swift 3155805b40)
Target: x86_64-unknown-linux-gnu

swift

error: ld-2.27.so 0xffffffff0005c564: adding range \[0x1464a-0x146ba) which has a base that is less than the function's low PC 0x14dc0. Please file a bug an

[2019-02-05 19:15] swift-ci commented on #4384
**Comment by Daniel W Roth (JIRA)**

   Agreed.  This effectively nullifies the value of being able to write (the very common)

[code]

[2019-02-07 16:21] swift-ci opened #4610 "[SR-9882] LLDB Assertion Failure"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9882      |
   |Radar             | rdar://problem/47884443         |
   |Original Reporter | Poliorcetics (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

-   `Apple Swi

[2019-02-07 16:45] belkadan commented on #4610
Reproduces in Xcode 10.2b1 too. Thanks for reporting!

[2019-02-07 22:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4610
Patch coming. Thanks for the report!

[2019-02-07 22:56] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4610
<https://github.com/apple/swift-lldb/pull/1283>

[2019-02-13 01:30] 83b09dda-53f5-4663-b44c-87fd2a9a8717 opened #4342 "[SR-9914] LLDB REPL autocomplete cast assertion failure"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9914      |
   |Radar             | None         |
   |Original Reporter | @marcrasi      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-02-13 17:15] belkadan commented on #4342
! jingham@apple.com (JIRA User), @dcci, have we seen this yet?

[2019-02-13 17:45] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4342
@belkadan I haven't seen this one.@marcrasi do you happen to know whether this is Linux specific or also reproduces on MacOS?

[2019-02-13 18:10] 83b09dda-53f5-4663-b44c-87fd2a9a8717 commented on #4342
I just tested it out with the MacOS 2/3/19 development toolchain, and I can also reproduce it there.

[2019-02-13 19:26] swift-ci commented on #4342
**Comment by Jim Ingham (JIRA)**

   Same operation does not crash on the swift-5.0-branch.

[code]

[2019-02-14 18:44] swift-ci opened #4609 "[SR-9927] lldb Xcode 10.2 regression: failed to get module from AST context with a DBGSourcePathRemapping of ./"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9927      |
   |Radar             | radar://48078809         |
   |Original Reporter | Davidee (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/272

[2019-02-14 19:10] swift-ci opened #4608 "[SR-9928] lldb Xcode 10.2 regression: lldb does not show source file when using target.source-map with breakpoints"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9928      |
   |Radar             | rdar://47642498         |
   |Original Reporter | Davidee (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963137-46be7497-9fec-4a98-95df-9ccffb7338dc.gz)

<details>
  <summary

[2019-02-14 21:07] slavapestov commented on #4621
nhatlee89 (JIRA User) as Jordan explained the compiler behavior is correct. However you've found an lldb bug. I can reproduce a crash here but it has a different backtrace than what you were seeing:

[code]

Can you double-check that you attached the right crash logs?

[2019-02-14 22:07] swift-ci commented on #4621
**Comment by Fred Riss (JIRA)**

   Slava, this is a known issue, and the reason why I asked if it happens in Manual mode. Do you get this while running the Playground in Manual mode?

[2019-02-14 22:19] slavapestov commented on #4621
No, I am not able to reproduce it in Manual mode.

[2019-02-15 00:21] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4342
This is the new DWARFImporter. If I disable it, the crash goes away.
cc: @adrian-prantl

[2019-02-15 00:40] adrian-prantl commented on #4342
The quick workaround is to disable the DWARFImporter in the REPL. The better fix is to not have the DWARFImporter claim that it can load a module for which no DWARF exists. I'll take a look at that.

[2019-02-15 00:47] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4342
I have a patch coming for you.

[2019-02-15 01:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4342
Proposed: <https://github.com/apple/swift-lldb/pull/1299>

[2019-02-15 02:34] swift-ci commented on #4621
**Comment by Nhat Le Tien (JIRA)**

   @slavapestov: I had tried to attached the crash logs in the date I got this crash, so I think those must content the right log for this crash. But don't know if those had the same root cause, because I also used Xcode projects in that date too, not just playground.

[2019-02-15 17:22] belkadan commented on #4608
This isn't really the place to report LLDB bugs that aren't about Swift, but I'll tag one of them anyway: @adrian-prantl

[2019-02-15 17:23] belkadan commented on #4609
cc @adrian-prantl

[2019-02-15 19:00] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4342
Merged. Let me know if there are other issues.

[2019-02-15 19:00] #4342 closed, assigned to nobody

[2019-02-15 23:03] adrian-prantl commented on #4608
Should be fixed by <https://github.com/apple/swift-lldb/pull/1302>

[2019-02-15 23:05] adrian-prantl commented on #4608
FYI @belkadan this is actually a Swift bug although the description mentions a .m file.

[2019-02-15 23:14] belkadan commented on #4608
Ah, sorry for being overzealous, then, David!

[2019-02-20 20:52] swift-ci commented on #4609
**Comment by David Goldman (JIRA)**

   Looks like this has been fixed in Xcode 10.2 beta 4, although issues still remain with remapping -fmodulemap-file= flags.

[2019-02-21 11:43] swift-ci opened #4607 "[SR-9969] Issues in latest lldb code while building Apple Swift 5 toolchain on PowerPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9969      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PowerPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-02-21 17:35] belkadan commented on #4607
This seems like it'd be platform-independent, so there must be something funny going on. What does the Pod type look like?

[2019-02-25 02:14] bobergj opened #4341 "[SR-9996] lldb crash in swift::Lowering::TypeConverter::getTypeLoweringForUncachedLoweredType"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9996      |
   |Radar             | None         |
   |Original Reporter | @bobergj      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Cannot Reproduce    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963

[2019-02-25 10:08] swift-ci commented on #4495
**Comment by Renan Jegouzo (JIRA)**

   Should be in high priority, can't debug on linux until it's fixed.. So all linux swift works on hang..

[2019-02-25 16:47] belkadan commented on #4341
Do you have a reproducing test case you can share?

cc @dcci

[2019-02-26 13:32] bobergj commented on #4341
Not at the moment as this happens in the middle of a pretty sizeable proprietary code base. But if you need some info about the function or variable in question (for example printing out some type information or running some lldb command), I can assist.

[2019-02-27 16:19] kastiglione commented on #4548
This issue comes up regularly, and it's three years later. Maybe this discussion can be revisited?

@jckarter it appears you're the only one on this thread still active on bugs.swift.org, would it be good to bring in current lldb folks to weigh in?

[2019-02-27 16:52] swift-ci opened #4606 "[SR-10008] LLDB failed to inspect object type when grouped in a caseless enum declared in another framework"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10008      |
   |Radar             | None         |
   |Original Reporter | danielemm (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963154-8909424a-5752-4bbd-b9bc-ab96db5fb36f.gz)

<details>
  <summary>Environ

[2019-02-27 16:56] belkadan commented on #4606
cc @dcci

[2019-02-27 17:36] jckarter commented on #4548
I pinged friss (JIRA User) about this. Maybe we could provide a Swift library to be automatically loaded into lldb sessions that adds some conveniences to make it easier to turn address literals back into object pointers and/or Swift values.

[2019-02-28 21:17] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4341
This is going to be hard for us to diagnose without a reproducer, so if you can make the effort to have a synthetic testcase, it would be greatly appreciated.

[2019-02-28 22:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4606
I cannot reproduce on a recently built swift + lldb.
Do you have a test case you can share where this reproduces?

[2019-03-01 09:02] swift-ci commented on #4606
**Comment by daniele margutti (JIRA)**

   Attached you can found an example project.

Try to run the demo app target inside frameworkB.

Here is the result, as you can see Car (framework B) is empty while I can see People (in framework A).

<a href="Test.zip" class="attachment">Test.zip</a>

<img src="Screenshot 2019-03-01 at 09.58.28.png" width="685" height="478" />

[2019-03-04 05:02] swift-ci opened #4605 "[SR-10037] Issues running lldb-Suite test cases while building Apple Swift 5 toolchain on PowerPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10037      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963162-31fbfd86-3c1c-4f3c-9c36-abb6933aba78.gz)

<details>
  <summary>Environmen

[2019-03-05 01:54] swift-ci commented on #4384
**Comment by Christopher Fuller (JIRA)**

   I completely and wholeheartedly agree with dwroth@gmail.com (JIRA User) !! As Swift developers, we LOVE the fact that [SE-0079](https://github.com/apple/swift-evolution/blob/master/proposals/0079-upgrade-self-from-weak-to-strong.md) was accepted and released with Swift 4.2. We have adopted that syntax ever since, however we regularly encounter this debu

[2019-03-05 02:22] swift-ci commented on #4384
**Comment by Borys Gurtovyi (JIRA)**

   Please, give this bug some attention! Thank you 👍

[2019-03-05 02:27] swift-ci commented on #4384
**Comment by Johnson Hsieh (JIRA)**

   This would be great

[2019-03-05 03:13] swift-ci commented on #4384
**Comment by Nicholas (JIRA)**

   This one impacts us daily. Would be great to see a resolution.

[2019-03-05 03:29] slavapestov commented on #4395
This was fixed at some point. I added a test case - <https://github.com/apple/swift-lldb/pull/1346>

[2019-03-05 03:29] #4395 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-03-05 05:47] swift-ci commented on #4384
**Comment by Owen Thomas (JIRA)**

   I've been running into this for a while now too but didn't know there was a bug report for it till just now. Would love to see a fix for this one!

[2019-03-05 11:41] swift-ci commented on #4605
**Comment by Sarvesh Tamba (JIRA)**

   Iam invoking the toolchain and the tests using the following command:-

{{ ./swift/utils/build-toolchain srtbundle --test}}

I assume this creates a release build, where source files are compiled without any debug information.
So in that case the binaries(a.out and others) might not really help in debugging with lldb, hence the tests fail. Could this be the

[2019-03-05 11:43] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   Iam invoking the toolchain and the tests using the following command:-

{{ ./swift/utils/build-toolchain srtbundle --test}}

I assume this creates a release build, where source files are compiled without any debug information.
So in that case the binaries(a.out and others) might not really help in debugging with lldb, hence the tests fail. Could this be the

[2019-03-05 18:08] swift-ci commented on #4384
**Comment by Michael Doshi (JIRA)**

   I've been running into this over the past couple years. Would be great to have a fix 👍

[2019-03-05 18:20] swift-ci commented on #4384
**Comment by Connor Wybranowski (JIRA)**

   Would love to see a fix for this! 👍

[2019-03-05 19:19] slavapestov commented on #4384
I'm looking at this now, but at least some of you will be disappointed... 🙂 I suspect there are multiple root cause failures that all manifest as an error "value of type 'Foo' has no member '$\_\_lldb_wrapped_expr_0'", one of them being this issue with a shadowed 'self' declaration. However, once I fix this issue, we can see what else remains.

[2019-03-06 17:46] swift-ci commented on #4608
**Comment by David Goldman (JIRA)**

   Still showing assembly with Xcode 10.2 beta 4

[2019-03-06 17:51] adrian-prantl commented on #4608
What does the types log say?

[2019-03-06 20:06] swift-ci commented on #4608
**Comment by David Goldman (JIRA)**

   Perhaps there were two different errors? I don't see the remapping in the types log anymore, but I do still see assembly instead of the source file for the example project.

[2019-03-08 09:42] swift-ci commented on #4605
**Comment by Sarvesh Tamba (JIRA)**

   Looks like the tests are built with ~~g option:~~

1.  1.  1.  Compiling /home/sar/swift-source/lldb/packages/Python/lldbsuite/test/lang/swift/anytype_array/main.swift /home/sar/swift-source/build/buildbot_linux/swift-linux-powerpc64le/bin/swift -frontend -c -primary-file /home/sar/swift-source/lldb/packages/Python/lldbsuite/test/lang/swift/anytype_array/mai

[2019-03-08 09:43] swift-ci commented on #4615
**Comment by Sarvesh Tamba (JIRA)**

   Looks like the tests are built with ~~g option:~~

1.  1.  1.  Compiling /home/sar/swift-source/lldb/packages/Python/lldbsuite/test/lang/swift/anytype_array/main.swift /home/sar/swift-source/build/buildbot_linux/swift-linux-powerpc64le/bin/swift -frontend -c -primary-file /home/sar/swift-source/lldb/packages/Python/lldbsuite/test/lang/swift/anytype_array/mai

[2019-03-11 14:44] swift-ci opened #4604 "[SR-10082] LLDB test failures for swift toolchain on PowerPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10082      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963177-cdc6f98e-6ce6-4293-823d-cfcd6aec5d5f.gz)

<details>
  <summary>Environmen

[2019-03-11 17:26] swift-ci commented on #4608
**Comment by David Goldman (JIRA)**

   @adrian-prantl My bad, it looks as if I was using the wrong version of Xcode. I'm no longer seeing issues with breakpoints with Xcode 10.2 beta 4, but I'm still seeing issues with \`po \<variable\>\`, I believe you might have missed the \`-fmodule-map-file=\` flag in your change.

[2019-03-11 18:49] swift-ci commented on #4609
**Comment by Nicholas Levin (JIRA)**

   David pinged me about verifying this issue.

With his suggestions, removing \`SWIFT_FORCE_STATIC_LINK_STDLIB=YES\` from the sample Xcode project settings and adding \`${DEVELOPER_DIR}/Toolchains/XcodeDefault.xctoolchain/usr/lib/swift/macosx\` to runpath search paths, this seems to have been fixed in Xcode 10.2 beta 4.

<a href="DBGRemappingSwift-beta4.zip"

[2019-03-11 18:52] swift-ci commented on #4609
**Comment by David Goldman (JIRA)**

   Resolved in Xcode 10.2 beta 4

[2019-03-11 18:52] #4609 closed, assigned to nobody

[2019-03-11 19:21] swift-ci commented on #4608
**Comment by Nicholas Levin (JIRA)**

   I can't recreate the po issues with the sample project that was given.

\~/.lldbinit contents:

`settings set target.source-map "./" "/Users/nglevin/Downloads/TargetSourceMapIssue"`

LLDB output:

`(lldb) p argc`
`(int) $0 = 1`
`(lldb) expr @import Foundation`
`(lldb) po [NSMessagePortNameServer sharedInstance]`
`<NSMessagePortNameServer: 0x100700b80>``(lld

[2019-03-26 18:21] swift-ci commented on #4488
**Comment by Jeremy Fillingim (JIRA)**

   An install of the new 5.0 swift release results in the same type of error (Ubuntu 18.04.2 LTS).

[code]

[2019-03-28 07:08] swift-ci opened #4603 "[SR-10212] Failure of test case SwiftREPL/ErrorReturn.test on PPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10212      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-03-28 07:10] swift-ci opened #4602 "[SR-10213] Failure of test case tools/lldb-mi/symbol/symbol-list-lines.test on PPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10213      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-03-28 07:12] swift-ci opened #4601 "[SR-10214] Failure of test case lang/swift/dwarfimporter/C/TestSwiftDWARFImporterC.py on PPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10214      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-03-28 07:14] swift-ci opened #4600 "[SR-10215] Failure of test case lang/swift/reference_storage_types/TestSwiftReferenceStorageTypes.py on PPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10215      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-03-28 07:17] swift-ci opened #4599 "[SR-10216] Failure of test case lang/swift/unknown_self/TestSwiftUnknownSelf.py on PPC64LE"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10216      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

PPC64LE

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |

[2019-04-02 18:10] belkadan commented on #4488
cc @dcci

[2019-04-02 18:22] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
@compnerd, you know Linux better than I do, have you ever seen something like this?

[2019-04-04 09:21] swift-ci opened #4598 "[SR-10303] Swift CLI (REPL) on fresh Ubuntu seems broken"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10303      |
   |Radar             | None         |
   |Original Reporter | freak4pc (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vot

[2019-04-04 14:41] swift-ci commented on #4488
**Comment by Tobia (JIRA)**

   I just downloaded the release version of 5.0 for Ubuntu 18.04 and I'm seeing the same message.

 SR-5920 is a duplicate of, or related to, this issue.

Searching for the error message in Github brings up some old (Jun/Jul 2018) forks of CLang, LLVM, and OpenBSD:

<https://github.com/search?q=%22which+has+a+base+that+is+less+than+the+function%22&type=Code>

specifica

[2019-04-04 15:45] weissi commented on #4598
freak4pc (JIRA User) this happens if you run it in docker and your container isn't privileged. Swift's REPL needs a privileged container because it uses `ptrace` to attach to another process.
if you do

    docker run -it --rm --privileged swift:5.0

it should work. However, please be aware that this has some security implications: <https://docs.docker.com/engine/reference/run/#runtime-privilege-a

[2019-04-04 15:47] swift-ci commented on #4598
**Comment by Shai Mishali (JIRA)**

   Thanks Johannes!
That seems to do the trick. Maybe a better error message is in order?

[2019-04-04 17:26] belkadan commented on #4598
@dcci, how hard do you think it would be to detect this situation?

[2019-04-04 17:45] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4598
I think it's feasible. Let me see what I can do.

[2019-04-07 01:35] swift-ci opened #4597 "[SR-10330] 100% reproducible debugger crash"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10330      |
   |Radar             | None         |
   |Original Reporter | GarthSnyder (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Mojave 10.14.4 (release)

Xcode

[2019-04-08 16:09] compnerd commented on #4597
CC: @dcci @adrian-prantl

[2019-04-08 18:09] adrian-prantl commented on #4597
I cloned this to rdar://problem/49699757.

[2019-04-09 16:25] swift-ci opened #4596 "[SR-10344] Linux packaging installs Python modules in wrong directory"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10344      |
   |Radar             | None         |
   |Original Reporter | ianpartridge (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2019-04-09 16:26] swift-ci commented on #4596
**Comment by Ian Partridge (JIRA)**

   I could not find where the Linux packaging scripts are - are they open source? @shahmishal @weissi

[2019-04-10 21:05] swift-ci opened #4575 "[SR-10445] EXC_BAD_INSTRUCTION when accessing property compiled with Xcode 10.2"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10445      |
   |Radar             | rdar://49786768         |
   |Original Reporter | vineetshah (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/

[2019-04-10 22:02] stephencelis opened #4340 "[SR-10447] Playground-defined types are awkwardly prefixed/described"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10447      |
   |Radar             | rdar://problem/49815203         |
   |Original Reporter | @stephencelis      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 10.2 / Swift 5

</details>

   <details>
  <summary>Additional Detail from JIRA</summary>

[2019-04-12 09:26] swift-ci opened #4574 "[SR-10462] LLDB Segmentation fault"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10462      |
   |Radar             | None         |
   |Original Reporter | MilosBabic (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

<details>
  <summary>Environment</summary>

:version

lldb-1001.0.12.1

[2019-04-12 17:22] belkadan commented on #4574
@adrian-prantl, @slavapestov, does this look familiar?

[2019-04-12 17:26] slavapestov commented on #4574
Looks like <https://bugs.swift.org/browse/SR-8814.>

[2019-04-12 17:26] adrian-prantl commented on #4574
I have not seen this backtrace before, but from the looks of it this seems to be a plain old compiler bug?

[2019-04-12 17:49] swift-ci opened #4573 "[SR-10468] lldb crashes when I hit a breakpoint in a method in a generic class"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10468      |
   |Radar             | rdar://problem/49926017         |
   |Original Reporter | justin.garcia (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubuserc

[2019-04-12 18:33] NSExceptional opened #4439 "[SR-10471] LLDB RPC Server crash when trying to print generic type variable"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10471      |
   |Radar             | None         |
   |Original Reporter | @NSExceptional      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963237-8

[2019-04-12 18:46] NSExceptional opened #4438 "[SR-10472] Feature request: show generic type variables in Xcode's variables pane"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10472      |
   |Radar             | None         |
   |Original Reporter | @NSExceptional      |
   |Type              | New Feature    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963238-2e747af8-d080-4183-9ac1-e65aa0731c36.gz)

   <details>
  <summary>Add

[2019-04-12 19:07] slavapestov commented on #4574
Yeah, I'm pretty sure its a GSB bug and not lldb related. I'll dupe it after I confirm.

[2019-04-12 22:34] swift-ci commented on #4616
**Comment by Daniel Beard (JIRA)**

   Resolved in Xcode 10.2

[2019-04-15 18:17] belkadan commented on #4438
Interesting idea. jingham@apple.com (JIRA User), @dcci, @adrian-prantl, what do you think?

[2019-04-15 18:18] belkadan commented on #4439
cc @dcci

[2019-04-15 18:20] belkadan commented on #4573
@dcci, jingham@apple.com (JIRA User), is this familiar?

[2019-04-15 20:22] swift-ci commented on #4438
**Comment by Jim Ingham (JIRA)**

   The thing you want to see is the full resolved type of T & U, right?  We have the info to show this.  I'm not so sure about how to present the results.  I don't think you want to show T & U as held onto by some implicit function parameter, etc.  That's too much inside baseball...  It seems like we should just show T -\> some type, and U -\> some type.  But that

[2019-04-15 20:23] adrian-prantl commented on #4438
Because of how the debug information is encoded, the generic type parameters **are** actually part of the current frame. They are just hidden by default because they are not particularly pretty to look at.
By running \`settings set target.display-runtime-support-values true\` you can make them appear in the output of \`frame variable\` and/or the variables view.

[2019-04-15 20:29] adrian-prantl commented on #4438
To clarify: I don't recommend that users should turn on this setting. I think it would be reasonable to expect, for example, the type substitutions to appear in the back trace. I would also be okay with showing the type parameters in frame variable by default, if we can make sure they are actually printed as an abstract \`T=Swift.Int32\` hiding all the type metadata implementation details.

[2019-04-15 20:35] swift-ci commented on #4438
**Comment by Jim Ingham (JIRA)**

   We got a request to print type substitutions in backtraces previously.  I was worried that doing that would make the already noisy swift backtraces even noisier, particularly it you substitute them inline, e.g. just T-\>\[Int, MyClass\] everywhere...

[2019-04-16 02:17] swift-ci commented on #4573
**Comment by Jim Ingham (JIRA)**

   I haven't seen this before, I captured the crash in an Apple Radar as well.

[2019-04-16 02:18] swift-ci commented on #4573
**Comment by Jim Ingham (JIRA)**

   Note, the crash is trying to get a type name for self, and crashes in:

swift::Mangle::ASTMangler::appendAssociatedTypeName(swift::DependentMemberType\*)

[2019-04-16 02:22] swift-ci commented on #4573
**Comment by Jim Ingham (JIRA)**

   But this doesn't repro for me with the swift-5.1 branch swiftc & lldb combo.

[2019-04-16 20:58] NSExceptional commented on #4438
@adrian-prantl Oh, neat! It works, this caused `$τ_0_0` to appear as a type variable. Printing it doesn't work, though, which is related to [my other issue](https://bugs.swift.org/browse/SR-10471) I'm sure. Also, it does tell you the type name, `Tests.Human` in this case, but it doesn't show that information in Xcode's variables window. LLDB:

    (lldb) settings set target.display-runtime-support

[2019-04-16 21:26] adrian-prantl commented on #4438
I don't even think that the pointer value is of any relevance to anyone but compiler developers, so it might as well be \`T = Tests.Human\` is that fair?

[2019-04-17 03:20] NSExceptional commented on #4438
I can see myself needing it when working with the runtime directly, at least until Swift gets full-fledged reflection on par with Objc. In fact I'll definitely need it for that.

Compromise: if I can see it's address by expanding/unfolding it, that works too!

[2019-04-17 16:51] swift-ci commented on #4575
**Comment by Vineet Shah (JIRA)**

   @belkadan any updates on this? Note that it's *not* an LLDB crash as it's currently categorized as. It seems to be a compiler issue that results in crashes at runtime on iOS.

Given the severity of the crash and guaranteed reproducibility, this is preventing us from updating to Xcode 10.2, meanwhile all of our development phones have started auto-upgrading to

[2019-04-17 18:01] belkadan commented on #4575
I'm sorry, I can't really say anything here.

[2019-04-18 18:03] swift-ci opened #4572 "[SR-10511] swift-lldb doesn't recognize arm64e"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10511      |
   |Radar             | None         |
   |Original Reporter | ivhernandez (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Won't Do    |

<details>
  <summary>Environment</summary>

Mac Pro (Late 2013)

Mac OS

[2019-04-19 00:24] swift-ci commented on #4575
**Comment by Aditya Ayyakad (JIRA)**

   @belkadan it looks like the type of the array is getting erased?

\`\`\`

(lldb) po Mirror(reflecting: orderStatuses).children
▿ AnyCollection\<(label: Optional\<String\>, value: Any)\>
▿ \_box : \<\_CollectionBox\<LazyMapSequence\<Array\<WidgetOrderStatus\>, (label: Optional\<String\>, value: Any)\>\>: 0x6000005445a0\>

\`\`\`

This is preventing me from u

[2019-04-19 00:39] belkadan commented on #4575
I'm sorry, I don't see how that comment is relevant.

This sounds a little like something Arnold fixed recently, so you could check a development snapshot from <https://swift.org/download> and see if the problem reproduces.

[2019-04-19 03:59] swift-ci commented on #4575
**Comment by Aditya Ayyakad (JIRA)**

   @belkadan Sorry but no the latest snapshot does not seem to work still. I tried it both from Xcode and the command line directly, but both crashed in the same way.

[2019-04-19 17:10] belkadan commented on #4572
It's true that the Swift Open Source Project releases do not have support for arm64e, but it shouldn't crash.

cc @dcci

[2019-04-19 18:08] belkadan commented on #4575
Thanks, that's important to know.

[2019-04-20 14:15] swift-ci opened #4571 "[SR-10527] swift-lldb crashes setting breakpoint on app with deployment target <12.0"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10527      |
   |Radar             | None         |
   |Original Reporter | ivhernandez (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 10.2.1
lldb version 7.0.0
Swift version 5.0-dev (LLVM 06f1615069, Swift d5426bc58a)

</details>

   <

[2019-04-20 22:33] compnerd commented on #4488
Hrm, the warning implies that the DIE is invalid.  But the module is ld.so, which is a binary that we didn't build.  I wonder where the debug info for that is originating from.  Or perhaps the module name is misleading.

[2019-04-22 17:26] belkadan commented on #4571
cc @slavapestov, @dcci

[2019-04-22 17:31] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4439
[code]

[2019-04-22 17:32] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4439
@NSExceptional thanks for your report. Can you please try with the latest snapshot and see if you can reproduce? (I can't, see the comment above).

[2019-04-22 17:32] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4439
My swift/lldb/clang version for reference

[code]

[2019-04-22 17:39] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4573
This has been fixed in 5.1 (and master). Please download a nightly toolchain to verify.

[2019-04-22 17:39] #4573 closed, assigned to nobody

[2019-04-22 17:39] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4572
Yes, you're right, this shouldn't crash. Let me try reproducing it.

[2019-04-22 17:42] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4572
Yes, the issue is that if we can't get a software breakpoint trap opcode, we crash.

[code]

[2019-04-22 17:44] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4572
This is a change I want to push upstream.

[2019-04-22 19:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4572
I spoke with @jasonmolenda about this as he implemented the support and he does believe that lldb won't go far even if we remove this assertion. I would claim that having this assertion in place is actually really useful because it helps porting to new architectures so I'm really not inclined to remove it. You might want to use an Apple released toolchain which has the support.

[2019-04-22 20:04] jasonmolenda commented on #4572
yeah, the debugger will crash in a half dozen different places when targeting an architecture it doesn't have support for yet.  It would be possible to have lldb recognize the cpu type and cpu subtype of an arm64e process and error out immediately at the start of the debug session, but hopefully the arm64e patches can be integrated in the not too distant future and this won't be a problem.

[2019-04-22 20:04] #4572 closed, assigned to nobody

[2019-04-23 00:38] swift-ci commented on #4488
**Comment by Eduardo (JIRA)**

   Got the same issue with Ubuntu 18.0.4 and the release version of swift 5.0.

[2019-04-23 03:00] swift-ci commented on #4488
**Comment by David Cardozo (JIRA)**

   I'm also encountering the same error on a fresh install ubuntu 18.04 with swift 5.0

[2019-04-23 03:09] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
Can any of you folks try with a nightly toolchain downloaded from swift.org and report?
If it still reproduces, I'm going to take a look as it's lldb spitting this error.

Also, cc @adrian-prantl and friss (JIRA User) who have a better understanding of the DWARF parser.

[2019-04-23 03:14] adrian-prantl commented on #4488
Which host compiler did you use to compile the toolchain?

[2019-04-23 03:42] swift-ci commented on #4488
**Comment by David Cardozo (JIRA)**

   \`\`\`
dgromov@Predator-G3-571 \~\> swift
error: ld-2.27.so 0xffffffff0005c564: adding range \[0x1464a-0x146ba) which has a base that is less than the function's low PC 0x14dc0. Please file a bug and attach the file at the start of this error message
error: ld-2.27.so 0xffffffff0005c564: adding range \[0x146d0-0x146d6) which has a base that is less than the

[2019-04-23 03:43] swift-ci commented on #4488
**Comment by Tobia (JIRA)**

   I just tried the latest master snapshot and I get the same error.

`$ ./swift-DEVELOPMENT-SNAPSHOT-2019-04-16-a-ubuntu18.04/usr/bin/swift`
`error: ld-2.27.so 0xffffffff0005c564: adding range [0x1464a-0x146ba) which has a base that is less than the function's low PC 0x14dc0. Please file a bug and attach the file at the start of this error message`
`error: ld-2.27.so

[2019-04-24 16:52] NSExceptional commented on #4439
I've been unable to test it in my `Runtime` project, since it tries to use Swift `5.0` instead of the `5.0.1` toolchain. This error is produced (paraphrasing):

    cannot import module compiled with Swift 5.0 into target set for 5.0.1

I tried to follow [these instructions](https://forums.swift.org/t/how-to-set-swift-version-5-for-recent-dev-snapshots-in-xcode-build-settings/18692/20?u=nsexceptio

[2019-04-24 18:12] belkadan commented on #4439
The compiler version and the language version aren't the same thing; the important thing is that all targets need to use the same compiler. The arclite error is something we're figuring out elsewhere, but you can work around it for now by setting your deployment target to 10.11 or newer for all targets.

[2019-04-24 22:41] swift-ci opened #4570 "[SR-10544] After change in lldb, false still evaluates to true in if statement"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10544      |
   |Radar             | None         |
   |Original Reporter | ripbenfranklin (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

Xcode 10.2

macOS Mojave 10.14.4

</details>

   <details>
  <summary>Additional Detail from JIRA</summa

[2019-04-24 22:49] NSExceptional commented on #4439
Gotcha, thanks for clarifying that for me; it's a distinction I often forget even exists.

@dcci, I was just able to test this and it is indeed fixed. Thank you all!

[2019-04-24 22:49] #4439 closed, assigned to 0acf245c-f0fa-406f-afb9-4746d10f0359

[2019-04-25 17:35] belkadan commented on #4570
I'm surprised LLDB lets you do that assignment at all. `successful` isn't mutable.

cc @dcci

[2019-04-25 18:00] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4570
This is really interesting, let me see if I can take a look.

[2019-04-25 18:07] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4570
Slightly modified the example so that it compiles:

[code]

[2019-04-25 18:32] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4570
I think somehow lldb synthetizes the injected \`successful\` as \`var\` instead of \`let\`.

I agree this should be not allowed and we should have an error like:

[code]

[2019-04-25 18:39] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4570
This seems a more general problem with the way the expression parser handles reassignment.

[code]

Here breaking on the \`print\` line and running \`expr b = 23423423423\` succeeds.
This clearly violates the rules of the language and creates problem down the road as the one the user reported.

jingham@apple.com (JIRA User) do you know if this is intended or just something that crept in?
we should

[2019-04-25 18:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4570
This is \<rdar://problem/50210692\>

[2019-04-25 18:57] swift-ci commented on #4570
**Comment by Jim Ingham (JIRA)**

   To be clear, I think there are two issues here.  One is dealing with modifying let bindings.  The other is the inability to change var variable values for reals.  I think they are orthogonal issues, and the latter is (to most users) the more important one.  So, for instance, change the example to:

[code]

Then in lldb do:

[code]

So yay, we thought we had cha

[2019-04-25 19:07] swift-ci commented on #4570
**Comment by Jim Ingham (JIRA)**

   As for the let vrs. var question, I don't see anything in the debug information for the local variables that would tell me the kind of the variable.  For instance, in the example above, if I add:

[code]

and then look at the debug info, I see:

    0x000000c9:         DW_TAG_variable
                          DW_AT_location    (DW_OP_fbreg -24)

[2019-04-25 19:20] swift-ci commented on #4570
**Comment by Jim Ingham (JIRA)**

   To make things more confusing, sometimes the compiler injects let values as real constants - in which case the DWARF reflects that (it has a DW_AT_const_value attribute) and we properly don't allow you to change it.  Sometimes the values are stored on the stack - as above - and then we have no way to know we shouldn't change it.

It looks like we need to add so

[2019-04-25 21:20] swift-ci commented on #4384
**Comment by Manjunath Chandrashekar (JIRA)**

   Have crossed path with this issue when working on Generics recently. <https://github.com/manjuhere/GenericsBugDemo> Would be glad if it can help in solving the issue.

[2019-04-25 22:35] aschwaighofer commented on #4575
The initialization of the metadata of single case enums in Swift's runtime is broken. We miss initializing the extraInhabitants field.

You can introduce an extra empty case or not use a single case enum as a workaround.

[2019-04-25 22:36] aschwaighofer commented on #4575
Will be fixed by <https://github.com/apple/swift/pull/24278> and https://github.com/apple/swift/pull/24293

[2019-04-25 22:46] belkadan commented on #4570
Presumably C has this concept with `const`?

[2019-04-26 00:14] swift-ci commented on #4570
**Comment by Jim Ingham (JIRA)**

   In C the const is always on the type not the variable - expressed by having the variable's DW_AT_type point to a DW_TAG_const_type rather than DW_TAG_type. It's not even an attribute that you COULD attach to the DW_TAG_variable. Swift types don't point to DWARF TAG's, and in Swift the type is not different between "let" and "var" variables. So the C way of doin

[2019-04-26 00:52] belkadan commented on #4570
Thanks for the explanation!

[2019-04-30 14:53] swift-ci opened #4569 "[SR-10584] REPL crashes when triggering code completion with tab"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10584      |
   |Radar             | None         |
   |Original Reporter | segabor (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Cannot Reproduce    |

<details>
  <summary>Environment</summary>

**OS**: Arch Linux

    L

[2019-05-01 07:04] swift-ci commented on #4569
**Comment by Gábor Sebestyén (JIRA)**

   Tested on Ubuntu 18.04.2 LTS with Swift 5.0.1 release and it worked. So above crash occurs only on Arch Linux.

I checked out which libc6 version is being used, Ubuntu uses version 2.27, Arch Linux has a newer one 2.29-1.

[2019-05-02 00:50] swift-ci opened #4568 "[SR-10599] Debugger does not display information about a derived type when a base class definition is visible"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10599      |
   |Radar             | None         |
   |Original Reporter | migueldeicaza (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963264-f3b59ae9-a79f-4583-bac3-2a235be81db3.gz)

<details>
  <summary>Env

[2019-05-02 18:49] compnerd opened #4437 "[SR-10608] lldb-server with Swift support is too big"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10608      |
   |Radar             | rdar://50412161         |
   |Original Reporter | @compnerd      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vot

[2019-05-02 18:50] compnerd commented on #4437
CC: @dcci @adrian-prantl friss (JIRA User)

[2019-05-02 18:54] gottesmm commented on #4437
I filed rdar://50412161

[2019-05-03 15:46] swift-ci commented on #4493
**Comment by Pierpaolo Frasa (JIRA)**

   Still happening with version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.4).

[2019-05-05 02:21] swift-ci commented on #4488
**Comment by David Cardozo (JIRA)**

   Do we have a follow-up on this?

[2019-05-05 19:59] swift-ci commented on #4488
**Comment by Andrew Fernandes (JIRA)**

   When triaging this bug, I think it's important to consider the "outsider, management" point of view.

I have been pushing my employer to experiment (*a.k.a. "gain knowledge"*) of Swift on Linux as part of expanding our narrow Java-centric viewpoint.

This is particularly important with regard to the "Swift for TensorFlow" project!

**Having even a "relati

[2019-05-06 16:32] adrian-prantl commented on #4488
Do you have debug symbols for ld.so installed? It looks like LLDB is complaining about inconsistent debug info in the ld.so dynamic linker. If the answer is yes this may either point to a bug in the compiler used to compile ld.so or in LLDB.

[2019-05-06 17:45] swift-ci opened #4567 "[SR-10632] lldb crashes when I try to print self in a struct initializer that lives in an extension of an NSManagedObject subclass"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10632      |
   |Radar             | None         |
   |Original Reporter | justin.garcia (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/

[2019-05-06 18:04] swift-ci commented on #4567
**Comment by Justin Garcia (JIRA)**

   BTW the NSManagedObject subclass, Configuration, is implemented in Objective-C.

[2019-05-06 18:33] swift-ci commented on #4488
**Comment by David Cardozo (JIRA)**

   adfernandes (JIRA User) I share the same view, I was concern that the decision of putting tensorflow on swift was going to put nonapple people outside, we should make efforts to put swift on linux as smooth as possible.

[2019-05-06 20:03] gottesmm commented on #4596
Whatever we figure out from this, I would like some sort of testing of this to make sure we are installing things in the right place (i.e. a build system unit test that pokes at an installed toolchain.

[2019-05-06 21:45] swift-ci commented on #4488
**Comment by Andrew Fernandes (JIRA)**

   Yes, @adrian-prantl, I have the `libc6-dbg` package installed (Ubuntu 18.04, fully updated) and can confirm that this packing installs the `/usr/lib/debug/lib/x86_64-linux-gnu/ld-2.27.so` debug symbols.

[2019-05-06 21:49] adrian-prantl commented on #4488
Does running \`llvm-dwarfdump -verify\` (You can find it in the llvm build directory of your Swift build tree) on those symbols return the same error? If yes, then that's a bug in the compiler used to compile \`ld-2.27.so\`. If not, it's more likely an LLDB bug.

[2019-05-07 16:59] belkadan commented on #4567
cc @dcci

[2019-05-07 18:40] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4567
Looking.

[2019-05-07 19:25] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4567
I remember the stack trace and this is a bug I fixed. Please update to a nightly toolchain on swift.org (I checked it doesn't crash there).

[2019-05-07 19:25] #4567 closed, assigned to nobody

[2019-05-07 21:35] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
On \`Ubuntu 18.04\`, which my own built lldb, this is what I see.

[code]

[2019-05-07 21:35] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
The problem *might* be specific to the snapshots, let's see if I can reproduce.

[2019-05-07 21:37] adrian-prantl commented on #4488
I think we already identified the debug symbols for ld.so to be the culprit. We just don't know whether it's a false positive or a bug in the compiler used to compile ld.so.

[2019-05-07 21:41] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
With today's toolchain.

[code]

[2019-05-07 21:43] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
\`llvm-dwarfdump -verify\` on \`ld.so\` emits so many errors that's not even funny.

[2019-05-07 21:45] adrian-prantl commented on #4488
What compiler was used? Are those just GCC'isms or do they look legitimate?

[2019-05-07 21:48] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
Subset of the log attached. <a href="pat.rtf" class="attachment">pat.rtf</a>

[2019-05-07 21:49] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
If this error bothers people then we should probably downgrade it to a \`log\`, but the general problem seems to be that \`ld.so\` is full of verifiers errors.

[2019-05-07 21:54] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
@adrian-prantl I don't know exactly which compiler was used to compiler ld.so, but I assume that saying it was GCC is a safe bet.

[2019-05-07 22:02] adrian-prantl commented on #4488
Clang usually leaves an attribute in the top-level compile unit tag with the producer string. GCC perhaps does the same?

[2019-05-07 22:05] adrian-prantl commented on #4488
\> If this error bothers people then we should probably downgrade it to a \`log\`, but the general problem seems to be that \`ld.so\` is full of verifiers errors.

I'm not sure I'm convinced. You get this error when you installed the debug symbols for ld.so. My assumption is that a user will only do that if they are planning on debugging ld.so. If debugging ld.so won't work because of malformed de

[2019-05-07 23:31] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
Yes, I checked and \`ld.so\` is built with GCC.

[2019-05-07 23:33] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
So, we agree that the suggested workaround here is that of uninstalling \`libc6-dbg\` from ubuntu unless you really need to debug libc and \`ld.so\`.

[2019-05-07 23:42] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4488
\<rdar://problem/50558731\>

[2019-05-08 00:58] swift-ci commented on #4488
**Comment by Andrew Fernandes (JIRA)**

   @adrian-prantl and @dcci:

While I appreciate each of these suggestions, they really are **not feasible, nor desirable**. The `libc6-dbg` symbols are *very* useful for all sorts of system debugging and profiling. The debug symbols for `ld.so` are included with the symbols for `libc6` because the dynamic linker is actually part of `glibc`. So if you want t

[2019-05-08 01:08] adrian-prantl commented on #4488
I should clarify that we don't really definitively know that the DWARF produced by GCC is actually wrong. It could also be a bug in the LLDB DWARF parser, since LLVM's DWARF parser doesn't find an issue with this debug info entry. If we can find a smaller reproducer we should be able to confirm that it is a bug in the LLDB DWARF parser and either fix it, or just wait until LLDB's transition to the

[2019-05-08 02:47] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4386
Duplicate of <https://bugs.swift.org/browse/SR-8690>
Let's continue the discussion there.

[2019-05-08 02:47] #4386 closed, assigned to nobody

[2019-05-14 01:00] swift-ci commented on #4384
**Comment by rounak jain (JIRA)**

   Would be really great to have a fix for this, given a lot of times issues can't be reproduced, and having a broken debugger at that instant is very limiting.

[2019-05-14 18:44] jpsim opened #4339 "[SR-10684] LLDB fails to get context or resolve identifier in protocol extensions and generic functions"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10684      |
   |Radar             | None         |
   |Original Reporter | @jpsim      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963288-3dca2f00-

[2019-05-14 19:08] slavapestov commented on #4339
These were all fixed in the 5.1 branch.

[2019-05-14 19:17] swift-ci commented on #4384
**Comment by Elliott Williams (JIRA)**

   I've been using this workaround in lldb to sidestep the issue.

1.  Run `fr v -D 1` to and get a pointer to `self`

2.  Move up stack frames to get past the frame containing the problematic self reassignment. (in practice, it's easy to move up to \`main\`)

3.  Run `e -Ol swift – unsafeBitCast(<pointer>, to: <type of self>)`, and you'll have a reference t

[2019-05-14 19:29] jpsim commented on #4339
Thanks for the quick reply and thanks to you and other contributors for fixing this!

[2019-05-14 19:29] #4339 closed, assigned to nobody

[2019-05-14 19:36] jpsim opened #4338 "[SR-10686] LLDB fails for iOS when using custom Swift toolchains"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10686      |
   |Radar             | rdar://problem/50894825         |
   |Original Reporter | @jpsim      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Duplicate    |

Attachment: [Download](https://user-images.githubusercontent.com/272

[2019-05-14 19:36] jpsim commented on #4338
Filed following conversation here: <https://twitter.com/slava_pestov/status/1128366446512418820>

cc @slavapestov

[2019-05-14 21:28] adrian-prantl commented on #4597
I can reproduce the crash with Xcode 10.2 and I can't any more with a current Swift-5.1 toolchain.

[2019-05-14 21:29] #4597 closed, assigned to adrian-prantl

[2019-05-15 16:53] belkadan commented on #4338
jingham@apple.com (JIRA User), @dcci, are we getting the wrong target somehow?

[2019-05-15 19:20] swift-ci commented on #4338
**Comment by Jim Ingham (JIRA)**

   It does look like we think this is a macOS not an iOSSimulator binary. @adrian-prantl might have better guesses how that might happen...

[2019-05-16 20:49] NSExceptional opened #4485 "[SR-10702] Request: lldb setting to render strings literally"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10702      |
   |Radar             | None         |
   |Original Reporter | @NSExceptional      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |V

[2019-05-17 00:17] adrian-prantl commented on #4338
What's the output of

\`(lldb) image list -t -f\`

?

Also, can you capture a types log by putting

\`lldb log enable types -f /tmp/types.log\`

into \~/.lldbinit-Xcode and restarting Xcode and reproducing the issue?

[2019-05-17 16:53] jpsim commented on #4338
I've attached the output of running `image list -t -f` both with and without the logging line to capture the types log you asked me to add to `~/.lldbinit-Xcode`.

No file at `/tmp/types.log` was created either during the Xcode session or after. I'm not sure if that's what you expected.

Were you not able to reproduce this issue @adrian-prantl? It may be more practical to get you to reproduce the

[2019-05-17 16:55] adrian-prantl commented on #4338
\> \[ 0\] x86_64-**-**

Interesting: your application doesn't have a definitive operating system (in the sense of: LLDB doesn't properly detect it).

\> Were you not able to reproduce this issue

Unfortunately, no, but I tried to reproduce it with my latest local build, not with a dowloaded toolchain. I will try that next. Thanks a lot for the project!

[2019-05-17 16:56] adrian-prantl commented on #4338
@swift-ci create

[2019-05-17 16:57] adrian-prantl commented on #4338
Could you please also attach the /tmp/types.log file you created?

[2019-05-17 17:00] jpsim commented on #4338
No file at `/tmp/types.log` was created either during the Xcode session or after. I'm not sure if that's what you expected.

[2019-05-17 17:02] belkadan commented on #4485
I could see this being the difference between `expr` and `po`. jingham@apple.com (JIRA User), what do you think?

[2019-05-17 17:02] adrian-prantl commented on #4338
Sorry

\`lldb log enable types -f /tmp/types.log\`

should have been

\`log enable lldb types -f /tmp/types.log\`

[2019-05-17 17:07] jpsim commented on #4338
Thanks that worked. Attached the log.

[2019-05-17 17:18] adrian-prantl commented on #4338
There we go:

     SwiftASTContext("LLDBNoContextRepro")::SetTriple("x86_64--macosx") setting to "x86_64--macosx12.2.0"
     SwiftASTContext("LLDBNoContextRepro")::DeserializeAllCompilerFlags() -- Found 1 AST file data entries.
     SwiftASTContext("LLDBNoContextRepro")::DeserializeAllCompilerFlags() -- SDK path from module "LLDBNoContextRepro" is "/Applications/Xcode-10.2.1.app/Contents/Developer

[2019-05-17 20:33] swift-ci commented on #4485
**Comment by Jim Ingham (JIRA)**

   The result of "expr" for a string should show the \n , \t, etc. Since you need something to compare against what you typed into your code, and expr is the debugger view of the object, it seems right that expr should show the characters as typed.

The output of "po" for swift is the result of the debugDescription for String, which comes from the swift standard l

[2019-05-18 00:51] NSExceptional commented on #4485
So, `String.debugDescription` os escaping itself then? I guess we can't change how `po` works, can we just make `String.debugDescription` not escape itself? Seems redundant since `expr` is going to do the same thing for us (@ standard library folks). Maybe we could make a special case for `String`?

That's a neat workaround![]( I'll definitely be using this in the meantime. Thank you)

[2019-05-18 01:17] swift-ci commented on #4485
**Comment by Jim Ingham (JIRA)**

   Yes, probably the Standard Library folks thought the distinction between "description" - which doesn't escape - and which BTW is what print uses - and debugDescription which shows the string as typed in code was useful.  I can actually see the sense behind that, especially given that you can get the rendered version from "print" in the debugger pretty easily...

[2019-05-21 20:53] adrian-prantl commented on #4338
I tried now with 10E1001 + swift-5.1-DEVELOPMENT-SNAPSHOT-2019-05-09-a-osx.pkg and I still can't reproduce this...

Would you be able to do another run, this time with

settings set target.process.extra-startup-command QSetLogging:bitmask=LOG_RNB_REMOTE;
log enable gdb-remote all -f /tmp/packets.log

in your .lldbinit-Xcode ?

[2019-05-22 04:31] jpsim commented on #4338
Done, I've uploaded `packets.log.tgz`

[2019-05-22 16:39] adrian-prantl commented on #4338
Thank you. debugserver does report the platform correctly as ios-12.2:

\<171430\> read packet: ${"images":\[{"load_address":4309229568,"mod_date":0,"pathname":"/Users/jsimard/Library/Developer/CoreSimulator/Devices/8FAE9403-9A71-45BE-9EDB-75838D23D3DD/data/Containers/Bundle/Application/5F2FF041-8231-4594-9DFD-238CF3EE4B7C/LLDBNoContextRepro.app/LLDBNoContextRepro","uuid":"AAAE4344-3865-3E8E-969E-

[2019-05-27 13:27] swift-ci commented on #4569
**Comment by Gábor Sebestyén (JIRA)**

   I tried the reported sample with snapshot `5.1-DEVELOPMENT-SNAPSHOT-2019-05-21-a` . It still crashes but yielding a slightly different stack trace:

[code]

[2019-05-29 17:50] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4501
I never got around to this, but I have ideas on how to fix. It would be a good starter bug.

[2019-05-29 17:52] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4624
Can't repro anymore.

[2019-05-30 23:22] shahmishal opened #4484 "[SR-10810] Create preset for LLDB macOS bots"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10810      |
   |Radar             | None         |
   |Original Reporter | @shahmishal      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2019-06-02 16:20] swift-ci opened #4566 "[SR-10821] lldb-rpc-server crashed"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10821      |
   |Radar             | None         |
   |Original Reporter | kolya-j (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963311-44eb94e3-0e05-4587-bcfb-c288213c297a.gz)

<details>
  <summary>Environme

[2019-06-02 18:46] swift-ci opened #4565 "[SR-10822] Swift 5.x LLDB fails on Linux with "error: failed to get module 'MyApp' from AST context""
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10822      |
   |Radar             | None         |
   |Original Reporter | ewconnell (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963312-1acd14c7-8177-40f7-b019-b8cac8def2be.gz)

<details>
  <summary>Environ

[2019-06-03 17:47] belkadan commented on #4565
cc @dcci

[2019-06-03 17:47] belkadan commented on #4566
If you're able to share the whole project that would help too!

cc jingham@apple.com (JIRA User)

[2019-06-03 17:52] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4565
This is something that @adrian-prantl knows best.

[2019-06-03 20:51] adrian-prantl commented on #4565
Can you add "log enable lldb types -f /tmp/types.log" to \~/.lldbinit, relaunch lldb, reproduce the issue and upload /tmp/types.log? It will contain all the info we need to diagnose the issue.

[2019-06-04 01:04] swift-ci commented on #4565
**Comment by Edward Connell (JIRA)**

   Okay done!

Hey thanks for checking this out.

[2019-06-04 01:09] adrian-prantl commented on #4565
\> lldb Found 0 AST file data entries for library: /home/ed/hello/.build/debug/hello.

\> lldb ((SwiftASTContext\*)0x24e55f0)-\>GetModule('hello')
\> lldb ((SwiftASTContext\*)0x24e55f0)-\>GetModule('hello') – failed with no error

This indicates that LLDB may have had trouble finding the .swiftmodule for "hello". How did you compile your program?

[2019-06-04 01:10] adrian-prantl commented on #4565
Can you paste the swiftc invocation that you used for hello and then also append \`-###\` at the end and paste the result of that?

[2019-06-04 01:46] swift-ci commented on #4565
**Comment by Edward Connell (JIRA)**

   I just added a terminal transcript from start to finish. I use the swift package manager to create the project. On line 16, I gedit "main.swift" and paste in the following contents.

[code]

 break on line 8 and try to examine "data", it bombs.

[2019-06-04 16:56] adrian-prantl commented on #4565
This may be the known issue of the Swift package manager not performing the modulewrap action. I'll need to try and reproduce to confirm.

When you compile hello.swift with swiftc directly (not using swiftopm), does debugging work?

[2019-06-04 17:46] swift-ci commented on #4565
**Comment by Edward Connell (JIRA)**

   I just tried it. Yes, using "swiftc -g main.swift" debugging works. So it's an SPM issue. I guess I will need to use an external build system like CMake. I really appreciate you helping me with this. I have to say, I am really surprised Apple would allow a product release without testing one of the most obvious features like build and debug. I also can't be

[2019-06-05 04:42] adrian-prantl commented on #4565
@neonichu do you have an existing swiftpm JIRA ticked this should be duped to? I think the problem here is that similar how on macOS swiftpm doesn't add -add-ast-path to the linker invocation, it (presumable) also doesn't invoke the modulewrap action on Linux.

[2019-06-05 04:43] adrian-prantl commented on #4565
(This could actually make for a nice starter bug?)

[2019-06-05 16:21] eeckstein commented on #4575
Follow-up on our conversation from yesterday: Unfortunately there is no other workaround than to change the enum in the source code.

[2019-06-05 16:25] swift-ci commented on #4575
**Comment by Vineet Shah (JIRA)**

   Can you confirm that changing the enum to \`indirect\` is a sufficient workaround?

[2019-06-05 16:48] aschwaighofer commented on #4575
Yes. Making the enum indirect fixes the crash.

[2019-06-05 16:48] #4575 closed, assigned to aschwaighofer

[2019-06-16 19:07] swift-ci opened #4564 "[SR-10942] LLDB RPC Server crash, Swift 5.1 beta"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10942      |
   |Radar             | rdar://problem/51808937         |
   |Original Reporter | Poliorcetics (JIRA User)      |
   |Type              | Bug    |
   |Status            | Closed        |
   |Resolution        | Done    |

Attachment: [Download](https://user-images.githubusercont

[2019-06-17 17:38] belkadan commented on #4564
cc @adrian-prantl, @dcci

[2019-06-17 17:45] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4564
Looking

[2019-06-18 23:38] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4564
it's a compiler crash, <https://github.com/apple/swift/pull/25587> this should fix it.

[2019-06-19 13:50] swift-ci opened #4563 "[SR-10968] New LLDB test case failures for Swift 5.1 toolchain"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10968      |
   |Radar             | None         |
   |Original Reporter | stamba (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963340-f0e23d7f-f251-4052-b67a-d6c433a70116.gz)

<details>
  <summary>Environmen

[2019-06-19 14:25] adrian-prantl commented on #4563
Were you able to bisect this to a specific LLDB commit?

[2019-06-19 14:48] swift-ci commented on #4563
**Comment by Sarvesh Tamba (JIRA)**

   @adrian-prantl , I tried to go through the recent commits for 5.1 branch, but could not make much if any of the changes could affect these 3 tests. Do you suspect any LLDB commit?

[2019-06-20 13:14] swift-ci commented on #4563
**Comment by Sarvesh Tamba (JIRA)**

   @adrian-prantl any inputs on this one? I am not able to figure what exactly is the issue, any help would greatly be appreciated.

[2019-06-21 19:53] 83b09dda-53f5-4663-b44c-87fd2a9a8717 opened #4483 "[SR-10994] default arguments broken in LLDB REPL"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10994      |
   |Radar             | None         |
   |Original Reporter | @marcrasi      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2019-06-23 13:07] swift-ci commented on #4569
**Comment by Gábor Sebestyén (JIRA)**

   Bug disappeared in snapshot \`swift-5.1-DEVELOPMENT-SNAPSHOT-2019-06-21-a\`. So I'm going to close the ticket.

[2019-06-23 13:08] swift-ci commented on #4569
**Comment by Gábor Sebestyén (JIRA)**

   As commented earlier issue is gone in snapshot \`swift-5.1-DEVELOPMENT-SNAPSHOT-2019-06-21-a\`, tab completion in REPL works as a charm.

[2019-06-23 13:08] #4569 closed, assigned to nobody

[2019-06-24 17:41] belkadan commented on #4483
cc @compnerd, @dcci

[2019-06-24 23:27] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4483
Looking.

[2019-06-25 01:09] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4483
Can reproduce this on macOS too

[code]

[2019-06-25 01:30] compnerd commented on #4483
Hmm, I think that it seems like an IRGen issue where we don’t generate the default value thunk and mark it for emission ({{@llvm.compiler.used}}).

[2019-06-25 04:19] compnerd commented on #4483
; ModuleID = 'lldb_module'
source_filename = "lldb_module"
target datalayout = "e-m:w-i64:64-f80:128-n8:16:32:64-S128"
target triple = "x86_64-pc-windows-msvc19.21.27702"
%swift.bridge.109 = type opaque
$"$sSSSgWOe" = comdat any
@0 = private unnamed_addr constant \[2 x i8\] c"s\00"
define dllexport i32 @main(i32, i8\*\*) \#0 ![](dbg )21 {
  %3 = bitcast i8\*\* %1 to i8\*
  br label %4, ![](dbg )28

[2019-06-25 21:33] compnerd commented on #4483
`Discussing this a bit with @dcci, I think that the following should help explain what needs to happen:`

`$ type S:\reduced.swift`

public func f(\_ s: String, \_ t: String? = nil) { }

`$ swiftc -emit-sil -o - -O S:\reduced.swift -module-name __lldb_expr`
`sil_stage canonical``import Builtin`
`import Swift`
`import SwiftShims``public func f(_ s: String, _ t: String? = nil)``// main`
`sil @main :

[2019-06-25 22:29] compnerd commented on #4483
So, thanks to some help from @dcci - we have the log from lldb on macOS.  The interesting thing to look at here is the SILGen output.  It appears that the SILGen phase will generate the *declaration* **not** the *definition* of the default value thunk, which is why the body is never materialised and thus the linking fails.

[2019-06-25 22:39] compnerd commented on #4483
CC: @slavapestov

[2019-06-26 00:07] slavapestov commented on #4483
The thunk has PublicNonABI linkage so I would not expect it to show in the generated IR when its owner function is emitted, unless something references it.

In the normal case, the default argument is serialized as part of the SIL for the module defining the function with the default argument. When you call the function we deserialize the default argument generator from the SIL module and emit it

[2019-06-26 00:14] 83b09dda-53f5-4663-b44c-87fd2a9a8717 commented on #4483
Indeed LLDB does not preserve SIL for the lines that it compiles and executes. There was some discussion about LLDB preserving SIL here: <https://forums.swift.org/t/generating-serialized-sil-for-inlinable-transparent-functions-in-repl-expressions/16237?u=marcrasi>

[2019-06-26 01:08] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4483
FWIW, the other example works:

[code]

[2019-06-26 01:41] slavapestov commented on #4483
What if 'f' is public?

So I thought about it some more and my explanation of what happens in the non-REPL case is not completely accurate. When building without whole module optimization, we can reference default arguments from other translation units, and we don't have serialized SIL (since each TU is built in parallel). So they should be emitted with hidden linkage. Does the REPL think it's doi

[2019-06-26 02:29] 0acf245c-f0fa-406f-afb9-4746d10f0359 commented on #4483
Making \`f\` public doesn't seem to change anything.

[code]

I don't think the REPL is doing whole module build, I would be surprised, but you never know. Is there a quick way to check? \[e.g. the compiler invocation has some flag set?\]

[2019-06-26 17:26] compnerd commented on #4483
The given example is uninteresting as there are no default value thunks involved.  @slavapestov, actually, the SIL is preserved.

I had a bit of an epiphany last night, drifting off to sleep: the problem is not in the SILGen or IRGen, but rather in the implementation of LLDB, and in particular, LLDB's expression JIT handling.

Consider the following abbreviated log from lldb:

\> func f(\_ s: Stri

[2019-06-27 01:34] compnerd commented on #4483
So, solving this is a bit more complicated.  The information that we need is only in the AST.  However, the AST does not have the declarations that are needed as they are materialized only during SILGen.  Furthermore, the definitions which need to be preserved are only available after IRGen.

[2019-06-27 01:36] slavapestov commented on #4483
\> The given example is uninteresting as there are no default value thunks involved.

A public @\_alwaysEmitIntoClient function should behave identically to a default argument generator for a public function.

[2019-06-27 17:06] compnerd commented on #4483
Oh, interesting.  Didn't know that impact of the `@_alwaysEmitIntoClient` ... I suppose that makes sense that it would have to be `PublicNonABI` for that to work properly since you could run against a different binary, which should give it the same linkage type.  However, that still would get tracked as it is the \*\*symbol being defined.  The problem here is that lldb does not track auxiliary sym

[2019-07-03 10:18] swift-ci commented on #4563
**Comment by Sarvesh Tamba (JIRA)**

   I have set up the folliwing jobs at "https://ci-external.swift.org/" for building Swift 5.1 branch toolchain on PPC64LE.

-    Swift - ppc64le (Tools RA, Stdlib RD, No test suites) (swift-5.1-branch)

-    Swift - ppc64le (Tools RA, Stdlib RD, All test suites) (swift-5.1-branch)

The job for just building Swift 5.1 toolchain without any test suite execution

[2019-07-03 11:15] swift-ci opened #4562 "[SR-11064] @Published failed to run in playground"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11064      |
   |Radar             | None         |
   |Original Reporter | Philip (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Xcode 11 beta 3 on macOS 10.14.5

</